workflows/core/cyber-brief.json
{
  "id": "jarvisCyberBrf01",
  "name": "Jarvis · Cybersecurity Talent",
  "meta": {
    "jarvisModule": "cyber-brief",
    "jarvisVersion": "3.0.0",
    "intelligenceProduct": true,
    "description": "Weekly \"Cybersecurity Talent\" magazine for the security awareness, training & talent team. Aggregates training/awareness/certification news, has the AI editor write a featured training-technique article plus sections on training technology, new qualifications & courses, skills in demand, human-firewall awareness and emerging threats, then renders a designed magazine PDF (custom per-issue cover) and delivers it to Telegram.",
    "prompts": [
      "cyber-talent.editor",
      "intelligence.cover-image",
      "system.jarvis-core"
    ],
    "envVars": [
      "CYBER_BRIEF_ENABLED",
      "CYBER_BRIEF_SCHEDULE_CRON",
      "OLLAMA_BASE_URL",
      "OLLAMA_DEFAULT_MODEL",
      "AI_PROVIDER",
      "EMAIL_TO",
      "IMAGE_PROVIDER"
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "errorWorkflow": "Jarvis · Error Handler"
  },
  "nodes": [
    {
      "id": "schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "={{ $env.CYBER_BRIEF_SCHEDULE_CRON || '0 7 * * 1' }}"
            }
          ]
        }
      }
    },
    {
      "id": "gate",
      "name": "Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.CYBER_BRIEF_ENABLED || 'true' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "split",
      "name": "Load & Split Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nlet lines = [];\ntry { lines = fs.readFileSync('/config/cyber-sources.txt','utf8').split(/\\r?\\n/); } catch (e) {}\nconst urls = lines.map(function(l){ return l.trim(); }).filter(function(l){ return l && l.charAt(0) !== '#'; });\nif (!urls.length) { return [{ json: { url: '' } }]; }\nreturn urls.map(function(u){ return { json: { url: u } }; });"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "fetch",
      "name": "Fetch Energy Sources",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        840,
        240
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Runs once per feed URL. Non-RSS or unreachable sources are skipped, not fatal."
    },
    {
      "id": "aggregate",
      "name": "Aggregate Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        240
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst arts = items.map(function(i){ return i.json; }).filter(function(a){ return a && (a.title || a.contentSnippet || a.content); });\nconst companies = [\n  ['Training Techniques', /training technique|hands.?on|simulation|tabletop|gamif|exercise|cyber range|capture the flag|\\bctf\\b/i],\n  ['Training Technology', /platform|\\bai\\b|adaptive|\\bvr\\b|\\blms\\b|automat|tooling/i],\n  ['Qualifications & Courses', /certification|certificate|\\bcourse\\b|qualification|\\bexam\\b|comptia|cissp|\\bsans\\b|isc2|\\(isc\\)|isaca|ec-council|\\bgiac\\b/i],\n  ['Awareness', /awareness|human firewall|security culture|behaviou?r/i],\n  ['Phishing & Social Eng', /phishing|smishing|vishing|social engineer|pretext|business email/i],\n  ['Skills & Careers', /skills gap|workforce|hiring|career|talent|recruit|salary|\\bjob\\b/i],\n  ['Emerging Threats', /ransomware|breach|vulnerab|zero.?day|malware|\\bapt\\b|exploit/i],\n  ['Leadership & Culture', /\\bciso\\b|leadership|board|governance|awareness month/i],\n  ['Regional', /\\buae\\b|dubai|abu dhabi|saudi|qatar|gulf|middle east/i],\n  ['Compliance & Policy', /compliance|regulation|gdpr|nist|iso 27001|framework|policy/i]\n];\nfunction detect(a){ var s=((a.title||'')+' '+(a.contentSnippet||a.content||'')).toString(); for(var i=0;i<companies.length;i++){ if(companies[i][1].test(s)) return companies[i][0]; } return 'Other'; }\nfunction getImg(a){ try { if(a.enclosure && a.enclosure.url) return a.enclosure.url; var mc=a['media:content']||a.mediaContent; if(mc){ if(Array.isArray(mc)) mc=mc[0]; if(mc){ if(mc.url) return mc.url; if(mc['$'] && mc['$'].url) return mc['$'].url; } } var mt=a['media:thumbnail']||a.mediaThumbnail; if(mt){ if(Array.isArray(mt)) mt=mt[0]; if(mt){ if(mt.url) return mt.url; if(mt['$'] && mt['$'].url) return mt['$'].url; } } var c=(a.content||a['content:encoded']||'').toString(); var m=c.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i); if(m) return m[1]; } catch(e){} return ''; }\nfunction fmt(a){ var t=(a.title||'').toString(); var s=(a.contentSnippet||a.content||'').toString().replace(/\\s+/g,' ').slice(0,200); var u=(a.link||a.url||'').toString(); var im=getImg(a); return '- ' + t + ' — ' + s + ' (' + u + ')' + (im?(' IMG='+im):''); }\nvar buckets={};\narts.forEach(function(a){ var k=detect(a); (buckets[k]=buckets[k]||[]).push(a); });\nvar order=Object.keys(buckets);\nvar perCompany=4; var lines=[];\nfor(var r=0;r<perCompany;r++){ for(var c=0;c<order.length;c++){ var arr=buckets[order[c]]; if(arr[r]){ lines.push('['+order[c]+'] '+fmt(arr[r])); } } }\nvar text = lines.length ? lines.join('\\n') : 'No source articles were retrieved this period.';\nvar previous='';\ntry {\n  var fs=require('fs'); var dir='/reports/archive/cyber-brief';\n  var today=new Date().toISOString().slice(0,10);\n  var files=fs.readdirSync(dir).filter(function(fn){ return /cyber-brief-\\d{4}-\\d{2}-\\d{2}\\.json$/.test(fn) && fn.indexOf(today)===-1; }).sort();\n  if(files.length){\n    var prev=JSON.parse(fs.readFileSync(dir+'/'+files[files.length-1],'utf8'));\n    var ple=[];\n    ['trainingTech','quals','skills'].forEach(function(sec){ (prev[sec]||[]).forEach(function(row){ ple.push('- '+(row.name||'')+': '+((row.what||row.focus||row.why||'').toString().slice(0,140))); }); });\n    previous='From '+files[files.length-1].replace('cyber-brief-','').replace('.json','')+':\\n'+ple.join('\\n');\n  }\n} catch(e){ previous=''; }\nreturn [{ json: { articles: text, count: arts.length, date: new Date().toISOString().slice(0,10), previous: previous } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "analyst-ollama",
      "name": "AI Analyst (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.3, \"num_predict\": 8000, \"num_ctx\": 12288 },\n  \"messages\": [\n    {\"role\":\"system\",\"content\":\"You are the editor of 'Cybersecurity Talent', a weekly magazine for a corporate Cyber Security Talent, Training & Awareness team whose mission is awareness, skills and resilience. Use ONLY facts found in the provided digests; never invent products, courses, certifications, vendors, names, numbers, URLs or quotes. Write in an engaging, practical, magazine-quality voice. Output a SINGLE valid JSON object and nothing else. For EVERY item that is based on a specific article, include a url field containing the exact source link copied VERBATIM from the parentheses in the digest (do not shorten, paraphrase or invent it); use an empty string only if there is genuinely no link. Keys: weekOf (string); intro (a rich 2-3 paragraph editorial, about 8-12 sentences, on the state of cyber skills, training and awareness this period; separate paragraphs with a single newline character); weekOverWeek (1-2 sentences on what changed since last edition, empty string if none); snapshot (object with keys summary, metrics (array up to 4 of {name,value,note}), outlook (2-3 sentences)); feature (the marquee FEATURED ARTICLE on a security TRAINING TECHNIQUE: object with headline, deck (one-sentence standfirst), body (3-5 short paragraphs separated by single newlines explaining the technique and how to run it), takeaways (array of 2-4 actionable bullet strings), source (short outlet name), url (verbatim article link), image (the IMG= URL from the digest if present else empty string)); trainingTech (array of latest TRAINING TECHNOLOGY & ADVANCEMENTS, each {name, what, benefit, source, url}); quals (array of latest QUALIFICATIONS & COURSES, each {name, provider, level, focus, whoFor, url}); skills (array of SKILLS IN DEMAND, each {name, why, demand}); awareness (array of 4-7 AWARENESS / HUMAN-FIREWALL tips as {tip, detail}, covering phishing and social engineering where relevant); threats (array of EMERGING THREATS TO KNOW, each {name, what, action, source, url}); featured (array of 2-4 other worth-reading articles, each {headline, story, source, url, image}); bonus (object {title, body} of 3 short paragraphs); plus section intros trainingTechIntro, qualsIntro, skillsIntro, awarenessIntro, threatsIntro (each 1-2 sentences). Base every item strictly on the digests; if a section has little material include fewer items rather than inventing. Prefer items that have an IMG= URL for the feature and featured articles so the magazine has photos. Keep fields concise so the COMPLETE JSON returns without truncation. Do NOT use markdown code fences; begin with { and end with }. Output ONLY the JSON object.\"},\n    {\"role\":\"user\",\"content\": {{ JSON.stringify('TRAINING & AWARENESS NEWS DIGEST for ' + ($json.date||'') + ' (' + ($json.count||0) + ' items):\\n' + ($json.articles||'') + '\\n\\nQUALIFICATIONS & COURSES DIGEST (' + ($json.moversCount||0) + ' items):\\n' + ($json.moversDigest||'None retrieved.') + '\\n\\nPREVIOUS EDITION SUMMARY:\\n' + ($json.previous||'No previous edition available.')) }} }\n  ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "cover-prompt",
      "name": "Build Cover Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet md = '';\nif (j.message && j.message.content) { md = j.message.content; }\nelse if (j.content && j.content[0] && j.content[0].text) { md = j.content[0].text; }\nelse if (typeof j.markdown === 'string') { md = j.markdown; }\nmd = md || '';\nconst top = md.split(/\\n/).filter(function(l){ return /ransomware|breach|cyber|threat|vulnerab|hacker|malware|attack/i.test(l); }).slice(0,4).join('; ') || 'the global cyber threat landscape this week';\nconst style = 'Dramatic cinematic cybersecurity magazine cover artwork, vertical portrait composition. A hooded figure silhouette (no visible face) facing a glowing holographic security shield with a padlock, a futuristic illuminated city skyline at night with water reflections, and a constellation of glowing blue network nodes and connections. Deep navy and electric-blue (#2E9BE6) palette, high-contrast, premium and professional. Keep the LEFT THIRD darker and uncluttered for text overlay. NO text, NO words, NO logos, NO readable code, NO watermark.';\nreturn [{ json: { markdown: md || 'No data available for this period.', date: new Date().toISOString().slice(0,10), coverPrompt: style + ' Visual theme inspired by: ' + top } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "cover-image",
      "name": "Generate Cover (Image Provider)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL || 'https://api.openai.com/v1' }}/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.IMAGE_MODEL || 'gpt-image-1' }}\",\n  \"prompt\": {{ JSON.stringify($json.coverPrompt) }},\n  \"size\": \"{{ $env.IMAGE_SIZE || '1024x1536' }}\",\n  \"n\": 1\n}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Optional cover via Image Provider Abstraction. Dead-end side branch: failure (e.g. no API key) never affects the brief."
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "let raw = ($json && $json.markdown) || '';\nfunction tryParse(s){ try { return JSON.parse(s); } catch(e){ return null; } }\nfunction repair(s){ var i0=s.indexOf('{'); if(i0<0) return null; s=s.slice(i0); var stack=[],inStr=false,esc=false,cut=-1,cutStack=null; for(var i=0;i<s.length;i++){ var ch=s[i]; if(esc){esc=false;continue;} if(ch==='\\\\'){esc=true;continue;} if(ch==='\"'){inStr=!inStr;continue;} if(inStr)continue; if(ch==='{'||ch==='['){stack.push(ch);} else if(ch==='}'||ch===']'){stack.pop(); cut=i+1; cutStack=stack.slice();} } if(cut<0) return null; var out=s.slice(0,cut); for(var k=cutStack.length-1;k>=0;k--){ out += cutStack[k]==='{' ? '}' : ']'; } return out; }\nvar cleaned = raw.replace(/^﻿/,'').trim().replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'').trim();\nvar data = tryParse(cleaned);\nif(!data){ var m = cleaned.match(/\\{[\\s\\S]*\\}/); if(m) data = tryParse(m[0]); }\nif(!data){ var rep = repair(cleaned); if(rep) data = tryParse(rep); }\n// embed remote article images as data URIs (reliable in the PDF engine)\nasync function embedImg(o){ if(!o) return; var im=(o.image||'').toString(); if(!/^https?:\\/\\//i.test(im)) return; try{ var r=await this.helpers.httpRequest({ method:'GET', url:im, encoding:'arraybuffer', returnFullResponse:true, timeout:15000, headers:{ 'User-Agent':'Mozilla/5.0 (compatible; JarvisBrief/1.0)','Accept':'image/avif,image/webp,image/*,*/*' } }); var ct=((r&&r.headers&&(r.headers['content-type']||r.headers['Content-Type']))||'').toString().split(';')[0].trim().toLowerCase(); var buf=Buffer.isBuffer(r.body)?r.body:Buffer.from(r.body||''); if(/^image\\/(jpeg|jpg|png|gif|webp)$/.test(ct) && buf.length>200 && buf.length<4500000){ o.image='data:'+ct+';base64,'+buf.toString('base64'); } else { o.image=''; } }catch(e){ o.image=''; } }\nif(data){ var _imgs=[]; if(data.feature) _imgs.push(data.feature); if(Array.isArray(data.featured)) _imgs=_imgs.concat(data.featured); for(var _ii=0;_ii<_imgs.length;_ii++){ await embedImg.call(this,_imgs[_ii]); } }\nconst date = ($json && $json.date) || new Date().toISOString().slice(0,10);\nconst fs = require('fs');\nfunction fileUri(base){ var t=[['/config/branding/'+base+'.png','image/png'],['/config/branding/'+base+'.jpg','image/jpeg'],['/config/branding/'+base+'.jpeg','image/jpeg']]; for(var i=0;i<t.length;i++){ try { return 'data:'+t[i][1]+';base64,'+fs.readFileSync(t[i][0]).toString('base64'); } catch(e){} } return ''; }\nconst cover=fileUri('cyber-cover')||fileUri('cover'), banner=fileUri('cyber-banner')||fileUri('banner'), avatar=fileUri('jarvis-avatar');\nlet hero=''; try { var hb=$('Generate Cover (Image Provider)').first().json.data[0].b64_json; if(hb) hero='data:image/png;base64,'+hb; } catch(e){ hero=''; }\nif(!hero){ hero = fileUri('cyber-hero') || fileUri('hero') || cover || banner; }\nvar SECIMG={}; try{ SECIMG=$('Collect Section Images').first().json.sectionImages||{}; }catch(e){ SECIMG={}; }\nfunction ord(n){ var s=['th','st','nd','rd'], v=n%100; return n+(s[(v-20)%10]||s[v]||s[0]); }\nfunction prettyDate(d){ try { var p=(d||'').split('-'); var dt=new Date(Number(p[0]),Number(p[1])-1,Number(p[2])); var M=['January','February','March','April','May','June','July','August','September','October','November','December']; return M[dt.getMonth()]+' '+ord(dt.getDate())+' '+dt.getFullYear(); } catch(e){ return d; } }\nconst dateStr=prettyDate(date), weekOf=(data&&data.weekOf)?data.weekOf:dateStr;\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\n\nvar BCSS='*{box-sizing:border-box} body{margin:0;font-family:-apple-system,\"Segoe UI\",Arial,sans-serif;color:#11151c;font-size:14px;line-height:1.55} '\n + '.wrap{padding:22px 40px 10px} '\n + '.lead{font-size:16px;line-height:1.75;margin:0 0 4px} .lead .dc{float:left;font-family:Georgia,serif;font-size:56px;line-height:44px;padding:6px 12px 0 0;color:#2E9BE6;font-weight:700} '\n + '.callout{background:#EAF4FC;border-left:4px solid #2E9BE6;padding:12px 16px;margin:18px 0;font-size:14px} '\n + '.sec{page-break-before:always} .sec.first{page-break-before:avoid} '\n + 'h2.h{font-family:Georgia,serif;font-size:21px;color:#0A1A2F;margin:6px 0 12px;padding-bottom:8px;border-bottom:2px solid #0A1A2F} '\n + 'h2.h .kick{display:block;font-family:Arial;font-size:10.5px;letter-spacing:2px;color:#2E9BE6;text-transform:uppercase;margin-bottom:3px;font-weight:700} '\n + '.feature{border:1px solid #E2E6EC;border-radius:8px;overflow:hidden;margin:16px 0;page-break-inside:avoid} '\n + '.feature .ph{height:190px;background-size:cover;background-position:center;background-color:#0A1A2F} .feature .fb{padding:14px 18px} '\n + '.feature h3{font-family:Georgia,serif;font-size:18px;color:#0A1A2F;margin:0 0 7px;line-height:1.3} .feature p{margin:0 0 9px;font-size:14px;line-height:1.62;color:#2b3340} .feature a{color:#2E9BE6;text-decoration:none;font-size:12.5px;font-weight:700} '\n + '.co{border:1px solid #E2E6EC;border-radius:8px;margin:14px 0;page-break-inside:avoid;overflow:hidden} .co .hd{background:#0A1A2F;color:#fff;padding:9px 14px;font-family:Georgia,serif;font-size:16px;font-weight:700} .co .bd{padding:8px 16px} .co .row{margin:7px 0;font-size:13.5px;line-height:1.5} .co .row .lab{display:inline-block;min-width:120px;padding-right:10px;color:#0A1A2F;font-weight:700;vertical-align:top} '\n + 'table.mv{width:100%;border-collapse:collapse;font-size:13px;margin:8px 0} table.mv th{background:#0A1A2F;color:#fff;text-align:left;padding:8px;font-size:11.5px} table.mv td{padding:8px;border-bottom:1px solid #E2E6EC;vertical-align:top} table.mv tr:nth-child(even) td{background:#F4F6F9} '\n + '.bonus p{font-size:14px;line-height:1.72;margin:0 0 10px} .secintro{font-size:13.5px;line-height:1.62;color:#3a4452;margin:0 0 14px;font-style:italic} '\n + '.metrics{display:flex;flex-wrap:wrap;gap:10px;margin:8px 0 14px} .metric{flex:1 1 0;min-width:118px;border:1px solid #E2E6EC;border-radius:8px;padding:10px 12px;background:#F4F8FC} .metric .nm{font-size:10px;color:#5A6472;text-transform:uppercase;letter-spacing:.6px} .metric .vl{font-family:Georgia,serif;font-size:19px;font-weight:700;color:#0A1A2F;margin:4px 0 2px} .metric .ch{font-size:11.5px;font-weight:700} '\n + '.bf{border:1px solid #E2E6EC;border-radius:8px;overflow:hidden;margin:6px 0 0} .bf .bfimg{height:240px;background-size:cover;background-position:center;background-color:#0A1A2F} .bf .bfb{padding:16px 20px} .bf .bfdeck{font-family:Georgia,serif;font-style:italic;font-size:16px;color:#0A1A2F;margin:0 0 10px} .bf .bftext p{margin:0 0 10px;font-size:14px;line-height:1.65;color:#2b3340} .bf .tk{background:#EAF4FC;border-radius:6px;padding:10px 14px;margin:6px 0 10px} .bf .tk .tkh{font-weight:700;color:#0A1A2F;font-size:13px;margin-bottom:4px} .bf .tk ul{margin:0;padding-left:18px} .bf .tk li{font-size:13px;line-height:1.5;margin:3px 0} .bf a{color:#2E9BE6;text-decoration:none;font-weight:700;font-size:12.5px} .bf .src{color:#5A6472;font-size:12.5px} '\n + '.tips{margin:8px 0;padding-left:20px} .tips li{font-size:13.5px;line-height:1.6;margin:8px 0} .tips li b{color:#0A1A2F} .sechero{height:155px;border-radius:8px;overflow:hidden;background-size:cover;background-position:center;background-color:#0A1A2F;position:relative;margin:0 0 16px;page-break-inside:avoid} .sechero .shg{position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(0deg,rgba(10,26,47,.93),rgba(10,26,47,.12))} .sechero .sht{position:absolute;left:18px;bottom:14px;right:18px} .sechero .shk{font-size:11px;letter-spacing:2px;font-weight:700;color:#7cc2f2;text-transform:uppercase} .sechero .shttl{font-family:Georgia,serif;font-size:25px;font-weight:700;color:#fff;line-height:1.1;margin-top:2px} .refn{color:#2E9BE6;font-size:9px;font-weight:700;vertical-align:super;margin-left:2px} .refs{font-size:12px;line-height:1.5;color:#2b3340;padding-left:22px;margin:6px 0} .refs li{margin:9px 0;page-break-inside:avoid} .refs .rt{font-weight:700;color:#0A1A2F} .refs a{color:#2E9BE6;text-decoration:none;word-break:break-all} ';\n\nvar REFS=[]; function refMark(title,source,url){ if(!url || !/^https?:\\/\\//.test(String(url))) return ''; REFS.push({n:REFS.length+1,title:title,source:source||'',url:url}); return '<sup class=\"refn\">['+REFS.length+']</sup>'; }\nfunction refsSection(){ if(!REFS.length) return ''; var items=REFS.map(function(x){ return '<li><span class=\"rt\">'+esc(x.title)+'</span>'+(x.source?(' — '+esc(x.source)):'')+'<br><a href=\"'+x.url+'\">'+esc(x.url)+'</a></li>'; }).join(''); return secH('Verify','References & Sources')+'<p class=\"secintro\">Every item in this issue is drawn from public sources — follow the links to verify.</p><ol class=\"refs\">'+items+'</ol></div>'; }\nfunction secH(kick,title,first){ return '<div class=\"sec'+(first?' first':'')+'\"><h2 class=\"h\"><span class=\"kick\">'+esc(kick)+'</span>'+esc(title)+'</h2>'; }\nfunction secHero(kick,title,key){ var img=SECIMG[key]; if(!img) return secH(kick,title); return '<div class=\"sec\"><div class=\"sechero\" style=\"background-image:url('+img+')\"><div class=\"shg\"></div><div class=\"sht\"><div class=\"shk\">'+esc(kick)+'</div><div class=\"shttl\">'+esc(title)+'</div></div></div>'; }\nfunction lead(t){ t=(t||'').toString().trim(); if(!t)return''; var parts=t.split(/\\n+/).map(function(x){return x.trim();}).filter(function(x){return x;}); if(!parts.length)return''; var h='<p class=\"lead\"><span class=\"dc\">'+esc(parts[0].charAt(0))+'</span>'+esc(parts[0].slice(1))+'</p>'; for(var i=1;i<parts.length;i++){ h+='<p class=\"lead\" style=\"margin-top:10px\">'+esc(parts[i])+'</p>'; } return h; }\nfunction secIntro(t){ t=(t==null?'':String(t)).trim(); if(!t)return''; return '<p class=\"secintro\">'+esc(t)+'</p>'; }\nfunction feature(s){ var im=(s.image||'').toString(); var ph=(/^https?:\\/\\//.test(im)||im.indexOf('data:')===0)?'<div class=\"ph\" style=\"background-image:url('+im+')\"></div>':''; var u=(s.url||'').toString(); var hd=/^https?:\\/\\//.test(u)?('<a href=\"'+u+'\" style=\"color:#0A1A2F;text-decoration:none\">'+esc(s.headline)+'</a>'):esc(s.headline); var mark=refMark(s.headline,s.source,s.url); var src=(s.source||'').toString(); var link=/^https?:\\/\\//.test(u)?('<a href=\"'+u+'\">Read the full story &rsaquo;</a>'):(src?'<span style=\"color:#5A6472;font-size:12.5px\">Source: '+esc(src)+'</span>':''); return '<div class=\"feature\">'+ph+'<div class=\"fb\"><h3>'+hd+mark+'</h3><p>'+esc(s.story)+'</p>'+link+'</div></div>'; }\nfunction card(title,pairs,ref){ var mark=ref?refMark(title,ref.source,ref.url):''; var b=pairs.map(function(p){ var v=p[1]; var cell; if(v && typeof v==='object'){ if(!v.url && !v.text) return ''; cell=(v.url&&/^https?:\\/\\//.test(v.url))?('<a href=\"'+v.url+'\" style=\"color:#2E9BE6;text-decoration:none\">'+esc(v.text||v.url)+'</a>'):esc(v.text||''); } else { v=(v==null||v==='')?'Not specified':v; cell=/^https?:\\/\\//.test(String(v))?('<a href=\"'+v+'\" style=\"color:#2E9BE6;text-decoration:none\">'+esc(v)+'</a>'):esc(v); } return '<div class=\"row\"><span class=\"lab\">'+esc(p[0])+'</span>'+cell+'</div>'; }).join(''); return '<div class=\"co\"><div class=\"hd\">'+esc(title)+mark+'</div><div class=\"bd\">'+b+'</div></div>'; }\nfunction snapshot(s){ if(!s)return''; var ms=s.metrics||[]; var cards=ms.map(function(p){ return '<div class=\"metric\"><div class=\"nm\">'+esc(p.name)+'</div><div class=\"vl\">'+esc(p.value||'—')+'</div>'+(p.note?('<div class=\"ch\" style=\"color:#5A6472\">'+esc(p.note)+'</div>'):'')+'</div>'; }).join(''); var h=''; if(cards)h+='<div class=\"metrics\">'+cards+'</div>'; if(s.outlook)h+='<div class=\"callout\"><b>Outlook:</b> '+esc(s.outlook)+'</div>'; return h; }\nfunction bigFeature(f){ if(!f)return''; var im=(f.image||'').toString(); var ph=(/^https?:\\/\\//.test(im)||im.indexOf('data:')===0)?'<div class=\"bfimg\" style=\"background-image:url('+im+')\"></div>':''; var body=(f.body?String(f.body).split(/\\n+/).map(function(p){return p.trim();}).filter(function(p){return p;}).map(function(p){return '<p>'+esc(p)+'</p>';}).join(''):''); var tk=(f.takeaways&&f.takeaways.length)?('<div class=\"tk\"><div class=\"tkh\">Key takeaways</div><ul>'+f.takeaways.map(function(t){return '<li>'+esc(t)+'</li>';}).join('')+'</ul></div>'):''; var u=(f.url||'').toString(); var mark=refMark(f.headline,f.source,f.url); var hd=/^https?:\\/\\//.test(u)?('<a href=\"'+u+'\" style=\"color:#0A1A2F;text-decoration:none\">'+esc(f.headline)+'</a>'):esc(f.headline); var src=(f.source||'').toString(); var link=/^https?:\\/\\//.test(u)?('<a href=\"'+u+'\">Read the full story &rsaquo;</a>'):(src?'<span class=\"src\">Source: '+esc(src)+'</span>':''); return '<div class=\"bf\">'+ph+'<div class=\"bfb\">'+(f.headline?'<h3 style=\"font-family:Georgia,serif;font-size:20px;color:#0A1A2F;margin:0 0 6px\">'+hd+mark+'</h3>':'')+(f.deck?'<div class=\"bfdeck\">'+esc(f.deck)+'</div>':'')+'<div class=\"bftext\">'+body+'</div>'+tk+link+'</div></div>'; }\nfunction tips(arr){ if(!arr||!arr.length)return ''; return '<ol class=\"tips\">'+arr.map(function(t){ if(typeof t==='string') return '<li>'+esc(t)+'</li>'; return '<li><b>'+esc(t.tip||t.title||'')+'</b>'+(t.detail?(' &mdash; '+esc(t.detail)):'')+'</li>'; }).join('')+'</ol>'; }\n\nfunction bodyInner(){\n  if(!data){ return '<div class=\"wrap\"><div class=\"callout\" style=\"background:#FDECEC;border-color:#B02525\">The editor did not return structured data this run. Raw output below.</div><pre style=\"white-space:pre-wrap;font-size:12px\">'+esc(raw)+'</pre></div>'; }\n  var bonus=data.bonus||{}, feats=data.featured||[];\n  var heroBand = hero ? ('<div style=\"height:215px;background:#0A1A2F url('+hero+') center/cover no-repeat;border-radius:8px;position:relative;overflow:hidden;margin:0 0 20px\"><div style=\"position:absolute;left:0;right:0;bottom:0;padding:18px 20px 14px;background:linear-gradient(0deg,rgba(10,26,47,.9),rgba(10,26,47,0))\"><div style=\"font-family:Georgia,serif;font-size:24px;font-weight:700;color:#fff;line-height:1.15\">Cybersecurity Talent</div><div style=\"font-size:13px;color:#CFE3F5;margin-top:3px;letter-spacing:.5px\">Awareness, Skills &amp; Resilience &middot; '+esc(dateStr)+'</div></div></div>') : '';\n  var signoff=avatar?('<div style=\"text-align:center;padding:22px 0 6px;border-top:3px solid #2E9BE6;margin-top:22px\"><img src=\"'+avatar+'\" style=\"width:96px;height:96px;border-radius:50%;border:2px solid #2E9BE6\"/><div style=\"font-family:Georgia,serif;color:#0A1A2F;margin-top:8px;font-size:14px\">Jarvis &mdash; Cyber Awareness Editor</div></div>'):'';\n  var h='<div class=\"wrap\">';\n  h+='<div class=\"sec first\">'+heroBand+lead(data.intro)+(data.weekOverWeek?('<div class=\"callout\"><b>What changed since last edition:</b> '+esc(data.weekOverWeek)+'</div>'):'')+'</div>';\n  if(data.snapshot){ h+=secHero('Snapshot','Talent & Awareness at a Glance','snapshot')+secIntro(data.snapshot.summary)+snapshot(data.snapshot)+'</div>'; }\n  if(data.feature){ h+=secH('Featured','Training Technique of the Week')+bigFeature(data.feature)+'</div>'; }\n  if(data.trainingTech && data.trainingTech.length){ h+=secHero('Technology','Training Technology & Advancements','trainingTech')+secIntro(data.trainingTechIntro)+data.trainingTech.map(function(t){return card(t.name,[['What it is',t.what],['Why it helps',t.benefit],['Source',{text:t.source||'',url:t.url||''}]],{source:t.source,url:t.url});}).join('')+'</div>'; }\n  if(data.quals && data.quals.length){ h+=secHero('Credentials','Qualifications & Courses','quals')+secIntro(data.qualsIntro)+data.quals.map(function(q){return card(q.name,[['Provider',q.provider],['Level',q.level],['Focus',q.focus],['Best for',q.whoFor],['Details',{text:(q.url?'Read more':''),url:q.url||''}]],{source:q.provider,url:q.url});}).join('')+'</div>'; }\n  if(data.skills && data.skills.length){ h+=secHero('Careers','Skills in Demand','skills')+secIntro(data.skillsIntro)+data.skills.map(function(s){return card(s.name,[['Why it matters',s.why],['Demand',s.demand]]);}).join('')+'</div>'; }\n  if(data.awareness && data.awareness.length){ h+=secHero('Human Firewall','Awareness & Action','awareness')+secIntro(data.awarenessIntro)+tips(data.awareness)+'</div>'; }\n  if(data.threats && data.threats.length){ h+=secHero('Watch','Emerging Threats to Know','threats')+secIntro(data.threatsIntro)+data.threats.map(function(t){return card(t.name,[['What it is',t.what],['What to do',t.action],['Source',{text:t.source||'',url:t.url||''}]],{source:t.source,url:t.url});}).join('')+'</div>'; }\n  if(feats.length){ h+=secH('Roundup','Worth Reading')+feats.map(feature).join('')+'</div>'; }\n  h+=secH('Analysis','Editor’s Bonus'+(bonus.title?': '+esc(bonus.title):''))+'<div class=\"bonus\">'+(bonus.body?esc(bonus.body).split('\\n').map(function(p){return '<p>'+p+'</p>';}).join(''):'')+'</div>'+signoff+'</div>';\n  h+=refsSection();\n  h+='</div>'; return h;\n}\n\n// ----- custom designed magazine cover (regenerated per issue) -----\nvar coverBg = hero || cover || '';\nvar monthYear=''; try{ var _p=(date||'').split('-'); var _M=['JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER']; monthYear=_M[Number(_p[1])-1]+' '+_p[0]; }catch(e){ monthYear=dateStr; }\nvar issueNo=1; try{ var _af=fs.readdirSync('/reports/archive/cyber-brief').filter(function(fn){ return /cyber-brief-\\d{4}-\\d{2}-\\d{2}\\.json$/.test(fn); }); issueNo=_af.length+1; }catch(e){}\nfunction _pad2(n){ return (n<10?'0':'')+n; }\nfunction _clip(s,n){ s=(s==null?'':String(s)); s=s.replace(/\\s+/g,' ').trim(); return s.length>n ? s.slice(0,n-1).replace(/\\s+\\S*$/,'')+'…' : s; }\nvar _cd=(data||{});\nvar _blurb=_clip((_cd.feature&&_cd.feature.deck) || (_cd.intro?_cd.intro.split(/\\n/)[0]:'') || 'Insights, training and awareness for the evolving threat landscape.',150);\nvar _sk=(_cd.skills||[]), _aw=(_cd.awareness||[]), _tt=(_cd.trainingTech||[]);\nvar _IC={\n target:'<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#2E9BE6\" stroke-width=\"1.6\"><circle cx=\"12\" cy=\"12\" r=\"8\"/><circle cx=\"12\" cy=\"12\" r=\"3\"/><path d=\"M12 1v3M12 20v3M1 12h3M20 12h3\"/></svg>',\n cap:'<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#2E9BE6\" stroke-width=\"1.6\"><path d=\"M2 9l10-5 10 5-10 5z\"/><path d=\"M6 11v5c0 1 3 3 6 3s6-2 6-3v-5\"/></svg>',\n alert:'<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#2E9BE6\" stroke-width=\"1.6\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M12 8v5M12 16v.4\"/></svg>',\n shield:'<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#2E9BE6\" stroke-width=\"1.6\"><path d=\"M12 2l8 3v6c0 5-3.5 8-8 11-4.5-3-8-6-8-11V5z\"/></svg>'\n};\nfunction _bul(ic,k,d){ return '<div class=\"bul\"><div class=\"ic\">'+ic+'</div><div class=\"tx\"><div class=\"k\">'+esc(k)+'</div><div class=\"d\">'+esc(d)+'</div></div></div>'; }\nvar _bullets =\n  _bul(_IC.target,'THREAT FRONTLINES', _clip((_cd.threats&&_cd.threats[0]&&_cd.threats[0].name)||'Emerging threats and attacker tactics to watch',74)) +\n  _bul(_IC.cap,'SKILLS THAT SHIELD', _sk.length?('In demand: '+_clip(_sk.map(function(s){return s.name;}).slice(0,2).join(', '),58)):'Build in-demand cyber skills for today and tomorrow') +\n  _bul(_IC.alert,'AWARE. ALERT. READY.', _aw.length?_clip((_aw[0].tip||_aw[0].title||_aw[0]),70):'Simple actions that make a big impact') +\n  _bul(_IC.shield,'PEOPLE. CULTURE. SECURITY.', 'Building a strong security mindset across every team');\nfunction _ins(k,d){ return '<div class=\"it\"><div class=\"k\">'+esc(k)+'</div><div class=\"d\">'+esc(d)+'</div></div>'; }\nvar _insideRow = _ins('FEATURED TECHNIQUE', _clip((_cd.feature&&_cd.feature.headline)||'A training technique worth stealing',34))+_ins('TRAIN. PRACTICE. PROTECT.', _tt.length?_clip(_tt[0].name,30):'Top training picks and hands-on labs')+_ins('NEW QUALIFICATIONS', _clip((_cd.quals&&_cd.quals[0]&&_cd.quals[0].name)||'Latest courses and certs',30))+_ins('THE HUMAN FIREWALL','Stronger together every day');\nvar coverCSS='*{margin:0;box-sizing:border-box}@page{margin:0} html,body{height:100%;background:#06101F;font-family:Arial,Helvetica,sans-serif;color:#fff} '\n +'.cv{position:relative;height:100vh;width:100%;overflow:hidden} '\n +'.bg{position:absolute;top:0;left:0;right:0;bottom:0;background-position:center;background-size:cover;background-repeat:no-repeat;background-color:#06101F} '\n +'.shade{position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(90deg,rgba(6,16,31,.97) 0%,rgba(6,16,31,.88) 40%,rgba(6,16,31,.32) 72%,rgba(6,16,31,.62) 100%),linear-gradient(0deg,rgba(6,16,31,.94) 0%,rgba(6,16,31,0) 26%)} '\n +'.zone{position:absolute;left:48px;right:48px} '\n +'.top{top:40px;display:flex;justify-content:space-between;align-items:flex-start} '\n +'.tagline{font-size:12px;letter-spacing:2px;font-weight:700;color:#cfe0f5} .tagline span{color:#2E9BE6} '\n +'.issue{background:#2E9BE6;color:#fff;font-size:12px;font-weight:700;letter-spacing:1px;padding:7px 14px;border-radius:3px;white-space:nowrap} '\n +'.head{top:100px} '\n +'.mast{font-weight:800;line-height:.9;letter-spacing:-1px} .mast .w{font-size:46px;color:#fff;display:block} .mast .b{font-size:72px;color:#2E9BE6;display:block} '\n +'.sub{margin-top:14px;font-size:12px;letter-spacing:2.5px;font-weight:700;color:#dbe6f3} '\n +'.lead{margin-top:26px} .lead .lh{font-size:27px;font-weight:800;line-height:1.05} .lead .lh .b{color:#2E9BE6} .lead .ld{margin-top:12px;font-size:14px;line-height:1.5;color:#cdd9e8;max-width:56%} '\n +'.bullets{margin-top:22px;max-width:58%} '\n +'.bul{display:flex;align-items:flex-start;padding:10px 0;border-top:1px solid rgba(255,255,255,.13)} '\n +'.bul .ic{flex:0 0 auto;width:40px;height:40px;border-radius:50%;border:1.5px solid rgba(46,155,230,.55);display:flex;align-items:center;justify-content:center;margin-right:14px} '\n +'.bul .tx .k{font-size:13px;font-weight:800;letter-spacing:1px;color:#7cc2f2} .bul .tx .d{font-size:12.5px;color:#dfe8f3;line-height:1.4;margin-top:2px} '\n +'.bottom{bottom:38px} '\n +'.insidehd{display:inline-block;background:#2E9BE6;color:#fff;font-size:12px;font-weight:800;letter-spacing:2px;padding:7px 18px} '\n +'.insiderow{display:flex;margin-top:14px} '\n +'.it{flex:1 1 0;border-left:1px solid rgba(255,255,255,.16);padding:0 12px} '\n +'.it .k{font-size:10.5px;font-weight:800;letter-spacing:.5px;color:#7cc2f2} .it .d{font-size:10.5px;color:#cdd9e8;line-height:1.35;margin-top:3px} '\n +'.foot{margin-top:18px;border-top:1px solid rgba(255,255,255,.18);padding-top:13px;text-align:center;font-size:12px;letter-spacing:2px;font-weight:700;color:#dbe6f3} .foot .b{color:#2E9BE6}';\nvar coverHtml='<!doctype html><html><head><meta charset=\"utf-8\"><style>'+coverCSS+'</style></head><body><div class=\"cv\"><div class=\"bg\" style=\"background-image:url('+coverBg+')\"></div><div class=\"shade\"></div>'\n +'<div class=\"zone top\"><div class=\"tagline\">EMPOWERING PEOPLE. <span>SECURING TOMORROW.</span></div><div class=\"issue\">'+esc(monthYear)+' &nbsp;|&nbsp; ISSUE '+_pad2(issueNo)+'</div></div>'\n +'<div class=\"zone head\"><div class=\"mast\"><span class=\"w\">CYBERSECURITY</span><span class=\"b\">TALENT</span></div><div class=\"sub\">THE MAGAZINE FOR AWARENESS, SKILLS &amp; RESILIENCE</div>'\n +'<div class=\"lead\"><div class=\"lh\">STAY AHEAD.<br><span class=\"b\">STAY SECURE.</span></div><div class=\"ld\">'+esc(_blurb)+'</div></div>'\n +'<div class=\"bullets\">'+_bullets+'</div></div>'\n +'<div class=\"zone bottom\"><div class=\"insidehd\">INSIDE THIS ISSUE</div><div class=\"insiderow\">'+_insideRow+'</div>'\n +'<div class=\"foot\">LEARN. &nbsp;|&nbsp; STAY AWARE. &nbsp;|&nbsp; TAKE ACTION. &nbsp;|&nbsp; <span class=\"b\">STAY SECURE.</span></div></div>'\n +'</div></body></html>';\n\nvar bodyHtml='<!doctype html><html><head><meta charset=\"utf-8\"><style>'+BCSS+'</style></head><body>'+bodyInner()+'</body></html>';\nvar headerInner = '<div style=\"height:46px;width:100%;background:#0A1A2F;color:#E7F2FB;font-family:Georgia,serif;font-size:14px;text-align:center;line-height:46px;letter-spacing:1px\">CYBERSECURITY TALENT &nbsp;&middot;&nbsp; AWARENESS, SKILLS &amp; RESILIENCE</div>';\nvar headerHtml='<!doctype html><html><head><meta charset=\"utf-8\"></head><body style=\"margin:0\">'+headerInner+'</body></html>';\nvar footerHtml='<!doctype html><html><head><meta charset=\"utf-8\"></head><body style=\"margin:0\"><div style=\"font-size:9px;color:#5A6472;font-family:Arial,Helvetica,sans-serif;width:100%;padding:0 14mm;box-sizing:border-box\"><span style=\"float:left\">CYBERSECURITY TALENT &middot; AI-generated — always verify findings</span><span style=\"float:right\">Page <span class=\"pageNumber\"></span></span></div></body></html>';\nvar html='<!doctype html><html><head><meta charset=\"utf-8\"><title>Cybersecurity Talent — '+esc(weekOf)+'</title><style>'+BCSS+'</style></head><body>'+headerInner+bodyInner()+'</body></html>';\n\nreturn [{ json: { date: date, weekOf: weekOf, coverHtml: coverHtml, bodyHtml: bodyHtml, headerHtml: headerHtml, footerHtml: footerHtml, html: html, markdown: raw } }];\n"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "persist",
      "name": "Write Report + Archive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst date = $json.date;\nconst html = $json.html;\nconst md = $json.markdown || '';\nconst dirs = ['/reports/cyber-brief', '/reports/archive/energy-intelligence'];\nfor (var k = 0; k < dirs.length; k++) {\n  try { fs.mkdirSync(dirs[k], { recursive: true }); fs.writeFileSync(dirs[k] + '/cyber-brief-' + date + '.html', html); } catch (e) {}\n}\ntry { fs.writeFileSync('/reports/archive/energy-intelligence/cyber-brief-' + date + '.json', md); } catch (e) {}\ntry { fs.writeFileSync('/logs/last-run-success.txt', new Date().toISOString() + ' cyber-brief'); } catch (e) {}\nreturn [{ json: $json }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Writes via fs (NODE_FUNCTION_ALLOW_BUILTIN=fs) to avoid the Read/Write File node's binary requirement."
    },
    {
      "id": "reduced",
      "name": "Reduced Coverage Notice",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        460
      ],
      "parameters": {},
      "notes": "Failure path: emit a reduced-coverage notice + log instead of producing nothing."
    },
    {
      "id": "use-claude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1090,
        240
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "analyst-claude",
      "name": "AI Analyst (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        140
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-sonnet-4-6' }}\",\n  \"max_tokens\": 16000,\n  \"system\": \"You are the editor of 'Cybersecurity Talent', a weekly magazine for a corporate Cyber Security Talent, Training & Awareness team whose mission is awareness, skills and resilience. Use ONLY facts found in the provided digests; never invent products, courses, certifications, vendors, names, numbers, URLs or quotes. Write in an engaging, practical, magazine-quality voice. Output a SINGLE valid JSON object and nothing else. For EVERY item that is based on a specific article, include a url field containing the exact source link copied VERBATIM from the parentheses in the digest (do not shorten, paraphrase or invent it); use an empty string only if there is genuinely no link. Keys: weekOf (string); intro (a rich 2-3 paragraph editorial, about 8-12 sentences, on the state of cyber skills, training and awareness this period; separate paragraphs with a single newline character); weekOverWeek (1-2 sentences on what changed since last edition, empty string if none); snapshot (object with keys summary, metrics (array up to 4 of {name,value,note}), outlook (2-3 sentences)); feature (the marquee FEATURED ARTICLE on a security TRAINING TECHNIQUE: object with headline, deck (one-sentence standfirst), body (3-5 short paragraphs separated by single newlines explaining the technique and how to run it), takeaways (array of 2-4 actionable bullet strings), source (short outlet name), url (verbatim article link), image (the IMG= URL from the digest if present else empty string)); trainingTech (array of latest TRAINING TECHNOLOGY & ADVANCEMENTS, each {name, what, benefit, source, url}); quals (array of latest QUALIFICATIONS & COURSES, each {name, provider, level, focus, whoFor, url}); skills (array of SKILLS IN DEMAND, each {name, why, demand}); awareness (array of 4-7 AWARENESS / HUMAN-FIREWALL tips as {tip, detail}, covering phishing and social engineering where relevant); threats (array of EMERGING THREATS TO KNOW, each {name, what, action, source, url}); featured (array of 2-4 other worth-reading articles, each {headline, story, source, url, image}); bonus (object {title, body} of 3 short paragraphs); plus section intros trainingTechIntro, qualsIntro, skillsIntro, awarenessIntro, threatsIntro (each 1-2 sentences). Base every item strictly on the digests; if a section has little material include fewer items rather than inventing. Prefer items that have an IMG= URL for the feature and featured articles so the magazine has photos. Keep fields concise so the COMPLETE JSON returns without truncation. Do NOT use markdown code fences; begin with { and end with }. Output ONLY the JSON object.\",\n  \"messages\": [\n    {\"role\":\"user\",\"content\": {{ JSON.stringify('TRAINING & AWARENESS NEWS DIGEST for ' + ($json.date||'') + ' (' + ($json.count||0) + ' items):\\n' + ($json.articles||'') + '\\n\\nQUALIFICATIONS & COURSES DIGEST (' + ($json.moversCount||0) + ' items):\\n' + ($json.moversDigest||'None retrieved.') + '\\n\\nPREVIOUS EDITION SUMMARY:\\n' + ($json.previous||'No previous edition available.')) }} }\n  ]\n}",
        "options": {
          "timeout": 300000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Anthropic Claude path (AI_PROVIDER=claude). Higher-quality analysis. Requires ANTHROPIC_API_KEY."
    },
    {
      "id": "split-movers",
      "name": "Load Movers Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        460
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nlet lines = [];\ntry { lines = fs.readFileSync('/config/cyber-quals-sources.txt','utf8').split(/\\r?\\n/); } catch (e) {}\nconst urls = lines.map(function(l){ return l.trim(); }).filter(function(l){ return l && l.charAt(0) !== '#'; });\nif (!urls.length) { return [{ json: { url: '' } }]; }\nreturn urls.map(function(u){ return { json: { url: u } }; });"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "fetch-movers",
      "name": "Fetch Movers",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        840,
        460
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "agg-movers",
      "name": "Aggregate Movers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        460
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst arts = items.map(function(i){ return i.json; }).filter(function(a){ return a && (a.title || a.contentSnippet || a.content); });\nconst lines = arts.slice(0,18).map(function(a){\n  var t = (a.title||'').toString();\n  var s = (a.contentSnippet||a.content||'').toString().replace(/\\s+/g,' ').slice(0,220);\n  var u = (a.link||a.url||'').toString();\n  return '- ' + t + ' — ' + s + ' (' + u + ')';\n});\nconst text = lines.length ? lines.join('\\n') : 'No leadership-change articles retrieved.';\nreturn [{ json: { moversDigest: text, moversCount: arts.length } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "merge-sources",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1090,
        360
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      }
    },
    {
      "id": "cover-file",
      "name": "Build Cover File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const r = $('Render HTML').first().json;\nconst html = r.coverHtml || r.html || '';\nreturn [{ json: { date: r.date }, binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType: 'text/html', fileName: 'index.html' } } }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Cover page is its own PDF: full-bleed, no header/footer, no page number."
    },
    {
      "id": "gotenberg-cover",
      "name": "Gotenberg Cover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Cover HTML -> single full-bleed PDF page (margins 0, no header/footer)."
    },
    {
      "id": "stash-cover",
      "name": "Stash Cover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst b64 = buf ? buf.toString('base64') : '';\nconst date = $('Render HTML').first().json.date;\nreturn [{ json: { date: date, coverB64: b64 } }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Carry the cover PDF as base64 in JSON so it survives the body conversion HTTP call."
    },
    {
      "id": "body-files",
      "name": "Build Body Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const r = $('Render HTML').first().json;\nconst enc = function(s){ return Buffer.from(String(s||''),'utf8').toString('base64'); };\nreturn [{ json: { date: r.date },\n  binary: {\n    index:  { data: enc(r.bodyHtml),   mimeType: 'text/html', fileName: 'index.html' },\n    header: { data: enc(r.headerHtml), mimeType: 'text/html', fileName: 'header.html' },\n    footer: { data: enc(r.footerHtml), mimeType: 'text/html', fileName: 'footer.html' }\n  } }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Body PDF inputs: content + Gotenberg-recognised header.html (running hero banner) + footer.html (page number)."
    },
    {
      "id": "gotenberg-body",
      "name": "Gotenberg Body",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "index"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "header"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "footer"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0.7"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0.55"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Body HTML -> PDF with running hero banner header on every page + page-number footer."
    },
    {
      "id": "assemble",
      "name": "Assemble PDFs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const coverB64 = ($('Stash Cover').first().json.coverB64) || '';\nconst bodyBuf = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst coverBuf = Buffer.from(coverB64, 'base64');\nconst cover = await this.helpers.prepareBinaryData(coverBuf, '01-cover.pdf', 'application/pdf');\nconst body  = await this.helpers.prepareBinaryData(bodyBuf,  '02-body.pdf', 'application/pdf');\nconst date = $('Render HTML').first().json.date;\nreturn [{ json: { date: date }, binary: { cover: cover, body: body } }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Place cover + body PDFs on one item with order-prefixed filenames for the merge."
    },
    {
      "id": "gotenberg-merge",
      "name": "Gotenberg Merge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/pdfengines/merge",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "cover"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "body"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Merge clean cover (page 1) in front of the banner+numbered body (pages 2+) into the final brief."
    },
    {
      "id": "write-pdf",
      "name": "Write PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3480,
        420
      ],
      "parameters": {
        "operation": "write",
        "fileName": "=/reports/cyber-brief/cyber-brief-{{ $('Render HTML').first().json.date }}.pdf",
        "dataPropertyName": "data",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "notes": "Saves the branded PDF (binary). Permissions on reports/ allow the container uid to write."
    },
    {
      "id": "archive-pdf",
      "name": "Archive PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3480,
        560
      ],
      "parameters": {
        "operation": "write",
        "fileName": "=/reports/archive/cyber-brief/cyber-brief-{{ $('Render HTML').first().json.date }}.pdf",
        "dataPropertyName": "data",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "name-pdf",
      "name": "Name PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3700,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items=$input.all();\nconst date=$('Render HTML').first().json.date;\nitems.forEach(function(it){ if(it.binary && it.binary.data){ it.binary.data.fileName='cybersecurity-talent-'+date+'.pdf'; } });\nreturn items;"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendDocument",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "chat_id",
              "value": "={{ ($env.TELEGRAM_BRIEF_CHAT_ID || ($env.TELEGRAM_ALLOWED_CHAT_IDS || '').toString().split(',')[0] || '').toString().trim() }}"
            },
            {
              "parameterType": "formData",
              "name": "caption",
              "value": "=🛡️ Cybersecurity Talent — {{ $('Render HTML').first().json.date }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Delivers the finished PDF to Telegram via the Bot API (sendDocument). Uses TELEGRAM_BOT_TOKEN + TELEGRAM_BRIEF_CHAT_ID (falls back to the first TELEGRAM_ALLOWED_CHAT_IDS entry)."
    },
    {
      "id": "sec-prompts",
      "name": "Build Section Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        -60
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "if(($env.CYBER_SECTION_IMAGES || 'true') !== 'true') return [];\nvar md=($json && $json.markdown) || '';\nvar data=null; try{ data=JSON.parse(md.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }catch(e){ try{ var m=md.match(/\\{[\\s\\S]*\\}/); if(m) data=JSON.parse(m[0]); }catch(e2){} }\ndata=data||{};\nfunction top(arr){ return (arr&&arr[0]&&(arr[0].name||arr[0].headline))?(arr[0].name||arr[0].headline):''; }\nvar style=' Wide cinematic editorial banner illustration, deep navy and electric-blue (#2E9BE6) palette, modern, clean, professional, abstract. NO text, NO words, NO logos, NO faces, NO watermark.';\nvar specs=[\n ['snapshot','Cybersecurity workforce and training analytics, dashboards and upward skill-growth trends.'],\n ['trainingTech','Cutting-edge cyber security training technology'+(top(data.trainingTech)?(' inspired by '+top(data.trainingTech)):'')+': AI-driven platforms, cyber ranges and simulations.'],\n ['quals','Professional cybersecurity certifications and courses'+(top(data.quals)?(' such as '+top(data.quals)):'')+': credentials, exams and achievement.'],\n ['skills','In-demand cybersecurity skills and careers'+(top(data.skills)?(' like '+top(data.skills)):'')+': a thriving modern security operations centre.'],\n ['awareness','Security awareness and the human firewall: spotting phishing and social engineering, a vigilant workforce.'],\n ['threats','Emerging cyber threats to watch'+(top(data.threats)?(' such as '+top(data.threats)):'')+': a warning radar and digital risk.']\n];\nreturn specs.map(function(s){ return { json: { key:s[0], prompt: s[1]+style } }; });"
      },
      "onError": "continueRegularOutput",
      "notes": "Builds one themed image prompt per section (toggle with CYBER_SECTION_IMAGES). Empty => no section images."
    },
    {
      "id": "section-images",
      "name": "Generate Section Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        -60
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL || 'https://api.openai.com/v1' }}/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.IMAGE_MODEL || 'gpt-image-1' }}\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"size\": \"{{ $env.IMAGE_SECTION_SIZE || '1536x1024' }}\",\n  \"n\": 1\n}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueRegularOutput",
      "notes": "One image per section prompt (runs once per item). Failures are non-fatal; sections without an image fall back to a plain header."
    },
    {
      "id": "collect-sec",
      "name": "Collect Section Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -60
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "var prompts=[]; try{ prompts=$('Build Section Prompts').all(); }catch(e){}\nvar imgs=$input.all();\nvar map={};\nfor(var i=0;i<prompts.length;i++){ var key=prompts[i].json.key; var b64=''; try{ b64=imgs[i].json.data[0].b64_json; }catch(e){} if(key && b64) map[key]='data:image/png;base64,'+b64; }\nvar src={}; try{ src=$('Build Cover Image Prompt').first().json; }catch(e){}\nreturn [{ json: { markdown: src.markdown||'', date: src.date||new Date().toISOString().slice(0,10), sectionImages: map } }];"
      },
      "onError": "continueRegularOutput",
      "notes": "Zips section prompts with generated images (order-aligned) into a key->dataURI map."
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enabled?": {
      "main": [
        [
          {
            "node": "Load & Split Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Movers Sources",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Load & Split Sources": {
      "main": [
        [
          {
            "node": "Fetch Energy Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Energy Sources": {
      "main": [
        [
          {
            "node": "Aggregate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Articles": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Cover (Image Provider)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Section Prompts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover (Image Provider)": {
      "main": [
        [],
        []
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Write Report + Archive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Cover File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Report + Archive": {
      "main": [
        []
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI Analyst (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Analyst (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyst (Claude)": {
      "main": [
        [
          {
            "node": "Build Cover Image Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyst (Ollama)": {
      "main": [
        [
          {
            "node": "Build Cover Image Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Movers Sources": {
      "main": [
        [
          {
            "node": "Fetch Movers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Movers": {
      "main": [
        [
          {
            "node": "Aggregate Movers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Movers": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover File": {
      "main": [
        [
          {
            "node": "Gotenberg Cover",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gotenberg Cover": {
      "main": [
        [
          {
            "node": "Stash Cover",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Stash Cover": {
      "main": [
        [
          {
            "node": "Build Body Files",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Body Files": {
      "main": [
        [
          {
            "node": "Gotenberg Body",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gotenberg Body": {
      "main": [
        [
          {
            "node": "Assemble PDFs",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Assemble PDFs": {
      "main": [
        [
          {
            "node": "Gotenberg Merge",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gotenberg Merge": {
      "main": [
        [
          {
            "node": "Write PDF",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Write PDF": {
      "main": [
        [
          {
            "node": "Archive PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive PDF": {
      "main": [
        [
          {
            "node": "Name PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Name PDF": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        []
      ]
    },
    "Build Section Prompts": {
      "main": [
        [
          {
            "node": "Generate Section Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Section Images": {
      "main": [
        [
          {
            "node": "Collect Section Images",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Collect Section Images": {
      "main": [
        []
      ]
    }
  }
}
