workflows/core/defence-cyber.json
{
  "id": "jarvisDefenceB1",
  "name": "Jarvis · Cyber Defence Watch",
  "meta": {
    "jarvisModule": "defence-cyber",
    "jarvisVersion": "1.0.0",
    "intelligenceProduct": true,
    "description": "Weekly OSINT cyber-defence magazine for the Ministry of Defence, Kingdom of Saudi Arabia. Aggregates allied (US/UK/Five Eyes/NATO) and Middle East defence-cyber policy, capability, breaches and threat-actor reporting; the AI desk writes journalistic briefs plus a bespoke Implications for KSA MOD assessment; renders a designed magazine PDF (custom cover) and delivers it to Telegram.",
    "prompts": [
      "defence-cyber.analyst",
      "intelligence.cover-image",
      "system.jarvis-core"
    ],
    "envVars": [
      "DEFENCE_BRIEF_ENABLED",
      "DEFENCE_BRIEF_SCHEDULE_CRON",
      "DEFENCE_SECTION_IMAGES",
      "AI_PROVIDER",
      "TELEGRAM_BRIEF_CHAT_ID"
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "errorWorkflow": "Jarvis · Error Handler"
  },
  "nodes": [
    {
      "id": "schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "={{ $env.DEFENCE_BRIEF_SCHEDULE_CRON || '30 5 * * 1' }}"
            }
          ]
        }
      }
    },
    {
      "id": "gate",
      "name": "Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.DEFENCE_BRIEF_ENABLED || 'true' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "split",
      "name": "Load & Split Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nlet lines = [];\ntry { lines = fs.readFileSync('/config/defence-sources.txt','utf8').split(/\\r?\\n/); } catch (e) {}\nconst urls = lines.map(function(l){ return l.trim(); }).filter(function(l){ return l && l.charAt(0) !== '#'; });\nif (!urls.length) { return [{ json: { url: '' } }]; }\nreturn urls.map(function(u){ return { json: { url: u } }; });"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "fetch",
      "name": "Fetch Energy Sources",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        840,
        240
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Runs once per feed URL. Non-RSS or unreachable sources are skipped, not fatal."
    },
    {
      "id": "aggregate",
      "name": "Aggregate Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        240
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst arts = items.map(function(i){ return i.json; }).filter(function(a){ return a && (a.title || a.contentSnippet || a.content); });\nconst companies = [\n  ['Allied Policy', /\\bnato\\b|five eyes|\\bdod\\b|pentagon|cyber command|national cyber force|\\bncsc\\b|doctrine|strategy|policy|budget/i],\n  ['Capability & Tech', /capability|zero.?trust|\\bai\\b|artificial intelligence|quantum|procurement|weapon|command and control|\\bc2\\b/i],\n  ['Breaches', /breach|hacked|cyberattack|data stolen|ransomware|leak|compromis|supply chain/i],\n  ['Threat Actors', /\\bapt\\b|nation.?state|espionage|threat actor|state.sponsor|lazarus|sandworm|charming kitten|muddywater/i],\n  ['Middle East', /\\buae\\b|saudi|qatar|\\bgcc\\b|bahrain|kuwait|oman|israel|iran|egypt|jordan|turkey|t\\u00fcrkiye|gulf|middle east/i],\n  ['US', /\\bu\\.?s\\.?\\b|united states|america|pentagon|cisa/i],\n  ['UK', /\\buk\\b|britain|british|ncsc|gchq/i],\n  ['Critical Infra', /critical infrastructure|\\bics\\b|scada|\\bot\\b|energy grid|defense industrial/i],\n  ['Exercises & Policy', /exercise|wargame|summit|conference|legislation|regulation|framework/i],\n  ['Capability Programmes', /contract|programme|program|deploy|acquire|fielded|operational/i]\n];\nfunction detect(a){ var s=((a.title||'')+' '+(a.contentSnippet||a.content||'')).toString(); for(var i=0;i<companies.length;i++){ if(companies[i][1].test(s)) return companies[i][0]; } return 'Other'; }\nfunction getImg(a){ try { if(a.enclosure && a.enclosure.url) return a.enclosure.url; var mc=a['media:content']||a.mediaContent; if(mc){ if(Array.isArray(mc)) mc=mc[0]; if(mc){ if(mc.url) return mc.url; if(mc['$'] && mc['$'].url) return mc['$'].url; } } var mt=a['media:thumbnail']||a.mediaThumbnail; if(mt){ if(Array.isArray(mt)) mt=mt[0]; if(mt){ if(mt.url) return mt.url; if(mt['$'] && mt['$'].url) return mt['$'].url; } } var c=(a.content||a['content:encoded']||'').toString(); var m=c.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i); if(m) return m[1]; } catch(e){} return ''; }\nfunction fmt(a){ var t=(a.title||'').toString(); var s=(a.contentSnippet||a.content||'').toString().replace(/\\s+/g,' ').slice(0,200); var u=(a.link||a.url||'').toString(); var im=getImg(a); return '- ' + t + ' — ' + s + ' (' + u + ')' + (im?(' IMG='+im):''); }\nvar buckets={};\narts.forEach(function(a){ var k=detect(a); (buckets[k]=buckets[k]||[]).push(a); });\nvar order=Object.keys(buckets);\nvar perCompany=4; var lines=[];\nfor(var r=0;r<perCompany;r++){ for(var c=0;c<order.length;c++){ var arr=buckets[order[c]]; if(arr[r]){ lines.push('['+order[c]+'] '+fmt(arr[r])); } } }\nvar text = lines.length ? lines.join('\\n') : 'No source articles were retrieved this period.';\nvar previous='';\ntry {\n  var fs=require('fs'); var dir='/reports/archive/defence-cyber';\n  var today=new Date().toISOString().slice(0,10);\n  var files=fs.readdirSync(dir).filter(function(fn){ return /defence-cyber-\\d{4}-\\d{2}-\\d{2}\\.json$/.test(fn) && fn.indexOf(today)===-1; }).sort();\n  if(files.length){\n    var prev=JSON.parse(fs.readFileSync(dir+'/'+files[files.length-1],'utf8'));\n    var ple=[];\n    ['policy','capability','regional'].forEach(function(sec){ (prev[sec]||[]).forEach(function(row){ ple.push('- '+(row.name||'')+': '+((row.what||row.focus||row.why||'').toString().slice(0,140))); }); });\n    previous='From '+files[files.length-1].replace('defence-cyber-','').replace('.json','')+':\\n'+ple.join('\\n');\n  }\n} catch(e){ previous=''; }\nreturn [{ json: { articles: text, count: arts.length, date: new Date().toISOString().slice(0,10), previous: previous } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "analyst-ollama",
      "name": "AI Analyst (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.3, \"num_predict\": 8500, \"num_ctx\": 12288 },\n  \"messages\": [\n    {\"role\":\"system\",\"content\":\"You are the lead analyst of 'Cyber Defence Watch', a weekly OPEN-SOURCE intelligence magazine prepared for the Ministry of Defence, Kingdom of Saudi Arabia. Write like an experienced defence-intelligence journalist: every item is a short article with a punchy HEADLINE and an engaging 2-4 sentence SUMMARY in flowing prose explaining what happened and why it matters to a national defence ministry — never bullet labels. Use ONLY facts found in the provided open-source digests; never invent organisations, programmes, vendors, names, numbers, URLs or quotes, and never imply access to classified material. For every item based on a specific article include a url copied VERBATIM from the parentheses in the digest, and set image to the IMG= URL from that digest line when present (else ''). Output a SINGLE valid JSON object and nothing else. Keys: weekOf; intro (a 2-3 paragraph EXECUTIVE SUMMARY, about 8-12 sentences, separated by single newline characters, sober and authoritative); weekOverWeek (1-2 sentences or ''); snapshot (object {summary, metrics (up to 4 of {name,value,note}), outlook}); feature (the marquee FEATURED ANALYSIS: object {headline, deck, pullquote, body (3-5 short paragraphs separated by single newlines), takeaways (2-4 strings), source, url, image}); policy (3-4 items {headline, summary, source, url, image}) on ALLIED POLICY & CAPABILITY changes in the US, UK, Five Eyes and NATO (strategy, doctrine, budgets, commands); capability (3-4 items {headline, summary, source, url, image}) on GLOBAL CAPABILITY & TECHNOLOGY (AI, quantum, zero-trust, procurement, programmes); regional (3-4 items {headline, summary, source, url, image}) on MIDDLE EAST DEFENCE CYBER (Gulf/Saudi/UAE/Qatar, Israel, Iran, Egypt, Jordan, Turkiye); breaches (3-4 items {headline, summary, source, url, image}) on DEFENCE-IMPACTING BREACHES & INCIDENTS (contractors, military, critical national infrastructure, supply chain); actors (3-4 items {headline, summary, source, url, image}) on THREAT ACTORS / nation-state APTs targeting defence, especially those relevant to the region; implications (3-5 objects {point, detail}) — the bespoke IMPLICATIONS FOR KSA MOD: each a concise assessment with a clear recommended action or watch-point for Saudi defence leaders, grounded in this week's items; bonus (object {title, body} of 3 short paragraphs of editorial assessment); byTheNumbers (object {value,label,note}); glossary (object {term, definition} in plain English); diary (array up to 4 {date, event} of key upcoming defence-cyber dates such as exercises, summits or deadlines); and section intros policyIntro, capabilityIntro, regionalIntro, breachesIntro, actorsIntro, implicationsIntro (1-2 sentences each). Base every item strictly on the digests; if a section has little material include fewer items rather than inventing. Prefer items whose digest entry includes an IMG= URL so the magazine has photographs. Keep each summary tight (2-4 sentences) so the COMPLETE JSON returns without truncation. Do NOT use markdown code fences; begin with { and end with }. Output ONLY the JSON object.\"},\n    {\"role\":\"user\",\"content\": {{ JSON.stringify('DEFENCE CYBER NEWS DIGEST (allied & global) for ' + ($json.date||'') + ' (' + ($json.count||0) + ' items):\\n' + ($json.articles||'') + '\\n\\nREGIONAL & THREAT DIGEST (' + ($json.moversCount||0) + ' items):\\n' + ($json.moversDigest||'None retrieved.') + '\\n\\nPREVIOUS EDITION SUMMARY:\\n' + ($json.previous||'No previous edition available.')) }} }\n  ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "cover-prompt",
      "name": "Build Cover Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet md = '';\nif (j.message && j.message.content) { md = j.message.content; }\nelse if (j.content && j.content[0] && j.content[0].text) { md = j.content[0].text; }\nelse if (typeof j.markdown === 'string') { md = j.markdown; }\nmd = md || '';\nconst top = md.split(/\\n/).filter(function(l){ return /defen[cs]e|military|nato|cyber|policy|capability|breach|threat|apt/i.test(l); }).slice(0,4).join('; ') || 'global cyber-defence developments this week';\nconst style = 'Sober, cinematic cyber-defence magazine cover artwork, vertical portrait. A national cyber-defence command and operations centre at night: analysts silhouetted (no visible faces) before vast situational-awareness screens, a glowing world map with secure network arcs, abstract digital shields. Deep navy, steel and electric-blue palette, serious and authoritative, premium. Keep the LEFT THIRD darker and uncluttered for text overlay. NO text, NO words, NO logos, NO flags, NO insignia, NO readable code, NO watermark.';\nreturn [{ json: { markdown: md || 'No data available for this period.', date: new Date().toISOString().slice(0,10), coverPrompt: style + ' Visual theme inspired by: ' + top } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "cover-image",
      "name": "Generate Cover (Image Provider)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL || 'https://api.openai.com/v1' }}/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.IMAGE_MODEL || 'gpt-image-1' }}\",\n  \"prompt\": {{ JSON.stringify($json.coverPrompt) }},\n  \"size\": \"{{ $env.IMAGE_SIZE || '1024x1536' }}\",\n  \"n\": 1\n}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Optional cover via Image Provider Abstraction. Dead-end side branch: failure (e.g. no API key) never affects the brief."
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "let raw = ($json && $json.markdown) || '';\nfunction tryParse(s){ try { return JSON.parse(s); } catch(e){ return null; } }\nfunction repair(s){ var i0=s.indexOf('{'); if(i0<0) return null; s=s.slice(i0); var stack=[],inStr=false,esc=false,cut=-1,cutStack=null; for(var i=0;i<s.length;i++){ var ch=s[i]; if(esc){esc=false;continue;} if(ch==='\\\\'){esc=true;continue;} if(ch==='\"'){inStr=!inStr;continue;} if(inStr)continue; if(ch==='{'||ch==='['){stack.push(ch);} else if(ch==='}'||ch===']'){stack.pop(); cut=i+1; cutStack=stack.slice();} } if(cut<0) return null; var out=s.slice(0,cut); for(var k=cutStack.length-1;k>=0;k--){ out += cutStack[k]==='{' ? '}' : ']'; } return out; }\nvar cleaned = raw.replace(/^﻿/,'').trim().replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'').trim();\nvar data = tryParse(cleaned);\nif(!data){ var m = cleaned.match(/\\{[\\s\\S]*\\}/); if(m) data = tryParse(m[0]); }\nif(!data){ var rep = repair(cleaned); if(rep) data = tryParse(rep); }\n// embed remote article images as data URIs (reliable in the PDF engine)\nasync function embedImg(o){ if(!o) return; var im=(o.image||'').toString(); if(!/^https?:\\/\\//i.test(im)) return; try{ var r=await this.helpers.httpRequest({ method:'GET', url:im, encoding:'arraybuffer', returnFullResponse:true, timeout:15000, headers:{ 'User-Agent':'Mozilla/5.0 (compatible; JarvisBrief/1.0)','Accept':'image/avif,image/webp,image/*,*/*' } }); var ct=((r&&r.headers&&(r.headers['content-type']||r.headers['Content-Type']))||'').toString().split(';')[0].trim().toLowerCase(); var buf=Buffer.isBuffer(r.body)?r.body:Buffer.from(r.body||''); if(/^image\\/(jpeg|jpg|png|gif|webp)$/.test(ct) && buf.length>200 && buf.length<4500000){ o.image='data:'+ct+';base64,'+buf.toString('base64'); } else { o.image=''; } }catch(e){ o.image=''; } }\nif(data){ var _imgs=[]; if(data.feature) _imgs.push(data.feature); ['breaches','policy','capability','regional','actors'].forEach(function(k){ if(Array.isArray(data[k])) _imgs=_imgs.concat(data[k]); }); for(var _ii=0;_ii<_imgs.length;_ii++){ await embedImg.call(this,_imgs[_ii]); } }\nconst date = ($json && $json.date) || new Date().toISOString().slice(0,10);\nconst fs = require('fs');\nfunction fileUri(base){ var t=[['/config/branding/'+base+'.png','image/png'],['/config/branding/'+base+'.jpg','image/jpeg'],['/config/branding/'+base+'.jpeg','image/jpeg']]; for(var i=0;i<t.length;i++){ try { return 'data:'+t[i][1]+';base64,'+fs.readFileSync(t[i][0]).toString('base64'); } catch(e){} } return ''; }\nconst cover=fileUri('cyber-cover')||fileUri('cover'), banner=fileUri('cyber-banner')||fileUri('banner'), avatar=fileUri('jarvis-avatar');\nlet hero=''; try { var hb=$('Generate Cover (Image Provider)').first().json.data[0].b64_json; if(hb) hero='data:image/png;base64,'+hb; } catch(e){ hero=''; }\nif(!hero){ hero = fileUri('cyber-hero') || fileUri('hero') || cover || banner; }\nvar SECIMG={}; try{ SECIMG=$('Collect Section Images').first().json.sectionImages||{}; }catch(e){ SECIMG={}; }\nfunction ord(n){ var s=['th','st','nd','rd'], v=n%100; return n+(s[(v-20)%10]||s[v]||s[0]); }\nfunction prettyDate(d){ try { var p=(d||'').split('-'); var dt=new Date(Number(p[0]),Number(p[1])-1,Number(p[2])); var M=['January','February','March','April','May','June','July','August','September','October','November','December']; return M[dt.getMonth()]+' '+ord(dt.getDate())+' '+dt.getFullYear(); } catch(e){ return d; } }\nconst dateStr=prettyDate(date), weekOf=(data&&data.weekOf)?data.weekOf:dateStr;\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\n\nvar BCSS='*{box-sizing:border-box} body{margin:0;font-family:-apple-system,\"Segoe UI\",Arial,sans-serif;color:#11151c;font-size:14px;line-height:1.55} '\n + '.wrap{padding:22px 40px 10px} '\n + '.lead{font-size:16px;line-height:1.75;margin:0 0 4px} .lead .dc{float:left;font-family:Georgia,serif;font-size:56px;line-height:44px;padding:6px 12px 0 0;color:#2E9BE6;font-weight:700} '\n + '.callout{background:#EAF4FC;border-left:4px solid #2E9BE6;padding:12px 16px;margin:18px 0;font-size:14px} '\n + '.sec{page-break-before:avoid;margin:0 0 4px} '\n + 'h2.h{font-family:Georgia,serif;font-size:21px;color:#0A1A2F;margin:6px 0 12px;padding-bottom:8px;border-bottom:2px solid #0A1A2F} '\n + 'h2.h .kick{display:block;font-family:Arial;font-size:10.5px;letter-spacing:2px;color:#2E9BE6;text-transform:uppercase;margin-bottom:3px;font-weight:700} '\n + '.feature{border:1px solid #E2E6EC;border-radius:8px;overflow:hidden;margin:16px 0;page-break-inside:avoid} '\n + '.feature .ph{height:190px;background-size:cover;background-position:center;background-color:#0A1A2F} .feature .fb{padding:14px 18px} '\n + '.feature h3{font-family:Georgia,serif;font-size:18px;color:#0A1A2F;margin:0 0 7px;line-height:1.3} .feature p{margin:0 0 9px;font-size:14px;line-height:1.62;color:#2b3340} .feature a{color:#2E9BE6;text-decoration:none;font-size:12.5px;font-weight:700} '\n + '.co{border:1px solid #E2E6EC;border-radius:8px;margin:14px 0;page-break-inside:avoid;overflow:hidden} .co .hd{background:#0A1A2F;color:#fff;padding:9px 14px;font-family:Georgia,serif;font-size:16px;font-weight:700} .co .bd{padding:8px 16px} .co .row{margin:7px 0;font-size:13.5px;line-height:1.5} .co .row .lab{display:inline-block;min-width:120px;padding-right:10px;color:#0A1A2F;font-weight:700;vertical-align:top} '\n + 'table.mv{width:100%;border-collapse:collapse;font-size:13px;margin:8px 0} table.mv th{background:#0A1A2F;color:#fff;text-align:left;padding:8px;font-size:11.5px} table.mv td{padding:8px;border-bottom:1px solid #E2E6EC;vertical-align:top} table.mv tr:nth-child(even) td{background:#F4F6F9} '\n + '.bonus p{font-size:14px;line-height:1.72;margin:0 0 10px} .secintro{font-size:13.5px;line-height:1.62;color:#3a4452;margin:0 0 14px;font-style:italic} '\n + '.metrics{display:flex;flex-wrap:wrap;gap:10px;margin:8px 0 14px} .metric{flex:1 1 0;min-width:118px;border:1px solid #E2E6EC;border-radius:8px;padding:10px 12px;background:#F4F8FC} .metric .nm{font-size:10px;color:#5A6472;text-transform:uppercase;letter-spacing:.6px} .metric .vl{font-family:Georgia,serif;font-size:19px;font-weight:700;color:#0A1A2F;margin:4px 0 2px} .metric .ch{font-size:11.5px;font-weight:700} '\n + '.bf{border:1px solid #E2E6EC;border-radius:8px;overflow:hidden;margin:6px 0 0} .bf .bfimg{height:240px;background-size:cover;background-position:center;background-color:#0A1A2F} .bf .bfb{padding:16px 20px} .bf .bfdeck{font-family:Georgia,serif;font-style:italic;font-size:16px;color:#0A1A2F;margin:0 0 10px} .bf .bftext p{margin:0 0 10px;font-size:14px;line-height:1.65;color:#2b3340} .bf .tk{background:#EAF4FC;border-radius:6px;padding:10px 14px;margin:6px 0 10px} .bf .tk .tkh{font-weight:700;color:#0A1A2F;font-size:13px;margin-bottom:4px} .bf .tk ul{margin:0;padding-left:18px} .bf .tk li{font-size:13px;line-height:1.5;margin:3px 0} .bf a{color:#2E9BE6;text-decoration:none;font-weight:700;font-size:12.5px} .bf .src{color:#5A6472;font-size:12.5px} '\n + '.tips{margin:8px 0;padding-left:20px} .tips li{font-size:13.5px;line-height:1.6;margin:8px 0} .tips li b{color:#0A1A2F} .sechero{height:155px;border-radius:8px;overflow:hidden;background-size:cover;background-position:center;background-color:#0A1A2F;position:relative;margin:0 0 16px;page-break-inside:avoid} .sechero .shg{position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(0deg,rgba(10,26,47,.93),rgba(10,26,47,.12))} .sechero .sht{position:absolute;left:18px;bottom:14px;right:18px} .sechero .shk{font-size:11px;letter-spacing:2px;font-weight:700;color:#7cc2f2;text-transform:uppercase} .sechero .shttl{font-family:Georgia,serif;font-size:25px;font-weight:700;color:#fff;line-height:1.1;margin-top:2px} .secband{background:linear-gradient(90deg,#0A1A2F,#173a5e);color:#fff;border-radius:6px;padding:11px 16px;margin:22px 0 14px;page-break-after:avoid;page-break-inside:avoid} .secband .bk{font-size:10px;letter-spacing:2px;color:#7cc2f2;font-weight:800;text-transform:uppercase} .secband .bt{font-family:Georgia,serif;font-size:19px;font-weight:700;display:block;margin-top:2px} .cols{column-count:2;column-gap:26px} .cols p{margin:0 0 10px} .pull{font-family:Georgia,serif;font-style:italic;font-size:18px;line-height:1.4;color:#0A1A2F;border-top:2px solid #2E9BE6;border-bottom:2px solid #2E9BE6;padding:11px 0;margin:4px 0 14px;text-align:center} .grid{display:grid;grid-template-columns:1fr 1fr;gap:14px} .grid .co{margin:0} .rail{float:right;width:42%;margin:2px 0 14px 20px;background:#F4F8FC;border:1px solid #E2E6EC;border-left:4px solid #2E9BE6;border-radius:6px;padding:12px 14px;page-break-inside:avoid} .rail .rk{font-size:10px;letter-spacing:2px;font-weight:800;color:#2E9BE6;text-transform:uppercase} .rail .rt{font-family:Georgia,serif;font-size:17px;color:#0A1A2F;margin:5px 0 6px;line-height:1.2} .rail .rd{font-size:12.5px;color:#2b3340;line-height:1.5} .rail .rbig{font-family:Georgia,serif;font-size:34px;font-weight:700;color:#2E9BE6;line-height:1;margin-top:4px} .diary{border:1px solid #E2E6EC;border-radius:8px;overflow:hidden;margin:14px 0;page-break-inside:avoid} .diary .dh{background:#0A1A2F;color:#fff;padding:8px 14px;font-family:Georgia,serif;font-weight:700} .diary table{width:100%;border-collapse:collapse} .diary td{padding:8px 14px;border-top:1px solid #EEF1F5;font-size:13px;vertical-align:top} .diary td.dt{white-space:nowrap;color:#2E9BE6;font-weight:700} .clear{clear:both} .brief{padding:15px 0;border-top:1px solid #E6EAF0;page-break-inside:avoid} .brief.first{border-top:0} .brief h3{font-family:Georgia,serif;font-size:17px;color:#0A1A2F;margin:0 0 5px;line-height:1.28} .brief h3 a{color:#0A1A2F;text-decoration:none} .brief .meta{font-size:11px;letter-spacing:.4px;color:#5A6472;text-transform:uppercase;font-weight:700;margin:0 0 6px} .brief p{margin:0 0 8px;font-size:13.5px;line-height:1.62;color:#2b3340} .brief .more{color:#2E9BE6;text-decoration:none;font-weight:700;font-size:12.5px} .brief .src{color:#5A6472;font-size:12px} .brief .bph{float:right;width:160px;height:104px;background-size:cover;background-position:center;border-radius:6px;margin:1px 0 8px 18px;background-color:#0A1A2F} .brief .tag{display:inline-block;background:#EAF4FC;color:#1f6fc4;font-size:9.5px;font-weight:800;letter-spacing:.5px;padding:2px 9px;border-radius:10px;margin-left:8px;vertical-align:middle;text-transform:uppercase} .refn{color:#2E9BE6;font-size:9px;font-weight:700;vertical-align:super;margin-left:2px} .refs{font-size:12px;line-height:1.5;color:#2b3340;padding-left:22px;margin:6px 0} .refs li{margin:9px 0;page-break-inside:avoid} .refs .rt{font-weight:700;color:#0A1A2F} .refs a{color:#2E9BE6;text-decoration:none;word-break:break-all} ';\n\nvar REFS=[]; function refMark(title,source,url){ if(!url || !/^https?:\\/\\//.test(String(url))) return ''; REFS.push({n:REFS.length+1,title:title,source:source||'',url:url}); return '<sup class=\"refn\">['+REFS.length+']</sup>'; }\nfunction refsSection(){ if(!REFS.length) return ''; var items=REFS.map(function(x){ return '<li><span class=\"rt\">'+esc(x.title)+'</span>'+(x.source?(' — '+esc(x.source)):'')+'<br><a href=\"'+x.url+'\">'+esc(x.url)+'</a></li>'; }).join(''); return secH('Verify','References & Sources')+'<p class=\"secintro\">Every item in this issue is drawn from public sources — follow the links to verify.</p><ol class=\"refs\">'+items+'</ol></div>'; }\nfunction secH(kick,title,first){ return '<div class=\"sec'+(first?' first':'')+'\"><div class=\"secband\"><span class=\"bk\">'+esc(kick)+'</span><span class=\"bt\">'+esc(title)+'</span></div>'; }\nfunction secHero(kick,title,key){ var img=SECIMG[key]; if(!img) return secH(kick,title); return '<div class=\"sec\"><div class=\"sechero\" style=\"background-image:url('+img+')\"><div class=\"shg\"></div><div class=\"sht\"><div class=\"shk\">'+esc(kick)+'</div><div class=\"shttl\">'+esc(title)+'</div></div></div>'; }\nfunction lead(t){ t=(t||'').toString().trim(); if(!t)return''; var parts=t.split(/\\n+/).map(function(x){return x.trim();}).filter(function(x){return x;}); if(!parts.length)return''; var h='<p class=\"lead\"><span class=\"dc\">'+esc(parts[0].charAt(0))+'</span>'+esc(parts[0].slice(1))+'</p>'; for(var i=1;i<parts.length;i++){ h+='<p class=\"lead\" style=\"margin-top:10px\">'+esc(parts[i])+'</p>'; } return h; }\nfunction secIntro(t){ t=(t==null?'':String(t)).trim(); if(!t)return''; return '<p class=\"secintro\">'+esc(t)+'</p>'; }\nfunction feature(s){ var im=(s.image||'').toString(); var ph=(/^https?:\\/\\//.test(im)||im.indexOf('data:')===0)?'<div class=\"ph\" style=\"background-image:url('+im+')\"></div>':''; var u=(s.url||'').toString(); var hd=/^https?:\\/\\//.test(u)?('<a href=\"'+u+'\" style=\"color:#0A1A2F;text-decoration:none\">'+esc(s.headline)+'</a>'):esc(s.headline); var mark=refMark(s.headline,s.source,s.url); var src=(s.source||'').toString(); var link=/^https?:\\/\\//.test(u)?('<a href=\"'+u+'\">Read the full story &rsaquo;</a>'):(src?'<span style=\"color:#5A6472;font-size:12.5px\">Source: '+esc(src)+'</span>':''); return '<div class=\"feature\">'+ph+'<div class=\"fb\"><h3>'+hd+mark+'</h3><p>'+esc(s.story)+'</p>'+link+'</div></div>'; }\nfunction card(title,pairs,ref){ var mark=ref?refMark(title,ref.source,ref.url):''; var b=pairs.map(function(p){ var v=p[1]; var cell; if(v && typeof v==='object'){ if(!v.url && !v.text) return ''; cell=(v.url&&/^https?:\\/\\//.test(v.url))?('<a href=\"'+v.url+'\" style=\"color:#2E9BE6;text-decoration:none\">'+esc(v.text||v.url)+'</a>'):esc(v.text||''); } else { v=(v==null||v==='')?'Not specified':v; cell=/^https?:\\/\\//.test(String(v))?('<a href=\"'+v+'\" style=\"color:#2E9BE6;text-decoration:none\">'+esc(v)+'</a>'):esc(v); } return '<div class=\"row\"><span class=\"lab\">'+esc(p[0])+'</span>'+cell+'</div>'; }).join(''); return '<div class=\"co\"><div class=\"hd\">'+esc(title)+mark+'</div><div class=\"bd\">'+b+'</div></div>'; }\nfunction brief(it,meta){ var im=(it.image||'').toString(); var hasImg=(/^https?:\\/\\//.test(im)||im.indexOf('data:')===0); var u=(it.url||'').toString(); var ttl=esc(it.headline||it.name||''); var hd=/^https?:\\/\\//.test(u)?('<a href=\"'+u+'\">'+ttl+'</a>'):ttl; var mark=refMark(it.headline||it.name||'',it.source,it.url); var tag=it.demand?('<span class=\"tag\">'+esc(it.demand)+'</span>'):''; var src=(it.source||'').toString(); var link=/^https?:\\/\\//.test(u)?('<a class=\"more\" href=\"'+u+'\">Read the full story &rsaquo;</a>'):(src?'<span class=\"src\">Source: '+esc(src)+'</span>':''); var ph=hasImg?('<div class=\"bph\" style=\"background-image:url('+im+')\"></div>'):''; var m=meta?('<div class=\"meta\">'+esc(meta)+'</div>'):''; return '<article class=\"brief\">'+ph+'<h3>'+hd+mark+tag+'</h3>'+m+'<p>'+esc(it.summary||it.story||it.what||'')+'</p>'+link+'</article>'; }\nfunction snapshot(s){ if(!s)return''; var ms=s.metrics||[]; var cards=ms.map(function(p){ return '<div class=\"metric\"><div class=\"nm\">'+esc(p.name)+'</div><div class=\"vl\">'+esc(p.value||'—')+'</div>'+(p.note?('<div class=\"ch\" style=\"color:#5A6472\">'+esc(p.note)+'</div>'):'')+'</div>'; }).join(''); var h=''; if(cards)h+='<div class=\"metrics\">'+cards+'</div>'; if(s.outlook)h+='<div class=\"callout\"><b>Outlook:</b> '+esc(s.outlook)+'</div>'; return h; }\nfunction bigFeature(f){ if(!f)return''; var im=(f.image||'').toString(); var ph=(/^https?:\\/\\//.test(im)||im.indexOf('data:')===0)?'<div class=\"bfimg\" style=\"background-image:url('+im+')\"></div>':''; var body=(f.body?String(f.body).split(/\\n+/).map(function(p){return p.trim();}).filter(function(p){return p;}).map(function(p){return '<p>'+esc(p)+'</p>';}).join(''):''); var tk=(f.takeaways&&f.takeaways.length)?('<div class=\"tk\"><div class=\"tkh\">Key takeaways</div><ul>'+f.takeaways.map(function(t){return '<li>'+esc(t)+'</li>';}).join('')+'</ul></div>'):''; var u=(f.url||'').toString(); var mark=refMark(f.headline,f.source,f.url); var hd=/^https?:\\/\\//.test(u)?('<a href=\"'+u+'\" style=\"color:#0A1A2F;text-decoration:none\">'+esc(f.headline)+'</a>'):esc(f.headline); var src=(f.source||'').toString(); var link=/^https?:\\/\\//.test(u)?('<a href=\"'+u+'\">Read the full story &rsaquo;</a>'):(src?'<span class=\"src\">Source: '+esc(src)+'</span>':''); return '<div class=\"bf\">'+ph+'<div class=\"bfb\">'+(f.headline?'<h3 style=\"font-family:Georgia,serif;font-size:20px;color:#0A1A2F;margin:0 0 6px\">'+hd+mark+'</h3>':'')+(f.deck?'<div class=\"bfdeck\">'+esc(f.deck)+'</div>':'')+(f.pullquote?'<blockquote class=\"pull\">&ldquo;'+esc(f.pullquote)+'&rdquo;</blockquote>':'')+'<div class=\"bftext cols\">'+body+'</div>'+tk+link+'</div></div>'; }\nfunction tips(arr){ if(!arr||!arr.length)return ''; return '<ol class=\"tips\">'+arr.map(function(t){ if(typeof t==='string') return '<li>'+esc(t)+'</li>'; return '<li><b>'+esc(t.tip||t.title||'')+'</b>'+(t.detail?(' &mdash; '+esc(t.detail)):'')+'</li>'; }).join('')+'</ol>'; }\n\nfunction rail(kick,big,title,desc){ return '<aside class=\"rail\"><div class=\"rk\">'+esc(kick)+'</div>'+(big?'<div class=\"rbig\">'+esc(big)+'</div>':'')+(title?'<div class=\"rt\">'+esc(title)+'</div>':'')+(desc?'<div class=\"rd\">'+esc(desc)+'</div>':'')+'</aside>'; }\nfunction diaryBox(arr){ if(!arr||!arr.length)return''; var rows=arr.map(function(d){ return '<tr><td class=\"dt\">'+esc(d.date||'')+'</td><td>'+esc(d.event||d.title||'')+'</td></tr>'; }).join(''); return '<div class=\"diary\"><div class=\"dh\">Diary &mdash; Key Dates &amp; Deadlines</div><table>'+rows+'</table></div>'; }\nfunction bodyInner(){\n  if(!data){ return '<div class=\"wrap\"><div class=\"callout\" style=\"background:#FDECEC;border-color:#B02525\">The editor did not return structured data this run. Raw output below.</div><pre style=\"white-space:pre-wrap;font-size:12px\">'+esc(raw)+'</pre></div>'; }\n  var bonus=data.bonus||{}, feats=data.breaches||[];\n  var heroBand = hero ? ('<div style=\"height:215px;background:#0A1A2F url('+hero+') center/cover no-repeat;border-radius:8px;position:relative;overflow:hidden;margin:0 0 20px\"><div style=\"position:absolute;left:0;right:0;bottom:0;padding:18px 20px 14px;background:linear-gradient(0deg,rgba(10,26,47,.9),rgba(10,26,47,0))\"><div style=\"font-family:Georgia,serif;font-size:24px;font-weight:700;color:#fff;line-height:1.15\">Cyber Defence Watch</div><div style=\"font-size:13px;color:#CFE3F5;margin-top:3px;letter-spacing:.5px\">Global Cyber-Defence Intelligence &middot; '+esc(dateStr)+'</div></div></div>') : '';\n  var signoff=avatar?('<div style=\"text-align:center;padding:22px 0 6px;border-top:3px solid #2E9BE6;margin-top:22px\"><img src=\"'+avatar+'\" style=\"width:96px;height:96px;border-radius:50%;border:2px solid #2E9BE6\"/><div style=\"font-family:Georgia,serif;color:#0A1A2F;margin-top:8px;font-size:14px\">Jarvis &mdash; Cyber Defence Desk</div></div>'):'';\n  var h='<div class=\"wrap\">';\n  var _btn=data.byTheNumbers||(data.snapshot&&data.snapshot.metrics&&data.snapshot.metrics[0]?{value:data.snapshot.metrics[0].value,label:data.snapshot.metrics[0].name,note:data.snapshot.metrics[0].note}:null);\n  h+='<div class=\"sec first\">'+heroBand+(_btn?rail('By the numbers',_btn.value||'',_btn.label||'',_btn.note||''):'')+lead(data.intro)+(data.weekOverWeek?('<div class=\"callout\"><b>What changed since last edition:</b> '+esc(data.weekOverWeek)+'</div>'):'')+'<div class=\"clear\"></div></div>';\n  if(data.snapshot){ h+=secHero('Snapshot','At a Glance','snapshot')+secIntro(data.snapshot.summary)+snapshot(data.snapshot)+'</div>'; }\n  if(data.feature){ h+=secHero('Featured','Featured Analysis','feature')+bigFeature(data.feature)+'</div>'; }\n  if(data.policy && data.policy.length){ h+=secHero('Allied','Policy & Capability — US · UK · Five Eyes · NATO','policy')+secIntro(data.policyIntro)+data.policy.map(function(t){return brief({headline:t.headline||t.name,summary:t.summary,source:t.source,url:t.url,image:t.image});}).join('')+'</div>'; }\n  if(data.capability && data.capability.length){ h+=secHero('Capability','Global Capability & Technology Watch','capability')+secIntro(data.capabilityIntro)+data.capability.map(function(t){return brief({headline:t.headline||t.name,summary:t.summary,source:t.source,url:t.url,image:t.image});}).join('')+diaryBox(data.diary)+'</div>'; }\n  if(data.regional && data.regional.length){ h+=secHero('Regional','Middle East Defence Cyber','regional')+secIntro(data.regionalIntro)+data.regional.map(function(t){return brief({headline:t.headline||t.name,summary:t.summary,source:t.source,url:t.url,image:t.image});}).join('')+'</div>'; }\n  if(data.implications && data.implications.length){ h+=secHero('Assessment','Implications for KSA MOD','implications')+secIntro(data.implicationsIntro)+((data.glossary&&data.glossary.term)?rail('Jargon buster','',data.glossary.term,data.glossary.definition):'')+tips(data.implications.map(function(x){return {tip:x.point||x.tip,detail:x.detail};}))+'<div class=\"clear\"></div></div>'; }\n  if(data.actors && data.actors.length){ h+=secHero('Threat','Threat Actors Targeting Defence','actors')+secIntro(data.actorsIntro)+data.actors.map(function(t){return brief({headline:t.headline||t.name,summary:t.summary,source:t.source,url:t.url,image:t.image});}).join('')+'</div>'; }\n  if(feats.length){ h+=secHero('Breaches','Defence-Impacting Breaches & Incidents','breaches')+secIntro(data.breachesIntro)+feats.map(function(s){return brief({headline:s.headline||s.name,summary:s.summary||s.story,source:s.source,url:s.url,image:s.image});}).join('')+'</div>'; }\n  h+=secH('Analysis','Editor’s Assessment'+(bonus.title?': '+esc(bonus.title):''))+'<div class=\"bonus\">'+(bonus.body?esc(bonus.body).split('\\n').map(function(p){return '<p>'+p+'</p>';}).join(''):'')+'</div>'+signoff+'</div>';\n  h+=refsSection();\n  h+='</div>'; return h;\n}\n\n// ----- custom designed magazine cover (regenerated per issue) -----\nvar coverBg = hero || cover || '';\nvar monthYear=''; try{ var _p=(date||'').split('-'); var _M=['JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER']; monthYear=_M[Number(_p[1])-1]+' '+_p[0]; }catch(e){ monthYear=dateStr; }\nvar issueNo=1; try{ var _af=fs.readdirSync('/reports/archive/defence-cyber').filter(function(fn){ return /defence-cyber-\\d{4}-\\d{2}-\\d{2}\\.json$/.test(fn); }); issueNo=_af.length+1; }catch(e){}\nfunction _pad2(n){ return (n<10?'0':'')+n; }\nfunction _clip(s,n){ s=(s==null?'':String(s)); s=s.replace(/\\s+/g,' ').trim(); return s.length>n ? s.slice(0,n-1).replace(/\\s+\\S*$/,'')+'…' : s; }\nvar _cd=(data||{});\nvar _blurb=_clip((_cd.feature&&_cd.feature.deck) || (_cd.intro?_cd.intro.split(/\\n/)[0]:'') || 'Insights, training and awareness for the evolving threat landscape.',150);\nvar _pol=(_cd.policy||[]), _reg=(_cd.regional||[]), _imp=(_cd.implications||[]), _tt=(_cd.capability||[]);\nvar _IC={\n target:'<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#2E9BE6\" stroke-width=\"1.6\"><circle cx=\"12\" cy=\"12\" r=\"8\"/><circle cx=\"12\" cy=\"12\" r=\"3\"/><path d=\"M12 1v3M12 20v3M1 12h3M20 12h3\"/></svg>',\n cap:'<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#2E9BE6\" stroke-width=\"1.6\"><path d=\"M2 9l10-5 10 5-10 5z\"/><path d=\"M6 11v5c0 1 3 3 6 3s6-2 6-3v-5\"/></svg>',\n alert:'<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#2E9BE6\" stroke-width=\"1.6\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M12 8v5M12 16v.4\"/></svg>',\n shield:'<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#2E9BE6\" stroke-width=\"1.6\"><path d=\"M12 2l8 3v6c0 5-3.5 8-8 11-4.5-3-8-6-8-11V5z\"/></svg>'\n};\nfunction _bul(ic,k,d){ return '<div class=\"bul\"><div class=\"ic\">'+ic+'</div><div class=\"tx\"><div class=\"k\">'+esc(k)+'</div><div class=\"d\">'+esc(d)+'</div></div></div>'; }\nvar _bullets =\n  _bul(_IC.target,'ALLIED POSTURE', _clip((_pol[0]&&(_pol[0].headline||_pol[0].name))||'US, UK, Five Eyes & NATO policy and capability moves',76)) +\n  _bul(_IC.cap,'REGIONAL WATCH', _reg.length?_clip((_reg[0].headline||_reg[0].name),74):'Middle East MOD cyber developments') +\n  _bul(_IC.alert,'BREACH WATCH', _clip((_cd.breaches&&_cd.breaches[0]&&(_cd.breaches[0].headline||_cd.breaches[0].name))||'Breaches impacting the defence sector this week',74)) +\n  _bul(_IC.shield,'FOR KSA MOD', _clip((_imp[0]&&(_imp[0].point||_imp[0].tip))||'Assessment and recommended actions',74));\nfunction _ins(k,d){ return '<div class=\"it\"><div class=\"k\">'+esc(k)+'</div><div class=\"d\">'+esc(d)+'</div></div>'; }\nvar _insideRow = _ins('FEATURED ANALYSIS', _clip((_cd.feature&&_cd.feature.headline)||'This week in cyber defence',32))+_ins('ALLIED POLICY', _clip((_pol[0]&&(_pol[0].headline||_pol[0].name))||'US · UK · Five Eyes · NATO',30))+_ins('THREAT ACTORS', _clip((_cd.actors&&_cd.actors[0]&&(_cd.actors[0].headline||_cd.actors[0].name))||'APTs targeting defence',30))+_ins('FOR KSA MOD','Assessment & actions');\nvar coverCSS='*{margin:0;box-sizing:border-box}@page{margin:0} html,body{height:100%;background:#06101F;font-family:Arial,Helvetica,sans-serif;color:#fff} '\n +'.cv{position:relative;height:100vh;width:100%;overflow:hidden} '\n +'.bg{position:absolute;top:0;left:0;right:0;bottom:0;background-position:center;background-size:cover;background-repeat:no-repeat;background-color:#06101F} '\n +'.shade{position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(90deg,rgba(6,16,31,.97) 0%,rgba(6,16,31,.88) 40%,rgba(6,16,31,.32) 72%,rgba(6,16,31,.62) 100%),linear-gradient(0deg,rgba(6,16,31,.94) 0%,rgba(6,16,31,0) 26%)} '\n +'.zone{position:absolute;left:48px;right:48px} '\n +'.top{top:40px;display:flex;justify-content:space-between;align-items:flex-start} '\n +'.tagline{font-size:12px;letter-spacing:2px;font-weight:700;color:#cfe0f5} .tagline span{color:#2E9BE6} '\n +'.issue{background:#2E9BE6;color:#fff;font-size:12px;font-weight:700;letter-spacing:1px;padding:7px 14px;border-radius:3px;white-space:nowrap} '\n +'.head{top:100px} '\n +'.mast{font-weight:800;line-height:.9;letter-spacing:-1px} .mast .w{font-size:46px;color:#fff;display:block} .mast .b{font-size:72px;color:#2E9BE6;display:block} '\n +'.sub{margin-top:14px;font-size:12px;letter-spacing:2.5px;font-weight:700;color:#dbe6f3} '\n +'.lead{margin-top:26px} .lead .lh{font-size:27px;font-weight:800;line-height:1.05} .lead .lh .b{color:#2E9BE6} .lead .ld{margin-top:12px;font-size:14px;line-height:1.5;color:#cdd9e8;max-width:56%} '\n +'.bullets{margin-top:22px;max-width:58%} '\n +'.bul{display:flex;align-items:flex-start;padding:10px 0;border-top:1px solid rgba(255,255,255,.13)} '\n +'.bul .ic{flex:0 0 auto;width:40px;height:40px;border-radius:50%;border:1.5px solid rgba(46,155,230,.55);display:flex;align-items:center;justify-content:center;margin-right:14px} '\n +'.bul .tx .k{font-size:13px;font-weight:800;letter-spacing:1px;color:#7cc2f2} .bul .tx .d{font-size:12.5px;color:#dfe8f3;line-height:1.4;margin-top:2px} '\n +'.bottom{bottom:38px} '\n +'.insidehd{display:inline-block;background:#2E9BE6;color:#fff;font-size:12px;font-weight:800;letter-spacing:2px;padding:7px 18px} '\n +'.insiderow{display:flex;margin-top:14px} '\n +'.it{flex:1 1 0;border-left:1px solid rgba(255,255,255,.16);padding:0 12px} '\n +'.it .k{font-size:10.5px;font-weight:800;letter-spacing:.5px;color:#7cc2f2} .it .d{font-size:10.5px;color:#cdd9e8;line-height:1.35;margin-top:3px} '\n +'.foot{margin-top:18px;border-top:1px solid rgba(255,255,255,.18);padding-top:13px;text-align:center;font-size:12px;letter-spacing:2px;font-weight:700;color:#dbe6f3} .foot .b{color:#2E9BE6}';\nvar coverHtml='<!doctype html><html><head><meta charset=\"utf-8\"><style>'+coverCSS+'</style></head><body><div class=\"cv\"><div class=\"bg\" style=\"background-image:url('+coverBg+')\"></div><div class=\"shade\"></div>'\n +'<div class=\"zone top\"><div class=\"tagline\">PREPARED FOR THE MINISTRY OF DEFENCE <span>KINGDOM OF SAUDI ARABIA</span></div><div class=\"issue\">'+esc(monthYear)+' &nbsp;|&nbsp; ISSUE '+_pad2(issueNo)+'</div></div>'\n +'<div class=\"zone head\"><div class=\"mast\"><span class=\"w\">CYBER DEFENCE</span><span class=\"b\">WATCH</span></div><div class=\"sub\">ALLIED POLICY · CAPABILITY · THREATS — FOR DEFENCE LEADERS</div>'\n +'<div class=\"lead\"><div class=\"lh\">KNOW FIRST.<br><span class=\"b\">DECIDE FASTER.</span></div><div class=\"ld\">'+esc(_blurb)+'</div></div>'\n +'<div class=\"bullets\">'+_bullets+'</div></div>'\n +'<div class=\"zone bottom\"><div class=\"insidehd\">INSIDE THIS ISSUE</div><div class=\"insiderow\">'+_insideRow+'</div>'\n +'<div class=\"foot\">POLICY &nbsp;|&nbsp; CAPABILITY &nbsp;|&nbsp; THREATS &nbsp;|&nbsp; <span class=\"b\">ASSESSMENT</span></div></div>'\n +'</div></body></html>';\n\nvar bodyHtml='<!doctype html><html><head><meta charset=\"utf-8\"><style>'+BCSS+'</style></head><body>'+bodyInner()+'</body></html>';\nvar headerInner = '<div style=\"height:46px;width:100%;background:#0A1A2F;color:#E7F2FB;font-family:Georgia,serif;font-size:14px;text-align:center;line-height:46px;letter-spacing:1px\">CYBER DEFENCE WATCH &nbsp;&middot;&nbsp; OSINT FOR DEFENCE LEADERS</div>';\nvar headerHtml='<!doctype html><html><head><meta charset=\"utf-8\"></head><body style=\"margin:0\">'+headerInner+'</body></html>';\nvar footerHtml='<!doctype html><html><head><meta charset=\"utf-8\"></head><body style=\"margin:0\"><div style=\"font-size:9px;color:#5A6472;font-family:Arial,Helvetica,sans-serif;width:100%;padding:0 14mm;box-sizing:border-box\"><span style=\"float:left\">CYBER DEFENCE WATCH &middot; OSINT compilation &middot; AI-generated — always verify findings</span><span style=\"float:right\">Page <span class=\"pageNumber\"></span></span></div></body></html>';\nvar html='<!doctype html><html><head><meta charset=\"utf-8\"><title>Cyber Defence Watch — '+esc(weekOf)+'</title><style>'+BCSS+'</style></head><body>'+headerInner+bodyInner()+'</body></html>';\n\nreturn [{ json: { date: date, weekOf: weekOf, coverHtml: coverHtml, bodyHtml: bodyHtml, headerHtml: headerHtml, footerHtml: footerHtml, html: html, markdown: raw } }];\n"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "persist",
      "name": "Write Report + Archive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst date = $json.date;\nconst html = $json.html;\nconst md = $json.markdown || '';\nconst dirs = ['/reports/defence-cyber', '/reports/archive/energy-intelligence'];\nfor (var k = 0; k < dirs.length; k++) {\n  try { fs.mkdirSync(dirs[k], { recursive: true }); fs.writeFileSync(dirs[k] + '/defence-cyber-' + date + '.html', html); } catch (e) {}\n}\ntry { fs.writeFileSync('/reports/archive/energy-intelligence/defence-cyber-' + date + '.json', md); } catch (e) {}\ntry { fs.writeFileSync('/logs/last-run-success.txt', new Date().toISOString() + ' defence-cyber'); } catch (e) {}\nreturn [{ json: $json }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Writes via fs (NODE_FUNCTION_ALLOW_BUILTIN=fs) to avoid the Read/Write File node's binary requirement."
    },
    {
      "id": "reduced",
      "name": "Reduced Coverage Notice",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        460
      ],
      "parameters": {},
      "notes": "Failure path: emit a reduced-coverage notice + log instead of producing nothing."
    },
    {
      "id": "use-claude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1090,
        240
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "analyst-claude",
      "name": "AI Analyst (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        140
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-sonnet-4-6' }}\",\n  \"max_tokens\": 12000,\n  \"system\": \"You are the lead analyst of 'Cyber Defence Watch', a weekly OPEN-SOURCE intelligence magazine prepared for the Ministry of Defence, Kingdom of Saudi Arabia. Write like an experienced defence-intelligence journalist: every item is a short article with a punchy HEADLINE and an engaging 2-4 sentence SUMMARY in flowing prose explaining what happened and why it matters to a national defence ministry — never bullet labels. Use ONLY facts found in the provided open-source digests; never invent organisations, programmes, vendors, names, numbers, URLs or quotes, and never imply access to classified material. For every item based on a specific article include a url copied VERBATIM from the parentheses in the digest, and set image to the IMG= URL from that digest line when present (else ''). Output a SINGLE valid JSON object and nothing else. Keys: weekOf; intro (a 2-3 paragraph EXECUTIVE SUMMARY, about 8-12 sentences, separated by single newline characters, sober and authoritative); weekOverWeek (1-2 sentences or ''); snapshot (object {summary, metrics (up to 4 of {name,value,note}), outlook}); feature (the marquee FEATURED ANALYSIS: object {headline, deck, pullquote, body (3-5 short paragraphs separated by single newlines), takeaways (2-4 strings), source, url, image}); policy (3-4 items {headline, summary, source, url, image}) on ALLIED POLICY & CAPABILITY changes in the US, UK, Five Eyes and NATO (strategy, doctrine, budgets, commands); capability (3-4 items {headline, summary, source, url, image}) on GLOBAL CAPABILITY & TECHNOLOGY (AI, quantum, zero-trust, procurement, programmes); regional (3-4 items {headline, summary, source, url, image}) on MIDDLE EAST DEFENCE CYBER (Gulf/Saudi/UAE/Qatar, Israel, Iran, Egypt, Jordan, Turkiye); breaches (3-4 items {headline, summary, source, url, image}) on DEFENCE-IMPACTING BREACHES & INCIDENTS (contractors, military, critical national infrastructure, supply chain); actors (3-4 items {headline, summary, source, url, image}) on THREAT ACTORS / nation-state APTs targeting defence, especially those relevant to the region; implications (3-5 objects {point, detail}) — the bespoke IMPLICATIONS FOR KSA MOD: each a concise assessment with a clear recommended action or watch-point for Saudi defence leaders, grounded in this week's items; bonus (object {title, body} of 3 short paragraphs of editorial assessment); byTheNumbers (object {value,label,note}); glossary (object {term, definition} in plain English); diary (array up to 4 {date, event} of key upcoming defence-cyber dates such as exercises, summits or deadlines); and section intros policyIntro, capabilityIntro, regionalIntro, breachesIntro, actorsIntro, implicationsIntro (1-2 sentences each). Base every item strictly on the digests; if a section has little material include fewer items rather than inventing. Prefer items whose digest entry includes an IMG= URL so the magazine has photographs. Keep each summary tight (2-4 sentences) so the COMPLETE JSON returns without truncation. Do NOT use markdown code fences; begin with { and end with }. Output ONLY the JSON object.\",\n  \"messages\": [\n    {\"role\":\"user\",\"content\": {{ JSON.stringify('DEFENCE CYBER NEWS DIGEST (allied & global) for ' + ($json.date||'') + ' (' + ($json.count||0) + ' items):\\n' + ($json.articles||'') + '\\n\\nREGIONAL & THREAT DIGEST (' + ($json.moversCount||0) + ' items):\\n' + ($json.moversDigest||'None retrieved.') + '\\n\\nPREVIOUS EDITION SUMMARY:\\n' + ($json.previous||'No previous edition available.')) }} }\n  ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Anthropic Claude path (AI_PROVIDER=claude). Higher-quality analysis. Requires ANTHROPIC_API_KEY."
    },
    {
      "id": "split-movers",
      "name": "Load Movers Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        460
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nlet lines = [];\ntry { lines = fs.readFileSync('/config/defence-regional-sources.txt','utf8').split(/\\r?\\n/); } catch (e) {}\nconst urls = lines.map(function(l){ return l.trim(); }).filter(function(l){ return l && l.charAt(0) !== '#'; });\nif (!urls.length) { return [{ json: { url: '' } }]; }\nreturn urls.map(function(u){ return { json: { url: u } }; });"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "fetch-movers",
      "name": "Fetch Movers",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        840,
        460
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "agg-movers",
      "name": "Aggregate Movers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        460
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst arts = items.map(function(i){ return i.json; }).filter(function(a){ return a && (a.title || a.contentSnippet || a.content); });\nconst lines = arts.slice(0,18).map(function(a){\n  var t = (a.title||'').toString();\n  var s = (a.contentSnippet||a.content||'').toString().replace(/\\s+/g,' ').slice(0,220);\n  var u = (a.link||a.url||'').toString();\n  return '- ' + t + ' — ' + s + ' (' + u + ')';\n});\nconst text = lines.length ? lines.join('\\n') : 'No leadership-change articles retrieved.';\nreturn [{ json: { moversDigest: text, moversCount: arts.length } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "merge-sources",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1090,
        360
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      }
    },
    {
      "id": "cover-file",
      "name": "Build Cover File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const r = $('Render HTML').first().json;\nconst html = r.coverHtml || r.html || '';\nreturn [{ json: { date: r.date }, binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType: 'text/html', fileName: 'index.html' } } }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Cover page is its own PDF: full-bleed, no header/footer, no page number."
    },
    {
      "id": "gotenberg-cover",
      "name": "Gotenberg Cover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Cover HTML -> single full-bleed PDF page (margins 0, no header/footer)."
    },
    {
      "id": "stash-cover",
      "name": "Stash Cover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst b64 = buf ? buf.toString('base64') : '';\nconst date = $('Render HTML').first().json.date;\nreturn [{ json: { date: date, coverB64: b64 } }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Carry the cover PDF as base64 in JSON so it survives the body conversion HTTP call."
    },
    {
      "id": "body-files",
      "name": "Build Body Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const r = $('Render HTML').first().json;\nconst enc = function(s){ return Buffer.from(String(s||''),'utf8').toString('base64'); };\nreturn [{ json: { date: r.date },\n  binary: {\n    index:  { data: enc(r.bodyHtml),   mimeType: 'text/html', fileName: 'index.html' },\n    header: { data: enc(r.headerHtml), mimeType: 'text/html', fileName: 'header.html' },\n    footer: { data: enc(r.footerHtml), mimeType: 'text/html', fileName: 'footer.html' }\n  } }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Body PDF inputs: content + Gotenberg-recognised header.html (running hero banner) + footer.html (page number)."
    },
    {
      "id": "gotenberg-body",
      "name": "Gotenberg Body",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "index"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "header"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "footer"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0.7"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0.55"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Body HTML -> PDF with running hero banner header on every page + page-number footer."
    },
    {
      "id": "assemble",
      "name": "Assemble PDFs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const coverB64 = ($('Stash Cover').first().json.coverB64) || '';\nconst bodyBuf = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst coverBuf = Buffer.from(coverB64, 'base64');\nconst cover = await this.helpers.prepareBinaryData(coverBuf, '01-cover.pdf', 'application/pdf');\nconst body  = await this.helpers.prepareBinaryData(bodyBuf,  '02-body.pdf', 'application/pdf');\nconst date = $('Render HTML').first().json.date;\nreturn [{ json: { date: date }, binary: { cover: cover, body: body } }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Place cover + body PDFs on one item with order-prefixed filenames for the merge."
    },
    {
      "id": "gotenberg-merge",
      "name": "Gotenberg Merge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/pdfengines/merge",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "cover"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "body"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Merge clean cover (page 1) in front of the banner+numbered body (pages 2+) into the final brief."
    },
    {
      "id": "write-pdf",
      "name": "Write PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3480,
        420
      ],
      "parameters": {
        "operation": "write",
        "fileName": "=/reports/defence-cyber/defence-cyber-{{ $('Render HTML').first().json.date }}.pdf",
        "dataPropertyName": "data",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "notes": "Saves the branded PDF (binary). Permissions on reports/ allow the container uid to write."
    },
    {
      "id": "archive-pdf",
      "name": "Archive PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3480,
        560
      ],
      "parameters": {
        "operation": "write",
        "fileName": "=/reports/archive/defence-cyber/defence-cyber-{{ $('Render HTML').first().json.date }}.pdf",
        "dataPropertyName": "data",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "name-pdf",
      "name": "Name PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3700,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items=$input.all();\nconst date=$('Render HTML').first().json.date;\nitems.forEach(function(it){ if(it.binary && it.binary.data){ it.binary.data.fileName='cyber-defence-watch-'+date+'.pdf'; } });\nreturn items;"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendDocument",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "chat_id",
              "value": "={{ ($env.TELEGRAM_BRIEF_CHAT_ID || ($env.TELEGRAM_ALLOWED_CHAT_IDS || '').toString().split(',')[0] || '').toString().trim() }}"
            },
            {
              "parameterType": "formData",
              "name": "caption",
              "value": "=🛡️ Cyber Defence Watch — {{ $('Render HTML').first().json.date }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Delivers the finished PDF to Telegram via the Bot API (sendDocument). Uses TELEGRAM_BOT_TOKEN + TELEGRAM_BRIEF_CHAT_ID (falls back to the first TELEGRAM_ALLOWED_CHAT_IDS entry)."
    },
    {
      "id": "sec-prompts",
      "name": "Build Section Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        -60
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "if(($env.DEFENCE_SECTION_IMAGES || 'true') !== 'true') return [];\nvar md=($json && $json.markdown) || '';\nvar data=null; try{ data=JSON.parse(md.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }catch(e){ try{ var m=md.match(/\\{[\\s\\S]*\\}/); if(m) data=JSON.parse(m[0]); }catch(e2){} }\ndata=data||{};\nfunction top(arr){ return (arr&&arr[0]&&(arr[0].name||arr[0].headline))?(arr[0].name||arr[0].headline):''; }\nvar style=' Wide cinematic editorial banner illustration, deep navy and electric-blue (#2E9BE6) palette, modern, clean, professional, abstract. NO text, NO words, NO logos, NO faces, NO watermark.';\nvar specs=[\n ['snapshot','A national cyber-defence operations centre with analysts at large situational-awareness screens and a world map.'],\n ['policy','Allied cyber-defence policy and command'+(top(data.policy)?(' themed on '+top(data.policy)):'')+': US, UK, Five Eyes and NATO, government and military, flags-free abstract.'],\n ['capability','Advanced military cyber capability and technology'+(top(data.capability)?(' such as '+top(data.capability)):'')+': AI, quantum and zero-trust, futuristic defence systems.'],\n ['regional','Middle East defence and cyber: a Gulf-region map, modern command facilities and digital network arcs.'],\n ['breaches','A defence-sector cyber breach: compromised military or contractor networks, dark control room, intrusion alerts.'],\n ['actors','Nation-state cyber threat actors targeting defence: shadowy APT operations, code and a regional map.']\n];\nreturn specs.map(function(s){ return { json: { key:s[0], prompt: s[1]+style } }; });"
      },
      "onError": "continueRegularOutput",
      "notes": "Builds one themed image prompt per section (toggle with CYBER_SECTION_IMAGES). Empty => no section images."
    },
    {
      "id": "section-images",
      "name": "Generate Section Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        -60
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL || 'https://api.openai.com/v1' }}/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.IMAGE_MODEL || 'gpt-image-1' }}\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"size\": \"{{ $env.IMAGE_SECTION_SIZE || '1536x1024' }}\",\n  \"n\": 1\n}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueRegularOutput",
      "notes": "One image per section prompt (runs once per item). Failures are non-fatal; sections without an image fall back to a plain header."
    },
    {
      "id": "collect-sec",
      "name": "Collect Section Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -60
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "var prompts=[]; try{ prompts=$('Build Section Prompts').all(); }catch(e){}\nvar imgs=$input.all();\nvar map={};\nfor(var i=0;i<prompts.length;i++){ var key=prompts[i].json.key; var b64=''; try{ b64=imgs[i].json.data[0].b64_json; }catch(e){} if(key && b64) map[key]='data:image/png;base64,'+b64; }\nvar src={}; try{ src=$('Build Cover Image Prompt').first().json; }catch(e){}\nreturn [{ json: { markdown: src.markdown||'', date: src.date||new Date().toISOString().slice(0,10), sectionImages: map } }];"
      },
      "onError": "continueRegularOutput",
      "notes": "Zips section prompts with generated images (order-aligned) into a key->dataURI map."
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enabled?": {
      "main": [
        [
          {
            "node": "Load & Split Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Movers Sources",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Load & Split Sources": {
      "main": [
        [
          {
            "node": "Fetch Energy Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Energy Sources": {
      "main": [
        [
          {
            "node": "Aggregate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Articles": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Cover (Image Provider)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Section Prompts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover (Image Provider)": {
      "main": [
        [],
        []
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Write Report + Archive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Cover File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Report + Archive": {
      "main": [
        []
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI Analyst (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Analyst (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyst (Claude)": {
      "main": [
        [
          {
            "node": "Build Cover Image Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyst (Ollama)": {
      "main": [
        [
          {
            "node": "Build Cover Image Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Movers Sources": {
      "main": [
        [
          {
            "node": "Fetch Movers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Movers": {
      "main": [
        [
          {
            "node": "Aggregate Movers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Movers": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover File": {
      "main": [
        [
          {
            "node": "Gotenberg Cover",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gotenberg Cover": {
      "main": [
        [
          {
            "node": "Stash Cover",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Stash Cover": {
      "main": [
        [
          {
            "node": "Build Body Files",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Body Files": {
      "main": [
        [
          {
            "node": "Gotenberg Body",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gotenberg Body": {
      "main": [
        [
          {
            "node": "Assemble PDFs",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Assemble PDFs": {
      "main": [
        [
          {
            "node": "Gotenberg Merge",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gotenberg Merge": {
      "main": [
        [
          {
            "node": "Write PDF",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Write PDF": {
      "main": [
        [
          {
            "node": "Archive PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive PDF": {
      "main": [
        [
          {
            "node": "Name PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Name PDF": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        []
      ]
    },
    "Build Section Prompts": {
      "main": [
        [
          {
            "node": "Generate Section Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Section Images": {
      "main": [
        [
          {
            "node": "Collect Section Images",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Collect Section Images": {
      "main": [
        []
      ]
    }
  }
}
