workflows/core/telegram-assistant.json
{
  "id": "jarvisTelegram01",
  "name": "Jarvis · Telegram Assistant",
  "meta": {
    "jarvisModule": "telegram-assistant",
    "jarvisVersion": "1.0.0",
    "description": "Primary interface. Receives Telegram messages, authorises the chat, routes commands (/help /status /research /emails /image /cyber) and replies. New commands are added by extending the Command Router switch — easy to add (Telegram Assistant Requirements). Every external call has a failure path (Error Handling).",
    "prompts": [
      "telegram.router",
      "system.jarvis-core"
    ],
    "envVars": [
      "TELEGRAM_BOT_TOKEN",
      "TELEGRAM_ALLOWED_CHAT_IDS"
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveExecutionProgress": true,
    "errorWorkflow": "Jarvis · Error Handler"
  },
  "nodes": [
    {
      "id": "trigger-telegram",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "notes": "Inbound message entry point. Credentials configured in n8n (no token in repo)."
    },
    {
      "id": "guard-auth",
      "name": "Authorise Chat",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.TELEGRAM_ALLOWED_CHAT_IDS }}",
              "rightValue": "={{ String($json.message.chat.id) }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        }
      },
      "notes": "Access control: only chat IDs in TELEGRAM_ALLOWED_CHAT_IDS proceed."
    },
    {
      "id": "router",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        760,
        240
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "help",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "status",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/status",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "research",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/research",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "emails",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/emails",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "image",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/image",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "cyber",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/cyber",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "opportunities",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/opportunities",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "energy",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/energy",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "defence",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/defence",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "poster",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/poster",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "explainer",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/explainer",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "quiz",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/quiz",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "tabletop",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/tabletop",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "tips",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/tips",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "kpi",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/kpi",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "teachable",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/teachable",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "elearning",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/elearning",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "certificate",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/certificate",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "calendar",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/calendar",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "videoscript",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/videoscript",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "notes": "Add a new command by adding an output here and wiring a handler. Intelligence commands (/cyber, /opportunities, /energy) are registry-driven; the same Latest Intelligence handler serves any product. Fallback routes to the AI assistant for natural-language intent."
    },
    {
      "id": "handler-help",
      "name": "Help Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1040,
        80
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "reply",
              "type": "string",
              "value": "Jarvis commands:\n/help — this message\n/status — system status\n/research <topic>\n/emails — inbox summary\n/image <prompt>\n/cyber — latest cyber threat brief\n/opportunities [org|date] — latest cyber opportunities brief (+ history/search)\n/energy [org|date] — latest energy intelligence brief (+ history/search)"
            }
          ]
        }
      }
    },
    {
      "id": "handler-ai",
      "name": "AI Assistant (provider-abstracted)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"messages\": [{\"role\":\"user\",\"content\": {{ JSON.stringify($json.message.text) }} }]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Default provider is Ollama. Switching AI_PROVIDER points this at the resolved endpoint (AI Provider Abstraction)."
    },
    {
      "id": "handler-intel",
      "name": "Latest Intelligence Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        240
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Serve intelligence products to Telegram: latest edition, recent history,\n// or an organisation/date search. Registry-agnostic: the command maps to a\n// product archive directory under /reports/archive/<id> (mounted). Reading the\n// directory requires the n8n env NODE_FUNCTION_ALLOW_BUILTIN=fs (set in\n// docker-compose). Fails safe: if listing is unavailable, returns guidance.\nconst text = ($('Telegram Trigger').item.json.message.text || '').trim();\nconst cmd = text.split(/\\s+/)[0].toLowerCase();\nconst query = text.split(/\\s+/).slice(1).join(' ').toLowerCase();\nconst map = {\n  '/opportunities': { id: 'cyber-opportunities', name: 'Cyber Opportunities Brief' },\n  '/energy': { id: 'energy-intelligence', name: 'Energy Intelligence Brief' },\n  '/cyber': { id: 'cyber-brief', name: 'Cyber Threat Brief' },\n  '/defence': { id: 'defence-cyber', name: 'Cyber Defence Watch' }\n};\nconst p = map[cmd] || map['/opportunities'];\nlet reply;\ntry {\n  const fs = require('fs');\n  const dir = `/reports/archive/${p.id}`;\n  let files = fs.readdirSync(dir).filter(f => f.endsWith('.html')).sort();\n  if (query) files = files.filter(f => f.toLowerCase().includes(query));\n  if (!files.length) {\n    reply = `No ${p.name} editions found${query ? ` matching \\\"${query}\\\"` : ''} yet. Briefings are generated on schedule and emailed automatically.`;\n  } else {\n    const latest = files[files.length - 1];\n    const recent = files.slice(-5).reverse().map(f => ` • ${f}`).join('\\n');\n    reply = `📰 ${p.name}\\nLatest: ${latest}\\nRecent editions:\\n${recent}\\n\\nStored under reports/archive/${p.id}/. Reply with an org or date to search (e.g. \\\"${cmd} adnoc\\\").`;\n  }\n} catch (e) {\n  reply = `📰 ${p.name}: the latest edition is delivered by email and stored under reports/archive/${p.id}/. (Live listing unavailable: ${e.message})`;\n}\nreturn [{ json: { reply } }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Handles /opportunities and /energy (and /cyber). Latest edition, history, or org/date search. Failure path -> Failure Notice."
    },
    {
      "id": "send-reply",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        240
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.reply || $json.message?.content || 'Done.' }}"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "fail-notice",
      "name": "Failure Notice",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        480
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "⚠️ Jarvis hit an error handling that request. The team has been notified and it has been logged."
      },
      "notes": "Failure path: AI/Ollama unavailable -> tell the user gracefully (Error Handling)."
    },
    {
      "id": "tk-prep",
      "name": "Prep Toolkit Cmd",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        620
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const m=$json.message||{}; let txt=(m.text||'').toString(); let cmd=(txt.split(/\\s+/)[0]||'').toLowerCase(); if(cmd==='/explainer') cmd='/poster'; return [{ json:{ cmd:cmd, text:txt, chatId:(m.chat&&m.chat.id)||'' } }];"
      }
    },
    {
      "id": "tk-router",
      "name": "Toolkit Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1340,
        620
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "poster",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/poster",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "quiz",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/quiz",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "tabletop",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/tabletop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "tips",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/tips",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "kpi",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/kpi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "teachable",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/teachable",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "elearning",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/elearning",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "certificate",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/certificate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "calendar",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/calendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "videoscript",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/videoscript",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "tk-run-poster",
      "name": "Run Poster",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        360
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jarvisAwPoster01",
          "mode": "id",
          "cachedResultName": "Jarvis · Awareness — Poster & Explainer"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tk-run-quiz",
      "name": "Run Quiz",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        460
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jarvisAwQuiz001",
          "mode": "id",
          "cachedResultName": "Jarvis · Awareness — Quiz & Spot-the-Phish"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tk-run-table",
      "name": "Run Tabletop",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        560
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jarvisAwTable01",
          "mode": "id",
          "cachedResultName": "Jarvis · Awareness — Tabletop Exercise"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tk-run-tips",
      "name": "Run Tips",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        660
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jarvisAwTips001",
          "mode": "id",
          "cachedResultName": "Jarvis · Awareness — Micro-Tips & Cards"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tk-run-kpi",
      "name": "Run KPI",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        760
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jarvisAwKpi0001",
          "mode": "id",
          "cachedResultName": "Jarvis · Awareness — KPI Report"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tk-run-teach",
      "name": "Run Teachable",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        860
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jarvisAwTeach01",
          "mode": "id",
          "cachedResultName": "Jarvis · Awareness — Teachable Moment"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tk-send",
      "name": "Send Toolkit Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        620
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendDocument",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "chat_id",
              "value": "={{ $('Prep Toolkit Cmd').first().json.chatId }}"
            },
            {
              "parameterType": "formData",
              "name": "caption",
              "value": "=Here is your awareness asset."
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "run-e-learning",
      "name": "Run E-learning",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        960
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jarvisAwElearn01",
          "mode": "id",
          "cachedResultName": "Jarvis · Awareness — E-learning Module"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "run-certificate",
      "name": "Run Certificate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        1060
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jarvisAwCert001",
          "mode": "id",
          "cachedResultName": "Jarvis · Awareness — Completion Certificate"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "run-calendar",
      "name": "Run Calendar",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        960
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jarvisAwCal0001",
          "mode": "id",
          "cachedResultName": "Jarvis · Awareness — Campaign Calendar"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "run-video-script",
      "name": "Run Video Script",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        1060
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jarvisAwVideo01",
          "mode": "id",
          "cachedResultName": "Jarvis · Awareness — Video Script & Storyboard"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Authorise Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorise Chat": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Help Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Assistant (provider-abstracted)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Assistant (provider-abstracted)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Assistant (provider-abstracted)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Assistant (provider-abstracted)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Assistant (provider-abstracted)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Latest Intelligence Brief",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Latest Intelligence Brief",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Latest Intelligence Brief",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Toolkit Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Toolkit Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Toolkit Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Toolkit Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Toolkit Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Toolkit Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Toolkit Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Toolkit Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Toolkit Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Toolkit Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Toolkit Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Assistant (provider-abstracted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Help Text": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Latest Intelligence Brief": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Assistant (provider-abstracted)": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Toolkit Cmd": {
      "main": [
        [
          {
            "node": "Toolkit Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toolkit Router": {
      "main": [
        [
          {
            "node": "Run Poster",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Quiz",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Tabletop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Tips",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run KPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Teachable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run E-learning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Certificate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Video Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Poster": {
      "main": [
        [
          {
            "node": "Send Toolkit Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Quiz": {
      "main": [
        [
          {
            "node": "Send Toolkit Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Tabletop": {
      "main": [
        [
          {
            "node": "Send Toolkit Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Tips": {
      "main": [
        [
          {
            "node": "Send Toolkit Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run KPI": {
      "main": [
        [
          {
            "node": "Send Toolkit Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Teachable": {
      "main": [
        [
          {
            "node": "Send Toolkit Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Toolkit Document": {
      "main": [
        []
      ]
    },
    "Run E-learning": {
      "main": [
        [
          {
            "node": "Send Toolkit Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Certificate": {
      "main": [
        [
          {
            "node": "Send Toolkit Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Calendar": {
      "main": [
        [
          {
            "node": "Send Toolkit Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Video Script": {
      "main": [
        [
          {
            "node": "Send Toolkit Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
