modules/cyber-opportunities/workflows/cyber-opportunities.json
{
  "id": "jarvisCyberOpps1",
  "name": "Jarvis · Cyber Opportunities Brief",
  "meta": {
    "jarvisModule": "cyber-opportunities",
    "jarvisVersion": "2.4.0",
    "intelligenceProduct": true,
    "description": "Weekly cyber commercial-opportunities (RFP) brief. Google-News opportunity feeds -> round-robin by region -> Claude/Ollama structured analysis -> blue-branded HTML+PDF (rfpcover/rfpbanner) -> archive+email. Week-over-week aware.",
    "prompts": [
      "cyber-opportunities.analyst",
      "system.jarvis-core"
    ],
    "envVars": [
      "CYBER_OPPS_ENABLED",
      "CYBER_OPPS_SCHEDULE_CRON",
      "AI_PROVIDER",
      "EMAIL_TO"
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "errorWorkflow": "Jarvis · Error Handler"
  },
  "nodes": [
    {
      "id": "schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "={{ $env.CYBER_OPPS_SCHEDULE_CRON || '15 6 * * *' }}"
            }
          ]
        }
      }
    },
    {
      "id": "gate",
      "name": "Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.CYBER_OPPS_ENABLED || 'true' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "split",
      "name": "Load & Split Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nlet lines = [];\ntry { lines = fs.readFileSync('/config/cyber-opportunities-sources.txt','utf8').split(/\\r?\\n/); } catch (e) {}\nconst urls = lines.map(function(l){ return l.trim(); }).filter(function(l){ return l && l.charAt(0) !== '#'; });\nif (!urls.length) { return [{ json: { url: '' } }]; }\nreturn urls.map(function(u){ return { json: { url: u } }; });"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "fetch",
      "name": "Fetch Opportunity Sources",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        840,
        300
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "aggregate",
      "name": "Aggregate Opportunities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst arts = items.map(function(i){ return i.json; }).filter(function(a){ return a && (a.title || a.contentSnippet || a.content); });\nconst regions = [\n  ['UAE', /\\buae\\b|emirat|dubai|abu dhabi/i],\n  ['Saudi Arabia', /saudi|\\bksa\\b|riyadh/i],\n  ['Qatar', /qatar|doha/i],\n  ['Oman', /\\boman\\b|muscat/i],\n  ['Bahrain', /bahrain|manama/i],\n  ['Kuwait', /kuwait/i],\n  ['UK/Europe', /\\buk\\b|united kingdom|britain|europe|\\beu\\b|german|france|nato/i],\n  ['Global', /./]\n];\nfunction detect(a){ var s=((a.title||'')+' '+(a.contentSnippet||a.content||'')).toString(); for(var i=0;i<regions.length;i++){ if(regions[i][1].test(s)) return regions[i][0]; } return 'Global'; }\nfunction fmt(a){ var t=(a.title||'').toString(); var s=(a.contentSnippet||a.content||'').toString().replace(/\\s+/g,' ').slice(0,200); var u=(a.link||a.url||'').toString(); return '- ' + t + ' — ' + s + ' (' + u + ')'; }\nvar buckets={};\narts.forEach(function(a){ var k=detect(a); (buckets[k]=buckets[k]||[]).push(a); });\nvar order=Object.keys(buckets);\nvar per=5; var lines=[];\nfor(var r=0;r<per;r++){ for(var c=0;c<order.length;c++){ var arr=buckets[order[c]]; if(arr[r]){ lines.push('['+order[c]+'] '+fmt(arr[r])); } } }\nvar text = lines.length ? lines.join('\\n') : 'No opportunity articles were retrieved this period.';\nvar previous='';\ntry {\n  var fs=require('fs'); var dir='/reports/archive/cyber-opportunities';\n  var today=new Date().toISOString().slice(0,10);\n  var files=fs.readdirSync(dir).filter(function(fn){ return /cyber-opportunities-\\d{4}-\\d{2}-\\d{2}\\.json$/.test(fn) && fn.indexOf(today)===-1; }).sort();\n  if(files.length){\n    var prev=JSON.parse(fs.readFileSync(dir+'/'+files[files.length-1],'utf8'));\n    var ple=[]; (prev.topOpportunities||[]).forEach(function(o){ ple.push('- '+(o.opportunity||'')+' ('+(o.buyer||'')+', '+(o.region||'')+')'); });\n    previous='From '+files[files.length-1].replace('cyber-opportunities-','').replace('.json','')+':\\n'+ple.join('\\n');\n  }\n} catch(e){ previous=''; }\nreturn [{ json: { articles: text, count: arts.length, date: new Date().toISOString().slice(0,10), previous: previous } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "use-claude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "analyst-claude",
      "name": "AI Analyst (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-sonnet-4-6' }}\",\n  \"max_tokens\": 6000,\n  \"system\": \"You are a senior business-development analyst for a cybersecurity consulting and managed-services firm, producing a weekly commercial-opportunities brief for leadership. Use ONLY facts found in the provided digest; never invent tenders, buyers, values or deadlines. Write in a precise, commercial voice. Output a SINGLE valid JSON object and nothing else (no markdown, no preamble, no code fences). Keys: weekOf (string); executiveSummary (2-3 sentences); weekOverWeek (short string of changes since the previous edition; empty string if none provided); topOpportunities (array up to 10; each: opportunity, buyer, region, type, value, deadline, source) where type is one of RFP, RFI, Tender, Managed Security, Security Awareness, GRC, SOC, Vulnerability Management, OT Security, Critical Infrastructure, AI Security, Cloud Security; regionalBreakdown (array; each: region, summary) covering GCC first (UAE, Saudi Arabia, Qatar, Oman, Bahrain, Kuwait), then UK/Europe, then Global; highPriority (array up to 6; each: opportunity, fit, posture, winProbability where winProbability begins with Low, Medium or High then a short rationale); strategicRelevance (string, 2-3 sentences); recommendedActions (array of short action strings); historicalTrends (string, 2-3 sentences). Focus regions: primary GCC, secondary UK/Europe/Global. Prefer entries from the VERIFIED TENDER LINKS section for topOpportunities and use their real URL as the source; treat the news digest as supporting demand-signal context. Where a field is unknown use 'Not specified'. Do not fabricate. If a PREVIOUS EDITION SUMMARY is provided, populate weekOverWeek with what changed since then. Output ONLY the JSON object.\",\n  \"messages\": [\n    {\"role\":\"user\",\"content\": {{ JSON.stringify('OPPORTUNITY DIGEST for ' + ($json.date||'') + ' (' + ($json.count||0) + ' items):\\n' + ($json.articles||'') + '\\n\\nVERIFIED TENDER LINKS (real procurement/tender pages — PREFER these for topOpportunities and use the URL as source):\\n' + ($json.tenders||'None.') + '\\n\\nPREVIOUS EDITION SUMMARY:\\n' + ($json.previous||'No previous edition available.')) }} }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "analyst-ollama",
      "name": "AI Analyst (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.2, \"num_predict\": 2400, \"num_ctx\": 8192 },\n  \"messages\": [\n    {\"role\":\"system\",\"content\":\"You are a senior business-development analyst for a cybersecurity consulting and managed-services firm, producing a weekly commercial-opportunities brief for leadership. Use ONLY facts found in the provided digest; never invent tenders, buyers, values or deadlines. Write in a precise, commercial voice. Output a SINGLE valid JSON object and nothing else (no markdown, no preamble, no code fences). Keys: weekOf (string); executiveSummary (2-3 sentences); weekOverWeek (short string of changes since the previous edition; empty string if none provided); topOpportunities (array up to 10; each: opportunity, buyer, region, type, value, deadline, source) where type is one of RFP, RFI, Tender, Managed Security, Security Awareness, GRC, SOC, Vulnerability Management, OT Security, Critical Infrastructure, AI Security, Cloud Security; regionalBreakdown (array; each: region, summary) covering GCC first (UAE, Saudi Arabia, Qatar, Oman, Bahrain, Kuwait), then UK/Europe, then Global; highPriority (array up to 6; each: opportunity, fit, posture, winProbability where winProbability begins with Low, Medium or High then a short rationale); strategicRelevance (string, 2-3 sentences); recommendedActions (array of short action strings); historicalTrends (string, 2-3 sentences). Focus regions: primary GCC, secondary UK/Europe/Global. Prefer entries from the VERIFIED TENDER LINKS section for topOpportunities and use their real URL as the source; treat the news digest as supporting demand-signal context. Where a field is unknown use 'Not specified'. Do not fabricate. If a PREVIOUS EDITION SUMMARY is provided, populate weekOverWeek with what changed since then. Output ONLY the JSON object.\"},\n    {\"role\":\"user\",\"content\": {{ JSON.stringify('OPPORTUNITY DIGEST for ' + ($json.date||'') + ' (' + ($json.count||0) + ' items):\\n' + ($json.articles||'') + '\\n\\nVERIFIED TENDER LINKS (real procurement/tender pages — PREFER these for topOpportunities and use the URL as source):\\n' + ($json.tenders||'None.') + '\\n\\nPREVIOUS EDITION SUMMARY:\\n' + ($json.previous||'No previous edition available.')) }} }\n  ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "cover-prompt",
      "name": "Build Cover Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        260
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet md = '';\nif (j.message && j.message.content) { md = j.message.content; }\nelse if (j.content && j.content[0] && j.content[0].text) { md = j.content[0].text; }\nelse if (typeof j.markdown === 'string') { md = j.markdown; }\nmd = md || '';\nconst top = md.split(/\\n/).filter(function(l){ return /tender|rfp|rfi|soc|grc|opportunit|contract|security/i.test(l); }).slice(0,4).join('; ') || 'cybersecurity commercial opportunities in the GCC';\nconst style = 'Premium editorial intelligence-report cover. Deep navy (#0A1A2F) with bright blue (#2E9BE6) accents. Abstract professional cyber/commercial motifs. NO text, NO logos, NO faces.';\nreturn [{ json: { markdown: md || 'No data available for this period.', date: new Date().toISOString().slice(0,10), coverPrompt: style + ' Theme: ' + top } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "cover-image",
      "name": "Generate Cover (Image Provider)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        140
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL || 'https://api.openai.com/v1' }}/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.IMAGE_MODEL || 'gpt-image-1' }}\",\n  \"prompt\": {{ JSON.stringify($json.coverPrompt) }},\n  \"size\": \"{{ $env.IMAGE_SIZE || '1536x1024' }}\",\n  \"n\": 1\n}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "let raw = ($json && $json.markdown) || '';\nlet data = null;\ntry { data = JSON.parse(raw); } catch (e) { try { var m = raw.match(/\\{[\\s\\S]*\\}/); if (m) { data = JSON.parse(m[0]); } } catch (e2) { data = null; } }\nconst date = ($json && $json.date) || new Date().toISOString().slice(0,10);\nconst fs = require('fs');\nfunction imgDataUri(base){ var tries=[['/config/branding/'+base+'.png','image/png'],['/config/branding/'+base+'.jpg','image/jpeg'],['/config/branding/'+base+'.jpeg','image/jpeg']]; for(var i=0;i<tries.length;i++){ try{ var b=fs.readFileSync(tries[i][0]); return 'data:'+tries[i][1]+';base64,'+b.toString('base64'); }catch(e){} } return ''; }\nconst coverSrc = imgDataUri('rfpcover');\nconst bannerSrc = imgDataUri('rfpbanner');\nconst avatarSrc = imgDataUri('jarvis-avatar');\nfunction ord(n){ var s=['th','st','nd','rd'], v=n%100; return n + (s[(v-20)%10] || s[v] || s[0]); }\nfunction prettyDate(d){ try { var p=(d||'').split('-'); var dt=new Date(Number(p[0]),Number(p[1])-1,Number(p[2])); var M=['January','February','March','April','May','June','July','August','September','October','November','December']; return M[dt.getMonth()]+' '+ord(dt.getDate())+' '+dt.getFullYear(); } catch(e){ return d; } }\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g, function(c){ return ({ '&':'&amp;', '<':'&lt;', '>':'&gt;' })[c]; }); }\nfunction pwColor(r){ r=(r||'').toString().toLowerCase(); if(r.indexOf('high')===0) return '#1E8E5A'; if(r.indexOf('med')===0) return '#B8860B'; if(r.indexOf('low')===0) return '#B02525'; return '#5A6472'; }\nfunction h2(t){ return '<h2 style=\"color:#0A1A2F;border-left:4px solid #2E9BE6;padding-left:10px;font-family:Georgia,serif;font-size:18px;margin-top:26px\">'+t+'</h2>'; }\nfunction th(arr){ return '<tr style=\"background:#0A1A2F;color:#FFFFFF\">'+arr.map(function(h){return '<th style=\"padding:8px;text-align:left;font-size:12px\">'+h+'</th>';}).join('')+'</tr>'; }\nfunction td(v,extra){ return '<td style=\"padding:8px;'+(extra||'')+'\">'+esc(v)+'</td>'; }\nfunction oppTable(rows){\n  if(!rows||!rows.length) return '<p style=\"color:#5A6472\">No opportunities identified this period.</p>';\n  var head=th(['Opportunity','Buyer / Org','Region','Type','Est. Value','Deadline','Source']);\n  var trs=rows.map(function(r){ return '<tr style=\"border-bottom:1px solid #E2E6EC;vertical-align:top\">'+td(r.opportunity,'font-weight:600')+td(r.buyer)+td(r.region)+td(r.type)+td(r.value)+td(r.deadline)+td(r.source)+'</tr>'; }).join('');\n  return '<table style=\"border-collapse:collapse;width:100%;font-size:13px;margin:8px 0\">'+head+trs+'</table>';\n}\nfunction hpTable(rows){\n  if(!rows||!rows.length) return '<p style=\"color:#5A6472\">No high-priority opportunities this period.</p>';\n  var head=th(['Opportunity','Fit','Pursuit Posture','Win Probability']);\n  var trs=rows.map(function(r){ return '<tr style=\"border-bottom:1px solid #E2E6EC;vertical-align:top\">'+td(r.opportunity,'font-weight:600')+td(r.fit)+td(r.posture)+'<td style=\"padding:8px;color:'+pwColor(r.winProbability)+';font-weight:600\">'+esc(r.winProbability)+'</td></tr>'; }).join('');\n  return '<table style=\"border-collapse:collapse;width:100%;font-size:13px;margin:8px 0\">'+head+trs+'</table>';\n}\nfunction regionList(rows){ if(!rows||!rows.length) return ''; return '<ul style=\"font-size:14px;line-height:1.6\">'+rows.map(function(r){return '<li><strong>'+esc(r.region)+':</strong> '+esc(r.summary)+'</li>';}).join('')+'</ul>'; }\nfunction actions(arr){ if(!arr||!arr.length) return ''; return '<ul style=\"font-size:14px;line-height:1.6\">'+arr.map(function(a){return '<li>'+esc(a)+'</li>';}).join('')+'</ul>'; }\nlet body;\nif(data){\n  body = '<p style=\"font-size:15px\">'+esc(data.executiveSummary||'')+'</p>' +\n    (data.weekOverWeek ? ('<div style=\"background:#EAF4FC;border-left:4px solid #2E9BE6;padding:10px 12px;margin:12px 0;font-size:14px\"><strong>What changed since last edition:</strong> '+esc(data.weekOverWeek)+'</div>') : '') +\n    h2('Top Opportunities') + oppTable(data.topOpportunities) +\n    h2('Regional Breakdown') + regionList(data.regionalBreakdown) +\n    h2('High Priority Opportunities &amp; Win Probability') + hpTable(data.highPriority) +\n    h2('Strategic Relevance') + '<p style=\"font-size:14px;line-height:1.6\">'+esc(data.strategicRelevance||'')+'</p>' +\n    h2('Recommended Actions') + actions(data.recommendedActions) +\n    h2('Historical Trends') + '<p style=\"font-size:14px;line-height:1.6\">'+esc(data.historicalTrends||'')+'</p>';\n} else {\n  body = '<div style=\"padding:12px;background:#FDECEC;border:1px solid #B02525;color:#7a1a1a;border-radius:4px\">The analyst did not return structured data this run. Raw output below.</div><pre style=\"white-space:pre-wrap;font-family:inherit\">'+esc(raw)+'</pre>';\n}\nconst weekOf = (data && data.weekOf) ? data.weekOf : date;\nconst frontCover = coverSrc ? ('<div style=\"position:relative;height:100vh;page-break-after:always;overflow:hidden\">' + '<img src=\"'+coverSrc+'\" style=\"width:100%;height:100%;object-fit:cover;display:block\"/>' + '<div style=\"position:absolute;top:26px;right:30px;color:#FFFFFF;font-family:Georgia,serif;font-size:22px;font-weight:700;text-shadow:0 1px 5px rgba(0,0,0,0.7)\">'+esc(prettyDate(date))+'</div>' + '</div>') : '';\nconst masthead = bannerSrc ? ('<img src=\"'+bannerSrc+'\" style=\"width:100%;display:block\"/>') : ('<div style=\"background:#0A1A2F;color:#FFFFFF;padding:18px;font-family:Georgia,serif;font-size:20px\">JARVIS INTELLIGENCE — Cyber Opportunities Brief</div>');\nconst signoff = avatarSrc ? ('<div style=\"text-align:center;padding:20px;border-top:3px solid #2E9BE6;margin-top:16px\"><img src=\"'+avatarSrc+'\" style=\"width:104px;height:104px;border-radius:50%;border:2px solid #2E9BE6\"/><div style=\"font-family:Georgia,serif;color:#0A1A2F;margin-top:8px;font-size:14px\">Jarvis — AI News Reporter</div></div>') : '';\nconst html = '<!doctype html><meta charset=\"utf-8\"><title>Cyber Opportunities Brief — '+esc(weekOf)+'</title>' +\n  '<div style=\"font-family:-apple-system,Segoe UI,Arial,sans-serif;color:#11151c;max-width:980px;margin:0 auto\">' +\n  frontCover + masthead +\n  '<div style=\"background:#05101F;color:#cdd5e0;padding:6px 18px;font-size:13px\">'+esc(weekOf)+' &nbsp;·&nbsp; Confidential</div>' +\n  '<div style=\"padding:28px\">'+body+'</div>' + signoff + '</div>';\nreturn [{ json: { date: date, html: html, markdown: raw } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "persist",
      "name": "Write Report + Archive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        260
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst date = $json.date; const html = $json.html; const md = $json.markdown || '';\nconst dirs = ['/reports/cyber-opportunities', '/reports/archive/cyber-opportunities'];\nfor (var k=0;k<dirs.length;k++){ try { fs.mkdirSync(dirs[k],{recursive:true}); fs.writeFileSync(dirs[k]+'/cyber-opportunities-'+date+'.html', html); } catch(e){} }\ntry { fs.writeFileSync('/reports/archive/cyber-opportunities/cyber-opportunities-'+date+'.json', md); } catch(e){}\ntry { fs.writeFileSync('/logs/last-run-success.txt', new Date().toISOString()+' cyber-opportunities'); } catch(e){}\nreturn [{ json: $json }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "html-to-file",
      "name": "HTML to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2160,
        420
      ],
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html",
        "options": {
          "fileName": "index.html",
          "mimeType": "text/html"
        }
      }
    },
    {
      "id": "gotenberg",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write-pdf",
      "name": "Write PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2600,
        420
      ],
      "parameters": {
        "operation": "write",
        "fileName": "=/reports/cyber-opportunities/cyber-opportunities-{{ $('Render HTML').first().json.date }}.pdf",
        "dataPropertyName": "data",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "archive-pdf",
      "name": "Archive PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2820,
        420
      ],
      "parameters": {
        "operation": "write",
        "fileName": "=/reports/archive/cyber-opportunities/cyber-opportunities-{{ $('Render HTML').first().json.date }}.pdf",
        "dataPropertyName": "data",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "reduced",
      "name": "Reduced Coverage Notice",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        520
      ],
      "parameters": {}
    },
    {
      "id": "build-queries",
      "name": "Build Search Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        460
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "var queries = [\n  'cybersecurity (tender OR RFP OR RFI OR procurement) (UAE OR \"Saudi Arabia\" OR Qatar OR Oman OR Bahrain OR Kuwait)',\n  '(\"managed security\" OR SOC OR GRC OR \"vulnerability management\") (tender OR RFP OR contract) (UAE OR Gulf OR \"Saudi Arabia\" OR Qatar)',\n  '(\"OT security\" OR \"critical infrastructure\" OR \"cloud security\" OR \"AI security\") (tender OR RFP) (Gulf OR UAE OR \"Middle East\")',\n  'cybersecurity (tender OR framework OR RFP OR procurement) (\"United Kingdom\" OR UK OR Europe)'\n];\nreturn queries.map(function(q){ return { json: { q: q } }; });"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "search-cse",
      "name": "Search Tenders (Google CSE)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        460
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_CSE_KEY }}"
            },
            {
              "name": "cx",
              "value": "={{ $env.GOOGLE_CSE_CX }}"
            },
            {
              "name": "q",
              "value": "={{ $json.q }}"
            },
            {
              "name": "dateRestrict",
              "value": "m1"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Google Programmable Search (free 100/day). Returns real tender/portal links. Inert until GOOGLE_CSE_KEY + GOOGLE_CSE_CX set."
    },
    {
      "id": "agg-links",
      "name": "Aggregate Tender Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        460
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nvar links = [];\nitems.forEach(function(it){\n  var arr = (it.json && it.json.items) ? it.json.items : [];\n  arr.forEach(function(r){ links.push('- ' + (r.title||'') + ' — ' + ((r.snippet||'').toString().replace(/\\s+/g,' ').slice(0,160)) + ' (' + (r.link||'') + ')'); });\n});\nvar text = links.length ? links.slice(0,25).join('\\n') : 'No verified tender links retrieved (set GOOGLE_CSE_KEY and GOOGLE_CSE_CX in .env to enable real RFP links).';\nreturn [{ json: { tenders: text, tenderCount: links.length } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "merge-sources",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1280,
        360
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      }
    },
    {
      "id": "name-pdf",
      "name": "Name PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items=$input.all();\nconst date=$('Render HTML').first().json.date;\nitems.forEach(function(it){ if(it.binary && it.binary.data){ it.binary.data.fileName='cyber-opportunities-'+date+'.pdf'; } });\nreturn items;"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendDocument",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "chat_id",
              "value": "={{ ($env.TELEGRAM_BRIEF_CHAT_ID || ($env.TELEGRAM_ALLOWED_CHAT_IDS || '').toString().split(',')[0] || '').toString().trim() }}"
            },
            {
              "parameterType": "formData",
              "name": "caption",
              "value": "=📑 Cyber Opportunities Brief — {{ $('Render HTML').first().json.date }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Delivers the finished PDF to Telegram via the Bot API (sendDocument). Uses TELEGRAM_BOT_TOKEN + TELEGRAM_BRIEF_CHAT_ID (falls back to the first TELEGRAM_ALLOWED_CHAT_IDS entry)."
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enabled?": {
      "main": [
        [
          {
            "node": "Load & Split Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Search Queries",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Load & Split Sources": {
      "main": [
        [
          {
            "node": "Fetch Opportunity Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Opportunity Sources": {
      "main": [
        [
          {
            "node": "Aggregate Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Opportunities": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI Analyst (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Analyst (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyst (Claude)": {
      "main": [
        [
          {
            "node": "Build Cover Image Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyst (Ollama)": {
      "main": [
        [
          {
            "node": "Build Cover Image Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Cover (Image Provider)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover (Image Provider)": {
      "main": [
        [],
        []
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Write Report + Archive",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Report + Archive": {
      "main": [
        []
      ]
    },
    "HTML to File": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write PDF",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Write PDF": {
      "main": [
        [
          {
            "node": "Archive PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive PDF": {
      "main": [
        [
          {
            "node": "Name PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Queries": {
      "main": [
        [
          {
            "node": "Search Tenders (Google CSE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Tenders (Google CSE)": {
      "main": [
        [
          {
            "node": "Aggregate Tender Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Tender Links": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Name PDF": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        []
      ]
    }
  }
}
