modules/calendar-assistant/workflows/draft-event.json
{
  "name": "Jarvis · Calendar Assistant — Draft Event (placeholder)",
  "meta": {
    "jarvisModule": "calendar-assistant",
    "jarvisVersion": "1.0.0",
    "status": "planned",
    "description": "PLACEHOLDER. Converts a natural-language request into a structured event draft for confirmation. Structurally valid (nodes array + connections object + failure path) so workflow-validate.sh passes.",
    "prompts": ["calendar.nl-to-event"],
    "envVars": ["CALENDAR_ASSISTANT_ENABLED", "CALENDAR_DEFAULT_TZ", "CALENDAR_ID"]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "errorWorkflow": "Jarvis · Error Handler"
  },
  "nodes": [
    {
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {},
      "notes": "Placeholder entry point. Replace with a Telegram command carrying the request."
    },
    {
      "id": "build-request",
      "name": "Build Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "prompt", "type": "string", "value": "calendar.nl-to-event" },
            { "name": "request", "type": "string", "value": "={{ $json.request || '' }}" },
            { "name": "now", "type": "string", "value": "={{ $now.toISO() }}" },
            { "name": "timezone", "type": "string", "value": "={{ $env.CALENDAR_DEFAULT_TZ || 'Europe/London' }}" }
          ]
        }
      },
      "notes": "Loads the prompt id, request, current time and timezone."
    },
    {
      "id": "draft-ai",
      "name": "Draft Event (provider-abstracted)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"messages\": [{\"role\":\"user\",\"content\": {{ JSON.stringify($json.request) }} }]\n}",
        "options": { "timeout": 60000 }
      },
      "onError": "continueErrorOutput",
      "notes": "External call. Produces event JSON. Routes through the AI provider abstraction."
    },
    {
      "id": "confirm",
      "name": "Awaiting Confirmation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 220],
      "parameters": {},
      "notes": "Placeholder success branch. Real flow asks the user to confirm before writing to the calendar."
    },
    {
      "id": "fail-notice",
      "name": "Failure Notice",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 420],
      "parameters": {},
      "notes": "Failure path: AI unavailable -> degrade gracefully (Error Handling)."
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Build Request", "type": "main", "index": 0 }]] },
    "Build Request": { "main": [[{ "node": "Draft Event (provider-abstracted)", "type": "main", "index": 0 }]] },
    "Draft Event (provider-abstracted)": {
      "main": [
        [{ "node": "Awaiting Confirmation", "type": "main", "index": 0 }],
        [{ "node": "Failure Notice", "type": "main", "index": 0 }]
      ]
    }
  }
}
