modules/dealforge-assistant/workflows/deal-followup.json
{
  "name": "Jarvis · DealForge Assistant — Deal Follow-up (placeholder)",
  "meta": {
    "jarvisModule": "dealforge-assistant",
    "jarvisVersion": "1.0.0",
    "status": "planned",
    "description": "PLACEHOLDER. Summarises a deal and drafts a stage-appropriate follow-up. Structurally valid (nodes array + connections object + failure path) so workflow-validate.sh passes.",
    "prompts": ["dealforge.deal-summary-followup"],
    "envVars": ["DEALFORGE_ASSISTANT_ENABLED", "DEALFORGE_CRM_PROVIDER", "DEALFORGE_PIPELINE_STAGES"]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "errorWorkflow": "Jarvis · Error Handler"
  },
  "nodes": [
    {
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {},
      "notes": "Placeholder entry point. Replace with a Telegram command, CRM webhook, or schedule."
    },
    {
      "id": "build-request",
      "name": "Build Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "prompt", "type": "string", "value": "dealforge.deal-summary-followup" },
            { "name": "deal", "type": "string", "value": "={{ JSON.stringify($json.deal || {}) }}" },
            { "name": "stage", "type": "string", "value": "={{ $json.stage || 'lead' }}" },
            { "name": "tone", "type": "string", "value": "={{ $json.tone || 'warm, concise' }}" }
          ]
        }
      },
      "notes": "Loads the prompt id, deal context, stage and tone."
    },
    {
      "id": "draft-ai",
      "name": "Summarise & Draft (provider-abstracted)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"messages\": [{\"role\":\"user\",\"content\": {{ JSON.stringify($json.deal) }} }]\n}",
        "options": { "timeout": 60000 }
      },
      "onError": "continueErrorOutput",
      "notes": "External call. Produces summary + follow-up draft. Routes through the AI provider abstraction."
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 220],
      "parameters": {},
      "notes": "Placeholder success branch. Follow-up is drafted for review, not auto-sent."
    },
    {
      "id": "fail-notice",
      "name": "Failure Notice",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 420],
      "parameters": {},
      "notes": "Failure path: AI unavailable -> degrade gracefully (Error Handling)."
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Build Request", "type": "main", "index": 0 }]] },
    "Build Request": { "main": [[{ "node": "Summarise & Draft (provider-abstracted)", "type": "main", "index": 0 }]] },
    "Summarise & Draft (provider-abstracted)": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }],
        [{ "node": "Failure Notice", "type": "main", "index": 0 }]
      ]
    }
  }
}
