modules/learning-hub/workflows/learning-hub-elearning.json
{
  "id": "jarvisLhElearn1",
  "name": "Jarvis · Learning Hub — Course (from magazine)",
  "meta": {
    "jarvisModule": "learning-hub",
    "jarvisVersion": "1.0.0",
    "description": "Magazine-grounded interactive e-learning course generator for the Learning Hub module. Called by the publication workflow (Execute Workflow) with a magazine \"source\" grounding, or run manually for a topic. AI writes a structured micro-course strictly from the supplied content; Render builds one self-contained 16:9 lesson HTML (section images, narration, scored knowledge check, missed-questions review, bedded certificate) that posts a completion message to the dashboard when embedded. Writes the lesson HTML to /reports/learning-hub.",
    "envVars": [
      "AI_PROVIDER",
      "IMAGE_PROVIDER",
      "OPENAI_API_KEY",
      "IMAGE_MODEL",
      "ELEARNING_SECTION_IMAGES",
      "CLIENT_NAME"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {}
    },
    {
      "id": "manb",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nlet custom = pick(i['Custom topic']); let drop = pick(i['Topic'], i.topic); if(/^custom/i.test(drop)) drop='';\nlet t = pick(custom, drop, i.query, i.text); t = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif(!t) t = ($env.DEFAULT_AWARENESS_TOPIC || 'phishing');\nconst fmt = pick(i['Format'], i.format).toLowerCase();\nlet format='Both'; if(fmt.indexOf('scorm')>=0 && fmt.indexOf('html')<0) format='SCORM'; else if(fmt.indexOf('html')>=0 && fmt.indexOf('scorm')<0) format='HTML';\nconst pm = parseInt(pick(i['Pass mark (%)'], i['Pass mark'], i.passMark),10);\nconst imgSel = pick(i['Section images'], i.illustrate);\nlet illustrate; if(imgSel) illustrate = !/^(no|false|off|0)/i.test(imgSel); else illustrate = (($env.ELEARNING_SECTION_IMAGES||'true').toString().toLowerCase()!=='false');\n// Learning Hub extras: a magazine-derived course passes grounding `source`, an\n// explicit `title`, and the publication/course ids that tie completion back to\n// the dashboard. When source/title are present the topic falls back to the title.\nconst source = pick(i.source, i.brief);\nconst title = pick(i.title);\nif(!custom && !drop && title) t = title;\nconst publicationId = pick(i.publicationId);\nconst courseId = pick(i.courseId);\nreturn [{ json: { topic:t, title:title, source:source, publicationId:publicationId, courseId:courseId, audience:(pick(i['Audience'],i.audience)||'All staff'), passMark:(isNaN(pm)?80:pm), format:format, illustrate:illustrate, date:new Date().toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString() } }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-opus-4-8' }}\",\n  \"max_tokens\": 4000,\n  \"system\": \"You are an instructional designer creating a short interactive security-awareness e-learning module. For the given topic and audience produce a SINGLE valid JSON object. Keys: title; intro (2-3 sentences on why this matters to the learner and the organisation); sections (4-6 items, each {heading, body (2-4 short paragraphs separated by single newline characters), keyPoints (2-4 short bullet strings), scene (ONE vivid sentence describing a realistic modern-office scene that visually illustrates this section, written for an illustrator: describe the people, setting and action; do NOT mention any on-screen text, screens of text, or logos)}); questions (4-6 knowledge-check items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}). Plain, engaging, non-technical language tailored to the audience. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify( ($json.source ? ('Base this module STRICTLY on the following staff security-awareness magazine content. Write a short course title, a 2-3 sentence intro, 4-6 sections and 4-6 multiple-choice questions grounded ONLY in it.\\n\\n' + $json.source) : ('Create an interactive e-learning module on the topic: ' + ($json.topic || 'phishing'))) + ' Audience: ' + ($json.audience || 'All staff') + '. Knowledge-check pass mark: ' + ($json.passMark || 80) + '%.' ) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.4, \"num_predict\": 3500 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are an instructional designer creating a short interactive security-awareness e-learning module. For the given topic and audience produce a SINGLE valid JSON object. Keys: title; intro (2-3 sentences on why this matters to the learner and the organisation); sections (4-6 items, each {heading, body (2-4 short paragraphs separated by single newline characters), keyPoints (2-4 short bullet strings), scene (ONE vivid sentence describing a realistic modern-office scene that visually illustrates this section, written for an illustrator: describe the people, setting and action; do NOT mention any on-screen text, screens of text, or logos)}); questions (4-6 knowledge-check items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}). Plain, engaging, non-technical language tailored to the audience. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify( ($json.source ? ('Base this module STRICTLY on the following staff security-awareness magazine content. Write a short course title, a 2-3 sentence intro, 4-6 sections and 4-6 multiple-choice questions grounded ONLY in it.\\n\\n' + $json.source) : ('Create an interactive e-learning module on the topic: ' + ($json.topic || 'phishing'))) + ' Audience: ' + ($json.audience || 'All staff') + '. Knowledge-check pass mark: ' + ($json.passMark || 80) + '%.' ) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json;\nconst STYLE = 'Cinematic, semi-realistic editorial illustration set in a bright modern corporate office. Polished, professional and calm mood; soft natural window light with a warm key light; teal and deep-navy colour grade; shallow depth of field; clean wide composition with generous empty space near the top. Diverse professional people in business-casual attire, natural expressions. ';\nconst NEG = ' No text, no words, no letters, no numbers, no logos, no signage, no watermark, no user-interface screenshots, no charts.';\nif (data && !data.title && r.title) data.title = r.title;\nconst sections = (data && data.sections) || [];\nconst imagePrompts = sections.map(function(s){ var scene = (s && (s.scene || s.heading)) || ('a workplace scene about ' + (r.topic||'security awareness')); return STYLE + 'Scene: ' + scene + '.' + NEG; });\nconst coverPrompt = 'Wide cinematic hero cover image for a premium corporate security-awareness course about ' + (r.topic||'security awareness') + '. ' + STYLE + 'Establishing wide shot of a modern office that conveys trust, focus and vigilance; dramatic but professional lighting; strong empty space on the left for a title.' + NEG;\nreturn [{ json: { data:data, topic:r.topic, audience:r.audience, passMark:r.passMark, format:r.format, illustrate:r.illustrate, imagePrompts:imagePrompts, coverPrompt:coverPrompt, date:r.date, client:r.client, publicationId:r.publicationId, courseId:r.courseId } }];\n"
      }
    },
    {
      "id": "images",
      "name": "Generate Section Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nconst sectionPrompts = j.imagePrompts || [];\nconst coverPrompt = j.coverPrompt || '';\nlet sections = sectionPrompts.map(function(){ return ''; });\nlet cover = '';\nconst key = $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY;\nif (j.illustrate && key) {\n  const H = this.helpers;\n  const base = ($env.OPENAI_BASE_URL || 'https://api.openai.com/v1');\n  const model = ($env.IMAGE_MODEL || 'gpt-image-1');\n  const size = ($env.ELEARNING_IMAGE_SIZE || '1536x1024');\n  const gen = async function(p){\n    try {\n      const resp = await H.httpRequest({ method:'POST', url: base + '/images/generations',\n        headers: { Authorization: 'Bearer ' + key, 'Content-Type': 'application/json' },\n        body: { model: model, prompt: p, size: size, n: 1 }, json: true, timeout: 180000 });\n      const b64 = resp && resp.data && resp.data[0] && resp.data[0].b64_json;\n      return b64 ? ('data:image/png;base64,' + b64) : '';\n    } catch (e) { return ''; }\n  };\n  if (coverPrompt) cover = await gen(coverPrompt);\n  for (let k = 0; k < sectionPrompts.length; k++) { sections[k] = await gen(sectionPrompts[k]); }\n}\nreturn [{ json: Object.assign({}, j, { images: { cover: cover, sections: sections } }) }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// E-learning renderer — 16:9 enterprise lesson player with cover, name entry,\n// section heroes (Ken Burns), animated SVG accents, animated score ring, and a\n// bedded-in completion certificate (client-side, print/save-as-PDF). SCORM-aware.\nconst d = $json.data || {};\nconst topic = $json.topic || 'Security Awareness';\nconst date = $json.date || new Date().toISOString().slice(0,10);\nconst client = ($json.client || '').toString();\nconst passMark = Number($json.passMark) || 80;\nconst format = $json.format || 'Both';\nconst images = ($json.images && typeof $json.images === 'object' && !Array.isArray($json.images))\n  ? { cover: ($json.images.cover||''), sections: ($json.images.sections||[]) }\n  : { cover:'', sections:(Array.isArray($json.images)?$json.images:[]) };\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nconst title = d.title || (topic + ' — Awareness Module');\nconst brand = client ? client : 'Security Awareness';\n// Learning Hub: ids that tie a completed course back to its publication card on\n// the dashboard (passed in by the orchestrator; empty for standalone runs).\nconst publicationId = ($json.publicationId || '').toString();\nconst courseId = ($json.courseId || '').toString();\n\n// --- animated SVG icon set (stroke = brand teal; .pz group is animated in CSS) ---\nfunction ic(inner){ return '<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#0E7C86\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><g class=\"pz\">'+inner+'</g></svg>'; }\nconst ICONS = {\n  shield: ic('<path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/>'),\n  lock:   ic('<rect x=\"5\" y=\"11\" width=\"14\" height=\"9\" rx=\"2\"/><path d=\"M8 11V8a4 4 0 0 1 8 0v3\"/>'),\n  mail:   ic('<rect x=\"3\" y=\"5\" width=\"18\" height=\"14\" rx=\"2\"/><path d=\"M3 7l9 6 9-6\"/>'),\n  eye:    ic('<path d=\"M2 12s4-7 10-7 10 7 10 7-4 7-10 7S2 12 2 12z\"/><circle cx=\"12\" cy=\"12\" r=\"3\"/>'),\n  alert:  ic('<path d=\"M12 3l9 16H3z\"/><path d=\"M12 10v4\"/><circle cx=\"12\" cy=\"16.7\" r=\"0.6\" fill=\"#0E7C86\" stroke=\"none\"/>'),\n  key:    ic('<circle cx=\"8\" cy=\"12\" r=\"4\"/><path d=\"M12 12h9M18 12v4M21 12v3\"/>'),\n  phone:  ic('<path d=\"M6 3h4l2 5-3 2a11 11 0 0 0 5 5l2-3 5 2v4a2 2 0 0 1-2 2A17 17 0 0 1 4 6a2 2 0 0 1 2-3z\"/>'),\n  id:     ic('<rect x=\"3\" y=\"5\" width=\"18\" height=\"14\" rx=\"2\"/><circle cx=\"9\" cy=\"11\" r=\"2\"/><path d=\"M14 10h4M14 13h4M6 16h8\"/>'),\n  check:  ic('<path d=\"M5 13l4 4 10-10\"/>')\n};\nfunction pickIcon(h){ h=(h||'').toLowerCase();\n  if(/phish|email|mail|bec|message|invoice/.test(h)) return 'mail';\n  if(/password|mfa|auth|credential|key|login/.test(h)) return 'key';\n  if(/call|phone|vish|voice/.test(h)) return 'phone';\n  if(/pretext|imperson|identity|profile/.test(h)) return 'id';\n  if(/spot|sign|watch|red flag|detect|recognis|recogniz/.test(h)) return 'eye';\n  if(/report|incident|respond|attack|suspect|breach|fraud/.test(h)) return 'alert';\n  if(/lock|secure|encrypt|device|protect|data/.test(h)) return 'lock';\n  return 'shield';\n}\nconst sections = (d.sections||[]).map(function(s){ var o=Object.assign({}, s); o.iconKey=pickIcon((s.heading||'')+' '+(s.scene||'')); return o; });\n\n// --- premium certificate furniture (gold seal/stamp, corner flourishes, crest, watermark) ---\nfunction certInitials(s){ var w=String(s||'').trim().split(/\\s+/).filter(Boolean); var a=(w[0]||'S')[0]+((w[1]||w[0]||'A')[0]||''); return a.toUpperCase().slice(0,2); }\nfunction makeSeal(init, topText, botText){\n  var cx=110, cy=104, spikes=30, R1=96, R2=86, pts=[];\n  for(var i=0;i<spikes*2;i++){ var r=(i%2===0)?R1:R2; var a=(Math.PI/spikes)*i - Math.PI/2; pts.push((cx+r*Math.cos(a)).toFixed(1)+','+(cy+r*Math.sin(a)).toFixed(1)); }\n  var burst='<polygon points=\"'+pts.join(' ')+'\" fill=\"url(#gold)\" stroke=\"#8A6A22\" stroke-width=\"1\"/>';\n  function laurel(side){ var g='',n=8; for(var i=0;i<n;i++){ var t=i/(n-1); var ang=(-150 + t*120)*Math.PI/180; var rad=58; var x=cx + side*(rad*Math.cos(ang)*0.62 + 6); var y=cy + 30 - rad*Math.sin(ang)*0.95; var rot=(side>0?-50:50)+(t*60*side); g+='<ellipse cx=\"'+x.toFixed(1)+'\" cy=\"'+y.toFixed(1)+'\" rx=\"9\" ry=\"3.6\" fill=\"#E3C766\" transform=\"rotate('+rot.toFixed(1)+' '+x.toFixed(1)+' '+y.toFixed(1)+')\"/>'; } return g; }\n  function star(scx,scy,R,r,p2){ var p=[]; for(var i=0;i<p2*2;i++){ var rr=(i%2===0)?R:r; var a=(Math.PI/p2)*i - Math.PI/2; p.push((scx+rr*Math.cos(a)).toFixed(1)+','+(scy+rr*Math.sin(a)).toFixed(1)); } return '<polygon points=\"'+p.join(' ')+'\" fill=\"url(#gold)\" stroke=\"#8A6A22\" stroke-width=\"0.6\"/>'; }\n  return '<svg class=\"seal\" viewBox=\"0 0 220 250\" xmlns=\"http://www.w3.org/2000/svg\">'\n   +'<defs><radialGradient id=\"gold\" cx=\"50%\" cy=\"36%\" r=\"68%\"><stop offset=\"0\" stop-color=\"#F6E6A8\"/><stop offset=\"50%\" stop-color=\"#D9B45A\"/><stop offset=\"100%\" stop-color=\"#A9842F\"/></radialGradient></defs>'\n   +'<path d=\"M83 150 L70 244 L98 222 L110 240 L122 222 L150 244 L137 150 Z\" fill=\"#0E7C86\"/>'\n   +'<path d=\"M83 150 L78 186 L137 186 L137 150 Z\" fill=\"#0a5b63\"/>'\n   +burst\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"80\" fill=\"url(#gold)\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"72\" fill=\"#0E2233\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"72\" fill=\"none\" stroke=\"#E3C766\" stroke-width=\"2\" stroke-dasharray=\"1.5 5\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"60\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"1\"/>'\n   +laurel(-1)+laurel(1)+star(cx,cy-18,16,7,5)\n   +'<text x=\"'+cx+'\" y=\"'+(cy+14)+'\" text-anchor=\"middle\" font-family=\"Georgia,serif\" font-size=\"20\" font-weight=\"bold\" fill=\"#F6E6A8\" letter-spacing=\"1\">'+esc(init)+'</text>'\n   +'<text x=\"'+cx+'\" y=\"'+(cy+34)+'\" text-anchor=\"middle\" font-family=\"Arial,sans-serif\" font-size=\"8.5\" fill=\"#E3C766\" letter-spacing=\"2\">'+esc(botText)+'</text>'\n   +'<text x=\"'+cx+'\" y=\"'+(cy-44)+'\" text-anchor=\"middle\" font-family=\"Arial,sans-serif\" font-size=\"9\" fill=\"#E3C766\" letter-spacing=\"3\">'+esc(topText)+'</text>'\n   +'</svg>';\n}\nfunction makeCorner(cls){ return '<svg class=\"cn '+cls+'\" viewBox=\"0 0 80 80\"><path d=\"M6 74 C6 36 36 6 74 6\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"2\"/><path d=\"M14 74 C14 42 42 14 74 14\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"1\"/><circle cx=\"6\" cy=\"74\" r=\"3.5\" fill=\"#C9A24B\"/></svg>'; }\nconst certSeal = makeSeal(certInitials(brand), 'CERTIFIED', 'EXCELLENCE');\nconst certCorners = makeCorner('tl')+makeCorner('tr')+makeCorner('bl')+makeCorner('br');\nconst certCrest = '<svg class=\"crest\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#0E7C86\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\nconst certWm = '<svg class=\"wm\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#0E2233\" stroke-width=\"1\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\n\nconst payload = { title:title, brand:brand, intro:(d.intro||''), sections:sections,\n  questions:(d.questions||[]), passMark:passMark, images:images, icons:ICONS,\n  seal:certSeal, corners:certCorners, crest:certCrest, wm:certWm,\n  publicationId:publicationId, courseId:courseId };\nconst dataJson = JSON.stringify(payload).replace(/</g,'\\\\u003c');\n\nconst CSS = `*{box-sizing:border-box} html,body{margin:0;height:100%} body{font-family:-apple-system,'Segoe UI',Arial,sans-serif;background:#0a141d;color:#14202b;display:flex;align-items:center;justify-content:center;overflow:hidden}\n.stage{position:relative;width:min(100vw,177.78vh);height:min(56.25vw,100vh);background:#fff;display:flex;flex-direction:column;overflow:hidden;box-shadow:0 24px 70px rgba(0,0,0,.55)}\n.top{display:flex;align-items:center;gap:13px;background:linear-gradient(135deg,#0E2233,#0E7C86);color:#fff;padding:13px 26px;flex:0 0 auto}\n.top .logo{width:30px;height:30px;flex:0 0 auto}\n.top .tt{line-height:1.1}\n.top .b{font-size:10px;letter-spacing:2px;text-transform:uppercase;color:#9fe4d8;font-weight:800}\n.top h1{margin:2px 0 0;font-size:17px;font-weight:700}\n.top .crumbs{margin-left:auto;font-size:11px;color:#bfe6df;letter-spacing:1px}\n.narr{margin-left:14px;display:inline-flex;align-items:center;gap:6px;background:rgba(255,255,255,.14);border:1px solid rgba(255,255,255,.32);color:#fff;border-radius:20px;padding:6px 12px;font-size:12px;font-weight:700;cursor:pointer;font-family:inherit;transition:background .15s}\n.narr:hover{background:rgba(255,255,255,.26)}.narr svg{display:block}\n.prog{height:5px;background:rgba(255,255,255,.16);flex:0 0 auto}.prog span{display:block;height:5px;background:linear-gradient(90deg,#5FD0C0,#0E7C86);width:0;transition:width .55s ease}\n.pane{flex:1 1 auto;position:relative;overflow:hidden;opacity:0}\n.pane.in{animation:fadeup .5s ease forwards}\n@keyframes fadeup{from{opacity:0;transform:translateY(16px)}to{opacity:1;transform:none}}\n.pane.center{display:flex;align-items:center;justify-content:center;text-align:center;padding:22px}\n.nav{flex:0 0 auto;display:flex;justify-content:space-between;align-items:center;padding:13px 26px;border-top:1px solid #eef2f6;background:#fff}\n.btn{background:#0E7C86;color:#fff;border:0;border-radius:10px;padding:12px 24px;font-size:15px;font-weight:700;cursor:pointer;transition:transform .15s,box-shadow .15s;box-shadow:0 6px 16px rgba(14,124,134,.28)}\n.btn:hover{transform:translateY(-2px);box-shadow:0 10px 22px rgba(14,124,134,.36)}\n.btn.alt{background:#fff;color:#0E7C86;border:1px solid #cfe3e3;box-shadow:none}\n.btn[disabled]{opacity:.35;cursor:default;transform:none;box-shadow:none}\n.kick{color:#0E7C86;letter-spacing:2px;font-size:12px;font-weight:800;text-transform:uppercase}\nh2{font-family:Georgia,serif;color:#0E2233;font-size:26px;margin:8px 0 14px;line-height:1.15}\np{font-size:15px;line-height:1.62;color:#2b3340;margin:0 0 12px}\nsvg .pz{transform-origin:center;transform-box:fill-box;animation:pz 2.6s ease-in-out infinite}\n@keyframes pz{0%,100%{transform:scale(1)}50%{transform:scale(1.12)}}\n.two{display:flex;height:100%}\n.two .left{position:relative;flex:0 0 44%;overflow:hidden;background:#0E2233}\n.two .right{flex:1 1 auto;padding:28px 36px;overflow:hidden;display:flex;flex-direction:column}\n.hero{position:absolute;inset:0;overflow:hidden}\n.hero .kb{position:absolute;inset:-5%;background-size:cover;background-position:center;animation:kb 20s ease-in-out infinite alternate}\n.hero .kb.ph{background:linear-gradient(135deg,#0E2233,#0E7C86)}\n@keyframes kb{from{transform:scale(1) translate(0,0)}to{transform:scale(1.12) translate(-1.5%,-1%)}}\n.right .scroll{overflow:auto;padding-right:8px}\n.meta{margin-top:auto;color:#8a98a4;font-size:12px;padding-top:12px}\n.kp{background:#F1F7F8;border-left:4px solid #0E7C86;border-radius:8px;padding:12px 16px;margin:12px 0}\n.kp .kph{font-weight:800;color:#0E2233;font-size:13px;display:flex;align-items:center;gap:8px;margin-bottom:6px}\n.kp .kph svg{width:18px;height:18px}\n.kp ul{margin:0;padding-left:18px}.kp li{font-size:14px;line-height:1.5;margin:5px 0}\n.badge{position:absolute;left:18px;bottom:18px;width:56px;height:56px;background:rgba(255,255,255,.94);border-radius:15px;display:flex;align-items:center;justify-content:center;box-shadow:0 10px 24px rgba(0,0,0,.28)}\n.badge svg{width:32px;height:32px}\n.cover{position:absolute;inset:0;color:#fff}\n.cover .cbg{position:absolute;inset:0;background-size:cover;background-position:center;animation:kb 24s ease-in-out infinite alternate}\n.cover .cbg.ph{background:linear-gradient(135deg,#0E2233,#0E7C86)}\n.cover .cgrad{position:absolute;inset:0;background:linear-gradient(90deg,rgba(8,18,28,.93),rgba(8,18,28,.55) 55%,rgba(8,18,28,.18))}\n.cover .cinner{position:absolute;left:7%;right:28%;top:50%;transform:translateY(-50%)}\n.ckick{letter-spacing:3px;font-size:13px;font-weight:800;text-transform:uppercase;color:#7fe0d2;animation:fadeup .6s .1s both}\n.ctitle{font-size:44px;line-height:1.05;margin:12px 0 14px;font-weight:800;animation:fadeup .6s .25s both}\n.csub{font-size:16px;line-height:1.5;color:#dcebf0;animation:fadeup .6s .4s both}\n.cact{margin-top:22px;animation:fadeup .6s .55s both}\n.namewrap{max-width:520px}\n.nicon{width:64px;height:64px;margin:0 auto 8px}.nicon svg{width:64px;height:64px}\n.ninput{width:100%;padding:14px 16px;font-size:16px;border:1px solid #cfe0e0;border-radius:10px;margin-top:14px;outline:none;font-family:inherit}\n.ninput:focus{border-color:#0E7C86;box-shadow:0 0 0 3px rgba(14,124,134,.15)}\n.nerr{color:#B02525;font-size:13px;margin-top:8px;min-height:16px}\n.quiz,.review{padding:26px 38px;overflow:auto;height:100%;width:100%;text-align:left}\n.q{margin:0 0 16px}.q .qt{font-weight:700;color:#0E2233;margin-bottom:8px;font-size:15px}\n.opt{display:flex;align-items:center;gap:10px;border:1px solid #dde6ec;border-radius:10px;padding:11px 14px;margin:7px 0;cursor:pointer;font-size:14px;transition:border-color .15s,background .15s}\n.opt:hover{border-color:#0E7C86;background:#f7fbfb}.opt input{accent-color:#0E7C86}\n.ans{background:#F1F7F8;border-left:4px solid #1E8E5A;border-radius:8px;padding:10px 14px;font-size:14px}.ans span{color:#5A6472;font-size:13px}\n.ans.wrong{background:#FDECEC;border-left-color:#B02525}.ans .yr{color:#B02525;font-weight:700;font-size:13px;margin-bottom:5px}\n.ring{position:relative;width:160px;height:160px;margin:0 auto 14px}\n.ring svg{width:160px;height:160px;transform:rotate(-90deg)}\n.ring .rbg{fill:none;stroke:#e7eef0;stroke-width:10}\n.ring .rfg{fill:none;stroke-width:10;stroke-linecap:round}\n.ring .rfg.p{stroke:#1E8E5A}.ring .rfg.f{stroke:#B02525}\n.ring .rscore{position:absolute;inset:0;display:flex;align-items:center;justify-content:center;font-size:38px;font-weight:800;color:#0E2233}\n.pill{display:inline-block;padding:5px 14px;border-radius:14px;font-size:12px;font-weight:800;letter-spacing:.5px}\n.pill.pass{background:#E4F6EC;color:#1E8E5A}.pill.fail{background:#FDECEC;color:#B02525}\n.certscreen{height:100%;width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center}\n.cchead{font-size:13px;color:#0E7C86;font-weight:800;letter-spacing:1px;text-transform:uppercase;margin-bottom:8px;font-family:Arial,sans-serif}\n@keyframes pop{from{opacity:0;transform:scale(.96)}to{opacity:1;transform:none}}\n.cert{position:relative;width:90%;height:auto;background:#0E2233;overflow:hidden;box-shadow:0 16px 40px rgba(0,0,0,.42);animation:pop .5s ease both}\n.cert .paper{position:absolute;inset:8px;background:radial-gradient(circle at 50% 42%,#ffffff 0%,#fbf8ef 70%,#f4eeda 100%);overflow:hidden}\n.cert .guil{position:absolute;inset:0;opacity:.5;background-image:repeating-radial-gradient(circle at 50% 42%,rgba(14,124,134,.05) 0 1px,transparent 1px 9px),repeating-linear-gradient(45deg,rgba(201,162,75,.045) 0 1px,transparent 1px 12px),repeating-linear-gradient(-45deg,rgba(201,162,75,.045) 0 1px,transparent 1px 12px)}\n.cert .wm{position:absolute;left:50%;top:43%;transform:translate(-50%,-50%);width:40%;height:auto;opacity:.05}\n.cert .gold{position:absolute;inset:22px;border:2px solid #C9A24B;border-radius:3px}.cert .gold:before{content:'';position:absolute;inset:5px;border:1px solid #D9B45A}\n.cert .cn{position:absolute;width:58px;height:58px}.cert .cn.tl{top:16px;left:16px}.cert .cn.tr{top:16px;right:16px;transform:scaleX(-1)}.cert .cn.bl{bottom:16px;left:16px;transform:scaleY(-1)}.cert .cn.br{bottom:16px;right:16px;transform:scale(-1,-1)}\n.cert .content{position:absolute;inset:6% 8% 7%;display:flex;align-items:center;justify-content:center;text-align:center;font-family:Georgia,serif}\n.cert .cwrap{width:100%;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:space-between;transform-origin:center center}\n.cert .chd,.cert .cmid{display:flex;flex-direction:column;align-items:center}\n.cert .crest{width:34px;height:34px}\n.cert .eyebrow{letter-spacing:6px;font-size:11px;color:#0E7C86;font-weight:700;text-transform:uppercase;font-family:Arial,sans-serif;margin-top:3px}\n.cert .issuer{font-size:26px;color:#0E2233;font-weight:700;margin-top:1px}\n.cert .rule{display:flex;align-items:center;gap:10px;color:#C9A24B;margin-top:5px}.cert .rule .ln{width:96px;height:1px;background:linear-gradient(90deg,transparent,#C9A24B)}.cert .rule .ln.r{background:linear-gradient(90deg,#C9A24B,transparent)}.cert .rule .dia{width:7px;height:7px;background:#C9A24B;transform:rotate(45deg)}\n.cert .present{font-style:italic;color:#5A6472;font-size:13px}\n.cert .name{font-size:40px;color:#0E2233;line-height:1.05;margin:2px 0 4px;font-weight:700}\n.cert .nund{width:260px;height:2px;background:linear-gradient(90deg,transparent,#C9A24B 20%,#C9A24B 80%,transparent);margin-bottom:6px}\n.cert .forr{font-style:italic;color:#5A6472;font-size:13px}\n.cert .course{font-size:19px;color:#0E7C86;font-weight:700;line-height:1.18;margin-top:3px;max-width:90%}\n.cert .ach{font-size:12px;color:#5A6472;margin-top:6px;font-family:Arial,sans-serif}.cert .ach b{color:#0E2233}\n.cert .footer{width:100%;display:flex;align-items:flex-end;justify-content:space-between}\n.cert .sig{width:190px;text-align:center}.cert .sig .sline{height:1px;background:#9aa6b2;margin-bottom:5px}.cert .sig .snm{font-style:italic;font-size:15px;color:#0E2233}.cert .sig .slb{font-size:9px;letter-spacing:1px;color:#8a98a4;font-family:Arial,sans-serif;text-transform:uppercase;margin-top:2px}\n.cert .sealwrap{width:118px;display:flex;justify-content:center;flex:0 0 auto}.cert .seal{width:106px;height:122px;filter:drop-shadow(0 6px 10px rgba(0,0,0,.22))}\n@media print{\n body{display:block;background:#fff;overflow:visible}\n .stage{box-shadow:none;width:auto;height:auto;display:block}\n .top,.prog,.nav,.cchead{display:none!important}\n .pane{opacity:1!important;overflow:visible;animation:none}\n #certArea{position:fixed;inset:0}\n .cert{width:100%!important;height:100%!important;margin:0;box-shadow:none;animation:none}\n @page{size:A4 landscape;margin:0}\n}`;\n\nconst APP = `(function(){\nvar D=DATA;var pass=D.passMark||80;var secs=D.sections||[];var total=secs.length;\nvar imgs=D.images||{cover:'',sections:[]};var ICONS=D.icons||{};\nvar learner='';var lastScore=0;var lastPassed=false;var wrongIdx=[];var userAns=[];\nvar sentDone=false;\n// Learning Hub: tell the parent dashboard (if embedded in an iframe) that this\n// course is complete, so it can flip the card to \"Complete\" and add a certificate.\nfunction signalComplete(){ if(sentDone)return; sentDone=true; try{ if(window.parent&&window.parent!==window){ window.parent.postMessage({type:'jarvis:complete',publicationId:D.publicationId||'',courseId:D.courseId||'',learner:learner||'',score:lastScore,passed:!!lastPassed,date:new Date().toISOString().slice(0,10),title:D.title||''},'*'); } }catch(e){} }\n// Deep link from the certificate library: open straight to the bedded certificate.\nfunction deepLinkCert(){ try{ var h=String(location.hash||''); if(h.toLowerCase().indexOf('cert')<0)return false; var m=/[?&#]name=([^&]+)/.exec(h); if(m)learner=decodeURIComponent(m[1].replace(/\\\\+/g,' ')); var s=/[?&#]score=([0-9]+)/.exec(h); if(s)lastScore=parseInt(s[1],10)||0; lastPassed=true; return true; }catch(e){ return false; } }\nvar pane=document.getElementById('pane');var navEl=document.getElementById('nav');\nvar prog=document.getElementById('progfill');var crumbs=document.getElementById('crumbs');\nfunction esc(s){return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return {'&':'&amp;','<':'&lt;','>':'&gt;'}[c];});}\nfunction findAPI(w){var n=0;while(w&&w.API==null&&w.parent&&w.parent!=w&&n<12){w=w.parent;n++;}return (w&&w.API)||null;}\nvar API=null;try{API=findAPI(window);if(!API&&window.top!==window)API=findAPI(window.top);}catch(e){}\nif(API){try{API.LMSInitialize('');API.LMSSetValue('cmi.core.lesson_status','incomplete');API.LMSCommit('');}catch(e){}}\nfunction scormName(){if(!API)return '';try{var n=API.LMSGetValue('cmi.core.student_name')||'';if(n.indexOf(',')>-1){var p=n.split(',');return (p[1]+' '+p[0]).replace(/\\\\s+/g,' ').trim();}return n;}catch(e){return '';}}\nfunction scormReport(score,passed){if(!API)return;try{API.LMSSetValue('cmi.core.score.raw',String(score));API.LMSSetValue('cmi.core.score.min','0');API.LMSSetValue('cmi.core.score.max','100');API.LMSSetValue('cmi.core.lesson_status',passed?'passed':'failed');API.LMSCommit('');}catch(e){}}\nfunction scormFinish(){stopNarr();if(!API)return;try{API.LMSFinish('');}catch(e){}}\nvar synth=(window.speechSynthesis||null);var narrText='';var narrState='off';var audioMuted=false;var narrKeep=null;var narrTimer=null;\ntry{if(synth){synth.getVoices();if('onvoiceschanged' in synth)synth.onvoiceschanged=function(){try{synth.getVoices();}catch(e){}};}}catch(e){}\nvar I_PLAY='<svg viewBox=\"0 0 24 24\" width=\"13\" height=\"13\" fill=\"currentColor\"><path d=\"M8 5v14l11-7z\"/></svg>';\nvar I_PAUSE='<svg viewBox=\"0 0 24 24\" width=\"13\" height=\"13\" fill=\"currentColor\"><path d=\"M6 5h4v14H6zM14 5h4v14h-4z\"/></svg>';\nfunction audBtn(){return document.getElementById('audctl');}\nfunction updAud(){var b=audBtn();if(!b)return;if(narrState==='off'||!synth||!narrText){b.style.display='none';return;}b.style.display='';b.innerHTML=(narrState==='playing')?(I_PAUSE+' Pause narration'):(I_PLAY+' Resume narration');}\nfunction clearKeep(){if(narrKeep){clearInterval(narrKeep);narrKeep=null;}}\nfunction keepAlive(){clearKeep();narrKeep=setInterval(function(){if(narrState==='playing'&&synth&&synth.speaking&&!synth.paused){try{synth.resume();}catch(e){}}},9000);}\nfunction stopNarr(){if(narrTimer){clearTimeout(narrTimer);narrTimer=null;}clearKeep();if(synth){try{synth.cancel();}catch(e){}}}\nfunction speakNow(){if(!synth||!narrText)return;try{synth.cancel();}catch(e){}var parts=String(narrText).match(/[^.!?]+[.!?]+|[^.!?]+$/g)||[narrText];var last=null,spoke=false;parts.forEach(function(p){p=p.trim();if(!p)return;var u=new SpeechSynthesisUtterance(p);u.rate=.98;u.pitch=1;u.volume=1;last=u;spoke=true;synth.speak(u);});if(!spoke)return;last.onend=function(){if(narrState==='playing'){narrState='off';clearKeep();updAud();}};narrState='playing';keepAlive();updAud();}\nfunction narrateBody(text){stopNarr();narrText=(text||'').replace(/\\\\s+/g,' ').trim();if(!synth||!narrText){narrState='off';updAud();return;}if(audioMuted){narrState='paused';updAud();return;}narrState='playing';updAud();narrTimer=setTimeout(speakNow,90);}\nfunction narrNone(){stopNarr();narrText='';narrState='off';updAud();}\nfunction toggleAud(){if(!synth)return;if(narrState==='playing'){try{synth.pause();}catch(e){}narrState='paused';audioMuted=true;clearKeep();updAud();}else if(narrState==='paused'){audioMuted=false;if(synth.paused&&synth.speaking){narrState='playing';try{synth.resume();}catch(e){}keepAlive();updAud();}else{speakNow();}}}\nfunction paint(html,cls){narrNone();pane.className='pane '+(cls||'');pane.innerHTML=html;void pane.offsetWidth;pane.classList.add('in');}\nfunction btn(label,fn,alt){var b=document.createElement('button');b.className='btn'+(alt?' alt':'');b.innerHTML=label;if(fn)b.onclick=fn;else b.disabled=true;return b;}\nfunction sp(){return document.createElement('span');}\nfunction setNav(L,R){navEl.innerHTML='';navEl.appendChild(L||sp());navEl.appendChild(R||sp());}\nvar steps=['intro'];for(var i=0;i<total;i++)steps.push('s'+i);steps.push('quiz');\nfunction setProg(key){var ix=steps.indexOf(key);var pct=ix<0?0:Math.round(((ix+1)/steps.length)*100);prog.style.width=pct+'%';if(crumbs)crumbs.textContent=ix>=0?('Step '+(ix+1)+' of '+steps.length):'';}\nfunction hero(src){return '<div class=\"hero\">'+(src?('<div class=\"kb\" style=\"background-image:url('+src+')\"></div>'):'<div class=\"kb ph\"></div>')+'</div>';}\nfunction iconFor(i){var k=(secs[i]&&secs[i].iconKey)||'shield';return ICONS[k]||ICONS.shield||'';}\nfunction fmtDate(d){var M=['January','February','March','April','May','June','July','August','September','October','November','December'];var n=d.getDate();var s=['th','st','nd','rd'],v=n%100;var ord=n+(s[(v-20)%10]||s[v]||s[0]);return M[d.getMonth()]+' '+ord+' '+d.getFullYear();}\nfunction cover(){narrNone();setProg('');pane.className='pane';navEl.innerHTML='';var bg=imgs.cover||(imgs.sections&&imgs.sections[0])||'';\n pane.innerHTML='<div class=\"cover\">'+(bg?('<div class=\"cbg\" style=\"background-image:url('+bg+')\"></div>'):'<div class=\"cbg ph\"></div>')+'<div class=\"cgrad\"></div><div class=\"cinner\"><div class=\"ckick\">'+esc(D.brand)+' &middot; Security Awareness</div><h1 class=\"ctitle\">'+esc(D.title)+'</h1><p class=\"csub\">'+esc(D.intro)+'</p><div class=\"cact\"></div></div></div>';\n void pane.offsetWidth;pane.classList.add('in');pane.querySelector('.cact').appendChild(btn('Begin &rarr;',showName));}\nfunction showName(){setProg('');var pre=learner||scormName();\n paint('<div class=\"namewrap\"><div class=\"nicon\">'+(ICONS.id||ICONS.shield||'')+'</div><h2>Before we begin</h2><p>Enter your name as it should appear on your certificate of completion.</p><input id=\"nm\" class=\"ninput\" type=\"text\" placeholder=\"Your full name\" value=\"'+esc(pre)+'\"><div class=\"nerr\" id=\"nerr\"></div></div>','center');\n var R=btn('Start course &rarr;',function(){var v=(document.getElementById('nm').value||'').trim();if(!v){document.getElementById('nerr').textContent='Please enter your name to continue.';return;}learner=v;showIntro();});\n setNav(btn('&larr; Back',cover,true),R);\n setTimeout(function(){var el=document.getElementById('nm');if(el){el.focus();el.addEventListener('keydown',function(e){if(e.key==='Enter')R.click();});}},60);}\nfunction showIntro(){setProg('intro');var bg=imgs.cover||(imgs.sections&&imgs.sections[0])||'';\n paint('<div class=\"two\"><div class=\"left\">'+hero(bg)+'</div><div class=\"right\"><div class=\"kick\">Introduction</div><h2>'+esc(D.title)+'</h2><div class=\"scroll\"><p>'+esc(D.intro)+'</p></div><div class=\"meta\">'+total+' sections &middot; knowledge check &middot; pass mark '+pass+'%</div></div></div>');\n narrateBody(D.intro);\n setNav(btn('&larr; Name',showName,true),btn('Start &rarr;',function(){showSection(0);}));}\nfunction showSection(i){if(i<0)return showIntro();if(i>=total)return showQuiz();setProg('s'+i);var s=secs[i]||{};\n var body=(s.body||'').split(/\\\\n+/).map(function(p){return '<p>'+esc(p)+'</p>';}).join('');\n var kp=(s.keyPoints&&s.keyPoints.length)?('<div class=\"kp\"><div class=\"kph\">'+(ICONS.check||'')+'Key points</div><ul>'+s.keyPoints.map(function(k){return '<li>'+esc(k)+'</li>';}).join('')+'</ul></div>'):'';\n var src=(imgs.sections&&imgs.sections[i])||'';\n paint('<div class=\"two\"><div class=\"left\">'+hero(src)+'<div class=\"badge\">'+iconFor(i)+'</div></div><div class=\"right\"><div class=\"kick\">Section '+(i+1)+' / '+total+'</div><h2>'+esc(s.heading||('Section '+(i+1)))+'</h2><div class=\"scroll\">'+body+kp+'</div></div></div>');\n narrateBody(s.body||'');\n setNav(btn('&larr; Back',function(){showSection(i-1);},true),btn(i+1<total?'Next &rarr;':'Knowledge check &rarr;',function(){showSection(i+1);}));}\nfunction showQuiz(){setProg('quiz');var qs=D.questions||[];var h='<div class=\"quiz\"><div class=\"kick\">Knowledge check</div><h2>Test your understanding</h2>';\n qs.forEach(function(q,qi){h+='<div class=\"q\"><div class=\"qt\">'+(qi+1)+'. '+esc(q.q)+'</div>';(q.options||[]).forEach(function(o,oi){h+='<label class=\"opt\"><input type=\"radio\" name=\"q'+qi+'\" value=\"'+oi+'\"><span>'+esc(o)+'</span></label>';});h+='</div>';});\n h+='</div>';paint(h);setNav(btn('&larr; Back',function(){showSection(total-1);},true),btn('Submit answers &rarr;',grade));}\nfunction grade(){var qs=D.questions||[];var c=0;wrongIdx=[];userAns=[];qs.forEach(function(q,qi){var s=document.querySelector('input[name=q'+qi+']:checked');var v=s?Number(s.value):-1;userAns[qi]=v;if(v===Number(q.answer))c++;else wrongIdx.push(qi);});var score=qs.length?Math.round((c/qs.length)*100):0;lastScore=score;lastPassed=score>=pass;scormReport(score,lastPassed);showResults(c,qs.length);}\nfunction showResults(correct,n){setProg('quiz');var passed=lastPassed;var score=lastScore;\n paint('<div class=\"results\"><div class=\"ring\"><svg viewBox=\"0 0 120 120\"><circle class=\"rbg\" cx=\"60\" cy=\"60\" r=\"52\"/><circle class=\"rfg '+(passed?'p':'f')+'\" cx=\"60\" cy=\"60\" r=\"52\"/></svg><div class=\"rscore\">'+score+'%</div></div><div class=\"pill '+(passed?'pass':'fail')+'\">'+(passed?'PASSED':'NOT YET PASSED')+'</div><p>You answered '+correct+' of '+n+' correctly.</p></div>','center');\n var fg=pane.querySelector('.rfg');if(fg){var C=2*Math.PI*52;fg.style.strokeDasharray=C;fg.style.strokeDashoffset=C;void fg.offsetWidth;fg.style.transition='stroke-dashoffset 1.1s ease';fg.style.strokeDashoffset=C*(1-score/100);}\n setNav(btn('Review answers',showReview,true),passed?btn('Continue &rarr;',showWrong):btn('Try again',showQuiz));}\nfunction showReview(){var qs=D.questions||[];var h='<div class=\"review\"><div class=\"kick\">Review</div><h2>Answers &amp; explanations</h2>';\n qs.forEach(function(q,qi){var a=(q.options||[])[q.answer];h+='<div class=\"q\"><div class=\"qt\">'+(qi+1)+'. '+esc(q.q)+'</div><div class=\"ans\"><b>Correct:</b> '+esc(a)+'<br><span>'+esc(q.why||'')+'</span></div></div>';});\n h+='</div>';paint(h);setNav(btn('&larr; Results',function(){showResults(0,(D.questions||[]).length);},true),lastPassed?btn('Continue &rarr;',showWrong):null);}\nfunction showWrong(){setProg('quiz');var qs=D.questions||[];if(!lastPassed||!wrongIdx.length)return showCert();\n var h='<div class=\"review\"><div class=\"kick\">Before your certificate</div><h2>Review the questions you missed</h2>';\n wrongIdx.forEach(function(qi){var q=qs[qi]||{};var correct=(q.options||[])[q.answer];var yi=userAns[qi];var your=(yi!=null&&yi>=0)?((q.options||[])[yi]):'No answer given';h+='<div class=\"q\"><div class=\"qt\">'+(qi+1)+'. '+esc(q.q)+'</div><div class=\"ans wrong\"><div class=\"yr\">Your answer: '+esc(your)+'</div><b>Correct answer:</b> '+esc(correct)+'<br><span>'+esc(q.why||'')+'</span></div></div>';});\n h+='</div>';paint(h);setNav(btn('&larr; Results',function(){showResults(0,qs.length);},true),btn('Get certificate &rarr;',showCert));}\nfunction showCert(){setProg('quiz');signalComplete();var issuer=D.brand||'Security Awareness Team';var dd=fmtDate(new Date());\n var inner='<div class=\"paper\"><div class=\"guil\"></div>'+D.wm+'<div class=\"gold\"></div>'+D.corners\n  +'<div class=\"content\"><div class=\"cwrap\">'\n  +'<div class=\"chd\">'+D.crest+'<div class=\"eyebrow\">Certificate of Completion</div><div class=\"issuer\">'+esc(issuer)+'</div><div class=\"rule\"><span class=\"ln\"></span><span class=\"dia\"></span><span class=\"ln r\"></span></div></div>'\n  +'<div class=\"cmid\"><div class=\"present\">This is proudly presented to</div><div class=\"name\">'+esc(learner||'Learner')+'</div><div class=\"nund\"></div><div class=\"forr\">for successfully completing</div><div class=\"course\">'+esc(D.title)+'</div><div class=\"ach\">Awarded on <b>'+esc(dd)+'</b> &nbsp;&middot;&nbsp; Assessment score <b>'+lastScore+'%</b></div></div>'\n  +'<div class=\"footer\"><div class=\"sig\"><div class=\"sline\"></div><div class=\"snm\">'+esc(issuer)+'</div><div class=\"slb\">Issued by</div></div><div class=\"sealwrap\">'+D.seal+'</div><div class=\"sig\"><div class=\"sline\"></div><div class=\"snm\">'+esc(dd)+'</div><div class=\"slb\">Date of issue</div></div></div>'\n  +'</div></div>';\n var cert='<div id=\"certArea\"><div class=\"cert\">'+inner+'</div></div>';\n paint('<div class=\"certscreen\"><div class=\"cchead\">Congratulations'+(learner?(', '+esc(learner)):'')+' &mdash; you have earned your certificate</div>'+cert+'</div>','center');\n (function(){var c=pane.querySelector('.cert');if(!c)return;var avW=pane.clientWidth-44;var avH=pane.clientHeight-78;var w=avW,hh=w/1.414;if(hh>avH){hh=avH;w=hh*1.414;}c.style.width=Math.round(w)+'px';c.style.height=Math.round(hh)+'px';\n  var ct=c.querySelector('.content'),cw=c.querySelector('.cwrap');if(ct&&cw){cw.style.transform='';cw.style.justifyContent='flex-start';cw.style.height='auto';var nat=cw.scrollHeight,av=ct.clientHeight;cw.style.height='100%';cw.style.justifyContent='space-between';if(nat>av&&nat>0){cw.style.transform='scale('+(av/nat).toFixed(3)+')';}}})();\n setNav(btn('&#128424; Print / Save as PDF',function(){window.print();}),btn('Finish',function(){signalComplete();scormFinish();}));}\n(function(){var b=audBtn();if(b)b.onclick=toggleAud;})();\ntry{var _nm=/[?&]name=([^&]+)/.exec(location.search);if(_nm)learner=decodeURIComponent(_nm[1].replace(/\\\\+/g,' '));}catch(e){}\nif(deepLinkCert()){showCert();}else{cover();}\n})();`;\n\nconst logo = '<svg class=\"logo\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\nconst html = `<!doctype html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>${esc(title)}</title><style>${CSS}</style></head><body><div class=\"stage\"><div class=\"top\">${logo}<div class=\"tt\"><div class=\"b\">${esc(brand)}</div><h1>${esc(title)}</h1></div><div class=\"crumbs\" id=\"crumbs\"></div><button class=\"narr\" id=\"audctl\" type=\"button\" style=\"display:none\"></button></div><div class=\"prog\"><span id=\"progfill\"></span></div><div class=\"pane\" id=\"pane\"></div><div class=\"nav\" id=\"nav\"></div></div><script>var DATA=${dataJson};\n${APP}</script></body></html>`;\n\nconst fileSafe = topic.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40) || 'module';\nconst idf = 'JARVIS_'+fileSafe.replace(/-/g,'_').toUpperCase();\nconst manifest = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>\\n'\n+'<manifest identifier=\"'+idf+'\" version=\"1.2\" xmlns=\"http://www.imsproject.org/xsd/imscp_rootv1p1p2\" xmlns:adlcp=\"http://www.adlnet.org/xsd/adlcp_rootv1p2\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.imsproject.org/xsd/imscp_rootv1p1p2 imscp_rootv1p1p2.xsd http://www.adlnet.org/xsd/adlcp_rootv1p2 adlcp_rootv1p2.xsd\">\\n'\n+'  <metadata><schema>ADL SCORM</schema><schemaversion>1.2</schemaversion></metadata>\\n'\n+'  <organizations default=\"ORG\"><organization identifier=\"ORG\"><title>'+esc(title)+'</title>\\n'\n+'    <item identifier=\"ITEM1\" identifierref=\"RES1\"><title>'+esc(title)+'</title></item>\\n'\n+'  </organization></organizations>\\n'\n+'  <resources><resource identifier=\"RES1\" type=\"webcontent\" adlcp:scormtype=\"sco\" href=\"index.html\"><file href=\"index.html\"/></resource></resources>\\n'\n+'</manifest>\\n';\n\nreturn [{ json: { lessonHtml: html, manifest: manifest, topic: topic, date: date, fileSafe: fileSafe, format: format, publicationId: publicationId, courseId: courseId } }];\n"
      }
    },
    {
      "id": "write",
      "name": "Package & Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Package & Write — HTML only (no SCORM). Self-contained lesson HTML so it renders\n// inline in the Awareness Portal. Writes under /reports/learning-hub.\nconst fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/learning-hub';\nconst base = (meta.fileSafe || 'module') + '-' + meta.date;\ntry { fs.mkdirSync(dir, { recursive: true }); } catch (e) {}\nlet ok = false;\ntry { fs.writeFileSync(dir + '/' + base + '.html', meta.lessonHtml); ok = true; } catch (e) {}\nif (!ok) throw new Error('Learning Hub course: could not write to ' + dir + '. Make /reports writable by the n8n container, e.g. `chmod -R a+rwX reports` on the host.');\nconst bin = await this.helpers.prepareBinaryData(Buffer.from(meta.lessonHtml, 'utf8'), base + '.html', 'text/html');\nreturn [{ json: { ok: true, dir: dir, file: dir + '/' + base + '.html', html: dir + '/' + base + '.html', topic: meta.topic, format: 'HTML', publicationId: meta.publicationId, courseId: meta.courseId }, binary: { data: bin } }];\n"
      }
    }
  ],
  "connections": {
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Manually": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Generate Section Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Section Images": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Package & Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
