modules/learning-hub/workflows/learning-hub-elearning.json
{
  "id": "jarvisLhElearn1",
  "name": "Jarvis · Learning Hub — Course (from magazine)",
  "meta": {
    "jarvisModule": "learning-hub",
    "jarvisVersion": "1.0.0",
    "description": "Magazine-grounded interactive e-learning course generator for the Learning Hub module. Called by the publication workflow (Execute Workflow) with a magazine \"source\" grounding, or run manually for a topic. AI writes a structured micro-course strictly from the supplied content; Render builds one self-contained 16:9 lesson HTML (section images, narration, scored knowledge check, missed-questions review, bedded certificate) that posts a completion message to the dashboard when embedded. Writes the lesson HTML to /reports/learning-hub.",
    "envVars": [
      "AI_PROVIDER",
      "IMAGE_PROVIDER",
      "OPENAI_API_KEY",
      "IMAGE_MODEL",
      "ELEARNING_SECTION_IMAGES",
      "CLIENT_NAME"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {}
    },
    {
      "id": "manb",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Resolve Input — front door for the e-learning engine. Accepts a standalone Course\n// Form submission, a /command (executeWorkflow), or a magazine-derived course, and\n// normalises them into one contract. Also builds the SHARED, style- and length-aware\n// AI prompt (systemPrompt + userPrompt) referenced by both the Claude and Ollama nodes\n// so there is a single source of truth for the content schema.\nconst i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\n\n// ---- topic ----\nlet custom = pick(i['Custom topic'], i.customTopic); let drop = pick(i['Topic'], i.topic); if(/^custom/i.test(drop)) drop='';\nlet t = pick(custom, drop, i.query, i.text); t = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif(!t) t = ($env.DEFAULT_AWARENESS_TOPIC || 'phishing');\n\n// ---- style ----  quiz | gamified | puzzle | scenario  (Surprise me -> random)\nconst STYLES = ['quiz','gamified','puzzle','scenario'];\nfunction styleKey(s){ s=(s||'').toLowerCase();\n  if(/surprise|random|any/.test(s)) return STYLES[Math.floor(Math.random()*STYLES.length)];\n  if(/scenario|branch|story|choose/.test(s)) return 'scenario';\n  if(/puzzle|spot|phish|hunt|flag/.test(s)) return 'puzzle';\n  if(/game|gamif|arcade|soc|triage|mission/.test(s)) return 'gamified';\n  if(/quiz|q&a|q and a|qa|knowledge|test/.test(s)) return 'quiz';\n  return '';\n}\nlet style = styleKey(pick(i['Style'], i.style));\nif(!style) style = styleKey($env.ELEARNING_DEFAULT_STYLE) || 'gamified';\n\n// ---- length ----  micro | standard | full -> content counts\nfunction lenKey(s){ s=(s||'').toLowerCase();\n  if(/micro|short|quick|bite|mini/.test(s)) return 'micro';\n  if(/full|long|deep|comprehensive|standardplus/.test(s)) return 'full';\n  if(/standard|medium|normal|default/.test(s)) return 'standard';\n  return '';\n}\nlet length = lenKey(pick(i['Length'], i.length));\nif(!length) length = lenKey($env.ELEARNING_DEFAULT_LENGTH) || 'standard';\nconst COUNTS = {\n  micro:    { sec:'2 to 3', q:'3 to 4', items:'4 to 6',  scenes:'3 to 4', puzzles:'3 to 4' },\n  standard: { sec:'4',      q:'4 to 5', items:'6 to 8',  scenes:'4 to 5', puzzles:'4 to 5' },\n  full:     { sec:'5 to 6', q:'5 to 6', items:'8 to 12', scenes:'5 to 6', puzzles:'5 to 6' }\n}[length];\n\n// ---- other options ----\nconst fmt = pick(i['Format'], i.format).toLowerCase();\nlet format='Both'; if(fmt.indexOf('scorm')>=0 && fmt.indexOf('html')<0) format='SCORM'; else if(fmt.indexOf('html')>=0 && fmt.indexOf('scorm')<0) format='HTML';\nconst pm = parseInt(pick(i['Pass mark (%)'], i['Pass mark'], i.passMark),10);\nconst imgSel = pick(i['Section images'], i.illustrate);\nlet illustrate; if(imgSel) illustrate = !/^(no|false|off|0)/i.test(imgSel); else illustrate = (($env.ELEARNING_SECTION_IMAGES||'true').toString().toLowerCase()!=='false');\n\n// Magazine-derived course passes grounding `source`, an explicit `title`, and the\n// publication/course ids that tie completion back to the dashboard.\nconst source = pick(i.source, i.brief);\nconst title = pick(i.title);\nif(!custom && !drop && title) t = title;\nconst publicationId = pick(i.publicationId);\nconst courseId = pick(i.courseId);\nconst audience = pick(i['Audience'], i.audience) || 'All staff';\nconst passMark = isNaN(pm)?80:pm;\n\n// ---------- shared AI prompt (style + length aware) ----------\nconst SECT = 'sections (' + COUNTS.sec + ' items, each {heading, body (2-4 short paragraphs separated by single newline characters), keyPoints (2-4 short bullet strings), scene (ONE vivid sentence describing a realistic modern-office scene that visually illustrates this section, written for an illustrator: describe the people, setting and action; do NOT mention any on-screen text, screens of text, or logos)})';\nconst QUES = 'questions (' + COUNTS.q + ' knowledge-check items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)})';\nconst ACTIVITY = {\n  gamified: 'gameItems (' + COUNTS.items + ' items for a SOC-triage training game, each {from (who it appears to be from - a name and/or email address, a phone caller, or e.g. \\'IT Helpdesk\\'), subject (a short subject line or the gist of the request, max 80 characters), body (1-2 short sentences with the message or request), clues (2-4 very short things a careful person would notice - a mix of genuine red flags and reassuring or neutral details), action (\\'allow\\' if it is safe normal business, \\'report\\' if it is suspicious or phishing and should be reported to security, or \\'block\\' if it is clearly malicious or an unsafe request to refuse), why (one sentence the learner sees after deciding), level (1, 2 or 3 to group items into difficulty tiers), boss (true for exactly ONE climactic targeted-attack scenario such as CEO/BEC gift-card fraud, otherwise omit)}). Aim for a roughly even spread of allow/report/block.',\n  puzzle: 'puzzles (' + COUNTS.puzzles + ' \"spot the red flags\" items, each {kind (\\'email\\', \\'sms\\' or \\'web\\'), from (apparent sender, caller or website/URL), subject (subject line, message gist or page title, max 80 characters), body (1-2 short sentences of the message or page), elements (4-6 items the learner inspects, each {label (what part this is, e.g. \\'Sender address\\', \\'Link\\', \\'Greeting\\', \\'Urgency\\', \\'Attachment\\', \\'Tone\\'), value (the concrete content of that part), suspicious (true if it is a genuine red flag, false if it is innocent), why (one short sentence explaining why)}), verdict (\\'phish\\' if the overall item is malicious/suspicious, or \\'legit\\' if it is genuinely safe)}). Mix phish and legit items, and within each item mix suspicious and innocent elements so it is not all-or-nothing.',\n  scenario: 'scenario (a branching decision story, an object {intro (1-2 sentences setting the scene and the learner\\'s role), scenes (' + COUNTS.scenes + ' decision points, each {situation (2-3 sentences describing what is happening right now), choices (exactly 3 items, each {text (the action the learner could take, first person), correct (true for the single best choice), feedback (one or two sentences of coaching shown after this choice, written as the consequence of taking it), risk (\\'low\\', \\'medium\\' or \\'high\\' - the security risk this choice creates)})}), outro (1-2 sentences wrapping up the lesson)}). Exactly one choice per scene is correct; wrong choices still continue the story with honest consequences.'\n};\nconst styleLine = style==='quiz'\n  ? 'This module is a concise Q&A / knowledge-check style: rely on the sections and questions; do NOT include any game, puzzle or scenario block.'\n  : ('This module is the \"' + style + '\" interactive style. In addition to the common keys, also include: ' + (ACTIVITY[style]||''));\nconst systemPrompt = 'You are an instructional designer creating a short, engaging, interactive security-awareness e-learning module. For the given topic and audience produce a SINGLE valid JSON object. Common keys: title; intro (2-3 sentences on why this matters to the learner and the organisation); ' + SECT + '; ' + QUES + '. ' + styleLine + ' Use plain, engaging, non-technical language tailored to the audience. Do NOT use markdown code fences. Output ONLY the JSON object.';\nconst userPrompt = (source\n  ? ('Base this module STRICTLY on the following staff security-awareness magazine content. Ground every section, question and activity ONLY in it.\\n\\n' + source)\n  : ('Create an interactive e-learning module on the topic: ' + t))\n  + ' Audience: ' + audience + '. Knowledge-check pass mark: ' + passMark + '%.';\n\nreturn [{ json: {\n  topic:t, title:title, source:source, style:style, length:length,\n  publicationId:publicationId, courseId:courseId, audience:audience,\n  passMark:passMark, format:format, illustrate:illustrate,\n  systemPrompt:systemPrompt, userPrompt:userPrompt,\n  date:new Date().toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString()\n} }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-opus-4-8' }}\",\n  \"max_tokens\": 8000,\n  \"system\": {{ JSON.stringify($json.systemPrompt) }},\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify($json.userPrompt) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.4, \"num_predict\": 7000 },\n  \"messages\": [ {\"role\":\"system\",\"content\": {{ JSON.stringify($json.systemPrompt) }} }, {\"role\":\"user\",\"content\": {{ JSON.stringify($json.userPrompt) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json;\nconst style = r.style || 'gamified';\nconst STYLE = 'Cinematic, semi-realistic editorial illustration set in a bright modern corporate office. Polished, professional and calm mood; soft natural window light with a warm key light; teal and deep-navy colour grade; shallow depth of field; clean wide composition with generous empty space near the top. Diverse professional people in business-casual attire, natural expressions. ';\nconst NEG = ' No text, no words, no letters, no numbers, no logos, no signage, no watermark, no user-interface screenshots, no charts.';\nif (data && !data.title && r.title) data.title = r.title;\nconst sections = (data && data.sections) || [];\nconst imagePrompts = sections.map(function(s){ var scene = (s && (s.scene || s.heading)) || ('a workplace scene about ' + (r.topic||'security awareness')); return STYLE + 'Scene: ' + scene + '.' + NEG; });\nconst coverPrompt = 'Wide cinematic hero cover image for a premium corporate security-awareness course about ' + (r.topic||'security awareness') + '. ' + STYLE + 'Establishing wide shot of a modern office that conveys trust, focus and vigilance; dramatic but professional lighting; strong empty space on the left for a title.' + NEG;\n// The night-shift SOC backplate is only used by the \"gamified\" arcade style, so we\n// only spend an image generation on it for that style (other styles reuse the cover\n// and section heroes for their context art). Gritty, photoreal, empty environment so\n// the DOM console reads clearly on top.\nconst gameBgPrompt = (style === 'gamified')\n  ? ('Photoreal cinematic wide shot of a dark security operations centre (SOC) at night, empty with no people. A large rain-streaked window looks out over a rainy city skyline; rows of monitors glow warm amber and teal against deep navy shadows; moody volumetric lighting, soft bokeh, film grain, atmospheric haze. Centre of the frame is calm and uncluttered. ' + NEG)\n  : '';\nreturn [{ json: { data:data, topic:r.topic, audience:r.audience, passMark:r.passMark, format:r.format, illustrate:r.illustrate, style:style, length:r.length, imagePrompts:imagePrompts, coverPrompt:coverPrompt, gameBgPrompt:gameBgPrompt, date:r.date, client:r.client, publicationId:r.publicationId, courseId:r.courseId } }];\n"
      }
    },
    {
      "id": "images",
      "name": "Generate Section Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nconst sectionPrompts = j.imagePrompts || [];\nconst coverPrompt = j.coverPrompt || '';\nconst gameBgPrompt = j.gameBgPrompt || '';\nlet sections = sectionPrompts.map(function(){ return ''; });\nlet cover = '';\nlet gameBg = '';\nconst key = $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY;\nif (j.illustrate && key) {\n  const H = this.helpers;\n  const base = ($env.OPENAI_BASE_URL || 'https://api.openai.com/v1');\n  const model = ($env.IMAGE_MODEL || 'gpt-image-2');\n  const size = ($env.ELEARNING_IMAGE_SIZE || '1536x1024');\n  const gen = async function(p){\n    try {\n      const resp = await H.httpRequest({ method:'POST', url: base + '/images/generations',\n        headers: { Authorization: 'Bearer ' + key, 'Content-Type': 'application/json' },\n        body: { model: model, prompt: p, size: size, quality: ($env.ELEARNING_IMAGE_QUALITY || 'high'), n: 1 }, json: true, timeout: 180000 });\n      const b64 = resp && resp.data && resp.data[0] && resp.data[0].b64_json;\n      return b64 ? ('data:image/png;base64,' + b64) : '';\n    } catch (e) { return ''; }\n  };\n  if (coverPrompt) cover = await gen(coverPrompt);\n  for (let k = 0; k < sectionPrompts.length; k++) { sections[k] = await gen(sectionPrompts[k]); }\n  // Backplate for the SOC triage game (optional; gated by the same key/illustrate\n  // flag and skippable via ELEARNING_GAME_IMAGE=false). Degrades to a CSS backdrop\n  // in the renderer when empty.\n  if (gameBgPrompt && (($env.ELEARNING_GAME_IMAGE || 'true').toString().toLowerCase() !== 'false')) { gameBg = await gen(gameBgPrompt); }\n}\nreturn [{ json: Object.assign({}, j, { images: { cover: cover, sections: sections, gameBg: gameBg } }) }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// E-learning renderer — gamified 16:9 enterprise lesson player. Cover, name entry,\n// mission briefing, animated sections (Ken Burns heroes, animated SVG accents),\n// XP + levels + achievement badges, and a self-paced \"Night-shift SOC triage\"\n// mini-game: the learner inspects each queued item (sender, message, clues) and\n// sorts it Allow / Report / Block. Relaxed (no-fail) by default with an optional\n// Challenge mode (decision timer, lives, power-ups, score chase); levels + a boss\n// finale; a handler (\"Jarvis\") on comms; local high scores. A three.js atmosphere\n// layer (gpt-image backplate, rain, parallax, bloom) sits behind the crisp DOM\n// console and degrades to a CSS backdrop when WebGL is unavailable, so all gameplay\n// text stays readable. Knowledge check with animated score ring, confetti, and an\n// embedded completion certificate. SCORM 1.2 aware (quiz score reported to LMS).\nconst d = $json.data || {};\nconst topic = $json.topic || 'Security Awareness';\nconst date = $json.date || new Date().toISOString().slice(0,10);\nconst client = ($json.client || '').toString();\nconst passMark = Number($json.passMark) || 80;\nconst format = $json.format || 'Both';\nconst style = ($json.style || 'gamified');\nconst lengthKey = ($json.length || 'standard');\nconst images = ($json.images && typeof $json.images === 'object' && !Array.isArray($json.images))\n  ? { cover: ($json.images.cover||''), sections: ($json.images.sections||[]), gameBg: ($json.images.gameBg||'') }\n  : { cover:'', sections:(Array.isArray($json.images)?$json.images:[]), gameBg:'' };\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nconst title = d.title || (topic + ' — Awareness Module');\nconst brand = client ? client : 'Security Awareness';\nconst publicationId = ($json.publicationId || '').toString();\nconst courseId = ($json.courseId || '').toString();\n\n// Env-driven brand theme (platform standard).\nfunction jbHex(v,df){v=String(v||'').trim();return /^#[0-9a-fA-F]{6}$/.test(v)?v:df;}\nvar JB_PRI=jbHex($env.BRAND_PRIMARY,'#0A1A2F'),JB_ACC=jbHex($env.BRAND_ACCENT,'#0E7C86'),JB_GOLD=jbHex($env.BRAND_GOLD,'#C9A24B');\n\n// three.js — vendored library inlined so the package is fully self-contained\n// (works inside locked-down LMS networks); CDN fallback only if the mount is\n// missing; the game itself degrades to a 2D DOM version when WebGL/THREE fail.\nlet _fs = null; try { _fs = require('fs'); } catch (e) {}\nlet THREE_SRC = '';\ntry { THREE_SRC = _fs.readFileSync('/config/vendor/three.min.js','utf8'); } catch (e) { THREE_SRC = ''; }\n\n// --- animated SVG icon set (stroke = brand accent; .pz group is animated in CSS) ---\nfunction ic(inner){ return '<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"'+JB_ACC+'\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><g class=\"pz\">'+inner+'</g></svg>'; }\nconst ICONS = {\n  shield: ic('<path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/>'),\n  lock:   ic('<rect x=\"5\" y=\"11\" width=\"14\" height=\"9\" rx=\"2\"/><path d=\"M8 11V8a4 4 0 0 1 8 0v3\"/>'),\n  mail:   ic('<rect x=\"3\" y=\"5\" width=\"18\" height=\"14\" rx=\"2\"/><path d=\"M3 7l9 6 9-6\"/>'),\n  eye:    ic('<path d=\"M2 12s4-7 10-7 10 7 10 7-4 7-10 7S2 12 2 12z\"/><circle cx=\"12\" cy=\"12\" r=\"3\"/>'),\n  alert:  ic('<path d=\"M12 3l9 16H3z\"/><path d=\"M12 10v4\"/><circle cx=\"12\" cy=\"16.7\" r=\"0.6\" fill=\"'+JB_ACC+'\" stroke=\"none\"/>'),\n  key:    ic('<circle cx=\"8\" cy=\"12\" r=\"4\"/><path d=\"M12 12h9M18 12v4M21 12v3\"/>'),\n  phone:  ic('<path d=\"M6 3h4l2 5-3 2a11 11 0 0 0 5 5l2-3 5 2v4a2 2 0 0 1-2 2A17 17 0 0 1 4 6a2 2 0 0 1 2-3z\"/>'),\n  id:     ic('<rect x=\"3\" y=\"5\" width=\"18\" height=\"14\" rx=\"2\"/><circle cx=\"9\" cy=\"11\" r=\"2\"/><path d=\"M14 10h4M14 13h4M6 16h8\"/>'),\n  check:  ic('<path d=\"M5 13l4 4 10-10\"/>')\n};\nfunction pickIcon(h){ h=(h||'').toLowerCase();\n  if(/phish|email|mail|bec|message|invoice/.test(h)) return 'mail';\n  if(/password|mfa|auth|credential|key|login/.test(h)) return 'key';\n  if(/call|phone|vish|voice/.test(h)) return 'phone';\n  if(/pretext|imperson|identity|profile/.test(h)) return 'id';\n  if(/spot|sign|watch|red flag|detect|recognis|recogniz/.test(h)) return 'eye';\n  if(/report|incident|respond|attack|suspect|breach|fraud/.test(h)) return 'alert';\n  if(/lock|secure|encrypt|device|protect|data/.test(h)) return 'lock';\n  return 'shield';\n}\nconst sections = (d.sections||[]).map(function(s){ var o=Object.assign({}, s); o.iconKey=pickIcon((s.heading||'')+' '+(s.scene||'')); return o; });\n// Game items: AI-written SOC triage tickets. Enriched schema\n// { from, subject, body, clues[], action:'allow'|'report'|'block', why, level, boss }\n// with backward compatibility for the legacy { text, risky, why } shape (mapped to\n// allow/block). If the model returned none the mission is skipped gracefully (we\n// never fabricate training content here).\nfunction elArr(a){ return Array.isArray(a)?a:[]; }\nconst gameItems = elArr(d.gameItems).map(function(g){ g=g||{};\n  var action=String(g.action||'').toLowerCase();\n  if(action!=='allow'&&action!=='report'&&action!=='block') action = g.risky ? 'block' : 'allow';\n  var body=String(g.body||g.text||'').trim();\n  var clues=elArr(g.clues).map(function(c){return String(c||'').trim();}).filter(Boolean).slice(0,4);\n  var lvl=parseInt(g.level,10); lvl=(lvl>=1&&lvl<=9)?lvl:0;\n  return { from:String(g.from||'').trim().slice(0,70), subject:String(g.subject||'').trim().slice(0,90),\n    body:body.slice(0,240), clues:clues, action:action, why:String(g.why||'').trim().slice(0,220),\n    level:lvl, boss:!!g.boss };\n}).filter(function(g){ return g.body || g.subject; }).slice(0,14);\n\n// Spot-the-Phish puzzles (element-tagging model — robust, no fragile substring hunts):\n// { kind, from, subject, body, elements:[{label,value,suspicious,why}], verdict }.\nconst puzzles = elArr(d.puzzles).map(function(p){ p=p||{};\n  var els = elArr(p.elements).map(function(e){ e=e||{}; return { label:String(e.label||'').trim().slice(0,40), value:String(e.value||'').trim().slice(0,180), suspicious:!!e.suspicious, why:String(e.why||'').trim().slice(0,220) }; }).filter(function(e){ return e.value; }).slice(0,7);\n  var verdict=String(p.verdict||'').toLowerCase(); if(verdict!=='phish'&&verdict!=='legit') verdict = els.some(function(e){return e.suspicious;}) ? 'phish' : 'legit';\n  var kind=String(p.kind||'').toLowerCase(); kind=/sms|text/.test(kind)?'sms':(/web|site|url|page/.test(kind)?'web':'email');\n  return { kind:kind, from:String(p.from||'').trim().slice(0,90), subject:String(p.subject||'').trim().slice(0,90), body:String(p.body||'').trim().slice(0,300), elements:els, verdict:verdict };\n}).filter(function(p){ return p.elements.length>=2; }).slice(0,8);\n\n// Branching scenario: { intro, scenes:[{situation, choices:[{text,correct,feedback,risk}]}], outro }\nconst scn = (d.scenario && typeof d.scenario==='object' && !Array.isArray(d.scenario)) ? d.scenario : null;\nconst scenario = scn ? { intro:String(scn.intro||'').trim().slice(0,400), outro:String(scn.outro||'').trim().slice(0,400),\n  scenes: elArr(scn.scenes).map(function(s){ s=s||{};\n    var ch = elArr(s.choices).map(function(c){ c=c||{}; var rk=String(c.risk||'').toLowerCase(); if(rk!=='low'&&rk!=='medium'&&rk!=='high') rk=c.correct?'low':'medium';\n      return { text:String(c.text||'').trim().slice(0,200), correct:!!c.correct, feedback:String(c.feedback||'').trim().slice(0,280), risk:rk }; }).filter(function(c){ return c.text; }).slice(0,4);\n    if(ch.length && !ch.some(function(c){return c.correct;})) ch[0].correct=true;\n    return { situation:String(s.situation||'').trim().slice(0,500), choices:ch }; }).filter(function(s){ return s.situation && s.choices.length>=2; }).slice(0,8)\n} : null;\n\n// --- premium certificate furniture (gold seal, corner flourishes, crest, watermark) ---\nfunction certInitials(s){ var w=String(s||'').trim().split(/\\s+/).filter(Boolean); var a=(w[0]||'S')[0]+((w[1]||w[0]||'A')[0]||''); return a.toUpperCase().slice(0,2); }\nfunction makeSeal(init, topText, botText){\n  var cx=110, cy=104, spikes=30, R1=96, R2=86, pts=[];\n  for(var i=0;i<spikes*2;i++){ var r=(i%2===0)?R1:R2; var a=(Math.PI/spikes)*i - Math.PI/2; pts.push((cx+r*Math.cos(a)).toFixed(1)+','+(cy+r*Math.sin(a)).toFixed(1)); }\n  var burst='<polygon points=\"'+pts.join(' ')+'\" fill=\"url(#gold)\" stroke=\"#8A6A22\" stroke-width=\"1\"/>';\n  function laurel(side){ var g='',n=8; for(var i=0;i<n;i++){ var t=i/(n-1); var ang=(-150 + t*120)*Math.PI/180; var rad=58; var x=cx + side*(rad*Math.cos(ang)*0.62 + 6); var y=cy + 30 - rad*Math.sin(ang)*0.95; var rot=(side>0?-50:50)+(t*60*side); g+='<ellipse cx=\"'+x.toFixed(1)+'\" cy=\"'+y.toFixed(1)+'\" rx=\"9\" ry=\"3.6\" fill=\"#E3C766\" transform=\"rotate('+rot.toFixed(1)+' '+x.toFixed(1)+' '+y.toFixed(1)+')\"/>'; } return g; }\n  function star(scx,scy,R,r,p2){ var p=[]; for(var i=0;i<p2*2;i++){ var rr=(i%2===0)?R:r; var a=(Math.PI/p2)*i - Math.PI/2; p.push((scx+rr*Math.cos(a)).toFixed(1)+','+(scy+rr*Math.sin(a)).toFixed(1)); } return '<polygon points=\"'+p.join(' ')+'\" fill=\"url(#gold)\" stroke=\"#8A6A22\" stroke-width=\"0.6\"/>'; }\n  return '<svg class=\"seal\" viewBox=\"0 0 220 250\" xmlns=\"http://www.w3.org/2000/svg\">'\n   +'<defs><radialGradient id=\"gold\" cx=\"50%\" cy=\"36%\" r=\"68%\"><stop offset=\"0\" stop-color=\"#F6E6A8\"/><stop offset=\"50%\" stop-color=\"#D9B45A\"/><stop offset=\"100%\" stop-color=\"#A9842F\"/></radialGradient></defs>'\n   +'<path d=\"M83 150 L70 244 L98 222 L110 240 L122 222 L150 244 L137 150 Z\" fill=\"'+JB_ACC+'\"/>'\n   +'<path d=\"M83 150 L78 186 L137 186 L137 150 Z\" fill=\"#0a5b63\"/>'\n   +burst\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"80\" fill=\"url(#gold)\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"72\" fill=\"#0E2233\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"72\" fill=\"none\" stroke=\"#E3C766\" stroke-width=\"2\" stroke-dasharray=\"1.5 5\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"60\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"1\"/>'\n   +laurel(-1)+laurel(1)+star(cx,cy-18,16,7,5)\n   +'<text x=\"'+cx+'\" y=\"'+(cy+14)+'\" text-anchor=\"middle\" font-family=\"Georgia,serif\" font-size=\"20\" font-weight=\"bold\" fill=\"#F6E6A8\" letter-spacing=\"1\">'+esc(init)+'</text>'\n   +'<text x=\"'+cx+'\" y=\"'+(cy+34)+'\" text-anchor=\"middle\" font-family=\"Arial,sans-serif\" font-size=\"8.5\" fill=\"#E3C766\" letter-spacing=\"2\">'+esc(botText)+'</text>'\n   +'<text x=\"'+cx+'\" y=\"'+(cy-44)+'\" text-anchor=\"middle\" font-family=\"Arial,sans-serif\" font-size=\"9\" fill=\"#E3C766\" letter-spacing=\"3\">'+esc(topText)+'</text>'\n   +'</svg>';\n}\nfunction makeCorner(cls){ return '<svg class=\"cn '+cls+'\" viewBox=\"0 0 80 80\"><path d=\"M6 74 C6 36 36 6 74 6\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"2\"/><path d=\"M14 74 C14 42 42 14 74 14\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"1\"/><circle cx=\"6\" cy=\"74\" r=\"3.5\" fill=\"#C9A24B\"/></svg>'; }\nconst certSeal = makeSeal(certInitials(brand), 'CERTIFIED', 'EXCELLENCE');\nconst certCorners = makeCorner('tl')+makeCorner('tr')+makeCorner('bl')+makeCorner('br');\nconst certCrest = '<svg class=\"crest\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"'+JB_ACC+'\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\nconst certWm = '<svg class=\"wm\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#0E2233\" stroke-width=\"1\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\n\nconst payload = { title:title, brand:brand, intro:(d.intro||''), sections:sections,\n  questions:(d.questions||[]), game:gameItems, puzzles:puzzles, scenario:scenario,\n  style:style, length:lengthKey, passMark:passMark, images:images, icons:ICONS,\n  theme:{ pri:JB_PRI, acc:JB_ACC, gold:JB_GOLD },\n  seal:certSeal, corners:certCorners, crest:certCrest, wm:certWm,\n  publicationId:publicationId, courseId:courseId };\nconst dataJson = JSON.stringify(payload).replace(/</g,'\\\\u003c');\n\nconst CSS = `:root{--pri:${JB_PRI};--acc:${JB_ACC};--gold:${JB_GOLD}}\n*{box-sizing:border-box} html,body{margin:0;height:100%} body{font-family:-apple-system,'Segoe UI',Arial,sans-serif;background:#0a141d;color:#14202b;display:flex;align-items:center;justify-content:center;overflow:hidden}\n.stage{position:relative;width:min(100vw,177.78vh);height:min(56.25vw,100vh);background:#fff;display:flex;flex-direction:column;overflow:hidden;box-shadow:0 24px 70px rgba(0,0,0,.55)}\n.top{display:flex;align-items:center;gap:13px;background:linear-gradient(135deg,#0E2233,var(--acc));color:#fff;padding:11px 22px;flex:0 0 auto}\n.top .logo{width:28px;height:28px;flex:0 0 auto}\n.top .tt{line-height:1.1;min-width:0}\n.top .b{font-size:10px;letter-spacing:2px;text-transform:uppercase;color:#9fe4d8;font-weight:800}\n.top h1{margin:2px 0 0;font-size:15px;font-weight:700;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}\n.top .crumbs{margin-left:auto;font-size:11px;color:#bfe6df;letter-spacing:1px;white-space:nowrap}\n.xpwrap{display:flex;align-items:center;gap:8px;margin-left:14px;flex:0 0 auto}\n.lvl{font-size:10px;font-weight:800;letter-spacing:1px;background:var(--gold);color:#0E2233;border-radius:10px;padding:3px 9px;transition:transform .2s}\n.lvl.pop{transform:scale(1.25)}\n.xpbar{width:90px;height:7px;border-radius:4px;background:rgba(255,255,255,.18);overflow:hidden}\n.xpbar span{display:block;height:7px;background:linear-gradient(90deg,#5FD0C0,var(--gold));width:0;transition:width .5s ease}\n.xpn{font-size:10px;color:#cfe9e4;font-weight:700;min-width:46px}\n.narr{margin-left:10px;display:inline-flex;align-items:center;gap:6px;background:rgba(255,255,255,.14);border:1px solid rgba(255,255,255,.32);color:#fff;border-radius:20px;padding:6px 12px;font-size:12px;font-weight:700;cursor:pointer;font-family:inherit;transition:background .15s}\n.narr:hover{background:rgba(255,255,255,.26)}.narr svg{display:block}\n.prog{height:5px;background:rgba(14,34,51,.12);flex:0 0 auto}.prog span{display:block;height:5px;background:linear-gradient(90deg,#5FD0C0,var(--acc));width:0;transition:width .55s ease}\n.pane{flex:1 1 auto;position:relative;overflow:hidden;opacity:0}\n.pane.in{animation:fadeup .5s ease forwards}\n@keyframes fadeup{from{opacity:0;transform:translateY(16px)}to{opacity:1;transform:none}}\n.pane.center{display:flex;align-items:center;justify-content:center;text-align:center;padding:22px}\n.nav{flex:0 0 auto;display:flex;justify-content:space-between;align-items:center;padding:12px 22px;border-top:1px solid #eef2f6;background:#fff}\n.btn{background:var(--acc);color:#fff;border:0;border-radius:10px;padding:12px 24px;font-size:15px;font-weight:700;cursor:pointer;transition:transform .15s,box-shadow .15s;box-shadow:0 6px 16px rgba(14,124,134,.28);font-family:inherit}\n.btn:hover{transform:translateY(-2px);box-shadow:0 10px 22px rgba(14,124,134,.36)}\n.btn.alt{background:#fff;color:var(--acc);border:1px solid #cfe3e3;box-shadow:none}\n.btn[disabled]{opacity:.35;cursor:default;transform:none;box-shadow:none}\n.kick{color:var(--acc);letter-spacing:2px;font-size:12px;font-weight:800;text-transform:uppercase}\nh2{font-family:Georgia,serif;color:#0E2233;font-size:26px;margin:8px 0 14px;line-height:1.15}\np{font-size:15px;line-height:1.62;color:#2b3340;margin:0 0 12px}\nsvg .pz{transform-origin:center;transform-box:fill-box;animation:pz 2.6s ease-in-out infinite}\n@keyframes pz{0%,100%{transform:scale(1)}50%{transform:scale(1.12)}}\n.two{display:flex;height:100%}\n.two .left{position:relative;flex:0 0 44%;overflow:hidden;background:#0E2233}\n.two .right{flex:1 1 auto;padding:26px 34px;overflow:hidden;display:flex;flex-direction:column}\n.hero{position:absolute;inset:0;overflow:hidden}\n.hero .kb{position:absolute;inset:-5%;background-size:cover;background-position:center;animation:kb 20s ease-in-out infinite alternate}\n.hero .kb.ph{background:linear-gradient(135deg,#0E2233,var(--acc))}\n@keyframes kb{from{transform:scale(1) translate(0,0)}to{transform:scale(1.12) translate(-1.5%,-1%)}}\n.right .scroll{overflow:auto;padding-right:8px}\n.meta{margin-top:auto;color:#8a98a4;font-size:12px;padding-top:12px}\n.kp{background:#F1F7F8;border-left:4px solid var(--acc);border-radius:8px;padding:12px 16px;margin:12px 0}\n.kp .kph{font-weight:800;color:#0E2233;font-size:13px;display:flex;align-items:center;gap:8px;margin-bottom:6px}\n.kp .kph svg{width:18px;height:18px}\n.kp ul{margin:0;padding-left:18px}.kp li{font-size:14px;line-height:1.5;margin:5px 0}\n.badge{position:absolute;left:18px;bottom:18px;width:56px;height:56px;background:rgba(255,255,255,.94);border-radius:15px;display:flex;align-items:center;justify-content:center;box-shadow:0 10px 24px rgba(0,0,0,.28)}\n.badge svg{width:32px;height:32px}\n.cover{position:absolute;inset:0;color:#fff}\n.cover .cbg{position:absolute;inset:0;background-size:cover;background-position:center;animation:kb 24s ease-in-out infinite alternate}\n.cover .cbg.ph{background:linear-gradient(135deg,#0E2233,var(--acc))}\n.cover .cgrad{position:absolute;inset:0;background:linear-gradient(90deg,rgba(8,18,28,.93),rgba(8,18,28,.55) 55%,rgba(8,18,28,.18))}\n.cover .cinner{position:absolute;left:7%;right:28%;top:50%;transform:translateY(-50%)}\n.ckick{letter-spacing:3px;font-size:13px;font-weight:800;text-transform:uppercase;color:#7fe0d2;animation:fadeup .6s .1s both}\n.ctitle{font-size:42px;line-height:1.05;margin:12px 0 14px;font-weight:800;animation:fadeup .6s .25s both}\n.csub{font-size:16px;line-height:1.5;color:#dcebf0;animation:fadeup .6s .4s both}\n.cact{margin-top:22px;animation:fadeup .6s .55s both}\n.namewrap{max-width:520px}\n.nicon{width:64px;height:64px;margin:0 auto 8px}.nicon svg{width:64px;height:64px}\n.ninput{width:100%;padding:14px 16px;font-size:16px;border:1px solid #cfe0e0;border-radius:10px;margin-top:14px;outline:none;font-family:inherit}\n.ninput:focus{border-color:var(--acc);box-shadow:0 0 0 3px rgba(14,124,134,.25)}\n.nerr{color:#B02525;font-size:13px;margin-top:8px;min-height:16px}\n.mission{list-style:none;margin:14px 0 0;padding:0;text-align:left}\n.mission li{display:flex;align-items:center;gap:12px;padding:9px 0;border-bottom:1px solid #eef2f6;font-size:14.5px;color:#2b3340}\n.mission li .mn{flex:0 0 26px;height:26px;border-radius:50%;background:var(--acc);color:#fff;font-weight:800;font-size:12px;display:flex;align-items:center;justify-content:center}\n.mission li .mx{margin-left:auto;font-size:11px;letter-spacing:1px;color:#8a98a4;font-weight:700;text-transform:uppercase}\n.mission li.game .mn{background:var(--gold);color:#0E2233}\n.quiz,.review{padding:26px 38px;overflow:auto;height:100%;width:100%;text-align:left}\n.q{margin:0 0 16px}.q .qt{font-weight:700;color:#0E2233;margin-bottom:8px;font-size:15px}\n.opt{display:flex;align-items:center;gap:10px;border:1px solid #dde6ec;border-radius:10px;padding:11px 14px;margin:7px 0;cursor:pointer;font-size:14px;transition:border-color .15s,background .15s}\n.opt:hover{border-color:var(--acc);background:#f7fbfb}.opt input{accent-color:var(--acc)}\n.ans{background:#F1F7F8;border-left:4px solid #1E8E5A;border-radius:8px;padding:10px 14px;font-size:14px}.ans span{color:#5A6472;font-size:13px}\n.ans.wrong{background:#FDECEC;border-left-color:#B02525}.ans .yr{color:#B02525;font-weight:700;font-size:13px;margin-bottom:5px}\n.ring{position:relative;width:150px;height:150px;margin:0 auto 14px}\n.ring svg{width:150px;height:150px;transform:rotate(-90deg)}\n.ring .rbg{fill:none;stroke:#e7eef0;stroke-width:10}\n.ring .rfg{fill:none;stroke-width:10;stroke-linecap:round}\n.ring .rfg.p{stroke:#1E8E5A}.ring .rfg.f{stroke:#B02525}\n.ring .rscore{position:absolute;inset:0;display:flex;align-items:center;justify-content:center;font-size:36px;font-weight:800;color:#0E2233}\n.pill{display:inline-block;padding:5px 14px;border-radius:14px;font-size:12px;font-weight:800;letter-spacing:.5px}\n.pill.pass{background:#E4F6EC;color:#1E8E5A}.pill.fail{background:#FDECEC;color:#B02525}\n.statrow{display:flex;gap:12px;justify-content:center;margin:10px 0 4px;flex-wrap:wrap}\n.stat{background:#F1F7F8;border:1px solid #e3ecee;border-radius:12px;padding:10px 18px;min-width:104px}\n.stat .sv{font-size:21px;font-weight:800;color:#0E2233}.stat .sl{font-size:10px;letter-spacing:1.5px;text-transform:uppercase;color:#8a98a4;font-weight:700;margin-top:2px}\n.medals{display:flex;gap:10px;justify-content:center;margin:12px 0 2px;flex-wrap:wrap}\n.medal{display:flex;flex-direction:column;align-items:center;gap:4px;width:86px}\n.medal .mi{width:46px;height:46px;border-radius:50%;background:linear-gradient(135deg,#F6E6A8,#D9B45A);display:flex;align-items:center;justify-content:center;font-size:22px;box-shadow:0 5px 12px rgba(169,132,47,.35);animation:pop .45s ease both}\n.medal.off .mi{background:#eef2f6;box-shadow:none;filter:grayscale(1);opacity:.45}\n.medal .ml{font-size:10px;font-weight:700;color:#46505c;text-align:center;line-height:1.25}\n.toast{position:absolute;left:20px;bottom:78px;z-index:60;background:#0E2233;color:#fff;border-left:4px solid var(--gold);border-radius:10px;padding:11px 16px;font-size:13px;box-shadow:0 12px 30px rgba(0,0,0,.4);display:flex;align-items:center;gap:10px;transform:translateX(-130%);transition:transform .4s cubic-bezier(.2,.9,.3,1.2)}\n.toast.show{transform:none}\n.toast .te{font-size:20px}.toast b{color:#F6E6A8}\n/* ---- SOC night-shift triage game ---- */\n.soc{position:absolute;inset:0;background:#05080d;overflow:hidden;color:#dfeaf2}\n.socgl{position:absolute;inset:0;z-index:0}\n.socgl canvas{display:block}\n.socbg{position:absolute;inset:0;z-index:0;background:#06101a center/cover no-repeat;filter:saturate(.92)}\n.socbg.ph{background:radial-gradient(120% 90% at 72% 8%,#103149 0%,#0a1d2c 45%,#05080d 100%)}\n.socbg:after{content:'';position:absolute;inset:0;background:linear-gradient(180deg,rgba(5,8,13,.32),rgba(5,8,13,.80))}\n.socrain{position:absolute;inset:-20% 0;z-index:1;pointer-events:none;opacity:.45;background-image:repeating-linear-gradient(101deg,rgba(150,200,235,0) 0 6px,rgba(150,200,235,.13) 6px 7px,rgba(150,200,235,0) 7px 13px);animation:socrain .7s linear infinite}\n@keyframes socrain{to{transform:translateY(13px)}}\n.socvig{position:absolute;inset:0;z-index:2;pointer-events:none;background:radial-gradient(130% 120% at 50% 38%,transparent 52%,rgba(0,0,0,.6))}\n.socscan{position:absolute;inset:0;z-index:2;pointer-events:none;opacity:.08;background:repeating-linear-gradient(0deg,rgba(255,255,255,.5) 0 1px,transparent 1px 3px)}\n.socui{position:absolute;inset:0;z-index:5;display:flex;flex-direction:column;pointer-events:none}\n.socui button,.socui .clue{pointer-events:auto}\n.sochud{display:flex;align-items:center;gap:11px;padding:11px 18px;font-weight:800;background:linear-gradient(180deg,rgba(4,12,20,.82),rgba(4,12,20,0))}\n.hchip{font-size:10px;letter-spacing:1.5px;text-transform:uppercase;background:rgba(159,228,216,.14);border:1px solid rgba(159,228,216,.3);color:#9fe4d8;border-radius:20px;padding:4px 11px}\n.hchip.boss{background:rgba(176,37,37,.22);border-color:#e06a4f;color:#ffb3a8;animation:bosspulse 1.1s ease-in-out infinite}\n@keyframes bosspulse{0%,100%{box-shadow:0 0 0 0 rgba(224,106,79,.45)}50%{box-shadow:0 0 0 6px rgba(224,106,79,0)}}\n.hscore{font-size:22px;color:#fff;min-width:42px}\n.hstreak{font-size:12px;color:var(--gold);letter-spacing:.5px;min-width:70px}\n.hdots{display:flex;gap:5px}\n.hdot{width:8px;height:8px;border-radius:50%;background:rgba(255,255,255,.18)}\n.hdot.done{background:#5FD0C0}.hdot.cur{background:var(--gold);box-shadow:0 0 8px var(--gold)}.hdot.miss{background:#B02525}\n.hspring{margin-left:auto;display:flex;align-items:center;gap:10px}\n.hearts{display:flex;gap:3px;font-size:15px;filter:drop-shadow(0 1px 2px rgba(0,0,0,.5))}\n.heart.gone{opacity:.22;filter:grayscale(1)}\n.htime{width:118px;height:8px;border-radius:5px;background:rgba(255,255,255,.14);overflow:hidden}\n.htime span{display:block;height:8px;width:100%;background:linear-gradient(90deg,#5FD0C0,var(--gold));transition:width .25s linear}\n.htime.low span{background:linear-gradient(90deg,#B02525,#e06a4f)}\n.hmode{font-size:9px;letter-spacing:2px;text-transform:uppercase;color:#9fb3bd}\n.powers{display:flex;gap:7px}\n.pw{display:flex;align-items:center;gap:5px;background:rgba(201,162,75,.16);border:1px solid rgba(201,162,75,.5);color:#ffd98a;border-radius:18px;padding:4px 10px;font-size:11px;font-weight:800;cursor:pointer;font-family:inherit;animation:pop .35s ease both;transition:transform .12s}\n.pw:hover{transform:translateY(-1px)}.pw[disabled]{opacity:.4;cursor:default}\n.socstage{flex:1 1 auto;display:flex;align-items:center;justify-content:center;padding:6px 20px;min-height:0}\n.ticket{position:relative;width:min(560px,88%);max-height:100%;display:flex;flex-direction:column;background:linear-gradient(180deg,rgba(11,24,36,.94),rgba(8,18,28,.96));border:1px solid rgba(159,228,216,.22);border-radius:16px;box-shadow:0 24px 60px rgba(0,0,0,.6),inset 0 1px 0 rgba(255,255,255,.05);overflow:hidden;animation:tkin .35s cubic-bezier(.2,.9,.3,1.1) both}\n@keyframes tkin{from{opacity:0;transform:translateY(14px) scale(.985)}to{opacity:1;transform:none}}\n.ticket.boss{border-color:#e06a4f;box-shadow:0 24px 60px rgba(120,10,10,.55),0 0 0 1px rgba(224,106,79,.4)}\n.tkhead{display:flex;align-items:center;gap:11px;padding:12px 18px;border-bottom:1px solid rgba(159,228,216,.14);background:rgba(5,14,22,.5)}\n.tkav{width:38px;height:38px;border-radius:10px;flex:0 0 auto;display:flex;align-items:center;justify-content:center;background:rgba(159,228,216,.12);color:#9fe4d8;font-weight:800;font-size:15px}\n.tkmeta{min-width:0;flex:1 1 auto}\n.tkchan{font-size:9px;letter-spacing:2px;text-transform:uppercase;color:#9fb3bd;font-weight:800}\n.tkfrom{font-size:13px;color:#eaf4f8;font-weight:700;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}\n.tkscroll{overflow:auto;padding:15px 18px 4px}\n.tksubj{font-size:16px;font-weight:800;color:#fff;margin-bottom:7px;line-height:1.25}\n.tktext{font-size:14px;line-height:1.55;color:#cfdde6;white-space:pre-wrap}\n.tkclues{margin:13px 0 2px;display:none}\n.tkclues.show{display:block;animation:fadeup .3s ease both}\n.tkclues .ch{font-size:9px;letter-spacing:2px;text-transform:uppercase;color:#9fb3bd;font-weight:800;margin-bottom:6px}\n.clue{display:flex;align-items:flex-start;gap:8px;font-size:13px;line-height:1.4;color:#dbe7ef;padding:6px 10px;margin:5px 0;border-radius:9px;background:rgba(255,255,255,.04);border-left:3px solid #5b6b78}\n.clue.flag{border-left-color:#e06a4f;background:rgba(176,37,37,.10)}\n.clue.ok{border-left-color:#1E8E5A;background:rgba(30,142,90,.10)}\n.clue .ci{flex:0 0 auto}\n.tkinspect{display:block;width:100%;border:1px dashed rgba(159,228,216,.4);background:rgba(159,228,216,.07);color:#9fe4d8;border-radius:10px;padding:9px;font-size:12px;font-weight:800;letter-spacing:.5px;cursor:pointer;font-family:inherit;margin:8px 0 2px;transition:background .15s}\n.tkinspect:hover{background:rgba(159,228,216,.16)}\n.tkinspect[disabled]{opacity:.4;cursor:default}\n.tkact{display:flex;gap:10px;padding:13px 16px 16px}\n.act{flex:1 1 0;border:1px solid;border-radius:12px;padding:11px 8px;font-size:14px;font-weight:800;cursor:pointer;font-family:inherit;letter-spacing:.3px;display:flex;flex-direction:column;align-items:center;gap:4px;transition:transform .12s,box-shadow .12s,opacity .12s;background:rgba(255,255,255,.03)}\n.act:hover{transform:translateY(-2px)}.act:active{transform:scale(.97)}\n.act .ai{width:22px;height:22px}\n.act .ak{font-size:9px;letter-spacing:1px;opacity:.7;font-weight:700}\n.act.allow{color:#8ff0c0;border-color:#1E8E5A}.act.allow:hover{box-shadow:0 8px 22px rgba(30,142,90,.3)}\n.act.report{color:#ffd98a;border-color:#C9A24B}.act.report:hover{box-shadow:0 8px 22px rgba(201,162,75,.3)}\n.act.block{color:#ffb3a8;border-color:#B02525}.act.block:hover{box-shadow:0 8px 22px rgba(176,37,37,.3)}\n.act[disabled]{opacity:.3;cursor:default;transform:none;box-shadow:none}\n.stamp{position:absolute;top:44%;left:50%;z-index:8;transform:translate(-50%,-50%) rotate(-15deg) scale(2.4);border:5px solid;border-radius:12px;padding:5px 18px;font-size:32px;font-weight:900;letter-spacing:3px;opacity:0;text-transform:uppercase;font-family:Arial,sans-serif;text-shadow:0 2px 8px rgba(0,0,0,.4)}\n.stamp.show{animation:stampin .5s cubic-bezier(.2,.7,.3,1.4) forwards}\n@keyframes stampin{0%{opacity:0;transform:translate(-50%,-50%) rotate(-15deg) scale(2.4)}60%{opacity:.95;transform:translate(-50%,-50%) rotate(-15deg) scale(.9)}100%{opacity:.92;transform:translate(-50%,-50%) rotate(-15deg) scale(1)}}\n.stamp.allow{color:#6fe3a8;border-color:#6fe3a8}.stamp.report{color:#ffd98a;border-color:#ffd98a}.stamp.block{color:#ff8a7a;border-color:#ff8a7a}\n.fb{padding:13px 18px 15px;border-top:1px solid rgba(159,228,216,.14);background:rgba(5,14,22,.55);animation:fadeup .3s ease both}\n.fbv{font-size:15px;font-weight:800;display:flex;align-items:center;gap:8px}\n.fbv.ok{color:#6fe3a8}.fbv.part{color:#ffd98a}.fbv.bad{color:#ff8a7a}\n.fbw{font-size:13px;color:#cfdde6;line-height:1.5;margin:6px 0 0}\n.fbrow{display:flex;align-items:center;gap:10px;margin-top:12px}\n.handler{display:flex;align-items:center;gap:11px;padding:9px 18px 13px;background:linear-gradient(0deg,rgba(4,12,20,.9),rgba(4,12,20,0))}\n.hav{width:34px;height:34px;flex:0 0 auto;border-radius:50%;background:rgba(159,228,216,.14);border:1px solid rgba(159,228,216,.35);display:flex;align-items:center;justify-content:center;box-shadow:0 0 14px rgba(159,228,216,.25)}\n.hav svg{width:22px;height:22px}\n.htxt{font-size:12.5px;line-height:1.4;color:#cfe0e6}.htxt b{color:#9fe4d8}\n.scorepop{position:absolute;z-index:9;font-size:20px;font-weight:900;color:var(--gold);text-shadow:0 2px 8px rgba(0,0,0,.6);pointer-events:none;animation:spop 1s ease-out forwards}\n@keyframes spop{0%{opacity:0;transform:translateY(6px) scale(.8)}25%{opacity:1;transform:translateY(-6px) scale(1.1)}100%{opacity:0;transform:translateY(-40px) scale(1)}}\n.reduced .socrain,.reduced .stamp.show,.reduced .ticket{animation:none!important}\n.gover{position:absolute;inset:0;z-index:40;display:flex;align-items:center;justify-content:center;background:rgba(4,10,17,.84);backdrop-filter:blur(3px)}\n.gcard{background:#0E2233;border:1px solid rgba(159,228,216,.25);border-radius:16px;padding:30px 38px;text-align:center;max-width:520px;color:#eaf4f8;box-shadow:0 24px 60px rgba(0,0,0,.55);animation:pop .45s ease both}\n.gcard .gt{font-family:Georgia,serif;font-size:26px;font-weight:800;margin:6px 0 10px;color:#fff}\n.gcard .gk{font-size:11px;letter-spacing:3px;text-transform:uppercase;color:var(--gold);font-weight:800}\n.gcard p{color:#bfd2da;font-size:14px}\n.gcard .btn{margin:6px 6px 0}\n.gflash{position:absolute;inset:0;z-index:30;pointer-events:none;opacity:0;transition:opacity .3s}\n.gflash.red{background:radial-gradient(ellipse at center,rgba(176,37,37,.4),transparent 70%)}\n.gflash.on{opacity:1}\n@keyframes pop{from{opacity:0;transform:scale(.94)}to{opacity:1;transform:none}}\n.gcard .statrow{margin-top:14px}.gcard .medals{margin-top:14px}\n.soc-best{font-size:12px;color:#9fb3bd;margin-top:10px}.soc-best b{color:#ffd98a}\n.modetoggle{display:inline-flex;border:1px solid rgba(159,228,216,.3);border-radius:24px;overflow:hidden;margin:4px 0 2px}\n.modetoggle button{background:transparent;border:0;color:#9fb3bd;font-family:inherit;font-weight:800;font-size:12px;letter-spacing:.5px;padding:9px 16px;cursor:pointer}\n.modetoggle button.on{background:var(--acc);color:#fff}\n.modehint{font-size:11.5px;color:#9fb3bd;line-height:1.45;max-width:380px;margin:8px auto 2px;min-height:30px}\n.confetti{position:absolute;inset:0;pointer-events:none;z-index:80}\n.certscreen{height:100%;width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center}\n.cchead{font-size:13px;color:var(--acc);font-weight:800;letter-spacing:1px;text-transform:uppercase;margin-bottom:8px;font-family:Arial,sans-serif}\n.cert{position:relative;width:90%;height:auto;background:#0E2233;overflow:hidden;box-shadow:0 16px 40px rgba(0,0,0,.42);animation:pop .5s ease both}\n.cert .paper{position:absolute;inset:8px;background:radial-gradient(circle at 50% 42%,#ffffff 0%,#fbf8ef 70%,#f4eeda 100%);overflow:hidden}\n.cert .guil{position:absolute;inset:0;opacity:.5;background-image:repeating-radial-gradient(circle at 50% 42%,rgba(14,124,134,.05) 0 1px,transparent 1px 9px),repeating-linear-gradient(45deg,rgba(201,162,75,.045) 0 1px,transparent 1px 12px),repeating-linear-gradient(-45deg,rgba(201,162,75,.045) 0 1px,transparent 1px 12px)}\n.cert .wm{position:absolute;left:50%;top:43%;transform:translate(-50%,-50%);width:40%;height:auto;opacity:.05}\n.cert .gold{position:absolute;inset:22px;border:2px solid #C9A24B;border-radius:3px}.cert .gold:before{content:'';position:absolute;inset:5px;border:1px solid #D9B45A}\n.cert .cn{position:absolute;width:58px;height:58px}.cert .cn.tl{top:16px;left:16px}.cert .cn.tr{top:16px;right:16px;transform:scaleX(-1)}.cert .cn.bl{bottom:16px;left:16px;transform:scaleY(-1)}.cert .cn.br{bottom:16px;right:16px;transform:scale(-1,-1)}\n.cert .content{position:absolute;inset:6% 8% 7%;display:flex;align-items:center;justify-content:center;text-align:center;font-family:Georgia,serif}\n.cert .cwrap{width:100%;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:space-between;transform-origin:center center}\n.cert .chd,.cert .cmid{display:flex;flex-direction:column;align-items:center}\n.cert .crest{width:34px;height:34px}\n.cert .eyebrow{letter-spacing:6px;font-size:11px;color:var(--acc);font-weight:700;text-transform:uppercase;font-family:Arial,sans-serif;margin-top:3px}\n.cert .issuer{font-size:26px;color:#0E2233;font-weight:700;margin-top:1px}\n.cert .rule{display:flex;align-items:center;gap:10px;color:#C9A24B;margin-top:5px}.cert .rule .ln{width:96px;height:1px;background:linear-gradient(90deg,transparent,#C9A24B)}.cert .rule .ln.r{background:linear-gradient(90deg,#C9A24B,transparent)}.cert .rule .dia{width:7px;height:7px;background:#C9A24B;transform:rotate(45deg)}\n.cert .present{font-style:italic;color:#5A6472;font-size:13px}\n.cert .name{font-size:40px;color:#0E2233;line-height:1.05;margin:2px 0 4px;font-weight:700}\n.cert .nund{width:260px;height:2px;background:linear-gradient(90deg,transparent,#C9A24B 20%,#C9A24B 80%,transparent);margin-bottom:6px}\n.cert .forr{font-style:italic;color:#5A6472;font-size:13px}\n.cert .course{font-size:19px;color:var(--acc);font-weight:700;line-height:1.18;margin-top:3px;max-width:90%}\n.cert .ach{font-size:12px;color:#5A6472;margin-top:6px;font-family:Arial,sans-serif}.cert .ach b{color:#0E2233}\n.cert .footer{width:100%;display:flex;align-items:flex-end;justify-content:space-between}\n.cert .sig{width:190px;text-align:center}.cert .sig .sline{height:1px;background:#9aa6b2;margin-bottom:5px}.cert .sig .snm{font-style:italic;font-size:15px;color:#0E2233}.cert .sig .slb{font-size:9px;letter-spacing:1px;color:#8a98a4;font-family:Arial,sans-serif;text-transform:uppercase;margin-top:2px}\n.cert .sealwrap{width:118px;display:flex;justify-content:center;flex:0 0 auto}.cert .seal{width:106px;height:122px;filter:drop-shadow(0 6px 10px rgba(0,0,0,.22))}\n@media print{\n body{display:block;background:#fff;overflow:visible}\n .stage{box-shadow:none;width:auto;height:auto;display:block}\n .top,.prog,.nav,.cchead,.toast{display:none!important}\n .pane{opacity:1!important;overflow:visible;animation:none}\n #certArea{position:absolute;inset:0}\n .cert{width:100%!important;height:100%!important;margin:0;box-shadow:none;animation:none}\n @page{size:A4 landscape;margin:0}\n}\n/* ---- spot-the-phish puzzle ---- */\n.pzwrap{height:100%;display:flex;flex-direction:column;padding:18px 26px;overflow:auto}\n.pzhead{flex:0 0 auto}.pzhead h2{margin:4px 0 12px;font-size:19px;color:#13202b}\n.pzcard{background:#fff;border:1px solid #e3ecee;border-radius:14px;box-shadow:0 12px 34px rgba(10,26,47,.10);overflow:hidden;max-width:760px;width:100%;margin:0 auto}\n.pzhero{height:118px;background-size:cover;background-position:center 35%}\n.pzmeta{padding:12px 16px;border-bottom:1px solid #eef2f6}\n.pztag{display:inline-block;background:var(--acc);color:#fff;border-radius:6px;padding:2px 8px;font-size:11px;font-weight:800;letter-spacing:.5px;margin-right:8px;vertical-align:middle}\n.pzfrom{font-size:14px;font-weight:700;color:#16242f}.pzsub{font-size:13.5px;color:#46555f;margin-top:4px}\n.pzbody{padding:12px 16px;font-size:14px;color:#2b3340;line-height:1.55;border-bottom:1px solid #f2f5f7}\n.pzels{padding:12px 16px 4px;display:flex;flex-direction:column;gap:8px}\n.pzel{position:relative;text-align:left;width:100%;background:#f7fafb;border:1.5px solid #dde6ec;border-radius:10px;padding:9px 13px;cursor:pointer;font-family:inherit;transition:border-color .15s,background .15s;display:flex;flex-direction:column;gap:2px}\n.pzel:hover{border-color:var(--acc)}\n.pzlbl{font-size:10.5px;font-weight:800;letter-spacing:.5px;color:#7a8794;text-transform:uppercase}\n.pzval{font-size:14px;color:#16242f;word-break:break-word}\n.pzel.flag{border-color:var(--gold);background:#fff8e6}\n.pzel.hit{border-color:#1E8E5A;background:#eafaf0}.pzel.miss{border-color:#B02525;background:#fdeaea}\n.pzel.false{border-color:#B02525;background:#fdeaea}.pzel.okk{border-color:#cfe3e3;background:#f4faf9}\n.pzel:disabled{cursor:default}\n.pzwhy{display:block;margin-top:5px;font-size:12px;color:#5A6472;font-style:italic}\n.pzverdict{display:flex;align-items:center;gap:10px;flex-wrap:wrap;padding:14px 16px;border-top:1px solid #eef2f6}\n.pzvq{font-weight:700;font-size:13px;color:#2b3340}\n.vbtn{font-family:inherit;font-weight:800;font-size:14px;border-radius:10px;padding:10px 16px;cursor:pointer;border:1.5px solid #cfe0e0;background:#fff;transition:transform .12s}\n.vbtn:hover{transform:translateY(-1px)}\n.vbtn.phish{color:#B02525;border-color:#f0c6c6}.vbtn.legit{color:#1E8E5A;border-color:#bfe6cf}\n.vbtn:disabled{cursor:default;transform:none;opacity:.9}\n.vbtn.right{background:#eafaf0;border-color:#1E8E5A}.vbtn.wrong{background:#fdeaea;border-color:#B02525}\n.pzfb{display:none;padding:0 16px 16px;font-size:13.5px;line-height:1.5}.pzfb.show{display:block}\n.pzfb.good{color:#16604a}.pzfb.warn{color:#8a4b00}\n/* ---- branching scenario ---- */\n.scn .left{background:#0E2233}\n.scstep{position:absolute;left:16px;bottom:16px;z-index:3;background:rgba(255,255,255,.94);color:#0E2233;font-weight:800;font-size:12px;padding:5px 12px;border-radius:14px}\n.scsit{font-size:16px;line-height:1.6;color:#22303c;margin:6px 0 0}\n.scchoices{display:flex;flex-direction:column;gap:10px;margin-top:16px}\n.scchoice{text-align:left;font-family:inherit;font-size:14.5px;color:#16242f;background:#f7fafb;border:1.5px solid #dde6ec;border-radius:11px;padding:13px 16px;cursor:pointer;transition:border-color .15s,background .15s,transform .1s}\n.scchoice:hover{border-color:var(--acc);background:#fff;transform:translateX(2px)}\n.scchoice:disabled{cursor:default;transform:none}\n.scchoice.best{border-color:#1E8E5A;background:#eafaf0}.scchoice.chosen{border-color:#B02525;background:#fdeaea}\n.scfb{display:none;margin-top:16px;border-radius:10px;padding:12px 15px;font-size:14px;line-height:1.55;background:#F1F7F8;border-left:4px solid var(--acc)}\n.scfb.show{display:block;animation:pop .35s ease both}\n.scfb .scrk{font-weight:800;margin-bottom:4px}\n.scfb.risk-low{border-left-color:#1E8E5A}.scfb.risk-medium{border-left-color:#C9882B}.scfb.risk-high{border-left-color:#B02525}\n`;\n\nconst APP = `(function(){\nvar D=DATA;var pass=D.passMark||80;var secs=D.sections||[];var total=secs.length;\nvar imgs=D.images||{cover:'',sections:[]};var ICONS=D.icons||{};\nvar style=(D.style||'gamified');\nvar puzzles=(D.puzzles||[]);var scenario=(D.scenario&&D.scenario.scenes)?D.scenario:null;\nvar hasGame=(style==='gamified'&&D.game&&D.game.length>=4);\nvar hasPuzzle=(style==='puzzle'&&puzzles.length>=1);\nvar hasScenario=(style==='scenario'&&scenario&&scenario.scenes.length>=1);\nvar activityKind=hasGame?'game':(hasPuzzle?'puzzle':(hasScenario?'scenario':''));\nvar hasAct=!!activityKind;\nfunction actMission(){return activityKind==='game'?'Night shift: SOC triage \\\\u2014 sort the inbox':activityKind==='puzzle'?'Spot the phish \\\\u2014 hunt the red flags':activityKind==='scenario'?'Scenario \\\\u2014 choose your response':'';}\nfunction actCta(){return activityKind==='game'?'Start mission &rarr;':activityKind==='puzzle'?'Start the hunt &rarr;':activityKind==='scenario'?'Begin scenario &rarr;':'Knowledge check &rarr;';}\nfunction actLabel(){return activityKind==='game'?'Mission score':activityKind==='puzzle'?'Spot score':activityKind==='scenario'?'Decision score':'Activity';}\nfunction showActivity(){if(activityKind==='game')return showGame();if(activityKind==='puzzle')return showPuzzle();if(activityKind==='scenario')return showScenario();return showQuiz();}\nvar TH=D.theme||{pri:'#0A1A2F',acc:'#0E7C86',gold:'#C9A24B'};\nfunction hexInt(h){return parseInt(String(h||'').replace('#',''),16)||0x0E7C86;}\nvar learner='';var lastScore=0;var lastPassed=false;var wrongIdx=[];var userAns=[];\nvar sentDone=false;var xp=0;var seen={};var earned={};var gameDone=false;var gameBest=0;\nvar BD={first:{e:'\\\\uD83D\\\\uDE80',n:'First Steps',d:'Started the course'},scholar:{e:'\\\\uD83D\\\\uDCD8',n:'Scholar',d:'Read every section'},sharp:{e:'\\\\uD83C\\\\uDFAF',n:'Sharp Eye',d:'90%+ triage accuracy'},streak:{e:'\\\\u26A1',n:'Untouchable',d:'8 correct calls in a row'},boss:{e:'\\\\uD83D\\\\uDC51',n:'Boss Slayer',d:'Cleared the final shift'},owl:{e:'\\\\uD83E\\\\uDD89',n:'Night Owl',d:'Completed the night shift'},eagle:{e:'\\\\uD83E\\\\uDD85',n:'Eagle Eye',d:'Caught every red flag'},cool:{e:'\\\\uD83E\\\\uDDCA',n:'Cool Head',d:'Best decision every time'},quiz:{e:'\\\\uD83D\\\\uDCAF',n:'Quiz Whiz',d:'100% on the knowledge check'},cert:{e:'\\\\uD83C\\\\uDFC6',n:'Certified',d:'Passed the course'}};\nfunction signalComplete(){ if(sentDone)return; sentDone=true; try{ if(window.parent&&window.parent!==window){ window.parent.postMessage({type:'jarvis:complete',publicationId:D.publicationId||'',courseId:D.courseId||'',learner:learner||'',score:lastScore,passed:!!lastPassed,date:new Date().toISOString().slice(0,10),title:D.title||''},'*'); } }catch(e){} }\nfunction deepLinkCert(){ try{ var h=String(location.hash||''); if(h.toLowerCase().indexOf('cert')<0)return false; var m=/[?&#]name=([^&]+)/.exec(h); if(m)learner=decodeURIComponent(m[1].replace(/\\\\+/g,' ')); var s=/[?&#]score=([0-9]+)/.exec(h); if(s)lastScore=parseInt(s[1],10)||0; lastPassed=true; return true; }catch(e){ return false; } }\nvar pane=document.getElementById('pane');var navEl=document.getElementById('nav');\nvar prog=document.getElementById('progfill');var crumbs=document.getElementById('crumbs');\nvar stage=document.querySelector('.stage');\nfunction esc(s){return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return {'&':'&amp;','<':'&lt;','>':'&gt;'}[c];});}\n/* ---- SCORM 1.2 ---- */\nfunction findAPI(w){var n=0;while(w&&w.API==null&&w.parent&&w.parent!=w&&n<12){w=w.parent;n++;}return (w&&w.API)||null;}\nvar API=null;try{API=findAPI(window);if(!API&&window.top!==window)API=findAPI(window.top);}catch(e){}\nif(API){try{API.LMSInitialize('');API.LMSSetValue('cmi.core.lesson_status','incomplete');API.LMSCommit('');}catch(e){}}\nfunction scormName(){if(!API)return '';try{var n=API.LMSGetValue('cmi.core.student_name')||'';if(n.indexOf(',')>-1){var p=n.split(',');return (p[1]+' '+p[0]).replace(/\\\\s+/g,' ').trim();}return n;}catch(e){return '';}}\nfunction scormReport(score,passed){if(!API)return;try{API.LMSSetValue('cmi.core.score.raw',String(score));API.LMSSetValue('cmi.core.score.min','0');API.LMSSetValue('cmi.core.score.max','100');API.LMSSetValue('cmi.core.lesson_status',passed?'passed':'failed');API.LMSCommit('');}catch(e){}}\nfunction scormFinish(){stopNarr();if(!API)return;try{API.LMSFinish('');}catch(e){}}\n/* ---- sound fx (synthesised; no assets) ---- */\nvar AC=null;var sfxOn=true;\nfunction ac(){if(!AC){try{AC=new (window.AudioContext||window.webkitAudioContext)();}catch(e){AC=null;}}if(AC&&AC.state==='suspended'){try{AC.resume();}catch(e){}}return AC;}\nfunction tone(f0,f1,dur,type,vol,when){var c=ac();if(!c||!sfxOn)return;try{var t=c.currentTime+(when||0);var o=c.createOscillator(),g=c.createGain();o.type=type||'sine';o.frequency.setValueAtTime(f0,t);if(f1)o.frequency.exponentialRampToValueAtTime(f1,t+dur);g.gain.setValueAtTime(vol||.08,t);g.gain.exponentialRampToValueAtTime(.0001,t+dur);o.connect(g);g.connect(c.destination);o.start(t);o.stop(t+dur+.02);}catch(e){}}\nfunction sfx(k){if(k==='zap'){tone(880,140,.18,'square',.07);tone(1760,220,.14,'sawtooth',.04);}else if(k==='ok'){tone(660,990,.12,'sine',.07);}else if(k==='bad'){tone(220,110,.3,'sawtooth',.08);}else if(k==='badge'){tone(523,0,.1,'sine',.07);tone(659,0,.1,'sine',.07,.09);tone(784,0,.16,'sine',.07,.18);}else if(k==='lvl'){tone(392,0,.09,'sine',.06);tone(523,0,.09,'sine',.06,.08);tone(659,0,.09,'sine',.06,.16);tone(784,0,.2,'sine',.07,.24);}else if(k==='win'){tone(523,0,.12,'sine',.08);tone(659,0,.12,'sine',.08,.1);tone(784,0,.12,'sine',.08,.2);tone(1046,0,.3,'sine',.09,.3);}else if(k==='lose'){tone(330,165,.5,'sawtooth',.07);}}\n/* ---- XP / levels / badges ---- */\nvar LVL_XP=150;\nfunction lvlOf(x){return Math.floor(x/LVL_XP)+1;}\nfunction addXP(n){if(!n)return;var was=lvlOf(xp);xp+=n;var now=lvlOf(xp);\n var f=document.getElementById('xpfill'),l=document.getElementById('lvl'),t=document.getElementById('xpn');\n if(f)f.style.width=Math.round((xp%LVL_XP)/LVL_XP*100)+'%';if(t)t.textContent=xp+' XP';\n if(l){l.textContent='LV '+now;if(now>was){l.classList.add('pop');sfx('lvl');toast('\\\\u2B50','<b>Level up!</b> You reached level '+now);setTimeout(function(){l.classList.remove('pop');},350);}}}\nvar toastTimer=null;\nfunction toast(emj,html){var t=document.getElementById('toast');if(!t)return;t.innerHTML='<span class=\"te\">'+emj+'</span><span>'+html+'</span>';t.classList.add('show');if(toastTimer)clearTimeout(toastTimer);toastTimer=setTimeout(function(){t.classList.remove('show');},3200);}\nfunction badge(id){if(earned[id]||!BD[id])return;earned[id]=true;sfx('badge');toast(BD[id].e,'Badge earned \\\\u2014 <b>'+BD[id].n+'</b>: '+BD[id].d);}\nfunction medalRow(){var keys;if(activityKind==='game')keys=['first','scholar','sharp','streak','boss','owl','quiz','cert'];else if(activityKind==='puzzle')keys=['first','scholar','eagle','sharp','quiz','cert'];else if(activityKind==='scenario')keys=['first','scholar','cool','sharp','quiz','cert'];else keys=['first','scholar','quiz','cert'];\n return '<div class=\"medals\">'+keys.map(function(k){var b=BD[k];return '<div class=\"medal'+(earned[k]?'':' off')+'\"><div class=\"mi\">'+b.e+'</div><div class=\"ml\">'+b.n+'</div></div>';}).join('')+'</div>';}\n/* ---- confetti ---- */\nfunction confetti(){try{var c=document.createElement('canvas');c.className='confetti';c.width=stage.clientWidth;c.height=stage.clientHeight;stage.appendChild(c);var x=c.getContext('2d');var cols=[TH.acc,TH.gold,'#5FD0C0','#F6E6A8','#ffffff'];var ps=[];for(var i=0;i<140;i++)ps.push({x:Math.random()*c.width,y:-20-Math.random()*c.height*.5,r:3+Math.random()*5,vy:2+Math.random()*3.4,vx:-1.4+Math.random()*2.8,a:Math.random()*6.3,va:-.18+Math.random()*.36,col:cols[i%cols.length]});var t0=Date.now();(function tick(){x.clearRect(0,0,c.width,c.height);ps.forEach(function(p){p.x+=p.vx;p.y+=p.vy;p.a+=p.va;x.save();x.translate(p.x,p.y);x.rotate(p.a);x.fillStyle=p.col;x.fillRect(-p.r,-p.r*.5,p.r*2,p.r);x.restore();});if(Date.now()-t0<3200)requestAnimationFrame(tick);else if(c.parentNode)c.parentNode.removeChild(c);})();}catch(e){}}\n/* ---- narration ---- */\nvar synth=(window.speechSynthesis||null);var narrText='';var narrState='off';var audioMuted=false;var narrKeep=null;var narrTimer=null;\ntry{if(synth){synth.getVoices();if('onvoiceschanged' in synth)synth.onvoiceschanged=function(){try{synth.getVoices();}catch(e){}};}}catch(e){}\nvar I_PLAY='<svg viewBox=\"0 0 24 24\" width=\"13\" height=\"13\" fill=\"currentColor\"><path d=\"M8 5v14l11-7z\"/></svg>';\nvar I_PAUSE='<svg viewBox=\"0 0 24 24\" width=\"13\" height=\"13\" fill=\"currentColor\"><path d=\"M6 5h4v14H6zM14 5h4v14h-4z\"/></svg>';\nfunction audBtn(){return document.getElementById('audctl');}\nfunction updAud(){var b=audBtn();if(!b)return;if(narrState==='off'||!synth||!narrText){b.style.display='none';return;}b.style.display='';b.innerHTML=(narrState==='playing')?(I_PAUSE+' Pause narration'):(I_PLAY+' Resume narration');}\nfunction clearKeep(){if(narrKeep){clearInterval(narrKeep);narrKeep=null;}}\nfunction keepAlive(){clearKeep();narrKeep=setInterval(function(){if(narrState==='playing'&&synth&&synth.speaking&&!synth.paused){try{synth.resume();}catch(e){}}},9000);}\nfunction stopNarr(){if(narrTimer){clearTimeout(narrTimer);narrTimer=null;}clearKeep();if(synth){try{synth.cancel();}catch(e){}}}\nfunction speakNow(){if(!synth||!narrText)return;try{synth.cancel();}catch(e){}var parts=String(narrText).match(/[^.!?]+[.!?]+|[^.!?]+$/g)||[narrText];var last=null,spoke=false;parts.forEach(function(p){p=p.trim();if(!p)return;var u=new SpeechSynthesisUtterance(p);u.rate=.98;u.pitch=1;u.volume=1;last=u;spoke=true;synth.speak(u);});if(!spoke)return;last.onend=function(){if(narrState==='playing'){narrState='off';clearKeep();updAud();}};narrState='playing';keepAlive();updAud();}\nfunction narrateBody(text){stopNarr();narrText=(text||'').replace(/\\\\s+/g,' ').trim();if(!synth||!narrText){narrState='off';updAud();return;}if(audioMuted){narrState='paused';updAud();return;}narrState='playing';updAud();narrTimer=setTimeout(speakNow,90);}\nfunction narrNone(){stopNarr();narrText='';narrState='off';updAud();}\nfunction toggleAud(){if(!synth)return;if(narrState==='playing'){try{synth.pause();}catch(e){}narrState='paused';audioMuted=true;clearKeep();updAud();}else if(narrState==='paused'){audioMuted=false;if(synth.paused&&synth.speaking){narrState='playing';try{synth.resume();}catch(e){}keepAlive();updAud();}else{speakNow();}}}\n/* ---- shell ---- */\nfunction paint(html,cls){narrNone();glStop();pane.className='pane '+(cls||'');pane.innerHTML=html;void pane.offsetWidth;pane.classList.add('in');}\nfunction btn(label,fn,alt){var b=document.createElement('button');b.className='btn'+(alt?' alt':'');b.innerHTML=label;if(fn)b.onclick=fn;else b.disabled=true;return b;}\nfunction sp(){return document.createElement('span');}\nfunction setNav(L,R){navEl.innerHTML='';navEl.appendChild(L||sp());navEl.appendChild(R||sp());}\nvar steps=['intro'];for(var i=0;i<total;i++)steps.push('s'+i);if(hasAct)steps.push('act');steps.push('quiz');\nfunction setProg(key){var ix=steps.indexOf(key);var pct=ix<0?0:Math.round(((ix+1)/steps.length)*100);prog.style.width=pct+'%';if(crumbs)crumbs.textContent=ix>=0?('Step '+(ix+1)+' of '+steps.length):'';}\nfunction hero(src){return '<div class=\"hero\">'+(src?('<div class=\"kb\" style=\"background-image:url('+src+')\"></div>'):'<div class=\"kb ph\"></div>')+'</div>';}\nfunction iconFor(i){var k=(secs[i]&&secs[i].iconKey)||'shield';return ICONS[k]||ICONS.shield||'';}\nfunction fmtDate(d){var M=['January','February','March','April','May','June','July','August','September','October','November','December'];var n=d.getDate();var s=['th','st','nd','rd'],v=n%100;var ord=n+(s[(v-20)%10]||s[v]||s[0]);return M[d.getMonth()]+' '+ord+' '+d.getFullYear();}\n/* ---- screens ---- */\nfunction cover(){narrNone();glStop();setProg('');pane.className='pane';navEl.innerHTML='';var bg=imgs.cover||(imgs.sections&&imgs.sections[0])||'';\n pane.innerHTML='<div class=\"cover\">'+(bg?('<div class=\"cbg\" style=\"background-image:url('+bg+')\"></div>'):'<div class=\"cbg ph\"></div>')+'<div class=\"cgrad\"></div><div class=\"cinner\"><div class=\"ckick\">'+esc(D.brand)+' &middot; Security Awareness</div><h1 class=\"ctitle\">'+esc(D.title)+'</h1><p class=\"csub\">'+esc(D.intro)+'</p><div class=\"cact\"></div></div></div>';\n void pane.offsetWidth;pane.classList.add('in');pane.querySelector('.cact').appendChild(btn('Begin &rarr;',showName));}\nfunction showName(){setProg('');var pre=learner||scormName();\n paint('<div class=\"namewrap\"><div class=\"nicon\">'+(ICONS.id||ICONS.shield||'')+'</div><h2>Before we begin</h2><p>Enter your name as it should appear on your certificate of completion.</p><input id=\"nm\" class=\"ninput\" type=\"text\" placeholder=\"Your full name\" value=\"'+esc(pre)+'\"><div class=\"nerr\" id=\"nerr\"></div></div>','center');\n var R=btn('Start course &rarr;',function(){var v=(document.getElementById('nm').value||'').trim();if(!v){document.getElementById('nerr').textContent='Please enter your name to continue.';return;}learner=v;badge('first');addXP(10);showIntro();});\n setNav(btn('&larr; Back',cover,true),R);\n setTimeout(function(){var el=document.getElementById('nm');if(el){el.focus();el.addEventListener('keydown',function(e){if(e.key==='Enter')R.click();});}},60);}\nfunction showIntro(){setProg('intro');var bg=imgs.cover||(imgs.sections&&imgs.sections[0])||'';\n var mission='<ul class=\"mission\">';\n for(var i=0;i<total;i++)mission+='<li><span class=\"mn\">'+(i+1)+'</span><span>'+esc(secs[i].heading||('Section '+(i+1)))+'</span><span class=\"mx\">+20 XP</span></li>';\n if(hasAct)mission+='<li class=\"game\"><span class=\"mn\">\\\\u2694</span><span>'+actMission()+'</span><span class=\"mx\">Play to earn XP</span></li>';\n mission+='<li><span class=\"mn\">\\\\u2713</span><span>Knowledge check &middot; pass mark '+pass+'%</span><span class=\"mx\">Certificate</span></li></ul>';\n paint('<div class=\"two\"><div class=\"left\">'+hero(bg)+'</div><div class=\"right\"><div class=\"kick\">Your mission</div><h2>'+esc(D.title)+'</h2><div class=\"scroll\"><p>'+esc(D.intro)+'</p>'+mission+'</div></div></div>');\n narrateBody(D.intro);\n setNav(btn('&larr; Name',showName,true),btn('Start &rarr;',function(){showSection(0);}));}\nfunction showSection(i){if(i<0)return showIntro();if(i>=total)return hasAct?showActivity():showQuiz();setProg('s'+i);var s=secs[i]||{};\n if(!seen['s'+i]){seen['s'+i]=true;addXP(20);}\n var allSeen=true;for(var k=0;k<total;k++)if(!seen['s'+k])allSeen=false;\n if(allSeen)badge('scholar');\n var body=(s.body||'').split(/\\\\n+/).map(function(p){return '<p>'+esc(p)+'</p>';}).join('');\n var kp=(s.keyPoints&&s.keyPoints.length)?('<div class=\"kp\"><div class=\"kph\">'+(ICONS.check||'')+'Key points</div><ul>'+s.keyPoints.map(function(k){return '<li>'+esc(k)+'</li>';}).join('')+'</ul></div>'):'';\n var src=(imgs.sections&&imgs.sections[i])||'';\n paint('<div class=\"two\"><div class=\"left\">'+hero(src)+'<div class=\"badge\">'+iconFor(i)+'</div></div><div class=\"right\"><div class=\"kick\">Section '+(i+1)+' / '+total+'</div><h2>'+esc(s.heading||('Section '+(i+1)))+'</h2><div class=\"scroll\">'+body+kp+'</div></div></div>');\n narrateBody(s.body||'');\n setNav(btn('&larr; Back',function(){showSection(i-1);},true),btn(i+1<total?'Next &rarr;':(hasAct?actCta():'Knowledge check &rarr;'),function(){showSection(i+1);}));}\n/* ================= GAME: Night-shift SOC triage ================= */\n/* Atmosphere layer (three.js): parallax gpt-image backplate, animated rain,\n   dust motes + bloom/flicker; degrades to a CSS backplate when WebGL/THREE are\n   unavailable. The triage console is crisp DOM on top, so it is always readable\n   and the loop is fully self-paced. */\nvar GL={raf:0,renderer:null,scene:null,cam:null,objs:null,onResize:null,onMove:null,host:null,running:false};\nvar RM=false;try{RM=!!(window.matchMedia&&window.matchMedia('(prefers-reduced-motion: reduce)').matches);}catch(e){}\nvar SOC={levels:[],li:0,qi:0,score:0,streak:0,bestStreak:0,correct:0,total:0,lives:3,maxLives:3,mode:'relaxed',shield:0,powers:{},inspected:false,decided:false,over:false,timer:0,tLeft:0,tMax:26,gained:0,bossCleared:false,bossPerfect:true,realBoss:false,keyh:null,elim:''};\nfunction glStop(){GL.running=false;if(GL.raf)cancelAnimationFrame(GL.raf);GL.raf=0;\n if(SOC&&SOC.timer){clearInterval(SOC.timer);SOC.timer=0;}\n unbindKeys();\n if(GL.onResize){window.removeEventListener('resize',GL.onResize);GL.onResize=null;}\n if(GL.onMove){window.removeEventListener('mousemove',GL.onMove);GL.onMove=null;}\n if(GL.renderer){try{GL.renderer.dispose();if(GL.renderer.domElement&&GL.renderer.domElement.parentNode)GL.renderer.domElement.parentNode.removeChild(GL.renderer.domElement);}catch(e){}}\n GL.renderer=null;GL.scene=null;GL.cam=null;GL.objs=null;}\nfunction gEl(id){return document.getElementById(id);}\nfunction shuffle(a){for(var i=a.length-1;i>0;i--){var j=Math.floor(Math.random()*(i+1));var t=a[i];a[i]=a[j];a[j]=t;}return a;}\n/* ---- local high scores ---- */\nfunction bestKey(){return 'jbsoc_'+String(D.courseId||D.publicationId||D.title||'x').slice(0,40);}\nfunction loadBest(){try{return JSON.parse(localStorage.getItem(bestKey())||'{}')||{};}catch(e){return {};}}\nfunction saveBest(o){try{localStorage.setItem(bestKey(),JSON.stringify(o));}catch(e){}}\n/* ---- icons / framing ---- */\nvar AICON={\n allow:'<svg class=\"ai\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#8ff0c0\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M20 6L9 17l-5-5\"/></svg>',\n report:'<svg class=\"ai\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ffd98a\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M5 21V4h12l-2 4 2 4H5\"/></svg>',\n block:'<svg class=\"ai\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ffb3a8\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M6 6l12 12\"/></svg>'\n};\nvar HANDLER='<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#9fe4d8\" stroke-width=\"1.7\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M5 12a7 7 0 0 1 14 0\"/><rect x=\"3.4\" y=\"12\" width=\"3.3\" height=\"6\" rx=\"1.4\"/><rect x=\"17.3\" y=\"12\" width=\"3.3\" height=\"6\" rx=\"1.4\"/><path d=\"M18.7 18v1.1a2 2 0 0 1-2 2H13\"/></svg>';\nvar INTEL=['New item in the queue \\\\u2014 what\\\\u2019s your call?','Read the sender and the ask before deciding.','When in doubt, inspect for clues.','Trust your training on this one.'];\nvar GOODR=['Clean call.','Textbook. Nice.','That\\\\u2019s how it\\\\u2019s done.','Sharp eye, analyst.','The network thanks you.'];\nvar BADR=['Shake it off \\\\u2014 next one.','That\\\\u2019s how they get in. Watch for it.','Note the red flags for next time.','Happens to everyone. Refocus.'];\nfunction pickR(a){return a[Math.floor(Math.random()*a.length)];}\nfunction ACTLABEL(a){return ({allow:'Allow',report:'Report',block:'Block'})[a]||a;}\nfunction chanOf(it){var s=((it.from||'')+' '+(it.subject||'')+' '+(it.body||'')).toLowerCase();\n if(/\\\\bcall\\\\b|caller|phone|voicemail|extension|dialled|hotline/.test(s))return 'Phone';\n if(/\\\\bsms\\\\b|text message|whatsapp|imessage|\\\\btext\\\\b/.test(s))return 'Text';\n if(/slack|teams|\\\\bchat\\\\b|\\\\bdm\\\\b/.test(s))return 'Chat';\n if(/usb|badge|door|reception|visitor|tailgat|in person|at your desk/.test(s))return 'In person';\n return 'Email';}\nfunction initials(s){s=String(s||'').replace(/[^a-zA-Z ]/g,' ').trim();var w=s.split(/\\\\s+/).filter(Boolean);if(!w.length)return '@';return ((w[0][0]||'')+((w[1]&&w[1][0])||'')).toUpperCase();}\nfunction clueTone(c){c=(c||'').toLowerCase();\n if(/urgent|immediately|gift card|password|wire|transfer|\\\\bclick\\\\b|verify|suspend|unusual|mismatch|spoof|external|unknown|threat|unexpected|attachment|\\\\.zip|\\\\blink\\\\b|deadline|secret|bypass|do not tell|don\\\\u2019t tell|pressure/.test(c))return {cls:'flag',icon:'\\\\u26A0\\\\uFE0F'};\n if(/known|legitimate|legit|internal|expected|normal|verified|matches|colleague|scheduled|official|recognis|recogniz|routine/.test(c))return {cls:'ok',icon:'\\\\u2705'};\n return {cls:'',icon:'\\\\u2022'};}\n/* ---- level building ---- */\nfunction buildLevels(items){\n var normal=items.filter(function(x){return !x.boss;});\n var boss=items.filter(function(x){return x.boss;});\n SOC.realBoss=boss.length>0;\n var levels=[];var hasLv=normal.some(function(x){return x.level>0;});\n if(hasLv){var map={};normal.forEach(function(x){var L=x.level||1;(map[L]=map[L]||[]).push(x);});\n  Object.keys(map).map(Number).sort(function(a,b){return a-b;}).forEach(function(L){levels.push(shuffle(map[L]));});}\n else {var sz=normal.length<=6?3:4;var pool=shuffle(normal.slice());for(var i=0;i<pool.length;i+=sz)levels.push(pool.slice(i,i+sz));}\n if(boss.length)levels.push(shuffle(boss));\n if(!levels.length)levels.push(items.slice());\n if(levels.length>1&&!boss.length&&levels[levels.length-1].length===1){var t=levels.pop();levels[levels.length-1]=levels[levels.length-1].concat(t);}\n return levels;}\nfunction isBossLevel(idx){return SOC.levels.length>1&&idx===SOC.levels.length-1;}\nfunction curItem(){var lv=SOC.levels[SOC.li]||[];return lv[SOC.qi]||null;}\nfunction accPct(){return SOC.total?Math.round(SOC.correct/SOC.total*100):0;}\nfunction isLastOverall(){var lv=SOC.levels[SOC.li]||[];return SOC.qi>=lv.length-1&&SOC.li>=SOC.levels.length-1;}\n/* ---- HUD ---- */\nfunction renderHud(){var h=gEl('sochud');if(!h)return;var L=SOC.levels.length,li=SOC.li,lv=SOC.levels[li]||[];\n var dots='';for(var i=0;i<lv.length;i++){var cls=i<SOC.qi?'done':(i===SOC.qi?'cur':'');dots+='<span class=\"hdot '+cls+'\"></span>';}\n var boss=isBossLevel(li);\n var html='<span class=\"hchip'+(boss?' boss':'')+'\">'+(boss?'\\\\u26A0 Final shift':'Shift '+(li+1)+' / '+L)+'</span>'\n  +'<span class=\"hscore\" id=\"hscore\">'+SOC.score+'</span>'\n  +'<span class=\"hstreak\">'+(SOC.streak>=2?('\\\\uD83D\\\\uDD25 x'+SOC.streak):'')+'</span>'\n  +'<span class=\"hdots\">'+dots+'</span><span class=\"hspring\">';\n if(SOC.mode==='challenge'){var hearts='';for(var k=0;k<SOC.maxLives;k++)hearts+='<span class=\"heart'+(k<SOC.lives?'':' gone')+'\">\\\\u2764\\\\uFE0F</span>';\n  if(SOC.shield>0)hearts+='<span class=\"heart\">\\\\uD83D\\\\uDEE1\\\\uFE0F</span>';\n  html+='<span class=\"hearts\">'+hearts+'</span>'+powerHtml()+'<div class=\"htime\" id=\"htime\"><span id=\"htimef\"></span></div>';\n } else { html+='<span class=\"hmode\">Relaxed \\\\u00b7 no-fail</span>'; }\n html+='</span>';h.innerHTML=html;bindPowerBtns();if(SOC.mode==='challenge')updTimer();}\nfunction powerHtml(){var keys=Object.keys(SOC.powers).filter(function(k){return SOC.powers[k]>0;});if(!keys.length)return '';\n var lbl={scan:'\\\\uD83D\\\\uDD0D Scan',opinion:'\\\\uD83D\\\\uDCAC 2nd',time:'\\\\u23F1 +Time'};\n return '<span class=\"powers\">'+keys.map(function(k){return '<button class=\"pw\" data-pw=\"'+k+'\">'+(lbl[k]||k)+' x'+SOC.powers[k]+'</button>';}).join('')+'</span>';}\nfunction bindPowerBtns(){var bs=document.querySelectorAll('.pw[data-pw]');for(var i=0;i<bs.length;i++){(function(b){b.onclick=function(){usePower(b.getAttribute('data-pw'));};})(bs[i]);}}\nfunction grantPower(){var pool=['scan','opinion','time','shield'];var p=pool[Math.floor(Math.random()*pool.length)];\n if(p==='shield'){SOC.shield++;handler('Shield online \\\\u2014 your next slip is on me.');}\n else {SOC.powers[p]=(SOC.powers[p]||0)+1;handler('Power-up ready: '+({scan:'Auto-scan',opinion:'Second opinion',time:'Extra time'})[p]+'.');}\n sfx('badge');renderHud();}\nfunction usePower(k){if(!SOC.powers[k]||SOC.powers[k]<=0)return;if(SOC.decided&&k!=='time')return;SOC.powers[k]--;\n if(k==='scan')revealClues(true);\n else if(k==='opinion')eliminateWrong();\n else if(k==='time'){SOC.tLeft=Math.min(SOC.tMax,SOC.tLeft+12);updTimer();}\n renderHud();}\nfunction eliminateWrong(){var it=curItem();if(!it)return;var acts=['allow','report','block'].filter(function(a){return a!==it.action&&a!==SOC.elim;});if(!acts.length)return;\n var rm=acts[Math.floor(Math.random()*acts.length)];SOC.elim=rm;var b=gEl('act_'+rm);if(b){b.disabled=true;b.style.opacity='.25';}handler('Ruled out \\\\u2014 it\\\\u2019s not '+ACTLABEL(rm)+'.');}\n/* ---- ticket ---- */\nfunction renderTicket(){if(SOC.over)return;var it=curItem();if(!it)return levelComplete();\n SOC.decided=false;SOC.inspected=false;SOC.elim='';\n var boss=isBossLevel(SOC.li),chan=chanOf(it);\n var stg=gEl('socstage');if(!stg)return;\n var subj=it.subject||it.body.slice(0,60);\n var html='<div class=\"ticket'+(boss?' boss':'')+'\" id=\"ticket\">'\n  +'<div class=\"tkhead\"><div class=\"tkav\">'+esc(initials(it.from||chan))+'</div><div class=\"tkmeta\"><div class=\"tkchan\">'+esc(chan)+(boss?' \\\\u00b7 priority':'')+'</div><div class=\"tkfrom\">'+esc(it.from||'Unknown sender')+'</div></div></div>'\n  +'<div class=\"tkscroll\"><div class=\"tksubj\">'+esc(subj)+'</div>'\n  +((it.body&&it.body!==subj)?('<div class=\"tktext\">'+esc(it.body)+'</div>'):'')\n  +((it.clues&&it.clues.length)?('<button class=\"tkinspect\" id=\"tkinspect\">\\\\uD83D\\\\uDD0E Inspect for clues</button><div class=\"tkclues\" id=\"tkclues\"></div>'):'')\n  +'</div><div class=\"tkact\">'\n  +'<button class=\"act allow\" id=\"act_allow\">'+AICON.allow+'<span>Allow</span><span class=\"ak\">A / 1</span></button>'\n  +'<button class=\"act report\" id=\"act_report\">'+AICON.report+'<span>Report</span><span class=\"ak\">R / 2</span></button>'\n  +'<button class=\"act block\" id=\"act_block\">'+AICON.block+'<span>Block</span><span class=\"ak\">B / 3</span></button>'\n  +'</div></div>';\n stg.innerHTML=html;\n var ins=gEl('tkinspect');if(ins)ins.onclick=function(){revealClues(false);};\n gEl('act_allow').onclick=function(){decide('allow');};\n gEl('act_report').onclick=function(){decide('report');};\n gEl('act_block').onclick=function(){decide('block');};\n renderHud();\n handler(boss?'This one is high-stakes. Inspect before you call it.':pickR(INTEL));\n setGlBoss(boss);\n if(SOC.mode==='challenge'){SOC.tLeft=SOC.tMax;startTimer();}}\nfunction revealClues(silent){var it=curItem();if(!it||!it.clues||!it.clues.length)return;SOC.inspected=true;\n var box=gEl('tkclues'),ins=gEl('tkinspect');\n if(ins){ins.disabled=true;ins.textContent='\\\\u2713 Inspected';}\n if(box){box.innerHTML='<div class=\"ch\">What you notice</div>'+it.clues.map(function(c){var t=clueTone(c);return '<div class=\"clue '+t.cls+'\"><span class=\"ci\">'+t.icon+'</span><span>'+esc(c)+'</span></div>';}).join('');box.classList.add('show');}\n if(!silent)sfx('ok');}\nfunction setActsEnabled(on){['allow','report','block'].forEach(function(a){var b=gEl('act_'+a);if(b)b.disabled=!on;});var ins=gEl('tkinspect');if(ins&&!on)ins.disabled=true;}\n/* ---- decision + feedback ---- */\nfunction decide(action,timeout){if(SOC.decided||SOC.over)return;var it=curItem();if(!it)return;SOC.decided=true;stopTimer();setActsEnabled(false);\n var exact=(!timeout&&action===it.action);\n var threat=(it.action!=='allow');\n var wrongChannel=(!timeout&&!exact&&threat&&action!=='allow');\n var mult=1+Math.min(SOC.streak*0.12,1.5),bossMult=isBossLevel(SOC.li)?2:1;\n var cls,verdict,pts=0,life=false;\n if(timeout){cls='bad';verdict='\\\\u23F1 Too slow \\\\u2014 it slipped past';life=true;SOC.streak=0;}\n else if(exact){cls='ok';pts=Math.round(100*mult*bossMult);verdict=({allow:'\\\\u2705 Correct \\\\u2014 allowed',report:'\\\\u2705 Correct \\\\u2014 reported',block:'\\\\u2705 Correct \\\\u2014 blocked'})[action];SOC.streak++;SOC.correct++;}\n else if(wrongChannel){cls='part';pts=Math.round(40*bossMult);verdict='\\\\uD83D\\\\uDFE1 Good instinct \\\\u2014 right danger, wrong channel';}\n else {cls='bad';life=true;SOC.streak=0;verdict=(action==='allow')?'\\\\u274C You let a threat through':'\\\\u274C That one was legitimate';}\n SOC.total++;if(pts)SOC.score+=pts;\n if(life&&SOC.mode==='challenge'){if(SOC.shield>0){SOC.shield--;life=false;handler('Shield absorbed that one. Stay sharp.');}else{SOC.lives--;}}\n if(cls!=='ok'&&isBossLevel(SOC.li))SOC.bossPerfect=false;\n stamp(timeout?'':action);\n if(cls==='ok'){sfx(action==='allow'?'ok':'zap');if(pts)scorePop('+'+pts);}\n else if(cls==='part'){sfx('ok');if(pts)scorePop('+'+pts);}\n else {sfx('bad');flash();shakeGl();}\n if(SOC.streak>SOC.bestStreak)SOC.bestStreak=SOC.streak;\n if(SOC.streak>=8)badge('streak');\n if(SOC.mode==='challenge'&&cls==='ok'&&SOC.streak>0&&SOC.streak%3===0)grantPower();\n renderHud();\n showFeedback(it,cls,verdict);\n handler(cls==='ok'?pickR(GOODR):(cls==='part'?'Close \\\\u2014 note the right channel for next time.':pickR(BADR)));\n if(SOC.mode==='challenge'&&SOC.lives<=0){setTimeout(gameOver,950);}}\nfunction showFeedback(it,cls,verdict){var t=gEl('ticket');if(!t)return;var fb=document.createElement('div');fb.className='fb';\n fb.innerHTML='<div class=\"fbv '+cls+'\">'+verdict+'</div><div class=\"fbw\"><b style=\"color:#eaf4f8\">Right call: '+ACTLABEL(it.action)+'.</b> '+esc(it.why||'')+'</div><div class=\"fbrow\" id=\"fbrow\"></div>';\n t.appendChild(fb);\n var nx=btn(isLastOverall()?'Finish shift &rarr;':'Next item &rarr;',function(){nextTicket();});nx.id='socnext';\n gEl('fbrow').appendChild(nx);\n if(!SOC.inspected&&it.clues&&it.clues.length)revealClues(true);\n setTimeout(function(){try{nx.focus();}catch(e){}},30);}\nfunction nextTicket(){if(SOC.over)return;SOC.qi++;var lv=SOC.levels[SOC.li]||[];if(SOC.qi>=lv.length)return levelComplete();renderTicket();}\nfunction levelComplete(){if(isBossLevel(SOC.li)){SOC.bossCleared=true;badge('boss');}\n if(SOC.li>=SOC.levels.length-1)return finishGame();\n sfx('lvl');var li=SOC.li,nextBoss=isBossLevel(li+1),ov=gEl('socov');if(!ov)return;ov.style.display='';\n ov.innerHTML='<div class=\"gcard\"><div class=\"gk\">Shift '+(li+1)+' clear</div><div class=\"gt\">'+(nextBoss?'\\\\u26A0 Priority alert incoming':'Good work, analyst')+'</div>'\n  +'<div class=\"statrow\"><div class=\"stat\"><div class=\"sv\">'+SOC.score+'</div><div class=\"sl\">Score</div></div><div class=\"stat\"><div class=\"sv\">'+accPct()+'%</div><div class=\"sl\">Accuracy</div></div><div class=\"stat\"><div class=\"sv\">'+SOC.bestStreak+'</div><div class=\"sl\">Best streak</div></div></div>'\n  +'<p>'+(nextBoss?'A surge of high-priority items just hit the queue. Final shift \\\\u2014 inspect everything.':'Next shift is loading. Keep your eyes sharp.')+'</p><div id=\"socnextlv\"></div></div>';\n var b=btn(nextBoss?'Face the threat &rarr;':'Next shift &rarr;',function(){ov.style.display='none';SOC.li=li+1;SOC.qi=0;renderTicket();});b.id='socnextlv_btn';gEl('socnextlv').appendChild(b);}\nfunction finishGame(){SOC.over=true;stopTimer();unbindKeys();var acc=accPct();\n if(acc>=90)badge('sharp');badge('owl');\n SOC.gained=Math.round(SOC.score/12);addXP(SOC.gained);\n gameDone=true;if(SOC.score>gameBest)gameBest=SOC.score;\n var b=loadBest();var newHi=(SOC.score>(b.score||0)),newSt=(SOC.bestStreak>(b.streak||0));\n if(newHi)b.score=SOC.score;if(newSt)b.streak=SOC.bestStreak;saveBest(b);\n sfx('win');confetti();\n var ov=gEl('socov');if(!ov)return;ov.style.display='';\n ov.innerHTML='<div class=\"gcard\"><div class=\"gk\">Shift complete</div><div class=\"gt\">\\\\uD83C\\\\uDF03 You held the line</div>'\n  +'<div class=\"statrow\"><div class=\"stat\"><div class=\"sv\">'+SOC.score+'</div><div class=\"sl\">Score</div></div><div class=\"stat\"><div class=\"sv\">'+acc+'%</div><div class=\"sl\">Accuracy</div></div><div class=\"stat\"><div class=\"sv\">'+SOC.bestStreak+'</div><div class=\"sl\">Best streak</div></div><div class=\"stat\"><div class=\"sv\">+'+SOC.gained+'</div><div class=\"sl\">XP</div></div></div>'\n  +((newHi||newSt)?'<div class=\"soc-best\">\\\\uD83C\\\\uDFC5 New personal best!</div>':('<div class=\"soc-best\">Best \\\\u2014 score <b>'+(b.score||SOC.score)+'</b> \\\\u00b7 streak <b>'+(b.streak||SOC.bestStreak)+'</b></div>'))\n  +medalRow()+'<div id=\"socend\"></div></div>';\n var row=gEl('socend');\n row.appendChild(btn('Play again',function(){ov.style.display='none';glStop();showGame();},true));\n row.appendChild(btn('Knowledge check &rarr;',function(){showQuiz();}));\n setNav(btn('&larr; Sections',function(){showSection(total-1);},true),btn('Knowledge check &rarr;',function(){showQuiz();}));}\nfunction gameOver(){if(SOC.over)return;SOC.over=true;stopTimer();unbindKeys();sfx('lose');var acc=accPct();\n SOC.gained=Math.round(SOC.score/12);addXP(SOC.gained);gameDone=true;if(SOC.score>gameBest)gameBest=SOC.score;\n var b=loadBest();if(SOC.score>(b.score||0))b.score=SOC.score;if(SOC.bestStreak>(b.streak||0))b.streak=SOC.bestStreak;saveBest(b);\n var ov=gEl('socov');if(!ov)return;ov.style.display='';\n ov.innerHTML='<div class=\"gcard\"><div class=\"gk\">Integrity lost</div><div class=\"gt\">\\\\uD83D\\\\uDCA5 The shift got away from you</div>'\n  +'<div class=\"statrow\"><div class=\"stat\"><div class=\"sv\">'+SOC.score+'</div><div class=\"sl\">Score</div></div><div class=\"stat\"><div class=\"sv\">'+acc+'%</div><div class=\"sl\">Accuracy</div></div></div>'\n  +'<p>No harm done in training \\\\u2014 but in the real world, slow down and verify before you act. Another run?</p><div id=\"socend\"></div></div>';\n var row=gEl('socend');\n row.appendChild(btn('Retry shift',function(){ov.style.display='none';glStop();showGame();}));\n row.appendChild(btn('Knowledge check &rarr;',function(){showQuiz();},true));\n setNav(btn('&larr; Sections',function(){showSection(total-1);},true),btn('Knowledge check &rarr;',function(){showQuiz();},true));}\n/* ---- challenge timer ---- */\nfunction startTimer(){stopTimer();updTimer();SOC.timer=setInterval(function(){SOC.tLeft-=0.25;if(SOC.tLeft<=0){SOC.tLeft=0;updTimer();stopTimer();if(!SOC.decided)decide('',true);return;}updTimer();},250);}\nfunction stopTimer(){if(SOC.timer){clearInterval(SOC.timer);SOC.timer=0;}}\nfunction updTimer(){var f=gEl('htimef'),w=gEl('htime');if(f)f.style.width=Math.max(0,Math.round(SOC.tLeft/SOC.tMax*100))+'%';if(w)w.className='htime'+(SOC.tLeft<=8?' low':'');}\n/* ---- juice ---- */\nfunction stamp(action){if(!action)return;var t=gEl('ticket');if(!t)return;var s=document.createElement('div');s.className='stamp '+action;s.textContent=ACTLABEL(action);t.appendChild(s);void s.offsetWidth;s.classList.add('show');}\nfunction scorePop(txt){var t=gEl('ticket');if(!t)return;var p=document.createElement('div');p.className='scorepop';p.textContent=txt;p.style.left='50%';p.style.top='42%';t.appendChild(p);setTimeout(function(){if(p.parentNode)p.parentNode.removeChild(p);},1000);}\nfunction flash(){var f=gEl('socflash');if(!f)return;f.classList.add('on');setTimeout(function(){f.classList.remove('on');},420);}\nfunction shakeGl(){if(GL.objs&&!RM)GL.objs.shake=.5;}\nfunction handler(text){var h=gEl('sochandler');if(!h)return;h.innerHTML='<div class=\"hav\">'+HANDLER+'</div><div class=\"htxt\"><b>Jarvis:</b> '+esc(text)+'</div>';}\n/* ---- keyboard ---- */\nfunction bindKeys(){unbindKeys();SOC.keyh=function(e){if(SOC.over)return;var k=(e.key||'').toLowerCase();\n if(SOC.decided){if(k==='enter'){var n=gEl('socnext')||gEl('socnextlv_btn');if(n){e.preventDefault();n.click();}}return;}\n if(k==='a'||k==='1'){var a=gEl('act_allow');if(a&&!a.disabled){e.preventDefault();decide('allow');}}\n else if(k==='r'||k==='2'){var r=gEl('act_report');if(r&&!r.disabled){e.preventDefault();decide('report');}}\n else if(k==='b'||k==='3'){var b=gEl('act_block');if(b&&!b.disabled){e.preventDefault();decide('block');}}\n else if(k==='i'){e.preventDefault();revealClues(false);}};\n window.addEventListener('keydown',SOC.keyh);}\nfunction unbindKeys(){if(SOC&&SOC.keyh){window.removeEventListener('keydown',SOC.keyh);SOC.keyh=null;}}\n/* ---- screens ---- */\nfunction showGame(){setProg('act');var bg=imgs.gameBg||'';\n paint('<div class=\"soc'+(RM?' reduced':'')+'\">'\n  +'<div class=\"socbg'+(bg?'':' ph')+'\" id=\"socbg\"'+(bg?(' style=\"background-image:url('+bg+')\"'):'')+'></div>'\n  +'<div class=\"socgl\" id=\"socgl\"></div>'\n  +'<div class=\"socrain\"></div><div class=\"socscan\"></div><div class=\"socvig\"></div>'\n  +'<div class=\"gflash red\" id=\"socflash\"></div>'\n  +'<div class=\"socui\"><div class=\"sochud\" id=\"sochud\"></div><div class=\"socstage\" id=\"socstage\"></div><div class=\"handler\" id=\"sochandler\"></div></div>'\n  +'<div class=\"gover\" id=\"socov\"></div></div>');\n var b=loadBest(),ov=gEl('socov');\n ov.innerHTML='<div class=\"gcard\"><div class=\"gk\">22:14 \\\\u00b7 Night shift</div><div class=\"gt\">\\\\uD83C\\\\uDF03 SOC triage console</div>'\n  +'<p>You\\\\u2019re the analyst on the security desk tonight. Items hit your queue \\\\u2014 emails, calls, messages. Inspect each, then make the call: <b style=\"color:#8ff0c0\">Allow</b> the safe ones, <b style=\"color:#ffd98a\">Report</b> the suspicious, <b style=\"color:#ffb3a8\">Block</b> the malicious. Jarvis is on comms.</p>'\n  +'<div class=\"modetoggle\" id=\"modetoggle\"><button data-m=\"relaxed\" class=\"on\">\\\\uD83D\\\\uDD4A Relaxed</button><button data-m=\"challenge\">\\\\u26A1 Challenge</button></div>'\n  +'<div class=\"modehint\" id=\"modehint\">Relaxed: no timer, no lives \\\\u2014 take your time and learn. You can\\\\u2019t fail.</div>'\n  +(b.score?('<div class=\"soc-best\">Your best \\\\u2014 score <b>'+(b.score||0)+'</b> \\\\u00b7 streak <b>'+(b.streak||0)+'</b></div>'):'')\n  +'<div id=\"socstart\"></div></div>';\n var chosen={m:'relaxed'},btns=document.querySelectorAll('#modetoggle button');\n for(var i=0;i<btns.length;i++){(function(bt){bt.onclick=function(){for(var j=0;j<btns.length;j++)btns[j].classList.remove('on');bt.classList.add('on');chosen.m=bt.getAttribute('data-m');\n  gEl('modehint').textContent=(chosen.m==='challenge')?'Challenge: a decision timer, 3 lives and power-ups \\\\u2014 chase a high score. Lose all lives and the shift ends.':'Relaxed: no timer, no lives \\\\u2014 take your time and learn. You can\\\\u2019t fail.';};})(btns[i]);}\n gEl('socstart').appendChild(btn('Start shift &rarr;',function(){startGame(chosen.m);}));\n glInit(gEl('socgl'),bg);\n setNav(btn('&larr; Sections',function(){showSection(total-1);},true),btn(gameDone?'Knowledge check &rarr;':'Skip mission',function(){showQuiz();},true));}\nfunction startGame(mode){var ov=gEl('socov');if(ov)ov.style.display='none';\n SOC.levels=buildLevels(D.game.slice());SOC.li=0;SOC.qi=0;SOC.score=0;SOC.streak=0;SOC.bestStreak=0;SOC.correct=0;SOC.total=0;\n SOC.mode=(mode==='challenge')?'challenge':'relaxed';SOC.lives=3;SOC.maxLives=3;SOC.shield=0;SOC.powers={};SOC.over=false;SOC.bossCleared=false;SOC.bossPerfect=true;SOC.tMax=26;\n ac();bindKeys();renderTicket();}\n/* ---- atmosphere (three.js, progressive enhancement) ---- */\nfunction glInit(host,bgUrl){try{\n if(!window.THREE||!host)return null;\n var W=host.clientWidth||stage.clientWidth,H=host.clientHeight||stage.clientHeight;if(!W||!H)return null;\n var renderer=new THREE.WebGLRenderer({antialias:true,alpha:true});\n renderer.setSize(W,H);renderer.setPixelRatio(Math.min(window.devicePixelRatio||1,2));host.appendChild(renderer.domElement);\n var scene=new THREE.Scene();var cam=new THREE.PerspectiveCamera(55,W/H,0.1,100);cam.position.set(0,0,6);\n var pw=16,ph=9,tex=null;if(bgUrl){try{tex=new THREE.TextureLoader().load(bgUrl);}catch(e){tex=null;}}\n var bgMat=tex?new THREE.MeshBasicMaterial({map:tex}):new THREE.MeshBasicMaterial({color:0x0a1d2c});\n var bgMesh=new THREE.Mesh(new THREE.PlaneGeometry(pw,ph),bgMat);bgMesh.position.z=-4;scene.add(bgMesh);\n var grade=new THREE.Mesh(new THREE.PlaneGeometry(pw,ph),new THREE.MeshBasicMaterial({color:0x05080d,transparent:true,opacity:.42}));grade.position.z=-3.6;scene.add(grade);\n var N=140,g=new THREE.BufferGeometry(),pos=new Float32Array(N*3);for(var i=0;i<N;i++){pos[i*3]=(Math.random()-.5)*14;pos[i*3+1]=(Math.random()-.5)*8;pos[i*3+2]=-3+Math.random()*5;}\n g.setAttribute('position',new THREE.BufferAttribute(pos,3));\n var motes=new THREE.Points(g,new THREE.PointsMaterial({color:0x9fe4d8,size:.05,transparent:true,opacity:.5}));scene.add(motes);\n var rainMat=null,rain=null;\n try{rainMat=new THREE.ShaderMaterial({transparent:true,depthWrite:false,blending:THREE.AdditiveBlending,uniforms:{t:{value:0}},\n  vertexShader:'varying vec2 vUv;void main(){vUv=uv;gl_Position=projectionMatrix*modelViewMatrix*vec4(position,1.0);}',\n  fragmentShader:'precision highp float;varying vec2 vUv;uniform float t;float h(vec2 p){return fract(sin(dot(p,vec2(41.3,289.1)))*43758.5);}void main(){float cols=30.0;float x=vUv.x*cols;float c=floor(x);float r=h(vec2(c,1.0));float sp=0.5+r*1.4;float y=fract(vUv.y - t*sp - r);float st=smoothstep(0.0,0.03,y)*smoothstep(0.45,0.0,y);float fx=abs(fract(x)-0.5);float w=smoothstep(0.5,0.12,fx);float a=st*w*(0.3+0.4*r);gl_FragColor=vec4(vec3(0.6,0.78,0.95)*a,a*0.55);}'});\n  rain=new THREE.Mesh(new THREE.PlaneGeometry(pw,ph),rainMat);rain.position.z=2;scene.add(rain);}catch(e){rainMat=null;}\n var onR=function(){var w2=host.clientWidth,h2=host.clientHeight;if(!w2||!h2)return;cam.aspect=w2/h2;cam.updateProjectionMatrix();renderer.setSize(w2,h2);};\n window.addEventListener('resize',onR);\n var mx=0,my=0,onM=function(e){var r=stage.getBoundingClientRect();mx=((e.clientX-r.left)/r.width-.5);my=((e.clientY-r.top)/r.height-.5);};\n window.addEventListener('mousemove',onM);\n GL.renderer=renderer;GL.scene=scene;GL.cam=cam;GL.onResize=onR;GL.onMove=onM;GL.host=host;\n GL.objs={bg:bgMesh,grade:grade,motes:motes,rainMat:rainMat,shake:0,t:0,getMx:function(){return mx;},getMy:function(){return my;},boss:false,textured:!!tex};\n glRun();return GL;\n}catch(e){return null;}}\nfunction setGlBoss(on){if(GL.objs){GL.objs.boss=on;if(GL.objs.grade)GL.objs.grade.material.color.setHex(on?0x200707:0x05080d);}}\nfunction glRun(){if(!GL.renderer)return;GL.running=true;var last=performance.now();\n (function loop(now){if(!GL.running||!GL.renderer)return;GL.raf=requestAnimationFrame(loop);\n  var dt=Math.min((now-last)/1000,.05);last=now;var O=GL.objs;if(!O){GL.renderer.render(GL.scene,GL.cam);return;}O.t+=dt;\n  if(O.rainMat)O.rainMat.uniforms.t.value=O.t;\n  if(O.motes){var ap=O.motes.geometry.attributes.position.array;for(var i=1;i<ap.length;i+=3){ap[i]+=dt*0.15;if(ap[i]>4)ap[i]=-4;}O.motes.geometry.attributes.position.needsUpdate=true;}\n  if(O.textured&&O.bg&&O.bg.material&&O.bg.material.color){var fl=RM?1:(0.94+0.06*Math.sin(O.t*9.0)+((Math.random()<0.015)?-0.12:0));O.bg.material.color.setScalar(Math.max(0.72,Math.min(1,fl)));}\n  var tx=O.getMx?O.getMx():0,ty=O.getMy?O.getMy():0,sh=O.shake;\n  GL.cam.position.x=tx*0.6+(sh?(Math.random()-.5)*sh*0.8:0);\n  GL.cam.position.y=-ty*0.4+(sh?(Math.random()-.5)*sh*0.6:0);\n  GL.cam.lookAt(0,0,-4);if(O.shake>0)O.shake-=dt;\n  GL.renderer.render(GL.scene,GL.cam);})(last);}\n/* ================= ACTIVITY: Spot-the-Phish puzzle ================= */\nvar PZ={i:0,score:0,max:0,flagsFound:0,flagsTotal:0,perfect:0};\nfunction pzKindLbl(k){return ({email:'Email',sms:'Text message',web:'Website'})[k]||'Message';}\nfunction showPuzzle(){PZ={i:0,score:0,max:0,flagsFound:0,flagsTotal:0,perfect:0};pzRender();}\nfunction pzRender(){var p=puzzles[PZ.i];if(!p)return pzDone();setProg('act');\n var hero=(imgs.sections&&imgs.sections.length)?imgs.sections[PZ.i%imgs.sections.length]:(imgs.cover||'');\n var chips=p.elements.map(function(e,ix){return '<button class=\"pzel\" data-ix=\"'+ix+'\" type=\"button\"><span class=\"pzlbl\">'+esc(e.label||'Detail')+'</span><span class=\"pzval\">'+esc(e.value)+'</span></button>';}).join('');\n var h='<div class=\"pzwrap\">'\n  +'<div class=\"pzhead\"><div class=\"kick\">Spot the phish &middot; item '+(PZ.i+1)+' of '+puzzles.length+'</div><h2>Tap anything suspicious, then make the call.</h2></div>'\n  +'<div class=\"pzcard\">'+(hero?('<div class=\"pzhero\" style=\"background-image:url('+hero+')\"></div>'):'')\n  +'<div class=\"pzmeta\"><div class=\"pzfrom\"><span class=\"pztag\">'+esc(pzKindLbl(p.kind))+'</span>'+esc(p.from||'Unknown sender')+'</div>'+(p.subject?('<div class=\"pzsub\">'+esc(p.subject)+'</div>'):'')+'</div>'\n  +(p.body?('<div class=\"pzbody\">'+esc(p.body)+'</div>'):'')\n  +'<div class=\"pzels\">'+chips+'</div>'\n  +'<div class=\"pzverdict\" id=\"pzverdict\"><span class=\"pzvq\">Your verdict:</span><button class=\"vbtn phish\" data-v=\"phish\" type=\"button\">\\\\uD83D\\\\uDEA9 Phishing / unsafe</button><button class=\"vbtn legit\" data-v=\"legit\" type=\"button\">\\\\u2705 Legitimate</button></div>'\n  +'<div class=\"pzfb\" id=\"pzfb\"></div></div></div>';\n paint(h);narrateBody('Item '+(PZ.i+1)+'. '+(p.from||'')+'. '+(p.subject||'')+'. '+(p.body||''));\n var sel={};var els=pane.querySelectorAll('.pzel');\n for(var k=0;k<els.length;k++){(function(b){b.onclick=function(){var ix=b.getAttribute('data-ix');if(sel[ix]){delete sel[ix];b.classList.remove('flag');}else{sel[ix]=true;b.classList.add('flag');sfx('zap');}};})(els[k]);}\n var vb=pane.querySelectorAll('.vbtn');\n for(var v=0;v<vb.length;v++){(function(b){b.onclick=function(){pzSubmit(p,sel,b.getAttribute('data-v'));};})(vb[v]);}\n setNav(btn('&larr; Sections',function(){showSection(total-1);},true),btn('Skip item',pzNext,true));}\nfunction pzSubmit(p,sel,verdict){var els=pane.querySelectorAll('.pzel');var correctEls=0,flags=0,flagsFound=0;\n for(var k=0;k<els.length;k++){var ix=els[k].getAttribute('data-ix');var e=p.elements[ix];var chosen=!!sel[ix];els[k].disabled=true;\n  if(e.suspicious){flags++;if(chosen){flagsFound++;els[k].classList.add('hit');}else{els[k].classList.add('miss');}}\n  else{els[k].classList.add(chosen?'false':'okk');}\n  if(chosen===!!e.suspicious)correctEls++;\n  if(e.why){var w=document.createElement('span');w.className='pzwhy';w.textContent=e.why;els[k].appendChild(w);}}\n var vc=(verdict===p.verdict);var itemPts=correctEls*10+(vc?20:0);PZ.score+=itemPts;PZ.max+=p.elements.length*10+20;PZ.flagsFound+=flagsFound;PZ.flagsTotal+=flags;\n var allRight=(correctEls===p.elements.length&&vc);if(allRight)PZ.perfect++;\n addXP(correctEls*4+(vc?10:0));sfx(vc?'ok':'bad');\n var vbs=pane.querySelectorAll('.vbtn');for(var z=0;z<vbs.length;z++){var bv=vbs[z];bv.disabled=true;var vv=bv.getAttribute('data-v');if(vv===p.verdict)bv.classList.add('right');else if(vv===verdict)bv.classList.add('wrong');}\n var fb=gEl('pzfb');if(fb){fb.className='pzfb show '+(allRight?'good':'warn');\n  fb.innerHTML='<b>'+(allRight?'Nailed it.':(vc?'Right verdict \\\\u2014 but you missed a clue.':'Careful \\\\u2014 this one was '+(p.verdict==='phish'?'a phishing attempt.':'actually legitimate.')))+'</b> You flagged '+flagsFound+' of '+flags+' red flag'+(flags===1?'':'s')+'. (+'+itemPts+' pts)';}\n setNav(btn('&larr; Sections',function(){showSection(total-1);},true),btn((PZ.i+1<puzzles.length)?'Next item &rarr;':'See results &rarr;',pzNext));}\nfunction pzNext(){PZ.i++;if(PZ.i>=puzzles.length)return pzDone();pzRender();}\nfunction pzDone(){setProg('act');var acc=PZ.max?Math.round(PZ.score/PZ.max*100):0;gameDone=true;gameBest=PZ.score;\n if(PZ.flagsTotal&&PZ.flagsFound===PZ.flagsTotal)badge('eagle');if(acc>=90)badge('sharp');\n var b=loadBest();if(PZ.score>(b.score||0)){b.score=PZ.score;saveBest(b);}\n if(acc>=70){sfx('win');confetti();}\n paint('<div class=\"results\"><div class=\"ring\"><svg viewBox=\"0 0 120 120\"><circle class=\"rbg\" cx=\"60\" cy=\"60\" r=\"52\"/><circle class=\"rfg '+(acc>=70?'p':'f')+'\" cx=\"60\" cy=\"60\" r=\"52\"/></svg><div class=\"rscore\">'+acc+'%</div></div><div class=\"pill '+(acc>=70?'pass':'fail')+'\">'+(acc>=70?'SHARP EYE':'KEEP PRACTISING')+'</div><p>You caught '+PZ.flagsFound+' of '+PZ.flagsTotal+' red flags across '+puzzles.length+' item'+(puzzles.length===1?'':'s')+'.</p>'+medalRow()+'</div>','center');\n setNav(btn('Play again',function(){showPuzzle();},true),btn('Knowledge check &rarr;',function(){showQuiz();}));}\n/* ================= ACTIVITY: Branching scenario ================= */\nvar SC={i:0,score:0,correct:0,risk:0};\nfunction showScenario(){SC={i:0,score:0,correct:0,risk:0};scIntro();}\nfunction scIntro(){setProg('act');var bg=imgs.cover||(imgs.sections&&imgs.sections[0])||'';\n paint('<div class=\"two\"><div class=\"left\">'+hero(bg)+'</div><div class=\"right\"><div class=\"kick\">Scenario</div><h2>'+esc(D.title)+'</h2><div class=\"scroll\"><p>'+esc(scenario.intro||'A realistic situation is about to unfold. Choose how you respond \\\\u2014 every decision has consequences.')+'</p></div></div></div>');\n narrateBody(scenario.intro||'');\n setNav(btn('&larr; Sections',function(){showSection(total-1);},true),btn('Begin &rarr;',scRender));}\nfunction scRender(){var s=scenario.scenes[SC.i];if(!s)return scDone();setProg('act');\n var bg=(imgs.sections&&imgs.sections.length)?imgs.sections[SC.i%imgs.sections.length]:(imgs.cover||'');\n var choices=s.choices.map(function(c,ix){return '<button class=\"scchoice\" data-ix=\"'+ix+'\" type=\"button\">'+esc(c.text)+'</button>';}).join('');\n paint('<div class=\"two scn\"><div class=\"left\">'+hero(bg)+'<div class=\"scstep\">Decision '+(SC.i+1)+' / '+scenario.scenes.length+'</div></div><div class=\"right\"><div class=\"kick\">What do you do?</div><div class=\"scroll\"><p class=\"scsit\">'+esc(s.situation)+'</p><div class=\"scchoices\" id=\"scchoices\">'+choices+'</div><div class=\"scfb\" id=\"scfb\"></div></div></div></div>');\n narrateBody(s.situation);\n var bs=pane.querySelectorAll('.scchoice');for(var k=0;k<bs.length;k++){(function(b){b.onclick=function(){scPick(s,parseInt(b.getAttribute('data-ix'),10));};})(bs[k]);}\n setNav(btn('&larr; Sections',function(){showSection(total-1);},true),sp());}\nfunction scPick(s,ix){var c=s.choices[ix];if(!c)return;var bs=pane.querySelectorAll('.scchoice');\n for(var k=0;k<bs.length;k++){var ci=parseInt(bs[k].getAttribute('data-ix'),10);bs[k].disabled=true;if(s.choices[ci].correct)bs[k].classList.add('best');else if(ci===ix)bs[k].classList.add('chosen');}\n var good=!!c.correct;if(good){SC.correct++;SC.score+=10;}else{SC.risk+=(c.risk==='high'?2:1);}\n addXP(good?15:3);sfx(good?'ok':'bad');\n var fb=gEl('scfb');if(fb){fb.className='scfb show risk-'+(c.risk||'medium');fb.innerHTML='<div class=\"scrk\">'+(good?'\\\\u2705 Good call':(c.risk==='high'?'\\\\u26A0 High risk':'\\\\u26A0 Risky move'))+'</div>'+esc(c.feedback||'');}\n setNav(btn('&larr; Sections',function(){showSection(total-1);},true),btn((SC.i+1<scenario.scenes.length)?'Next &rarr;':'See outcome &rarr;',function(){SC.i++;if(SC.i>=scenario.scenes.length)return scDone();scRender();}));}\nfunction scDone(){setProg('act');var n=scenario.scenes.length;var acc=n?Math.round(SC.correct/n*100):0;gameDone=true;gameBest=SC.score;\n if(acc===100)badge('cool');if(acc>=80)badge('sharp');\n var b=loadBest();if(SC.score>(b.score||0)){b.score=SC.score;saveBest(b);}\n if(acc>=70){sfx('win');confetti();}\n paint('<div class=\"results\"><div class=\"ring\"><svg viewBox=\"0 0 120 120\"><circle class=\"rbg\" cx=\"60\" cy=\"60\" r=\"52\"/><circle class=\"rfg '+(acc>=70?'p':'f')+'\" cx=\"60\" cy=\"60\" r=\"52\"/></svg><div class=\"rscore\">'+acc+'%</div></div><div class=\"pill '+(acc>=70?'pass':'fail')+'\">'+(acc>=70?'WELL HANDLED':'REVIEW & RETRY')+'</div><p>'+esc(scenario.outro||('You made '+SC.correct+' of '+n+' best decisions.'))+'</p>'+medalRow()+'</div>','center');\n setNav(btn('Replay',function(){showScenario();},true),btn('Knowledge check &rarr;',function(){showQuiz();}));}\n/* ---- quiz ---- */\nfunction showQuiz(){unbindKeys();setProg('quiz');var qs=D.questions||[];var h='<div class=\"quiz\"><div class=\"kick\">Knowledge check</div><h2>Test your understanding</h2>';\n qs.forEach(function(q,qi){h+='<div class=\"q\"><div class=\"qt\">'+(qi+1)+'. '+esc(q.q)+'</div>';(q.options||[]).forEach(function(o,oi){h+='<label class=\"opt\"><input type=\"radio\" name=\"q'+qi+'\" value=\"'+oi+'\"><span>'+esc(o)+'</span></label>';});h+='</div>';});\n h+='</div>';paint(h);setNav(btn('&larr; Back',function(){hasAct?showActivity():showSection(total-1);},true),btn('Submit answers &rarr;',grade));}\nfunction grade(){var qs=D.questions||[];var c=0;wrongIdx=[];userAns=[];qs.forEach(function(q,qi){var s=document.querySelector('input[name=q'+qi+']:checked');var v=s?Number(s.value):-1;userAns[qi]=v;if(v===Number(q.answer))c++;else wrongIdx.push(qi);});var score=qs.length?Math.round((c/qs.length)*100):0;lastScore=score;lastPassed=score>=pass;\n addXP(c*25);if(score===100)badge('quiz');if(lastPassed)badge('cert');\n scormReport(score,lastPassed);showResults(c,qs.length);}\nfunction showResults(correct,n){setProg('quiz');var passed=lastPassed;var score=lastScore;\n paint('<div class=\"results\"><div class=\"ring\"><svg viewBox=\"0 0 120 120\"><circle class=\"rbg\" cx=\"60\" cy=\"60\" r=\"52\"/><circle class=\"rfg '+(passed?'p':'f')+'\" cx=\"60\" cy=\"60\" r=\"52\"/></svg><div class=\"rscore\">'+score+'%</div></div><div class=\"pill '+(passed?'pass':'fail')+'\">'+(passed?'PASSED':'NOT YET PASSED')+'</div><p>You answered '+correct+' of '+n+' correctly.</p>'\n  +'<div class=\"statrow\"><div class=\"stat\"><div class=\"sv\">'+xp+'</div><div class=\"sl\">Total XP</div></div><div class=\"stat\"><div class=\"sv\">LV '+lvlOf(xp)+'</div><div class=\"sl\">Level</div></div>'+(hasAct?('<div class=\"stat\"><div class=\"sv\">'+gameBest+'</div><div class=\"sl\">'+actLabel()+'</div></div>'):'')+'</div>'\n  +medalRow()+'</div>','center');\n var fg=pane.querySelector('.rfg');if(fg){var C=2*Math.PI*52;fg.style.strokeDasharray=C;fg.style.strokeDashoffset=C;void fg.offsetWidth;fg.style.transition='stroke-dashoffset 1.1s ease';fg.style.strokeDashoffset=C*(1-score/100);}\n if(passed){sfx('win');confetti();}\n setNav(btn('Review answers',showReview,true),passed?btn('Continue &rarr;',showWrong):btn('Try again',showQuiz));}\nfunction showReview(){var qs=D.questions||[];var h='<div class=\"review\"><div class=\"kick\">Review</div><h2>Answers &amp; explanations</h2>';\n qs.forEach(function(q,qi){var a=(q.options||[])[q.answer];h+='<div class=\"q\"><div class=\"qt\">'+(qi+1)+'. '+esc(q.q)+'</div><div class=\"ans\"><b>Correct:</b> '+esc(a)+'<br><span>'+esc(q.why||'')+'</span></div></div>';});\n h+='</div>';paint(h);setNav(btn('&larr; Results',function(){showResults(0,(D.questions||[]).length);},true),lastPassed?btn('Continue &rarr;',showWrong):null);}\nfunction showWrong(){setProg('quiz');var qs=D.questions||[];if(!lastPassed||!wrongIdx.length)return showCert();\n var h='<div class=\"review\"><div class=\"kick\">Before your certificate</div><h2>Review the questions you missed</h2>';\n wrongIdx.forEach(function(qi){var q=qs[qi]||{};var correct=(q.options||[])[q.answer];var yi=userAns[qi];var your=(yi!=null&&yi>=0)?((q.options||[])[yi]):'No answer given';h+='<div class=\"q\"><div class=\"qt\">'+(qi+1)+'. '+esc(q.q)+'</div><div class=\"ans wrong\"><div class=\"yr\">Your answer: '+esc(your)+'</div><b>Correct answer:</b> '+esc(correct)+'<br><span>'+esc(q.why||'')+'</span></div></div>';});\n h+='</div>';paint(h);setNav(btn('&larr; Results',function(){showResults(0,qs.length);},true),btn('Get certificate &rarr;',showCert));}\nfunction showCert(){setProg('quiz');signalComplete();var issuer=D.brand||'Security Awareness Team';var dd=fmtDate(new Date());\n var inner='<div class=\"paper\"><div class=\"guil\"></div>'+D.wm+'<div class=\"gold\"></div>'+D.corners\n  +'<div class=\"content\"><div class=\"cwrap\">'\n  +'<div class=\"chd\">'+D.crest+'<div class=\"eyebrow\">Certificate of Completion</div><div class=\"issuer\">'+esc(issuer)+'</div><div class=\"rule\"><span class=\"ln\"></span><span class=\"dia\"></span><span class=\"ln r\"></span></div></div>'\n  +'<div class=\"cmid\"><div class=\"present\">This is proudly presented to</div><div class=\"name\">'+esc(learner||'Learner')+'</div><div class=\"nund\"></div><div class=\"forr\">for successfully completing</div><div class=\"course\">'+esc(D.title)+'</div><div class=\"ach\">Awarded on <b>'+esc(dd)+'</b> &nbsp;&middot;&nbsp; Assessment score <b>'+lastScore+'%</b></div></div>'\n  +'<div class=\"footer\"><div class=\"sig\"><div class=\"sline\"></div><div class=\"snm\">'+esc(issuer)+'</div><div class=\"slb\">Issued by</div></div><div class=\"sealwrap\">'+D.seal+'</div><div class=\"sig\"><div class=\"sline\"></div><div class=\"snm\">'+esc(dd)+'</div><div class=\"slb\">Date of issue</div></div></div>'\n  +'</div></div>';\n var cert='<div id=\"certArea\"><div class=\"cert\">'+inner+'</div></div>';\n paint('<div class=\"certscreen\"><div class=\"cchead\">Congratulations'+(learner?(', '+esc(learner)):'')+' &mdash; you have earned your certificate</div>'+cert+'</div>','center');\n (function(){var c=pane.querySelector('.cert');if(!c)return;var avW=pane.clientWidth-44;var avH=pane.clientHeight-78;var w=avW,hh=w/1.414;if(hh>avH){hh=avH;w=hh*1.414;}c.style.width=Math.round(w)+'px';c.style.height=Math.round(hh)+'px';\n  var ct=c.querySelector('.content'),cw=c.querySelector('.cwrap');if(ct&&cw){cw.style.transform='';cw.style.justifyContent='flex-start';cw.style.height='auto';var nat=cw.scrollHeight,av=ct.clientHeight;cw.style.height='100%';cw.style.justifyContent='space-between';if(nat>av&&nat>0){cw.style.transform='scale('+(av/nat).toFixed(3)+')';}}})();\n setNav(btn('&#128424; Print / Save as PDF',function(){window.print();}),btn('Finish',function(){signalComplete();scormFinish();}));}\n(function(){var b=audBtn();if(b)b.onclick=toggleAud;})();\ntry{var _nm=/[?&]name=([^&]+)/.exec(location.search);if(_nm)learner=decodeURIComponent(_nm[1].replace(/\\\\+/g,' '));}catch(e){}\nif(deepLinkCert()){showCert();}else{cover();}\n})();`;\n\nconst logo = '<svg class=\"logo\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\nconst threeTag = THREE_SRC ? ('<script>'+THREE_SRC+'</script>') : '<script src=\"https://unpkg.com/three@0.147.0/build/three.min.js\"></script>';\nconst html = `<!doctype html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>${esc(title)}</title><style>${CSS}</style></head><body><div class=\"stage\"><div class=\"top\">${logo}<div class=\"tt\"><div class=\"b\">${esc(brand)}</div><h1>${esc(title)}</h1></div><div class=\"crumbs\" id=\"crumbs\"></div><div class=\"xpwrap\"><span class=\"lvl\" id=\"lvl\">LV 1</span><div class=\"xpbar\"><span id=\"xpfill\"></span></div><span class=\"xpn\" id=\"xpn\">0 XP</span></div><button class=\"narr\" id=\"audctl\" type=\"button\" style=\"display:none\"></button></div><div class=\"prog\"><span id=\"progfill\"></span></div><div class=\"pane\" id=\"pane\"></div><div class=\"nav\" id=\"nav\"></div><div class=\"toast\" id=\"toast\"></div></div>${threeTag}<script>var DATA=${dataJson};\n${APP}</script></body></html>`;\n\nconst fileSafe = topic.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40) || 'module';\n\n// The lesson HTML is large (inlined three.js + hi-res images) — emit it as BINARY\n// so n8n execution data stays small; Package & Write reads the buffer back.\nconst bin = await this.helpers.prepareBinaryData(Buffer.from(html, 'utf8'), 'index.html', 'text/html');\nreturn [{ json: { topic: topic, title: title, date: date, fileSafe: fileSafe, format: format, passMark: passMark, publicationId: publicationId, courseId: courseId, htmlBytes: html.length, style: style, hasGame: (style==='gamified' && gameItems.length >= 4), hasActivity: ((style==='gamified'&&gameItems.length>=4)||(style==='puzzle'&&puzzles.length>=1)||(style==='scenario'&&!!scenario)) }, binary: { data: bin } }];\n"
      }
    },
    {
      "id": "write",
      "name": "Package & Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Package & Write — self-contained lesson HTML (renders inline in the Awareness\n// Portal) plus a SCORM 1.2 package (imsmanifest.xml + index.html, store-only zip)\n// for upload to any corporate LMS. Honours the requested format (HTML/SCORM/Both).\nconst fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst html = await this.helpers.getBinaryDataBuffer(0, 'data');\nif (!html || !html.length) throw new Error('Learning Hub course: renderer produced no HTML.');\nconst dir = '/reports/learning-hub';\nconst base = (meta.fileSafe || 'module') + '-' + meta.date;\nconst format = (meta.format || 'Both');\ntry { fs.mkdirSync(dir, { recursive: true }); } catch (e) {}\n\n// --- minimal store-only ZIP writer (no deps) ---\nfunction _crcT(){ var c,t=[]; for(var n=0;n<256;n++){ c=n; for(var k=0;k<8;k++) c=(c&1)?(0xEDB88320^(c>>>1)):(c>>>1); t[n]=c>>>0; } return t; }\nvar CT=_crcT();\nfunction crc32(b){ var c=0xFFFFFFFF; for(var i=0;i<b.length;i++) c=CT[(c^b[i])&0xFF]^(c>>>8); return (c^0xFFFFFFFF)>>>0; }\nfunction zipStore(entries){ var dt=new Date(); var T=((dt.getHours()&31)<<11)|((dt.getMinutes()&63)<<5)|((Math.floor(dt.getSeconds()/2))&31); var D=(((dt.getFullYear()-1980)&127)<<9)|(((dt.getMonth()+1)&15)<<5)|(dt.getDate()&31); var local=[],central=[],off=0; entries.forEach(function(e){ var name=Buffer.from(e.name,'utf8'); var data=Buffer.isBuffer(e.data)?e.data:Buffer.from(String(e.data),'utf8'); var crc=crc32(data); var lh=Buffer.alloc(30); lh.writeUInt32LE(0x04034b50,0);lh.writeUInt16LE(20,4);lh.writeUInt16LE(0,6);lh.writeUInt16LE(0,8);lh.writeUInt16LE(T,10);lh.writeUInt16LE(D,12);lh.writeUInt32LE(crc,14);lh.writeUInt32LE(data.length,18);lh.writeUInt32LE(data.length,22);lh.writeUInt16LE(name.length,26);lh.writeUInt16LE(0,28); local.push(lh,name,data); var ch=Buffer.alloc(46); ch.writeUInt32LE(0x02014b50,0);ch.writeUInt16LE(20,4);ch.writeUInt16LE(20,6);ch.writeUInt16LE(0,8);ch.writeUInt16LE(0,10);ch.writeUInt16LE(T,12);ch.writeUInt16LE(D,14);ch.writeUInt32LE(crc,16);ch.writeUInt32LE(data.length,20);ch.writeUInt32LE(data.length,24);ch.writeUInt16LE(name.length,28);ch.writeUInt16LE(0,30);ch.writeUInt16LE(0,32);ch.writeUInt16LE(0,34);ch.writeUInt16LE(0,36);ch.writeUInt32LE(0,38);ch.writeUInt32LE(off,42); central.push(ch,name); off+=30+name.length+data.length; }); var cd=Buffer.concat(central), body=Buffer.concat(local); var eo=Buffer.alloc(22); eo.writeUInt32LE(0x06054b50,0);eo.writeUInt16LE(0,4);eo.writeUInt16LE(0,6);eo.writeUInt16LE(entries.length,8);eo.writeUInt16LE(entries.length,10);eo.writeUInt32LE(cd.length,12);eo.writeUInt32LE(body.length,16);eo.writeUInt16LE(0,20); return Buffer.concat([body,cd,eo]); }\n\n// --- SCORM 1.2 manifest ---\nfunction xml(s){ return String(s==null?'':s).replace(/[&<>\"]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;'})[c];}); }\nconst courseTitle = meta.title || meta.topic || 'Awareness Module';\nconst orgId = 'jarvis.' + base;\nconst manifest = '<?xml version=\"1.0\" standalone=\"no\"?>\\n'\n + '<manifest identifier=\"' + xml(orgId) + '.manifest\" version=\"1.2\"\\n'\n + '  xmlns=\"http://www.imsproject.org/xsd/imscp_rootv1p1p2\"\\n'\n + '  xmlns:adlcp=\"http://www.adlnet.org/xsd/adlcp_rootv1p2\"\\n'\n + '  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\\n'\n + '  xsi:schemaLocation=\"http://www.imsproject.org/xsd/imscp_rootv1p1p2 imscp_rootv1p1p2.xsd http://www.imsglobal.org/xsd/imsmd_rootv1p2p1 imsmd_rootv1p2p1.xsd http://www.adlnet.org/xsd/adlcp_rootv1p2 adlcp_rootv1p2.xsd\">\\n'\n + '  <metadata><schema>ADL SCORM</schema><schemaversion>1.2</schemaversion></metadata>\\n'\n + '  <organizations default=\"' + xml(orgId) + '\">\\n'\n + '    <organization identifier=\"' + xml(orgId) + '\">\\n'\n + '      <title>' + xml(courseTitle) + '</title>\\n'\n + '      <item identifier=\"item_1\" identifierref=\"res_1\" isvisible=\"true\">\\n'\n + '        <title>' + xml(courseTitle) + '</title>\\n'\n + '        <adlcp:masteryscore>' + (Number(meta.passMark) || 80) + '</adlcp:masteryscore>\\n'\n + '      </item>\\n'\n + '    </organization>\\n'\n + '  </organizations>\\n'\n + '  <resources>\\n'\n + '    <resource identifier=\"res_1\" type=\"webcontent\" adlcp:scormtype=\"sco\" href=\"index.html\">\\n'\n + '      <file href=\"index.html\"/>\\n'\n + '    </resource>\\n'\n + '  </resources>\\n'\n + '</manifest>\\n';\n\nconst wantHtml = (format !== 'SCORM');\nconst wantScorm = (format !== 'HTML');\nlet htmlPath = '', zipPath = '';\nlet wrote = false;\nif (wantHtml) { try { fs.writeFileSync(dir + '/' + base + '.html', html); htmlPath = dir + '/' + base + '.html'; wrote = true; } catch (e) {} }\nif (wantScorm) {\n  try {\n    const zip = zipStore([{ name: 'imsmanifest.xml', data: manifest }, { name: 'index.html', data: html }]);\n    fs.writeFileSync(dir + '/' + base + '-scorm.zip', zip); zipPath = dir + '/' + base + '-scorm.zip'; wrote = true;\n  } catch (e) {}\n}\nif (!wrote) throw new Error('Learning Hub course: could not write to ' + dir + '. Make /reports writable by the n8n container, e.g. `chmod -R a+rwX reports` on the host.');\nconst bin = await this.helpers.prepareBinaryData(html, base + '.html', 'text/html');\nreturn [{ json: { ok: true, dir: dir, file: htmlPath || zipPath, html: htmlPath, scorm: zipPath, topic: meta.topic, title: meta.title, format: format, hasGame: !!meta.hasGame, publicationId: meta.publicationId, courseId: meta.courseId }, binary: { data: bin } }];\n"
      }
    },
    {
      "parameters": {
        "formTitle": "Build a security-awareness module",
        "formDescription": "Pick a topic and a style — the engine generates a polished, self-contained interactive module (visuals, audio, points & awards).",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Phishing & suspicious emails"
                  },
                  {
                    "option": "Business email compromise (CEO / invoice fraud)"
                  },
                  {
                    "option": "Passwords & passphrases"
                  },
                  {
                    "option": "Multi-factor authentication (MFA)"
                  },
                  {
                    "option": "Ransomware"
                  },
                  {
                    "option": "Social engineering"
                  },
                  {
                    "option": "Vishing & smishing (phone & text scams)"
                  },
                  {
                    "option": "Data protection & GDPR"
                  },
                  {
                    "option": "Information classification & handling"
                  },
                  {
                    "option": "Safe browsing & downloads"
                  },
                  {
                    "option": "Public Wi-Fi & VPN"
                  },
                  {
                    "option": "Removable media & USB safety"
                  },
                  {
                    "option": "Physical security & tailgating"
                  },
                  {
                    "option": "Clean desk & screen locking"
                  },
                  {
                    "option": "Mobile device security"
                  },
                  {
                    "option": "Remote & home working"
                  },
                  {
                    "option": "Cloud & SaaS security"
                  },
                  {
                    "option": "Shadow IT"
                  },
                  {
                    "option": "Insider threat"
                  },
                  {
                    "option": "Incident reporting"
                  },
                  {
                    "option": "AI risks & deepfakes"
                  },
                  {
                    "option": "Supply-chain & third-party risk"
                  },
                  {
                    "option": "Privileged & admin access"
                  },
                  {
                    "option": "Secure development basics"
                  },
                  {
                    "option": "Custom topic…"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Custom topic",
              "fieldType": "text",
              "placeholder": "Only if you chose “Custom topic…” above"
            },
            {
              "fieldLabel": "Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Gamified (SOC arcade)"
                  },
                  {
                    "option": "Spot-the-Phish puzzle"
                  },
                  {
                    "option": "Branching scenario"
                  },
                  {
                    "option": "Quiz (Q&A)"
                  },
                  {
                    "option": "Surprise me"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Length",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Micro (3–5 min)"
                  },
                  {
                    "option": "Standard (7–10 min)"
                  },
                  {
                    "option": "Full (12–15 min)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Audience",
              "fieldType": "text",
              "placeholder": "e.g. All staff, Finance team, New starters"
            },
            {
              "fieldLabel": "Pass mark (%)",
              "fieldType": "number",
              "placeholder": "80"
            },
            {
              "fieldLabel": "Section images",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -260,
        -40
      ],
      "id": "14100aab-35ec-420f-b5c9-86514f39c56c",
      "name": "Course Form",
      "webhookId": "d043d2a3-137d-47ef-b96f-e466be141223"
    }
  ],
  "connections": {
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Manually": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Generate Section Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Section Images": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Package & Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Course Form": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}