modules/learning-hub/workflows/learning-hub-elearning.json
{
  "id": "jarvisLhElearn1",
  "name": "Jarvis · Learning Hub — Course (from magazine)",
  "meta": {
    "jarvisModule": "learning-hub",
    "jarvisVersion": "1.0.0",
    "description": "Magazine-grounded interactive e-learning course generator for the Learning Hub module. Called by the publication workflow (Execute Workflow) with a magazine \"source\" grounding, or run manually for a topic. AI writes a structured micro-course strictly from the supplied content; Render builds one self-contained 16:9 lesson HTML (section images, narration, scored knowledge check, missed-questions review, bedded certificate) that posts a completion message to the dashboard when embedded. Writes the lesson HTML to /reports/learning-hub.",
    "envVars": [
      "AI_PROVIDER",
      "IMAGE_PROVIDER",
      "OPENAI_API_KEY",
      "IMAGE_MODEL",
      "ELEARNING_SECTION_IMAGES",
      "CLIENT_NAME"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {}
    },
    {
      "id": "manb",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nlet custom = pick(i['Custom topic']); let drop = pick(i['Topic'], i.topic); if(/^custom/i.test(drop)) drop='';\nlet t = pick(custom, drop, i.query, i.text); t = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif(!t) t = ($env.DEFAULT_AWARENESS_TOPIC || 'phishing');\nconst fmt = pick(i['Format'], i.format).toLowerCase();\nlet format='Both'; if(fmt.indexOf('scorm')>=0 && fmt.indexOf('html')<0) format='SCORM'; else if(fmt.indexOf('html')>=0 && fmt.indexOf('scorm')<0) format='HTML';\nconst pm = parseInt(pick(i['Pass mark (%)'], i['Pass mark'], i.passMark),10);\nconst imgSel = pick(i['Section images'], i.illustrate);\nlet illustrate; if(imgSel) illustrate = !/^(no|false|off|0)/i.test(imgSel); else illustrate = (($env.ELEARNING_SECTION_IMAGES||'true').toString().toLowerCase()!=='false');\n// Learning Hub extras: a magazine-derived course passes grounding `source`, an\n// explicit `title`, and the publication/course ids that tie completion back to\n// the dashboard. When source/title are present the topic falls back to the title.\nconst source = pick(i.source, i.brief);\nconst title = pick(i.title);\nif(!custom && !drop && title) t = title;\nconst publicationId = pick(i.publicationId);\nconst courseId = pick(i.courseId);\nreturn [{ json: { topic:t, title:title, source:source, publicationId:publicationId, courseId:courseId, audience:(pick(i['Audience'],i.audience)||'All staff'), passMark:(isNaN(pm)?80:pm), format:format, illustrate:illustrate, date:new Date().toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString() } }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-opus-4-8' }}\",\n  \"max_tokens\": 7000,\n  \"system\": \"You are an instructional designer creating a short interactive security-awareness e-learning module. For the given topic and audience produce a SINGLE valid JSON object. Keys: title; intro (2-3 sentences on why this matters to the learner and the organisation); sections (4-6 items, each {heading, body (2-4 short paragraphs separated by single newline characters), keyPoints (2-4 short bullet strings), scene (ONE vivid sentence describing a realistic modern-office scene that visually illustrates this section, written for an illustrator: describe the people, setting and action; do NOT mention any on-screen text, screens of text, or logos)}); questions (4-6 knowledge-check items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}); gameItems (10-12 items for an allow-or-block training game, each {text (a SHORT realistic message, request or behaviour a member of staff might encounter, max 100 characters - e.g. an email subject plus its ask, a caller request, or a workplace action - roughly half safe and half risky, drawn from this module's content), risky (true if it should be blocked, refused or reported; false if it is safe normal business), why (one sentence the learner sees after deciding)}). Plain, engaging, non-technical language tailored to the audience. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify( ($json.source ? ('Base this module STRICTLY on the following staff security-awareness magazine content. Write a short course title, a 2-3 sentence intro, 4-6 sections and 4-6 multiple-choice questions grounded ONLY in it.\\n\\n' + $json.source) : ('Create an interactive e-learning module on the topic: ' + ($json.topic || 'phishing'))) + ' Audience: ' + ($json.audience || 'All staff') + '. Knowledge-check pass mark: ' + ($json.passMark || 80) + '%.' ) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.4, \"num_predict\": 5500 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are an instructional designer creating a short interactive security-awareness e-learning module. For the given topic and audience produce a SINGLE valid JSON object. Keys: title; intro (2-3 sentences on why this matters to the learner and the organisation); sections (4-6 items, each {heading, body (2-4 short paragraphs separated by single newline characters), keyPoints (2-4 short bullet strings), scene (ONE vivid sentence describing a realistic modern-office scene that visually illustrates this section, written for an illustrator: describe the people, setting and action; do NOT mention any on-screen text, screens of text, or logos)}); questions (4-6 knowledge-check items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}); gameItems (10-12 items for an allow-or-block training game, each {text (a SHORT realistic message, request or behaviour a member of staff might encounter, max 100 characters - e.g. an email subject plus its ask, a caller request, or a workplace action - roughly half safe and half risky, drawn from this module's content), risky (true if it should be blocked, refused or reported; false if it is safe normal business), why (one sentence the learner sees after deciding)}). Plain, engaging, non-technical language tailored to the audience. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify( ($json.source ? ('Base this module STRICTLY on the following staff security-awareness magazine content. Write a short course title, a 2-3 sentence intro, 4-6 sections and 4-6 multiple-choice questions grounded ONLY in it.\\n\\n' + $json.source) : ('Create an interactive e-learning module on the topic: ' + ($json.topic || 'phishing'))) + ' Audience: ' + ($json.audience || 'All staff') + '. Knowledge-check pass mark: ' + ($json.passMark || 80) + '%.' ) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json;\nconst STYLE = 'Cinematic, semi-realistic editorial illustration set in a bright modern corporate office. Polished, professional and calm mood; soft natural window light with a warm key light; teal and deep-navy colour grade; shallow depth of field; clean wide composition with generous empty space near the top. Diverse professional people in business-casual attire, natural expressions. ';\nconst NEG = ' No text, no words, no letters, no numbers, no logos, no signage, no watermark, no user-interface screenshots, no charts.';\nif (data && !data.title && r.title) data.title = r.title;\nconst sections = (data && data.sections) || [];\nconst imagePrompts = sections.map(function(s){ var scene = (s && (s.scene || s.heading)) || ('a workplace scene about ' + (r.topic||'security awareness')); return STYLE + 'Scene: ' + scene + '.' + NEG; });\nconst coverPrompt = 'Wide cinematic hero cover image for a premium corporate security-awareness course about ' + (r.topic||'security awareness') + '. ' + STYLE + 'Establishing wide shot of a modern office that conveys trust, focus and vigilance; dramatic but professional lighting; strong empty space on the left for a title.' + NEG;\nreturn [{ json: { data:data, topic:r.topic, audience:r.audience, passMark:r.passMark, format:r.format, illustrate:r.illustrate, imagePrompts:imagePrompts, coverPrompt:coverPrompt, date:r.date, client:r.client, publicationId:r.publicationId, courseId:r.courseId } }];\n"
      }
    },
    {
      "id": "images",
      "name": "Generate Section Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nconst sectionPrompts = j.imagePrompts || [];\nconst coverPrompt = j.coverPrompt || '';\nlet sections = sectionPrompts.map(function(){ return ''; });\nlet cover = '';\nconst key = $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY;\nif (j.illustrate && key) {\n  const H = this.helpers;\n  const base = ($env.OPENAI_BASE_URL || 'https://api.openai.com/v1');\n  const model = ($env.IMAGE_MODEL || 'gpt-image-2');\n  const size = ($env.ELEARNING_IMAGE_SIZE || '1536x1024');\n  const gen = async function(p){\n    try {\n      const resp = await H.httpRequest({ method:'POST', url: base + '/images/generations',\n        headers: { Authorization: 'Bearer ' + key, 'Content-Type': 'application/json' },\n        body: { model: model, prompt: p, size: size, quality: ($env.ELEARNING_IMAGE_QUALITY || 'high'), n: 1 }, json: true, timeout: 180000 });\n      const b64 = resp && resp.data && resp.data[0] && resp.data[0].b64_json;\n      return b64 ? ('data:image/png;base64,' + b64) : '';\n    } catch (e) { return ''; }\n  };\n  if (coverPrompt) cover = await gen(coverPrompt);\n  for (let k = 0; k < sectionPrompts.length; k++) { sections[k] = await gen(sectionPrompts[k]); }\n}\nreturn [{ json: Object.assign({}, j, { images: { cover: cover, sections: sections } }) }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// E-learning renderer — gamified 16:9 enterprise lesson player. Cover, name entry,\n// mission briefing, animated sections (Ken Burns heroes, animated SVG accents),\n// XP + levels + achievement badges, a playable three.js mini-game (\"Firewall:\n// Threat Storm\" — allow/block AI-written threat statements flying at your\n// firewall, with combos, integrity and educational feedback; 2D DOM fallback when\n// WebGL is unavailable), knowledge check with animated score ring, confetti, and a\n// bedded-in completion certificate. SCORM 1.2 aware (quiz score reported to LMS).\nconst d = $json.data || {};\nconst topic = $json.topic || 'Security Awareness';\nconst date = $json.date || new Date().toISOString().slice(0,10);\nconst client = ($json.client || '').toString();\nconst passMark = Number($json.passMark) || 80;\nconst format = $json.format || 'Both';\nconst images = ($json.images && typeof $json.images === 'object' && !Array.isArray($json.images))\n  ? { cover: ($json.images.cover||''), sections: ($json.images.sections||[]) }\n  : { cover:'', sections:(Array.isArray($json.images)?$json.images:[]) };\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nconst title = d.title || (topic + ' — Awareness Module');\nconst brand = client ? client : 'Security Awareness';\nconst publicationId = ($json.publicationId || '').toString();\nconst courseId = ($json.courseId || '').toString();\n\n// Env-driven brand theme (platform standard).\nfunction jbHex(v,df){v=String(v||'').trim();return /^#[0-9a-fA-F]{6}$/.test(v)?v:df;}\nvar JB_PRI=jbHex($env.BRAND_PRIMARY,'#0A1A2F'),JB_ACC=jbHex($env.BRAND_ACCENT,'#0E7C86'),JB_GOLD=jbHex($env.BRAND_GOLD,'#C9A24B');\n\n// three.js — vendored library inlined so the package is fully self-contained\n// (works inside locked-down LMS networks); CDN fallback only if the mount is\n// missing; the game itself degrades to a 2D DOM version when WebGL/THREE fail.\nlet _fs = null; try { _fs = require('fs'); } catch (e) {}\nlet THREE_SRC = '';\ntry { THREE_SRC = _fs.readFileSync('/config/vendor/three.min.js','utf8'); } catch (e) { THREE_SRC = ''; }\n\n// --- animated SVG icon set (stroke = brand accent; .pz group is animated in CSS) ---\nfunction ic(inner){ return '<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"'+JB_ACC+'\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><g class=\"pz\">'+inner+'</g></svg>'; }\nconst ICONS = {\n  shield: ic('<path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/>'),\n  lock:   ic('<rect x=\"5\" y=\"11\" width=\"14\" height=\"9\" rx=\"2\"/><path d=\"M8 11V8a4 4 0 0 1 8 0v3\"/>'),\n  mail:   ic('<rect x=\"3\" y=\"5\" width=\"18\" height=\"14\" rx=\"2\"/><path d=\"M3 7l9 6 9-6\"/>'),\n  eye:    ic('<path d=\"M2 12s4-7 10-7 10 7 10 7-4 7-10 7S2 12 2 12z\"/><circle cx=\"12\" cy=\"12\" r=\"3\"/>'),\n  alert:  ic('<path d=\"M12 3l9 16H3z\"/><path d=\"M12 10v4\"/><circle cx=\"12\" cy=\"16.7\" r=\"0.6\" fill=\"'+JB_ACC+'\" stroke=\"none\"/>'),\n  key:    ic('<circle cx=\"8\" cy=\"12\" r=\"4\"/><path d=\"M12 12h9M18 12v4M21 12v3\"/>'),\n  phone:  ic('<path d=\"M6 3h4l2 5-3 2a11 11 0 0 0 5 5l2-3 5 2v4a2 2 0 0 1-2 2A17 17 0 0 1 4 6a2 2 0 0 1 2-3z\"/>'),\n  id:     ic('<rect x=\"3\" y=\"5\" width=\"18\" height=\"14\" rx=\"2\"/><circle cx=\"9\" cy=\"11\" r=\"2\"/><path d=\"M14 10h4M14 13h4M6 16h8\"/>'),\n  check:  ic('<path d=\"M5 13l4 4 10-10\"/>')\n};\nfunction pickIcon(h){ h=(h||'').toLowerCase();\n  if(/phish|email|mail|bec|message|invoice/.test(h)) return 'mail';\n  if(/password|mfa|auth|credential|key|login/.test(h)) return 'key';\n  if(/call|phone|vish|voice/.test(h)) return 'phone';\n  if(/pretext|imperson|identity|profile/.test(h)) return 'id';\n  if(/spot|sign|watch|red flag|detect|recognis|recogniz/.test(h)) return 'eye';\n  if(/report|incident|respond|attack|suspect|breach|fraud/.test(h)) return 'alert';\n  if(/lock|secure|encrypt|device|protect|data/.test(h)) return 'lock';\n  return 'shield';\n}\nconst sections = (d.sections||[]).map(function(s){ var o=Object.assign({}, s); o.iconKey=pickIcon((s.heading||'')+' '+(s.scene||'')); return o; });\n// Game items: AI-written allow/block statements. If the model returned none the\n// mission is skipped gracefully (we never fabricate training content here).\nconst gameItems = (Array.isArray(d.gameItems)?d.gameItems:[]).map(function(g){ g=g||{}; return { text:String(g.text||'').trim().slice(0,120), risky:!!g.risky, why:String(g.why||'').trim() }; }).filter(function(g){ return g.text; }).slice(0,14);\n\n// --- premium certificate furniture (gold seal, corner flourishes, crest, watermark) ---\nfunction certInitials(s){ var w=String(s||'').trim().split(/\\s+/).filter(Boolean); var a=(w[0]||'S')[0]+((w[1]||w[0]||'A')[0]||''); return a.toUpperCase().slice(0,2); }\nfunction makeSeal(init, topText, botText){\n  var cx=110, cy=104, spikes=30, R1=96, R2=86, pts=[];\n  for(var i=0;i<spikes*2;i++){ var r=(i%2===0)?R1:R2; var a=(Math.PI/spikes)*i - Math.PI/2; pts.push((cx+r*Math.cos(a)).toFixed(1)+','+(cy+r*Math.sin(a)).toFixed(1)); }\n  var burst='<polygon points=\"'+pts.join(' ')+'\" fill=\"url(#gold)\" stroke=\"#8A6A22\" stroke-width=\"1\"/>';\n  function laurel(side){ var g='',n=8; for(var i=0;i<n;i++){ var t=i/(n-1); var ang=(-150 + t*120)*Math.PI/180; var rad=58; var x=cx + side*(rad*Math.cos(ang)*0.62 + 6); var y=cy + 30 - rad*Math.sin(ang)*0.95; var rot=(side>0?-50:50)+(t*60*side); g+='<ellipse cx=\"'+x.toFixed(1)+'\" cy=\"'+y.toFixed(1)+'\" rx=\"9\" ry=\"3.6\" fill=\"#E3C766\" transform=\"rotate('+rot.toFixed(1)+' '+x.toFixed(1)+' '+y.toFixed(1)+')\"/>'; } return g; }\n  function star(scx,scy,R,r,p2){ var p=[]; for(var i=0;i<p2*2;i++){ var rr=(i%2===0)?R:r; var a=(Math.PI/p2)*i - Math.PI/2; p.push((scx+rr*Math.cos(a)).toFixed(1)+','+(scy+rr*Math.sin(a)).toFixed(1)); } return '<polygon points=\"'+p.join(' ')+'\" fill=\"url(#gold)\" stroke=\"#8A6A22\" stroke-width=\"0.6\"/>'; }\n  return '<svg class=\"seal\" viewBox=\"0 0 220 250\" xmlns=\"http://www.w3.org/2000/svg\">'\n   +'<defs><radialGradient id=\"gold\" cx=\"50%\" cy=\"36%\" r=\"68%\"><stop offset=\"0\" stop-color=\"#F6E6A8\"/><stop offset=\"50%\" stop-color=\"#D9B45A\"/><stop offset=\"100%\" stop-color=\"#A9842F\"/></radialGradient></defs>'\n   +'<path d=\"M83 150 L70 244 L98 222 L110 240 L122 222 L150 244 L137 150 Z\" fill=\"'+JB_ACC+'\"/>'\n   +'<path d=\"M83 150 L78 186 L137 186 L137 150 Z\" fill=\"#0a5b63\"/>'\n   +burst\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"80\" fill=\"url(#gold)\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"72\" fill=\"#0E2233\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"72\" fill=\"none\" stroke=\"#E3C766\" stroke-width=\"2\" stroke-dasharray=\"1.5 5\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"60\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"1\"/>'\n   +laurel(-1)+laurel(1)+star(cx,cy-18,16,7,5)\n   +'<text x=\"'+cx+'\" y=\"'+(cy+14)+'\" text-anchor=\"middle\" font-family=\"Georgia,serif\" font-size=\"20\" font-weight=\"bold\" fill=\"#F6E6A8\" letter-spacing=\"1\">'+esc(init)+'</text>'\n   +'<text x=\"'+cx+'\" y=\"'+(cy+34)+'\" text-anchor=\"middle\" font-family=\"Arial,sans-serif\" font-size=\"8.5\" fill=\"#E3C766\" letter-spacing=\"2\">'+esc(botText)+'</text>'\n   +'<text x=\"'+cx+'\" y=\"'+(cy-44)+'\" text-anchor=\"middle\" font-family=\"Arial,sans-serif\" font-size=\"9\" fill=\"#E3C766\" letter-spacing=\"3\">'+esc(topText)+'</text>'\n   +'</svg>';\n}\nfunction makeCorner(cls){ return '<svg class=\"cn '+cls+'\" viewBox=\"0 0 80 80\"><path d=\"M6 74 C6 36 36 6 74 6\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"2\"/><path d=\"M14 74 C14 42 42 14 74 14\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"1\"/><circle cx=\"6\" cy=\"74\" r=\"3.5\" fill=\"#C9A24B\"/></svg>'; }\nconst certSeal = makeSeal(certInitials(brand), 'CERTIFIED', 'EXCELLENCE');\nconst certCorners = makeCorner('tl')+makeCorner('tr')+makeCorner('bl')+makeCorner('br');\nconst certCrest = '<svg class=\"crest\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"'+JB_ACC+'\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\nconst certWm = '<svg class=\"wm\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#0E2233\" stroke-width=\"1\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\n\nconst payload = { title:title, brand:brand, intro:(d.intro||''), sections:sections,\n  questions:(d.questions||[]), game:gameItems, passMark:passMark, images:images, icons:ICONS,\n  theme:{ pri:JB_PRI, acc:JB_ACC, gold:JB_GOLD },\n  seal:certSeal, corners:certCorners, crest:certCrest, wm:certWm,\n  publicationId:publicationId, courseId:courseId };\nconst dataJson = JSON.stringify(payload).replace(/</g,'\\\\u003c');\n\nconst CSS = `:root{--pri:${JB_PRI};--acc:${JB_ACC};--gold:${JB_GOLD}}\n*{box-sizing:border-box} html,body{margin:0;height:100%} body{font-family:-apple-system,'Segoe UI',Arial,sans-serif;background:#0a141d;color:#14202b;display:flex;align-items:center;justify-content:center;overflow:hidden}\n.stage{position:relative;width:min(100vw,177.78vh);height:min(56.25vw,100vh);background:#fff;display:flex;flex-direction:column;overflow:hidden;box-shadow:0 24px 70px rgba(0,0,0,.55)}\n.top{display:flex;align-items:center;gap:13px;background:linear-gradient(135deg,#0E2233,var(--acc));color:#fff;padding:11px 22px;flex:0 0 auto}\n.top .logo{width:28px;height:28px;flex:0 0 auto}\n.top .tt{line-height:1.1;min-width:0}\n.top .b{font-size:10px;letter-spacing:2px;text-transform:uppercase;color:#9fe4d8;font-weight:800}\n.top h1{margin:2px 0 0;font-size:15px;font-weight:700;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}\n.top .crumbs{margin-left:auto;font-size:11px;color:#bfe6df;letter-spacing:1px;white-space:nowrap}\n.xpwrap{display:flex;align-items:center;gap:8px;margin-left:14px;flex:0 0 auto}\n.lvl{font-size:10px;font-weight:800;letter-spacing:1px;background:var(--gold);color:#0E2233;border-radius:10px;padding:3px 9px;transition:transform .2s}\n.lvl.pop{transform:scale(1.25)}\n.xpbar{width:90px;height:7px;border-radius:4px;background:rgba(255,255,255,.18);overflow:hidden}\n.xpbar span{display:block;height:7px;background:linear-gradient(90deg,#5FD0C0,var(--gold));width:0;transition:width .5s ease}\n.xpn{font-size:10px;color:#cfe9e4;font-weight:700;min-width:46px}\n.narr{margin-left:10px;display:inline-flex;align-items:center;gap:6px;background:rgba(255,255,255,.14);border:1px solid rgba(255,255,255,.32);color:#fff;border-radius:20px;padding:6px 12px;font-size:12px;font-weight:700;cursor:pointer;font-family:inherit;transition:background .15s}\n.narr:hover{background:rgba(255,255,255,.26)}.narr svg{display:block}\n.prog{height:5px;background:rgba(14,34,51,.12);flex:0 0 auto}.prog span{display:block;height:5px;background:linear-gradient(90deg,#5FD0C0,var(--acc));width:0;transition:width .55s ease}\n.pane{flex:1 1 auto;position:relative;overflow:hidden;opacity:0}\n.pane.in{animation:fadeup .5s ease forwards}\n@keyframes fadeup{from{opacity:0;transform:translateY(16px)}to{opacity:1;transform:none}}\n.pane.center{display:flex;align-items:center;justify-content:center;text-align:center;padding:22px}\n.nav{flex:0 0 auto;display:flex;justify-content:space-between;align-items:center;padding:12px 22px;border-top:1px solid #eef2f6;background:#fff}\n.btn{background:var(--acc);color:#fff;border:0;border-radius:10px;padding:12px 24px;font-size:15px;font-weight:700;cursor:pointer;transition:transform .15s,box-shadow .15s;box-shadow:0 6px 16px rgba(14,124,134,.28);font-family:inherit}\n.btn:hover{transform:translateY(-2px);box-shadow:0 10px 22px rgba(14,124,134,.36)}\n.btn.alt{background:#fff;color:var(--acc);border:1px solid #cfe3e3;box-shadow:none}\n.btn[disabled]{opacity:.35;cursor:default;transform:none;box-shadow:none}\n.kick{color:var(--acc);letter-spacing:2px;font-size:12px;font-weight:800;text-transform:uppercase}\nh2{font-family:Georgia,serif;color:#0E2233;font-size:26px;margin:8px 0 14px;line-height:1.15}\np{font-size:15px;line-height:1.62;color:#2b3340;margin:0 0 12px}\nsvg .pz{transform-origin:center;transform-box:fill-box;animation:pz 2.6s ease-in-out infinite}\n@keyframes pz{0%,100%{transform:scale(1)}50%{transform:scale(1.12)}}\n.two{display:flex;height:100%}\n.two .left{position:relative;flex:0 0 44%;overflow:hidden;background:#0E2233}\n.two .right{flex:1 1 auto;padding:26px 34px;overflow:hidden;display:flex;flex-direction:column}\n.hero{position:absolute;inset:0;overflow:hidden}\n.hero .kb{position:absolute;inset:-5%;background-size:cover;background-position:center;animation:kb 20s ease-in-out infinite alternate}\n.hero .kb.ph{background:linear-gradient(135deg,#0E2233,var(--acc))}\n@keyframes kb{from{transform:scale(1) translate(0,0)}to{transform:scale(1.12) translate(-1.5%,-1%)}}\n.right .scroll{overflow:auto;padding-right:8px}\n.meta{margin-top:auto;color:#8a98a4;font-size:12px;padding-top:12px}\n.kp{background:#F1F7F8;border-left:4px solid var(--acc);border-radius:8px;padding:12px 16px;margin:12px 0}\n.kp .kph{font-weight:800;color:#0E2233;font-size:13px;display:flex;align-items:center;gap:8px;margin-bottom:6px}\n.kp .kph svg{width:18px;height:18px}\n.kp ul{margin:0;padding-left:18px}.kp li{font-size:14px;line-height:1.5;margin:5px 0}\n.badge{position:absolute;left:18px;bottom:18px;width:56px;height:56px;background:rgba(255,255,255,.94);border-radius:15px;display:flex;align-items:center;justify-content:center;box-shadow:0 10px 24px rgba(0,0,0,.28)}\n.badge svg{width:32px;height:32px}\n.cover{position:absolute;inset:0;color:#fff}\n.cover .cbg{position:absolute;inset:0;background-size:cover;background-position:center;animation:kb 24s ease-in-out infinite alternate}\n.cover .cbg.ph{background:linear-gradient(135deg,#0E2233,var(--acc))}\n.cover .cgrad{position:absolute;inset:0;background:linear-gradient(90deg,rgba(8,18,28,.93),rgba(8,18,28,.55) 55%,rgba(8,18,28,.18))}\n.cover .cinner{position:absolute;left:7%;right:28%;top:50%;transform:translateY(-50%)}\n.ckick{letter-spacing:3px;font-size:13px;font-weight:800;text-transform:uppercase;color:#7fe0d2;animation:fadeup .6s .1s both}\n.ctitle{font-size:42px;line-height:1.05;margin:12px 0 14px;font-weight:800;animation:fadeup .6s .25s both}\n.csub{font-size:16px;line-height:1.5;color:#dcebf0;animation:fadeup .6s .4s both}\n.cact{margin-top:22px;animation:fadeup .6s .55s both}\n.namewrap{max-width:520px}\n.nicon{width:64px;height:64px;margin:0 auto 8px}.nicon svg{width:64px;height:64px}\n.ninput{width:100%;padding:14px 16px;font-size:16px;border:1px solid #cfe0e0;border-radius:10px;margin-top:14px;outline:none;font-family:inherit}\n.ninput:focus{border-color:var(--acc);box-shadow:0 0 0 3px rgba(14,124,134,.25)}\n.nerr{color:#B02525;font-size:13px;margin-top:8px;min-height:16px}\n.mission{list-style:none;margin:14px 0 0;padding:0;text-align:left}\n.mission li{display:flex;align-items:center;gap:12px;padding:9px 0;border-bottom:1px solid #eef2f6;font-size:14.5px;color:#2b3340}\n.mission li .mn{flex:0 0 26px;height:26px;border-radius:50%;background:var(--acc);color:#fff;font-weight:800;font-size:12px;display:flex;align-items:center;justify-content:center}\n.mission li .mx{margin-left:auto;font-size:11px;letter-spacing:1px;color:#8a98a4;font-weight:700;text-transform:uppercase}\n.mission li.game .mn{background:var(--gold);color:#0E2233}\n.quiz,.review{padding:26px 38px;overflow:auto;height:100%;width:100%;text-align:left}\n.q{margin:0 0 16px}.q .qt{font-weight:700;color:#0E2233;margin-bottom:8px;font-size:15px}\n.opt{display:flex;align-items:center;gap:10px;border:1px solid #dde6ec;border-radius:10px;padding:11px 14px;margin:7px 0;cursor:pointer;font-size:14px;transition:border-color .15s,background .15s}\n.opt:hover{border-color:var(--acc);background:#f7fbfb}.opt input{accent-color:var(--acc)}\n.ans{background:#F1F7F8;border-left:4px solid #1E8E5A;border-radius:8px;padding:10px 14px;font-size:14px}.ans span{color:#5A6472;font-size:13px}\n.ans.wrong{background:#FDECEC;border-left-color:#B02525}.ans .yr{color:#B02525;font-weight:700;font-size:13px;margin-bottom:5px}\n.ring{position:relative;width:150px;height:150px;margin:0 auto 14px}\n.ring svg{width:150px;height:150px;transform:rotate(-90deg)}\n.ring .rbg{fill:none;stroke:#e7eef0;stroke-width:10}\n.ring .rfg{fill:none;stroke-width:10;stroke-linecap:round}\n.ring .rfg.p{stroke:#1E8E5A}.ring .rfg.f{stroke:#B02525}\n.ring .rscore{position:absolute;inset:0;display:flex;align-items:center;justify-content:center;font-size:36px;font-weight:800;color:#0E2233}\n.pill{display:inline-block;padding:5px 14px;border-radius:14px;font-size:12px;font-weight:800;letter-spacing:.5px}\n.pill.pass{background:#E4F6EC;color:#1E8E5A}.pill.fail{background:#FDECEC;color:#B02525}\n.statrow{display:flex;gap:12px;justify-content:center;margin:10px 0 4px;flex-wrap:wrap}\n.stat{background:#F1F7F8;border:1px solid #e3ecee;border-radius:12px;padding:10px 18px;min-width:104px}\n.stat .sv{font-size:21px;font-weight:800;color:#0E2233}.stat .sl{font-size:10px;letter-spacing:1.5px;text-transform:uppercase;color:#8a98a4;font-weight:700;margin-top:2px}\n.medals{display:flex;gap:10px;justify-content:center;margin:12px 0 2px;flex-wrap:wrap}\n.medal{display:flex;flex-direction:column;align-items:center;gap:4px;width:86px}\n.medal .mi{width:46px;height:46px;border-radius:50%;background:linear-gradient(135deg,#F6E6A8,#D9B45A);display:flex;align-items:center;justify-content:center;font-size:22px;box-shadow:0 5px 12px rgba(169,132,47,.35);animation:pop .45s ease both}\n.medal.off .mi{background:#eef2f6;box-shadow:none;filter:grayscale(1);opacity:.45}\n.medal .ml{font-size:10px;font-weight:700;color:#46505c;text-align:center;line-height:1.25}\n.toast{position:absolute;left:20px;bottom:78px;z-index:60;background:#0E2233;color:#fff;border-left:4px solid var(--gold);border-radius:10px;padding:11px 16px;font-size:13px;box-shadow:0 12px 30px rgba(0,0,0,.4);display:flex;align-items:center;gap:10px;transform:translateX(-130%);transition:transform .4s cubic-bezier(.2,.9,.3,1.2)}\n.toast.show{transform:none}\n.toast .te{font-size:20px}.toast b{color:#F6E6A8}\n/* ---- game ---- */\n.gwrap{position:absolute;inset:0;background:#060f18;overflow:hidden}\n#g3d{position:absolute;inset:0}\n#g3d canvas{display:block}\n.ghud{position:absolute;inset:0;pointer-events:none;display:flex;flex-direction:column;color:#eaf4f8}\n.gtop{display:flex;align-items:center;gap:16px;padding:13px 20px;font-weight:800}\n.gscore{font-size:22px;color:#fff;min-width:70px}\n.gcombo{font-size:12px;color:var(--gold);letter-spacing:1px;min-width:70px}\n.gwave{font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#9fe4d8}\n.gint{margin-left:auto;width:170px;height:10px;border-radius:6px;background:rgba(255,255,255,.14);overflow:hidden}\n.gint span{display:block;height:10px;width:100%;background:linear-gradient(90deg,#1E8E5A,#5FD0C0);transition:width .3s,background .3s}\n.gint.low span{background:linear-gradient(90deg,#B02525,#e06a4f)}\n.gintlab{font-size:9px;letter-spacing:2px;color:#9fb3bd;text-transform:uppercase;margin-left:8px}\n.gmsg{margin-top:auto;text-align:center;min-height:64px;padding:0 18%}\n.gmsg .v{font-size:19px;font-weight:800;text-shadow:0 2px 10px rgba(0,0,0,.6)}\n.gmsg .v.ok{color:#6fe3a8}.gmsg .v.bad{color:#ff8a7a}\n.gmsg .w{font-size:12.5px;color:#cfe0e6;margin-top:4px;line-height:1.45}\n.gbtns{display:flex;gap:14px;justify-content:center;padding:14px 0 20px;pointer-events:auto}\n.gbtn{border:0;border-radius:12px;padding:14px 26px;font-size:15px;font-weight:800;cursor:pointer;font-family:inherit;letter-spacing:.4px;transition:transform .12s,box-shadow .12s;box-shadow:0 8px 22px rgba(0,0,0,.45)}\n.gbtn:hover{transform:translateY(-2px)}\n.gbtn:active{transform:scale(.96)}\n.gbtn.allow{background:#15453a;color:#8ff0c0;border:1px solid #1E8E5A}\n.gbtn.block{background:#4a1714;color:#ffb3a8;border:1px solid #B02525}\n.gbtn[disabled]{opacity:.4;cursor:default;transform:none}\n.gkeys{text-align:center;font-size:10.5px;color:#7e93a0;letter-spacing:1px;padding-bottom:10px}\n.gover{position:absolute;inset:0;z-index:40;display:flex;align-items:center;justify-content:center;background:rgba(4,10,17,.84);backdrop-filter:blur(3px)}\n.gcard{background:#0E2233;border:1px solid rgba(159,228,216,.25);border-radius:16px;padding:30px 38px;text-align:center;max-width:520px;color:#eaf4f8;box-shadow:0 24px 60px rgba(0,0,0,.55);animation:pop .45s ease both}\n.gcard .gt{font-family:Georgia,serif;font-size:26px;font-weight:800;margin:6px 0 10px;color:#fff}\n.gcard .gk{font-size:11px;letter-spacing:3px;text-transform:uppercase;color:var(--gold);font-weight:800}\n.gcard p{color:#bfd2da;font-size:14px}\n.gcard .btn{margin:6px 6px 0}\n.gflash{position:absolute;inset:0;z-index:30;pointer-events:none;opacity:0;transition:opacity .3s}\n.gflash.red{background:radial-gradient(ellipse at center,rgba(176,37,37,.4),transparent 70%)}\n.gflash.on{opacity:1}\n@keyframes pop{from{opacity:0;transform:scale(.94)}to{opacity:1;transform:none}}\n/* 2D fallback lane */\n.g2d{position:absolute;inset:0;background:linear-gradient(180deg,#060f18,#0a1f30);overflow:hidden}\n.g2d .fwline{position:absolute;left:6%;right:6%;bottom:26%;height:3px;background:var(--acc);box-shadow:0 0 18px var(--acc);opacity:.85}\n.g2d .fwlab{position:absolute;left:6%;bottom:calc(26% + 8px);font-size:9px;letter-spacing:3px;color:#9fe4d8;text-transform:uppercase}\n.gpkt{position:absolute;left:50%;width:min(420px,72%);transform:translateX(-50%);background:rgba(8,20,32,.94);border:2px solid var(--acc);border-radius:12px;padding:13px 17px;color:#eaf4f8;font-size:14.5px;font-weight:600;text-align:center;box-shadow:0 10px 30px rgba(0,0,0,.5);line-height:1.45}\n.confetti{position:absolute;inset:0;pointer-events:none;z-index:80}\n.certscreen{height:100%;width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center}\n.cchead{font-size:13px;color:var(--acc);font-weight:800;letter-spacing:1px;text-transform:uppercase;margin-bottom:8px;font-family:Arial,sans-serif}\n.cert{position:relative;width:90%;height:auto;background:#0E2233;overflow:hidden;box-shadow:0 16px 40px rgba(0,0,0,.42);animation:pop .5s ease both}\n.cert .paper{position:absolute;inset:8px;background:radial-gradient(circle at 50% 42%,#ffffff 0%,#fbf8ef 70%,#f4eeda 100%);overflow:hidden}\n.cert .guil{position:absolute;inset:0;opacity:.5;background-image:repeating-radial-gradient(circle at 50% 42%,rgba(14,124,134,.05) 0 1px,transparent 1px 9px),repeating-linear-gradient(45deg,rgba(201,162,75,.045) 0 1px,transparent 1px 12px),repeating-linear-gradient(-45deg,rgba(201,162,75,.045) 0 1px,transparent 1px 12px)}\n.cert .wm{position:absolute;left:50%;top:43%;transform:translate(-50%,-50%);width:40%;height:auto;opacity:.05}\n.cert .gold{position:absolute;inset:22px;border:2px solid #C9A24B;border-radius:3px}.cert .gold:before{content:'';position:absolute;inset:5px;border:1px solid #D9B45A}\n.cert .cn{position:absolute;width:58px;height:58px}.cert .cn.tl{top:16px;left:16px}.cert .cn.tr{top:16px;right:16px;transform:scaleX(-1)}.cert .cn.bl{bottom:16px;left:16px;transform:scaleY(-1)}.cert .cn.br{bottom:16px;right:16px;transform:scale(-1,-1)}\n.cert .content{position:absolute;inset:6% 8% 7%;display:flex;align-items:center;justify-content:center;text-align:center;font-family:Georgia,serif}\n.cert .cwrap{width:100%;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:space-between;transform-origin:center center}\n.cert .chd,.cert .cmid{display:flex;flex-direction:column;align-items:center}\n.cert .crest{width:34px;height:34px}\n.cert .eyebrow{letter-spacing:6px;font-size:11px;color:var(--acc);font-weight:700;text-transform:uppercase;font-family:Arial,sans-serif;margin-top:3px}\n.cert .issuer{font-size:26px;color:#0E2233;font-weight:700;margin-top:1px}\n.cert .rule{display:flex;align-items:center;gap:10px;color:#C9A24B;margin-top:5px}.cert .rule .ln{width:96px;height:1px;background:linear-gradient(90deg,transparent,#C9A24B)}.cert .rule .ln.r{background:linear-gradient(90deg,#C9A24B,transparent)}.cert .rule .dia{width:7px;height:7px;background:#C9A24B;transform:rotate(45deg)}\n.cert .present{font-style:italic;color:#5A6472;font-size:13px}\n.cert .name{font-size:40px;color:#0E2233;line-height:1.05;margin:2px 0 4px;font-weight:700}\n.cert .nund{width:260px;height:2px;background:linear-gradient(90deg,transparent,#C9A24B 20%,#C9A24B 80%,transparent);margin-bottom:6px}\n.cert .forr{font-style:italic;color:#5A6472;font-size:13px}\n.cert .course{font-size:19px;color:var(--acc);font-weight:700;line-height:1.18;margin-top:3px;max-width:90%}\n.cert .ach{font-size:12px;color:#5A6472;margin-top:6px;font-family:Arial,sans-serif}.cert .ach b{color:#0E2233}\n.cert .footer{width:100%;display:flex;align-items:flex-end;justify-content:space-between}\n.cert .sig{width:190px;text-align:center}.cert .sig .sline{height:1px;background:#9aa6b2;margin-bottom:5px}.cert .sig .snm{font-style:italic;font-size:15px;color:#0E2233}.cert .sig .slb{font-size:9px;letter-spacing:1px;color:#8a98a4;font-family:Arial,sans-serif;text-transform:uppercase;margin-top:2px}\n.cert .sealwrap{width:118px;display:flex;justify-content:center;flex:0 0 auto}.cert .seal{width:106px;height:122px;filter:drop-shadow(0 6px 10px rgba(0,0,0,.22))}\n@media print{\n body{display:block;background:#fff;overflow:visible}\n .stage{box-shadow:none;width:auto;height:auto;display:block}\n .top,.prog,.nav,.cchead,.toast{display:none!important}\n .pane{opacity:1!important;overflow:visible;animation:none}\n #certArea{position:absolute;inset:0}\n .cert{width:100%!important;height:100%!important;margin:0;box-shadow:none;animation:none}\n @page{size:A4 landscape;margin:0}\n}`;\n\nconst APP = `(function(){\nvar D=DATA;var pass=D.passMark||80;var secs=D.sections||[];var total=secs.length;\nvar imgs=D.images||{cover:'',sections:[]};var ICONS=D.icons||{};\nvar hasGame=(D.game&&D.game.length>=4);\nvar TH=D.theme||{pri:'#0A1A2F',acc:'#0E7C86',gold:'#C9A24B'};\nfunction hexInt(h){return parseInt(String(h||'').replace('#',''),16)||0x0E7C86;}\nvar learner='';var lastScore=0;var lastPassed=false;var wrongIdx=[];var userAns=[];\nvar sentDone=false;var xp=0;var seen={};var earned={};var gameDone=false;var gameBest=0;\nvar BD={first:{e:'\\\\uD83D\\\\uDE80',n:'First Steps',d:'Started the course'},scholar:{e:'\\\\uD83D\\\\uDCD8',n:'Scholar',d:'Read every section'},combo:{e:'\\\\u26A1',n:'Combo x5',d:'5 correct calls in a row'},defender:{e:'\\\\uD83D\\\\uDEE1\\\\uFE0F',n:'Defender',d:'80%+ mission accuracy'},perfect:{e:'\\\\uD83C\\\\uDFAF',n:'Perfect Wave',d:'A flawless mission wave'},quiz:{e:'\\\\uD83D\\\\uDCAF',n:'Quiz Whiz',d:'100% on the knowledge check'},cert:{e:'\\\\uD83C\\\\uDFC6',n:'Certified',d:'Passed the course'}};\nfunction signalComplete(){ if(sentDone)return; sentDone=true; try{ if(window.parent&&window.parent!==window){ window.parent.postMessage({type:'jarvis:complete',publicationId:D.publicationId||'',courseId:D.courseId||'',learner:learner||'',score:lastScore,passed:!!lastPassed,date:new Date().toISOString().slice(0,10),title:D.title||''},'*'); } }catch(e){} }\nfunction deepLinkCert(){ try{ var h=String(location.hash||''); if(h.toLowerCase().indexOf('cert')<0)return false; var m=/[?&#]name=([^&]+)/.exec(h); if(m)learner=decodeURIComponent(m[1].replace(/\\\\+/g,' ')); var s=/[?&#]score=([0-9]+)/.exec(h); if(s)lastScore=parseInt(s[1],10)||0; lastPassed=true; return true; }catch(e){ return false; } }\nvar pane=document.getElementById('pane');var navEl=document.getElementById('nav');\nvar prog=document.getElementById('progfill');var crumbs=document.getElementById('crumbs');\nvar stage=document.querySelector('.stage');\nfunction esc(s){return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return {'&':'&amp;','<':'&lt;','>':'&gt;'}[c];});}\n/* ---- SCORM 1.2 ---- */\nfunction findAPI(w){var n=0;while(w&&w.API==null&&w.parent&&w.parent!=w&&n<12){w=w.parent;n++;}return (w&&w.API)||null;}\nvar API=null;try{API=findAPI(window);if(!API&&window.top!==window)API=findAPI(window.top);}catch(e){}\nif(API){try{API.LMSInitialize('');API.LMSSetValue('cmi.core.lesson_status','incomplete');API.LMSCommit('');}catch(e){}}\nfunction scormName(){if(!API)return '';try{var n=API.LMSGetValue('cmi.core.student_name')||'';if(n.indexOf(',')>-1){var p=n.split(',');return (p[1]+' '+p[0]).replace(/\\\\s+/g,' ').trim();}return n;}catch(e){return '';}}\nfunction scormReport(score,passed){if(!API)return;try{API.LMSSetValue('cmi.core.score.raw',String(score));API.LMSSetValue('cmi.core.score.min','0');API.LMSSetValue('cmi.core.score.max','100');API.LMSSetValue('cmi.core.lesson_status',passed?'passed':'failed');API.LMSCommit('');}catch(e){}}\nfunction scormFinish(){stopNarr();if(!API)return;try{API.LMSFinish('');}catch(e){}}\n/* ---- sound fx (synthesised; no assets) ---- */\nvar AC=null;var sfxOn=true;\nfunction ac(){if(!AC){try{AC=new (window.AudioContext||window.webkitAudioContext)();}catch(e){AC=null;}}if(AC&&AC.state==='suspended'){try{AC.resume();}catch(e){}}return AC;}\nfunction tone(f0,f1,dur,type,vol,when){var c=ac();if(!c||!sfxOn)return;try{var t=c.currentTime+(when||0);var o=c.createOscillator(),g=c.createGain();o.type=type||'sine';o.frequency.setValueAtTime(f0,t);if(f1)o.frequency.exponentialRampToValueAtTime(f1,t+dur);g.gain.setValueAtTime(vol||.08,t);g.gain.exponentialRampToValueAtTime(.0001,t+dur);o.connect(g);g.connect(c.destination);o.start(t);o.stop(t+dur+.02);}catch(e){}}\nfunction sfx(k){if(k==='zap'){tone(880,140,.18,'square',.07);tone(1760,220,.14,'sawtooth',.04);}else if(k==='ok'){tone(660,990,.12,'sine',.07);}else if(k==='bad'){tone(220,110,.3,'sawtooth',.08);}else if(k==='badge'){tone(523,0,.1,'sine',.07);tone(659,0,.1,'sine',.07,.09);tone(784,0,.16,'sine',.07,.18);}else if(k==='lvl'){tone(392,0,.09,'sine',.06);tone(523,0,.09,'sine',.06,.08);tone(659,0,.09,'sine',.06,.16);tone(784,0,.2,'sine',.07,.24);}else if(k==='win'){tone(523,0,.12,'sine',.08);tone(659,0,.12,'sine',.08,.1);tone(784,0,.12,'sine',.08,.2);tone(1046,0,.3,'sine',.09,.3);}else if(k==='lose'){tone(330,165,.5,'sawtooth',.07);}}\n/* ---- XP / levels / badges ---- */\nvar LVL_XP=150;\nfunction lvlOf(x){return Math.floor(x/LVL_XP)+1;}\nfunction addXP(n){if(!n)return;var was=lvlOf(xp);xp+=n;var now=lvlOf(xp);\n var f=document.getElementById('xpfill'),l=document.getElementById('lvl'),t=document.getElementById('xpn');\n if(f)f.style.width=Math.round((xp%LVL_XP)/LVL_XP*100)+'%';if(t)t.textContent=xp+' XP';\n if(l){l.textContent='LV '+now;if(now>was){l.classList.add('pop');sfx('lvl');toast('\\\\u2B50','<b>Level up!</b> You reached level '+now);setTimeout(function(){l.classList.remove('pop');},350);}}}\nvar toastTimer=null;\nfunction toast(emj,html){var t=document.getElementById('toast');if(!t)return;t.innerHTML='<span class=\"te\">'+emj+'</span><span>'+html+'</span>';t.classList.add('show');if(toastTimer)clearTimeout(toastTimer);toastTimer=setTimeout(function(){t.classList.remove('show');},3200);}\nfunction badge(id){if(earned[id]||!BD[id])return;earned[id]=true;sfx('badge');toast(BD[id].e,'Badge earned \\\\u2014 <b>'+BD[id].n+'</b>: '+BD[id].d);}\nfunction medalRow(){var keys=['first','scholar','combo','defender','perfect','quiz','cert'];if(!hasGame)keys=['first','scholar','quiz','cert'];\n return '<div class=\"medals\">'+keys.map(function(k){var b=BD[k];return '<div class=\"medal'+(earned[k]?'':' off')+'\"><div class=\"mi\">'+b.e+'</div><div class=\"ml\">'+b.n+'</div></div>';}).join('')+'</div>';}\n/* ---- confetti ---- */\nfunction confetti(){try{var c=document.createElement('canvas');c.className='confetti';c.width=stage.clientWidth;c.height=stage.clientHeight;stage.appendChild(c);var x=c.getContext('2d');var cols=[TH.acc,TH.gold,'#5FD0C0','#F6E6A8','#ffffff'];var ps=[];for(var i=0;i<140;i++)ps.push({x:Math.random()*c.width,y:-20-Math.random()*c.height*.5,r:3+Math.random()*5,vy:2+Math.random()*3.4,vx:-1.4+Math.random()*2.8,a:Math.random()*6.3,va:-.18+Math.random()*.36,col:cols[i%cols.length]});var t0=Date.now();(function tick(){x.clearRect(0,0,c.width,c.height);ps.forEach(function(p){p.x+=p.vx;p.y+=p.vy;p.a+=p.va;x.save();x.translate(p.x,p.y);x.rotate(p.a);x.fillStyle=p.col;x.fillRect(-p.r,-p.r*.5,p.r*2,p.r);x.restore();});if(Date.now()-t0<3200)requestAnimationFrame(tick);else if(c.parentNode)c.parentNode.removeChild(c);})();}catch(e){}}\n/* ---- narration ---- */\nvar synth=(window.speechSynthesis||null);var narrText='';var narrState='off';var audioMuted=false;var narrKeep=null;var narrTimer=null;\ntry{if(synth){synth.getVoices();if('onvoiceschanged' in synth)synth.onvoiceschanged=function(){try{synth.getVoices();}catch(e){}};}}catch(e){}\nvar I_PLAY='<svg viewBox=\"0 0 24 24\" width=\"13\" height=\"13\" fill=\"currentColor\"><path d=\"M8 5v14l11-7z\"/></svg>';\nvar I_PAUSE='<svg viewBox=\"0 0 24 24\" width=\"13\" height=\"13\" fill=\"currentColor\"><path d=\"M6 5h4v14H6zM14 5h4v14h-4z\"/></svg>';\nfunction audBtn(){return document.getElementById('audctl');}\nfunction updAud(){var b=audBtn();if(!b)return;if(narrState==='off'||!synth||!narrText){b.style.display='none';return;}b.style.display='';b.innerHTML=(narrState==='playing')?(I_PAUSE+' Pause narration'):(I_PLAY+' Resume narration');}\nfunction clearKeep(){if(narrKeep){clearInterval(narrKeep);narrKeep=null;}}\nfunction keepAlive(){clearKeep();narrKeep=setInterval(function(){if(narrState==='playing'&&synth&&synth.speaking&&!synth.paused){try{synth.resume();}catch(e){}}},9000);}\nfunction stopNarr(){if(narrTimer){clearTimeout(narrTimer);narrTimer=null;}clearKeep();if(synth){try{synth.cancel();}catch(e){}}}\nfunction speakNow(){if(!synth||!narrText)return;try{synth.cancel();}catch(e){}var parts=String(narrText).match(/[^.!?]+[.!?]+|[^.!?]+$/g)||[narrText];var last=null,spoke=false;parts.forEach(function(p){p=p.trim();if(!p)return;var u=new SpeechSynthesisUtterance(p);u.rate=.98;u.pitch=1;u.volume=1;last=u;spoke=true;synth.speak(u);});if(!spoke)return;last.onend=function(){if(narrState==='playing'){narrState='off';clearKeep();updAud();}};narrState='playing';keepAlive();updAud();}\nfunction narrateBody(text){stopNarr();narrText=(text||'').replace(/\\\\s+/g,' ').trim();if(!synth||!narrText){narrState='off';updAud();return;}if(audioMuted){narrState='paused';updAud();return;}narrState='playing';updAud();narrTimer=setTimeout(speakNow,90);}\nfunction narrNone(){stopNarr();narrText='';narrState='off';updAud();}\nfunction toggleAud(){if(!synth)return;if(narrState==='playing'){try{synth.pause();}catch(e){}narrState='paused';audioMuted=true;clearKeep();updAud();}else if(narrState==='paused'){audioMuted=false;if(synth.paused&&synth.speaking){narrState='playing';try{synth.resume();}catch(e){}keepAlive();updAud();}else{speakNow();}}}\n/* ---- shell ---- */\nfunction paint(html,cls){narrNone();glStop();pane.className='pane '+(cls||'');pane.innerHTML=html;void pane.offsetWidth;pane.classList.add('in');}\nfunction btn(label,fn,alt){var b=document.createElement('button');b.className='btn'+(alt?' alt':'');b.innerHTML=label;if(fn)b.onclick=fn;else b.disabled=true;return b;}\nfunction sp(){return document.createElement('span');}\nfunction setNav(L,R){navEl.innerHTML='';navEl.appendChild(L||sp());navEl.appendChild(R||sp());}\nvar steps=['intro'];for(var i=0;i<total;i++)steps.push('s'+i);if(hasGame)steps.push('game');steps.push('quiz');\nfunction setProg(key){var ix=steps.indexOf(key);var pct=ix<0?0:Math.round(((ix+1)/steps.length)*100);prog.style.width=pct+'%';if(crumbs)crumbs.textContent=ix>=0?('Step '+(ix+1)+' of '+steps.length):'';}\nfunction hero(src){return '<div class=\"hero\">'+(src?('<div class=\"kb\" style=\"background-image:url('+src+')\"></div>'):'<div class=\"kb ph\"></div>')+'</div>';}\nfunction iconFor(i){var k=(secs[i]&&secs[i].iconKey)||'shield';return ICONS[k]||ICONS.shield||'';}\nfunction fmtDate(d){var M=['January','February','March','April','May','June','July','August','September','October','November','December'];var n=d.getDate();var s=['th','st','nd','rd'],v=n%100;var ord=n+(s[(v-20)%10]||s[v]||s[0]);return M[d.getMonth()]+' '+ord+' '+d.getFullYear();}\n/* ---- screens ---- */\nfunction cover(){narrNone();glStop();setProg('');pane.className='pane';navEl.innerHTML='';var bg=imgs.cover||(imgs.sections&&imgs.sections[0])||'';\n pane.innerHTML='<div class=\"cover\">'+(bg?('<div class=\"cbg\" style=\"background-image:url('+bg+')\"></div>'):'<div class=\"cbg ph\"></div>')+'<div class=\"cgrad\"></div><div class=\"cinner\"><div class=\"ckick\">'+esc(D.brand)+' &middot; Security Awareness</div><h1 class=\"ctitle\">'+esc(D.title)+'</h1><p class=\"csub\">'+esc(D.intro)+'</p><div class=\"cact\"></div></div></div>';\n void pane.offsetWidth;pane.classList.add('in');pane.querySelector('.cact').appendChild(btn('Begin &rarr;',showName));}\nfunction showName(){setProg('');var pre=learner||scormName();\n paint('<div class=\"namewrap\"><div class=\"nicon\">'+(ICONS.id||ICONS.shield||'')+'</div><h2>Before we begin</h2><p>Enter your name as it should appear on your certificate of completion.</p><input id=\"nm\" class=\"ninput\" type=\"text\" placeholder=\"Your full name\" value=\"'+esc(pre)+'\"><div class=\"nerr\" id=\"nerr\"></div></div>','center');\n var R=btn('Start course &rarr;',function(){var v=(document.getElementById('nm').value||'').trim();if(!v){document.getElementById('nerr').textContent='Please enter your name to continue.';return;}learner=v;badge('first');addXP(10);showIntro();});\n setNav(btn('&larr; Back',cover,true),R);\n setTimeout(function(){var el=document.getElementById('nm');if(el){el.focus();el.addEventListener('keydown',function(e){if(e.key==='Enter')R.click();});}},60);}\nfunction showIntro(){setProg('intro');var bg=imgs.cover||(imgs.sections&&imgs.sections[0])||'';\n var mission='<ul class=\"mission\">';\n for(var i=0;i<total;i++)mission+='<li><span class=\"mn\">'+(i+1)+'</span><span>'+esc(secs[i].heading||('Section '+(i+1)))+'</span><span class=\"mx\">+20 XP</span></li>';\n if(hasGame)mission+='<li class=\"game\"><span class=\"mn\">\\\\u2694</span><span>Mission: Firewall \\\\u2014 Threat Storm</span><span class=\"mx\">Play to earn XP</span></li>';\n mission+='<li><span class=\"mn\">\\\\u2713</span><span>Knowledge check &middot; pass mark '+pass+'%</span><span class=\"mx\">Certificate</span></li></ul>';\n paint('<div class=\"two\"><div class=\"left\">'+hero(bg)+'</div><div class=\"right\"><div class=\"kick\">Your mission</div><h2>'+esc(D.title)+'</h2><div class=\"scroll\"><p>'+esc(D.intro)+'</p>'+mission+'</div></div></div>');\n narrateBody(D.intro);\n setNav(btn('&larr; Name',showName,true),btn('Start &rarr;',function(){showSection(0);}));}\nfunction showSection(i){if(i<0)return showIntro();if(i>=total)return hasGame?showGame():showQuiz();setProg('s'+i);var s=secs[i]||{};\n if(!seen['s'+i]){seen['s'+i]=true;addXP(20);}\n var allSeen=true;for(var k=0;k<total;k++)if(!seen['s'+k])allSeen=false;\n if(allSeen)badge('scholar');\n var body=(s.body||'').split(/\\\\n+/).map(function(p){return '<p>'+esc(p)+'</p>';}).join('');\n var kp=(s.keyPoints&&s.keyPoints.length)?('<div class=\"kp\"><div class=\"kph\">'+(ICONS.check||'')+'Key points</div><ul>'+s.keyPoints.map(function(k){return '<li>'+esc(k)+'</li>';}).join('')+'</ul></div>'):'';\n var src=(imgs.sections&&imgs.sections[i])||'';\n paint('<div class=\"two\"><div class=\"left\">'+hero(src)+'<div class=\"badge\">'+iconFor(i)+'</div></div><div class=\"right\"><div class=\"kick\">Section '+(i+1)+' / '+total+'</div><h2>'+esc(s.heading||('Section '+(i+1)))+'</h2><div class=\"scroll\">'+body+kp+'</div></div></div>');\n narrateBody(s.body||'');\n setNav(btn('&larr; Back',function(){showSection(i-1);},true),btn(i+1<total?'Next &rarr;':(hasGame?'Start mission &rarr;':'Knowledge check &rarr;'),function(){showSection(i+1);}));}\n/* ================= GAME: Firewall — Threat Storm ================= */\nvar GL={raf:0,renderer:null,scene:null,cam:null,objs:null,onResize:null,host:null,running:false};\nfunction glStop(){GL.running=false;if(GL.raf)cancelAnimationFrame(GL.raf);GL.raf=0;\n if(GL.onResize){window.removeEventListener('resize',GL.onResize);GL.onResize=null;}\n if(GL.renderer){try{GL.renderer.dispose();if(GL.renderer.domElement&&GL.renderer.domElement.parentNode)GL.renderer.domElement.parentNode.removeChild(GL.renderer.domElement);}catch(e){}GL.renderer=null;GL.scene=null;GL.cam=null;GL.objs=null;}\n if(G2.timer){cancelAnimationFrame(G2.timer);G2.timer=0;}}\nvar G={items:[],idx:0,score:0,combo:0,integrity:100,wave:1,ok:0,n:0,waveClean:true,cur:null,decided:false,over:false,mode:'3d',keyh:null};\nvar G2={timer:0,el:null,y0:0,y1:0,t0:0,dur:0};\nfunction shuffle(a){for(var i=a.length-1;i>0;i--){var j=Math.floor(Math.random()*(i+1));var t=a[i];a[i]=a[j];a[j]=t;}return a;}\nfunction gEl(id){return document.getElementById(id);}\nfunction gWaveSize(){return Math.ceil(G.items.length/2);}\nfunction showGame(){setProg('game');\n paint('<div class=\"gwrap\"><div id=\"g3d\"></div><div class=\"gflash red\" id=\"gflash\"></div>'\n +'<div class=\"ghud\"><div class=\"gtop\"><span class=\"gscore\" id=\"gscore\">0</span><span class=\"gcombo\" id=\"gcombo\"></span><span class=\"gwave\" id=\"gwave\">Wave 1</span><div class=\"gint\" id=\"gint\"><span id=\"gintf\"></span></div><span class=\"gintlab\">Firewall integrity</span></div>'\n +'<div class=\"gmsg\" id=\"gmsg\"></div>'\n +'<div class=\"gbtns\"><button class=\"gbtn allow\" id=\"gallow\">&#10004; ALLOW &mdash; looks safe</button><button class=\"gbtn block\" id=\"gblock\">&#9889; BLOCK &mdash; threat</button></div>'\n +'<div class=\"gkeys\">Keyboard: &larr; allow &nbsp;&middot;&nbsp; &rarr; block</div></div>'\n +'<div class=\"gover\" id=\"gintro\"><div class=\"gcard\"><div class=\"gk\">Mission briefing</div><div class=\"gt\">Firewall: Threat Storm</div><p>Incoming traffic is approaching your firewall. Read each message and decide: <b style=\"color:#8ff0c0\">ALLOW</b> the safe ones through, <b style=\"color:#ffb3a8\">BLOCK</b> the threats. Quick, correct calls build your combo. Wrong calls damage the firewall &mdash; four mistakes and it falls.</p><div id=\"gstartrow\"></div></div></div>'\n +'</div>');\n var row=gEl('gstartrow');row.appendChild(btn('Launch mission &rarr;',startGame));\n setNav(btn('&larr; Sections',function(){showSection(total-1);},true),btn(gameDone?'Knowledge check &rarr;':'Skip mission',function(){glStop();unbindKeys();showQuiz();},true));}\nfunction startGame(){var ov=gEl('gintro');if(ov)ov.parentNode.removeChild(ov);\n G.items=shuffle(D.game.slice());G.idx=0;G.score=0;G.combo=0;G.integrity=100;G.wave=1;G.ok=0;G.n=0;G.waveClean=true;G.cur=null;G.decided=false;G.over=false;\n updHud();ac();\n gEl('gallow').onclick=function(){decide('allow');};\n gEl('gblock').onclick=function(){decide('block');};\n bindKeys();\n var host=gEl('g3d');\n var three=glInit(host);\n if(three){G.mode='3d';glRun();}\n else {G.mode='2d';host.className='g2d';host.innerHTML='<div class=\"fwline\"></div><div class=\"fwlab\">Firewall</div>';}\n nextPacket();}\nfunction bindKeys(){unbindKeys();G.keyh=function(e){if(e.key==='ArrowLeft'){e.preventDefault();decide('allow');}else if(e.key==='ArrowRight'){e.preventDefault();decide('block');}};window.addEventListener('keydown',G.keyh);}\nfunction unbindKeys(){if(G.keyh){window.removeEventListener('keydown',G.keyh);G.keyh=null;}}\nfunction updHud(){var s=gEl('gscore'),c=gEl('gcombo'),w=gEl('gwave'),f=gEl('gintf'),wrap=gEl('gint');\n if(s)s.textContent=G.score;if(c)c.textContent=G.combo>=2?('COMBO x'+G.combo):'';if(w)w.textContent='Wave '+G.wave+' / 2';\n if(f)f.style.width=Math.max(0,G.integrity)+'%';if(wrap)wrap.className='gint'+(G.integrity<=50?' low':'');}\nfunction gMsg(v,cls,why){var m=gEl('gmsg');if(!m)return;m.innerHTML='<div class=\"v '+cls+'\">'+v+'</div>'+(why?('<div class=\"w\">'+esc(why)+'</div>'):'');}\nfunction setBtns(on){var a=gEl('gallow'),b=gEl('gblock');if(a)a.disabled=!on;if(b)b.disabled=!on;}\n/* --- three.js scene --- */\nfunction glInit(host){try{\n if(!window.THREE)return null;\n var W=host.clientWidth||stage.clientWidth,H=host.clientHeight||stage.clientHeight;\n var renderer=new THREE.WebGLRenderer({antialias:true});\n renderer.setSize(W,H);renderer.setPixelRatio(Math.min(window.devicePixelRatio||1,2));\n host.appendChild(renderer.domElement);\n var scene=new THREE.Scene();scene.background=new THREE.Color(0x060f18);scene.fog=new THREE.FogExp2(0x060f18,0.026);\n var cam=new THREE.PerspectiveCamera(58,W/H,0.1,300);cam.position.set(0,2.6,9.5);cam.lookAt(0,1.4,-20);\n scene.add(new THREE.AmbientLight(0x90a8b8,.75));\n var dl=new THREE.DirectionalLight(0xffffff,.85);dl.position.set(5,9,7);scene.add(dl);\n var pl=new THREE.PointLight(hexInt(TH.acc),1.1,40);pl.position.set(0,4,-4);scene.add(pl);\n var grid=new THREE.GridHelper(260,86,hexInt(TH.acc),0x123042);grid.position.y=-1.4;scene.add(grid);\n var sg=new THREE.BufferGeometry();var sp=new Float32Array(750*3);\n for(var i=0;i<750;i++){sp[i*3]=(Math.random()-.5)*160;sp[i*3+1]=Math.random()*40-4;sp[i*3+2]=-Math.random()*220;}\n sg.setAttribute('position',new THREE.BufferAttribute(sp,3));\n var stars=new THREE.Points(sg,new THREE.PointsMaterial({color:0x9fe4d8,size:.5,transparent:true,opacity:.65}));scene.add(stars);\n var fw=new THREE.Mesh(new THREE.PlaneGeometry(40,10),new THREE.MeshBasicMaterial({color:hexInt(TH.acc),transparent:true,opacity:.13,side:THREE.DoubleSide,depthWrite:false}));\n fw.position.set(0,3.2,-7);scene.add(fw);\n var fwEdge=new THREE.LineSegments(new THREE.EdgesGeometry(fw.geometry),new THREE.LineBasicMaterial({color:hexInt(TH.acc),transparent:true,opacity:.6}));\n fwEdge.position.copy(fw.position);scene.add(fwEdge);\n var onR=function(){var w2=host.clientWidth,h2=host.clientHeight;if(!w2||!h2)return;cam.aspect=w2/h2;cam.updateProjectionMatrix();renderer.setSize(w2,h2);};\n window.addEventListener('resize',onR);\n GL.renderer=renderer;GL.scene=scene;GL.cam=cam;GL.onResize=onR;GL.host=host;\n GL.objs={grid:grid,stars:stars,fw:fw,fwEdge:fwEdge,parts:[],shake:0,t:0};\n return GL;\n}catch(e){return null;}}\nfunction makeLabel(text){var c=document.createElement('canvas');c.width=680;c.height=240;var x=c.getContext('2d');\n function rr(x0,y0,w,h,r){x.beginPath();x.moveTo(x0+r,y0);x.arcTo(x0+w,y0,x0+w,y0+h,r);x.arcTo(x0+w,y0+h,x0,y0+h,r);x.arcTo(x0,y0+h,x0,y0,r);x.arcTo(x0,y0,x0+w,y0,r);x.closePath();}\n rr(6,6,668,228,26);x.fillStyle='rgba(7,19,31,.95)';x.fill();x.lineWidth=5;x.strokeStyle=TH.acc;x.stroke();\n x.fillStyle='#eaf4f8';x.font='600 34px Arial';x.textAlign='center';x.textBaseline='middle';\n var words=String(text).split(' ');var lines=[];var line='';\n words.forEach(function(w){var t=line?(line+' '+w):w;if(x.measureText(t).width>600&&line){lines.push(line);line=w;}else line=t;});\n if(line)lines.push(line);lines=lines.slice(0,4);\n var lh=44,y0=120-((lines.length-1)*lh/2);\n lines.forEach(function(l,i){x.fillText(l,340,y0+i*lh);});\n var tex=new THREE.CanvasTexture(c);\n var m=new THREE.SpriteMaterial({map:tex,transparent:true});\n var s=new THREE.Sprite(m);s.scale.set(8.5,3,1);return s;}\nfunction spawn3d(item){var g=new THREE.Group();\n var box=new THREE.Mesh(new THREE.BoxGeometry(2.6,1.6,.34),new THREE.MeshPhongMaterial({color:0x16384e,emissive:0x0a2840,shininess:70}));\n var edge=new THREE.LineSegments(new THREE.EdgesGeometry(box.geometry),new THREE.LineBasicMaterial({color:hexInt(TH.acc)}));\n g.add(box);g.add(edge);\n var lab=makeLabel(item.text);lab.position.set(0,2.5,0);g.add(lab);\n g.position.set((Math.random()*5-2.5),1.5,-95);\n GL.scene.add(g);\n return {group:g,box:box,passed:false};}\nfunction burst3d(pos,col){var n=42;var geo=new THREE.BufferGeometry();var ps=new Float32Array(n*3);var vs=[];\n for(var i=0;i<n;i++){ps[i*3]=pos.x;ps[i*3+1]=pos.y;ps[i*3+2]=pos.z;vs.push({x:(Math.random()-.5)*16,y:(Math.random()-.2)*14,z:(Math.random()-.5)*10});}\n geo.setAttribute('position',new THREE.BufferAttribute(ps,3));\n var mat=new THREE.PointsMaterial({color:col,size:.6,transparent:true,opacity:1});\n var pts=new THREE.Points(geo,mat);GL.scene.add(pts);\n GL.objs.parts.push({pts:pts,vs:vs,life:1});}\nfunction glRun(){GL.running=true;var last=performance.now();\n (function loop(now){if(!GL.running)return;GL.raf=requestAnimationFrame(loop);\n  var dt=Math.min((now-last)/1000,.06);last=now;var O=GL.objs;O.t+=dt;\n  O.fw.material.opacity=.11+.05*Math.sin(O.t*2.6);\n  O.fwEdge.material.opacity=.4+.25*Math.sin(O.t*2.6);\n  O.grid.position.z=(O.t*7)%3;\n  if(G.cur&&G.cur.gl&&!G.over){var sp=(G.wave===2?20:14.5);\n   G.cur.gl.group.position.z+=sp*dt;\n   if(!G.decided&&G.cur.gl.group.position.z>=-7){decide('allow',true);}\n   if(G.cur.gl.passed){G.cur.gl.group.position.z+=14*dt;if(G.cur.gl.group.position.z>14){GL.scene.remove(G.cur.gl.group);G.cur.gl=null;}}}\n  for(var i=O.parts.length-1;i>=0;i--){var P=O.parts[i];P.life-=dt*1.6;\n   var arr=P.pts.geometry.attributes.position.array;\n   for(var k=0;k<P.vs.length;k++){arr[k*3]+=P.vs[k].x*dt;arr[k*3+1]+=P.vs[k].y*dt;arr[k*3+2]+=P.vs[k].z*dt;P.vs[k].y-=9*dt;}\n   P.pts.geometry.attributes.position.needsUpdate=true;P.pts.material.opacity=Math.max(P.life,0);\n   if(P.life<=0){GL.scene.remove(P.pts);O.parts.splice(i,1);}}\n  if(O.shake>0){O.shake-=dt;GL.cam.position.x=(Math.random()-.5)*O.shake*1.6;GL.cam.position.y=2.6+(Math.random()-.5)*O.shake*1.2;}\n  else {GL.cam.position.x=0;GL.cam.position.y=2.6;}\n  GL.renderer.render(GL.scene,GL.cam);})(last);}\n/* --- 2D fallback packet --- */\nfunction spawn2d(item){var host=gEl('g3d');var el=document.createElement('div');el.className='gpkt';el.textContent=item.text;\n el.style.top='-90px';host.appendChild(el);\n var lane=host.clientHeight||400;var yEnd=lane*.74-40;\n var dur=(G.wave===2?5200:7200);\n G2.el=el;G2.y0=-90;G2.y1=yEnd;G2.t0=performance.now();G2.dur=dur;\n (function step(now){if(!G2.el||G.over)return;var k=Math.min((now-G2.t0)/G2.dur,1);\n  G2.el.style.top=(G2.y0+(G2.y1-G2.y0)*k)+'px';\n  if(k>=1){if(!G.decided)decide('allow',true);return;}\n  G2.timer=requestAnimationFrame(step);})(performance.now());}\nfunction clear2d(){if(G2.timer)cancelAnimationFrame(G2.timer);G2.timer=0;if(G2.el&&G2.el.parentNode)G2.el.parentNode.removeChild(G2.el);G2.el=null;}\n/* --- core game flow --- */\nfunction nextPacket(){if(G.over)return;\n if(G.idx>0&&G.idx===gWaveSize()&&G.wave===1){if(G.waveClean)badge('perfect');G.wave=2;G.waveClean=true;updHud();gMsg('Wave 2 \\\\u2014 incoming faster!','ok','');sfx('lvl');\n  setTimeout(launchCur,1300);return;}\n launchCur();}\nfunction launchCur(){if(G.over)return;\n if(G.idx>=G.items.length)return endGame(true);\n var item=G.items[G.idx];G.cur={item:item,gl:null};G.decided=false;setBtns(true);gMsg('','','');\n if(G.mode==='3d'&&GL.scene)G.cur.gl=spawn3d(item);else spawn2d(item);}\nfunction decide(action,auto){if(!G.cur||G.decided||G.over)return;G.decided=true;setBtns(false);\n var it=G.cur.item;var correct=(action==='block')===!!it.risky;\n var speedBonus=0;\n if(G.mode==='3d'&&G.cur.gl){var z=G.cur.gl.group.position.z;speedBonus=Math.max(0,Math.min(50,Math.round((-z-7)/85*50)));}\n else if(G2.el){var k=(performance.now()-G2.t0)/G2.dur;speedBonus=Math.max(0,Math.min(50,Math.round((1-k)*50)));}\n G.n++;\n if(correct){G.ok++;G.combo++;if(G.combo>=5)badge('combo');\n  var mult=1+Math.min(G.combo*.1,1);var pts=Math.round((100+speedBonus)*mult);G.score+=pts;\n  if(action==='block'){sfx('zap');\n   if(G.cur.gl){burst3d(G.cur.gl.group.position,hexInt(TH.gold));GL.scene.remove(G.cur.gl.group);G.cur.gl=null;}\n   else clear2d();\n   gMsg('\\\\u26A1 Threat blocked &nbsp;+'+pts,'ok',it.why);}\n  else {sfx('ok');\n   if(G.cur.gl){G.cur.gl.box.material.emissive.setHex(0x1E8E5A);G.cur.gl.passed=true;}\n   else clear2d();\n   gMsg('\\\\u2714 Safe \\\\u2014 allowed through &nbsp;+'+pts,'ok',it.why);}}\n else {G.combo=0;G.integrity-=25;G.waveClean=false;sfx('bad');\n  var fl=gEl('gflash');if(fl){fl.classList.add('on');setTimeout(function(){fl.classList.remove('on');},420);}\n  if(GL.objs)GL.objs.shake=.5;\n  if(G.cur.gl){burst3d(G.cur.gl.group.position,0xB02525);GL.scene.remove(G.cur.gl.group);G.cur.gl=null;}\n  else clear2d();\n  gMsg(it.risky?'\\\\u2718 Breach! That was a threat':'\\\\u2718 False alarm \\\\u2014 that one was safe','bad',it.why);}\n updHud();\n if(G.integrity<=0){setTimeout(function(){endGame(false);},1400);return;}\n G.idx++;\n setTimeout(nextPacket,1750);}\nfunction endGame(won){G.over=true;setBtns(false);unbindKeys();\n if(won&&G.waveClean&&G.n>=G.items.length)badge('perfect');\n var acc=G.n?Math.round(G.ok/G.n*100):0;\n if(acc>=80)badge('defender');\n var gained=Math.round(G.score/10);\n gameDone=true;if(G.score>gameBest)gameBest=G.score;\n sfx(won?'win':'lose');\n var wrap=pane.querySelector('.gwrap');if(!wrap)return;\n var ov=document.createElement('div');ov.className='gover';\n ov.innerHTML='<div class=\"gcard\"><div class=\"gk\">'+(won?'Mission complete':'Firewall breached')+'</div><div class=\"gt\">'+(won?'\\\\uD83D\\\\uDEE1\\\\uFE0F Network defended':'\\\\uD83D\\\\uDCA5 The storm got through')+'</div>'\n  +'<div class=\"statrow\"><div class=\"stat\"><div class=\"sv\">'+G.score+'</div><div class=\"sl\">Score</div></div><div class=\"stat\"><div class=\"sv\">'+acc+'%</div><div class=\"sl\">Accuracy</div></div><div class=\"stat\"><div class=\"sv\">+'+gained+'</div><div class=\"sl\">XP earned</div></div></div>'\n  +'<p>'+(won?'Sharp eyes. Those same calls protect the organisation every day.':'No harm done here \\\\u2014 in the real world, slow down and check before you click. Try again?')+'</p><div id=\"gendrow\"></div></div>';\n wrap.appendChild(ov);\n addXP(gained);\n var row=ov.querySelector('#gendrow');\n row.appendChild(btn('Play again',function(){ov.parentNode.removeChild(ov);glStop();showGame();},true));\n row.appendChild(btn('Knowledge check &rarr;',function(){glStop();showQuiz();}));\n setNav(btn('&larr; Sections',function(){glStop();showSection(total-1);},true),btn('Knowledge check &rarr;',function(){glStop();showQuiz();}));}\n/* ---- quiz ---- */\nfunction showQuiz(){unbindKeys();setProg('quiz');var qs=D.questions||[];var h='<div class=\"quiz\"><div class=\"kick\">Knowledge check</div><h2>Test your understanding</h2>';\n qs.forEach(function(q,qi){h+='<div class=\"q\"><div class=\"qt\">'+(qi+1)+'. '+esc(q.q)+'</div>';(q.options||[]).forEach(function(o,oi){h+='<label class=\"opt\"><input type=\"radio\" name=\"q'+qi+'\" value=\"'+oi+'\"><span>'+esc(o)+'</span></label>';});h+='</div>';});\n h+='</div>';paint(h);setNav(btn('&larr; Back',function(){hasGame?showGame():showSection(total-1);},true),btn('Submit answers &rarr;',grade));}\nfunction grade(){var qs=D.questions||[];var c=0;wrongIdx=[];userAns=[];qs.forEach(function(q,qi){var s=document.querySelector('input[name=q'+qi+']:checked');var v=s?Number(s.value):-1;userAns[qi]=v;if(v===Number(q.answer))c++;else wrongIdx.push(qi);});var score=qs.length?Math.round((c/qs.length)*100):0;lastScore=score;lastPassed=score>=pass;\n addXP(c*25);if(score===100)badge('quiz');if(lastPassed)badge('cert');\n scormReport(score,lastPassed);showResults(c,qs.length);}\nfunction showResults(correct,n){setProg('quiz');var passed=lastPassed;var score=lastScore;\n paint('<div class=\"results\"><div class=\"ring\"><svg viewBox=\"0 0 120 120\"><circle class=\"rbg\" cx=\"60\" cy=\"60\" r=\"52\"/><circle class=\"rfg '+(passed?'p':'f')+'\" cx=\"60\" cy=\"60\" r=\"52\"/></svg><div class=\"rscore\">'+score+'%</div></div><div class=\"pill '+(passed?'pass':'fail')+'\">'+(passed?'PASSED':'NOT YET PASSED')+'</div><p>You answered '+correct+' of '+n+' correctly.</p>'\n  +'<div class=\"statrow\"><div class=\"stat\"><div class=\"sv\">'+xp+'</div><div class=\"sl\">Total XP</div></div><div class=\"stat\"><div class=\"sv\">LV '+lvlOf(xp)+'</div><div class=\"sl\">Level</div></div>'+(hasGame?('<div class=\"stat\"><div class=\"sv\">'+gameBest+'</div><div class=\"sl\">Mission score</div></div>'):'')+'</div>'\n  +medalRow()+'</div>','center');\n var fg=pane.querySelector('.rfg');if(fg){var C=2*Math.PI*52;fg.style.strokeDasharray=C;fg.style.strokeDashoffset=C;void fg.offsetWidth;fg.style.transition='stroke-dashoffset 1.1s ease';fg.style.strokeDashoffset=C*(1-score/100);}\n if(passed){sfx('win');confetti();}\n setNav(btn('Review answers',showReview,true),passed?btn('Continue &rarr;',showWrong):btn('Try again',showQuiz));}\nfunction showReview(){var qs=D.questions||[];var h='<div class=\"review\"><div class=\"kick\">Review</div><h2>Answers &amp; explanations</h2>';\n qs.forEach(function(q,qi){var a=(q.options||[])[q.answer];h+='<div class=\"q\"><div class=\"qt\">'+(qi+1)+'. '+esc(q.q)+'</div><div class=\"ans\"><b>Correct:</b> '+esc(a)+'<br><span>'+esc(q.why||'')+'</span></div></div>';});\n h+='</div>';paint(h);setNav(btn('&larr; Results',function(){showResults(0,(D.questions||[]).length);},true),lastPassed?btn('Continue &rarr;',showWrong):null);}\nfunction showWrong(){setProg('quiz');var qs=D.questions||[];if(!lastPassed||!wrongIdx.length)return showCert();\n var h='<div class=\"review\"><div class=\"kick\">Before your certificate</div><h2>Review the questions you missed</h2>';\n wrongIdx.forEach(function(qi){var q=qs[qi]||{};var correct=(q.options||[])[q.answer];var yi=userAns[qi];var your=(yi!=null&&yi>=0)?((q.options||[])[yi]):'No answer given';h+='<div class=\"q\"><div class=\"qt\">'+(qi+1)+'. '+esc(q.q)+'</div><div class=\"ans wrong\"><div class=\"yr\">Your answer: '+esc(your)+'</div><b>Correct answer:</b> '+esc(correct)+'<br><span>'+esc(q.why||'')+'</span></div></div>';});\n h+='</div>';paint(h);setNav(btn('&larr; Results',function(){showResults(0,qs.length);},true),btn('Get certificate &rarr;',showCert));}\nfunction showCert(){setProg('quiz');signalComplete();var issuer=D.brand||'Security Awareness Team';var dd=fmtDate(new Date());\n var inner='<div class=\"paper\"><div class=\"guil\"></div>'+D.wm+'<div class=\"gold\"></div>'+D.corners\n  +'<div class=\"content\"><div class=\"cwrap\">'\n  +'<div class=\"chd\">'+D.crest+'<div class=\"eyebrow\">Certificate of Completion</div><div class=\"issuer\">'+esc(issuer)+'</div><div class=\"rule\"><span class=\"ln\"></span><span class=\"dia\"></span><span class=\"ln r\"></span></div></div>'\n  +'<div class=\"cmid\"><div class=\"present\">This is proudly presented to</div><div class=\"name\">'+esc(learner||'Learner')+'</div><div class=\"nund\"></div><div class=\"forr\">for successfully completing</div><div class=\"course\">'+esc(D.title)+'</div><div class=\"ach\">Awarded on <b>'+esc(dd)+'</b> &nbsp;&middot;&nbsp; Assessment score <b>'+lastScore+'%</b></div></div>'\n  +'<div class=\"footer\"><div class=\"sig\"><div class=\"sline\"></div><div class=\"snm\">'+esc(issuer)+'</div><div class=\"slb\">Issued by</div></div><div class=\"sealwrap\">'+D.seal+'</div><div class=\"sig\"><div class=\"sline\"></div><div class=\"snm\">'+esc(dd)+'</div><div class=\"slb\">Date of issue</div></div></div>'\n  +'</div></div>';\n var cert='<div id=\"certArea\"><div class=\"cert\">'+inner+'</div></div>';\n paint('<div class=\"certscreen\"><div class=\"cchead\">Congratulations'+(learner?(', '+esc(learner)):'')+' &mdash; you have earned your certificate</div>'+cert+'</div>','center');\n (function(){var c=pane.querySelector('.cert');if(!c)return;var avW=pane.clientWidth-44;var avH=pane.clientHeight-78;var w=avW,hh=w/1.414;if(hh>avH){hh=avH;w=hh*1.414;}c.style.width=Math.round(w)+'px';c.style.height=Math.round(hh)+'px';\n  var ct=c.querySelector('.content'),cw=c.querySelector('.cwrap');if(ct&&cw){cw.style.transform='';cw.style.justifyContent='flex-start';cw.style.height='auto';var nat=cw.scrollHeight,av=ct.clientHeight;cw.style.height='100%';cw.style.justifyContent='space-between';if(nat>av&&nat>0){cw.style.transform='scale('+(av/nat).toFixed(3)+')';}}})();\n setNav(btn('&#128424; Print / Save as PDF',function(){window.print();}),btn('Finish',function(){signalComplete();scormFinish();}));}\n(function(){var b=audBtn();if(b)b.onclick=toggleAud;})();\ntry{var _nm=/[?&]name=([^&]+)/.exec(location.search);if(_nm)learner=decodeURIComponent(_nm[1].replace(/\\\\+/g,' '));}catch(e){}\nif(deepLinkCert()){showCert();}else{cover();}\n})();`;\n\nconst logo = '<svg class=\"logo\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\nconst threeTag = THREE_SRC ? ('<script>'+THREE_SRC+'</script>') : '<script src=\"https://unpkg.com/three@0.147.0/build/three.min.js\"></script>';\nconst html = `<!doctype html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>${esc(title)}</title><style>${CSS}</style></head><body><div class=\"stage\"><div class=\"top\">${logo}<div class=\"tt\"><div class=\"b\">${esc(brand)}</div><h1>${esc(title)}</h1></div><div class=\"crumbs\" id=\"crumbs\"></div><div class=\"xpwrap\"><span class=\"lvl\" id=\"lvl\">LV 1</span><div class=\"xpbar\"><span id=\"xpfill\"></span></div><span class=\"xpn\" id=\"xpn\">0 XP</span></div><button class=\"narr\" id=\"audctl\" type=\"button\" style=\"display:none\"></button></div><div class=\"prog\"><span id=\"progfill\"></span></div><div class=\"pane\" id=\"pane\"></div><div class=\"nav\" id=\"nav\"></div><div class=\"toast\" id=\"toast\"></div></div>${threeTag}<script>var DATA=${dataJson};\n${APP}</script></body></html>`;\n\nconst fileSafe = topic.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40) || 'module';\n\n// The lesson HTML is large (inlined three.js + hi-res images) — emit it as BINARY\n// so n8n execution data stays small; Package & Write reads the buffer back.\nconst bin = await this.helpers.prepareBinaryData(Buffer.from(html, 'utf8'), 'index.html', 'text/html');\nreturn [{ json: { topic: topic, title: title, date: date, fileSafe: fileSafe, format: format, passMark: passMark, publicationId: publicationId, courseId: courseId, htmlBytes: html.length, hasGame: gameItems.length >= 4 }, binary: { data: bin } }];\n"
      }
    },
    {
      "id": "write",
      "name": "Package & Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Package & Write — self-contained lesson HTML (renders inline in the Awareness\n// Portal) plus a SCORM 1.2 package (imsmanifest.xml + index.html, store-only zip)\n// for upload to any corporate LMS. Honours the requested format (HTML/SCORM/Both).\nconst fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst html = await this.helpers.getBinaryDataBuffer(0, 'data');\nif (!html || !html.length) throw new Error('Learning Hub course: renderer produced no HTML.');\nconst dir = '/reports/learning-hub';\nconst base = (meta.fileSafe || 'module') + '-' + meta.date;\nconst format = (meta.format || 'Both');\ntry { fs.mkdirSync(dir, { recursive: true }); } catch (e) {}\n\n// --- minimal store-only ZIP writer (no deps) ---\nfunction _crcT(){ var c,t=[]; for(var n=0;n<256;n++){ c=n; for(var k=0;k<8;k++) c=(c&1)?(0xEDB88320^(c>>>1)):(c>>>1); t[n]=c>>>0; } return t; }\nvar CT=_crcT();\nfunction crc32(b){ var c=0xFFFFFFFF; for(var i=0;i<b.length;i++) c=CT[(c^b[i])&0xFF]^(c>>>8); return (c^0xFFFFFFFF)>>>0; }\nfunction zipStore(entries){ var dt=new Date(); var T=((dt.getHours()&31)<<11)|((dt.getMinutes()&63)<<5)|((Math.floor(dt.getSeconds()/2))&31); var D=(((dt.getFullYear()-1980)&127)<<9)|(((dt.getMonth()+1)&15)<<5)|(dt.getDate()&31); var local=[],central=[],off=0; entries.forEach(function(e){ var name=Buffer.from(e.name,'utf8'); var data=Buffer.isBuffer(e.data)?e.data:Buffer.from(String(e.data),'utf8'); var crc=crc32(data); var lh=Buffer.alloc(30); lh.writeUInt32LE(0x04034b50,0);lh.writeUInt16LE(20,4);lh.writeUInt16LE(0,6);lh.writeUInt16LE(0,8);lh.writeUInt16LE(T,10);lh.writeUInt16LE(D,12);lh.writeUInt32LE(crc,14);lh.writeUInt32LE(data.length,18);lh.writeUInt32LE(data.length,22);lh.writeUInt16LE(name.length,26);lh.writeUInt16LE(0,28); local.push(lh,name,data); var ch=Buffer.alloc(46); ch.writeUInt32LE(0x02014b50,0);ch.writeUInt16LE(20,4);ch.writeUInt16LE(20,6);ch.writeUInt16LE(0,8);ch.writeUInt16LE(0,10);ch.writeUInt16LE(T,12);ch.writeUInt16LE(D,14);ch.writeUInt32LE(crc,16);ch.writeUInt32LE(data.length,20);ch.writeUInt32LE(data.length,24);ch.writeUInt16LE(name.length,28);ch.writeUInt16LE(0,30);ch.writeUInt16LE(0,32);ch.writeUInt16LE(0,34);ch.writeUInt16LE(0,36);ch.writeUInt32LE(0,38);ch.writeUInt32LE(off,42); central.push(ch,name); off+=30+name.length+data.length; }); var cd=Buffer.concat(central), body=Buffer.concat(local); var eo=Buffer.alloc(22); eo.writeUInt32LE(0x06054b50,0);eo.writeUInt16LE(0,4);eo.writeUInt16LE(0,6);eo.writeUInt16LE(entries.length,8);eo.writeUInt16LE(entries.length,10);eo.writeUInt32LE(cd.length,12);eo.writeUInt32LE(body.length,16);eo.writeUInt16LE(0,20); return Buffer.concat([body,cd,eo]); }\n\n// --- SCORM 1.2 manifest ---\nfunction xml(s){ return String(s==null?'':s).replace(/[&<>\"]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;'})[c];}); }\nconst courseTitle = meta.title || meta.topic || 'Awareness Module';\nconst orgId = 'jarvis.' + base;\nconst manifest = '<?xml version=\"1.0\" standalone=\"no\"?>\\n'\n + '<manifest identifier=\"' + xml(orgId) + '.manifest\" version=\"1.2\"\\n'\n + '  xmlns=\"http://www.imsproject.org/xsd/imscp_rootv1p1p2\"\\n'\n + '  xmlns:adlcp=\"http://www.adlnet.org/xsd/adlcp_rootv1p2\"\\n'\n + '  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\\n'\n + '  xsi:schemaLocation=\"http://www.imsproject.org/xsd/imscp_rootv1p1p2 imscp_rootv1p1p2.xsd http://www.imsglobal.org/xsd/imsmd_rootv1p2p1 imsmd_rootv1p2p1.xsd http://www.adlnet.org/xsd/adlcp_rootv1p2 adlcp_rootv1p2.xsd\">\\n'\n + '  <metadata><schema>ADL SCORM</schema><schemaversion>1.2</schemaversion></metadata>\\n'\n + '  <organizations default=\"' + xml(orgId) + '\">\\n'\n + '    <organization identifier=\"' + xml(orgId) + '\">\\n'\n + '      <title>' + xml(courseTitle) + '</title>\\n'\n + '      <item identifier=\"item_1\" identifierref=\"res_1\" isvisible=\"true\">\\n'\n + '        <title>' + xml(courseTitle) + '</title>\\n'\n + '        <adlcp:masteryscore>' + (Number(meta.passMark) || 80) + '</adlcp:masteryscore>\\n'\n + '      </item>\\n'\n + '    </organization>\\n'\n + '  </organizations>\\n'\n + '  <resources>\\n'\n + '    <resource identifier=\"res_1\" type=\"webcontent\" adlcp:scormtype=\"sco\" href=\"index.html\">\\n'\n + '      <file href=\"index.html\"/>\\n'\n + '    </resource>\\n'\n + '  </resources>\\n'\n + '</manifest>\\n';\n\nconst wantHtml = (format !== 'SCORM');\nconst wantScorm = (format !== 'HTML');\nlet htmlPath = '', zipPath = '';\nlet wrote = false;\nif (wantHtml) { try { fs.writeFileSync(dir + '/' + base + '.html', html); htmlPath = dir + '/' + base + '.html'; wrote = true; } catch (e) {} }\nif (wantScorm) {\n  try {\n    const zip = zipStore([{ name: 'imsmanifest.xml', data: manifest }, { name: 'index.html', data: html }]);\n    fs.writeFileSync(dir + '/' + base + '-scorm.zip', zip); zipPath = dir + '/' + base + '-scorm.zip'; wrote = true;\n  } catch (e) {}\n}\nif (!wrote) throw new Error('Learning Hub course: could not write to ' + dir + '. Make /reports writable by the n8n container, e.g. `chmod -R a+rwX reports` on the host.');\nconst bin = await this.helpers.prepareBinaryData(html, base + '.html', 'text/html');\nreturn [{ json: { ok: true, dir: dir, file: htmlPath || zipPath, html: htmlPath, scorm: zipPath, topic: meta.topic, title: meta.title, format: format, hasGame: !!meta.hasGame, publicationId: meta.publicationId, courseId: meta.courseId }, binary: { data: bin } }];\n"
      }
    }
  ],
  "connections": {
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Manually": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Generate Section Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Section Images": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Package & Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}