modules/learning-hub/workflows/learning-hub.json
{
  "id": "jarvisLhPub001",
  "name": "Jarvis · Learning Hub — Publication + Course",
  "meta": {
    "jarvisModule": "learning-hub",
    "jarvisVersion": "1.0.0",
    "description": "Learning Hub publication generator and orchestrator. On a schedule (or on demand) it builds a premium staff security-awareness MAGAZINE (RSS digest -> AI editor -> A4 HTML -> Gotenberg PDF, written to /reports/learning-hub), then derives an e-learning COURSE strictly from that edition (Execute Workflow -> course generator) and registers a publication record (magazine + course, release date, 30-day window) in /reports/learning-hub/publications.json for the Learning Dashboard.",
    "envVars": [
      "LEARNING_HUB_ENABLED",
      "LEARNING_HUB_SCHEDULE_CRON",
      "LEARNING_HUB_PASS_MARK",
      "LEARNING_HUB_SOURCES_FILE",
      "AI_PROVIDER",
      "IMAGE_PROVIDER",
      "OPENAI_API_KEY",
      "GOTENBERG_URL"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "sched",
      "name": "Monthly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        180,
        120
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "={{ $env.LEARNING_HUB_SCHEDULE_CRON || '0 7 1 * *' }}"
            }
          ]
        }
      }
    },
    {
      "id": "mana",
      "name": "Run Now",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        280
      ],
      "parameters": {}
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        180,
        440
      ],
      "parameters": {}
    },
    {
      "id": "gate",
      "name": "Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.LEARNING_HUB_ENABLED || 'true' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "load",
      "name": "Load Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Load & split the Learning Hub source list (one feed URL per line; # = comment).\n// Emits one item per URL for the RSS reader. Missing file => no items (the\n// aggregate step then produces a \"reduced coverage\" edition). Self-contained (fs).\nconst fs = require('fs');\nconst file = ($env.LEARNING_HUB_SOURCES_FILE || 'config/learning-hub-sources.txt');\nconst path = file.charAt(0) === '/' ? file : ('/' + file);\nlet lines = [];\ntry { lines = fs.readFileSync(path, 'utf8').split(/\\r?\\n/); } catch (e) { lines = []; }\nconst urls = lines.map(function (l) { return (l || '').trim(); })\n  .filter(function (l) { return l && l.charAt(0) !== '#'; });\nif (!urls.length) return [{ json: { url: '', _empty: true } }];\nreturn urls.map(function (u) { return { json: { url: u } }; });\n"
      }
    },
    {
      "id": "rss",
      "name": "Fetch Sources",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        880,
        280
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "agg",
      "name": "Aggregate Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Aggregate fetched RSS items into a compact news digest for the analyst.\n// Robust to empty/failed feeds (reduced-coverage edition). No external deps.\nconst items = $input.all().map(function (i) { return i.json || {}; })\n  .filter(function (a) { return a && (a.title || a.contentSnippet || a.content); });\nfunction clean(s) { return String(s == null ? '' : s).replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim(); }\nconst seen = {};\nconst lines = [];\nfor (let k = 0; k < items.length && lines.length < 40; k++) {\n  const a = items[k];\n  const title = clean(a.title);\n  if (!title || seen[title]) continue; seen[title] = 1;\n  let sum = clean(a.contentSnippet || a.content || a.summary || '');\n  if (sum.length > 280) sum = sum.slice(0, 280) + '…';\n  const url = (a.link || a.guid || '').toString();\n  lines.push('- ' + title + (sum ? (' — ' + sum) : '') + (url ? (' (' + url + ')') : ''));\n}\nconst digest = lines.length\n  ? lines.join('\\n')\n  : 'No fresh sources were available. Produce a timeless general security-awareness edition (phishing, passwords & MFA, social engineering, safe remote working, reporting incidents).';\nreturn [{ json: { digest: digest, sourceCount: lines.length, date: new Date().toISOString().slice(0, 10) } }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI Analyst (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-sonnet-4-6' }}\",\n  \"max_tokens\": 4000,\n  \"system\": \"You are the editor of a monthly staff security-awareness magazine for a general (non-technical) workforce. Using the supplied news digest (and your own knowledge where the digest is thin), produce a SINGLE valid JSON object for this edition. Keys: title (a short, punchy edition title); weekOf (the edition label, e.g. a month and year); intro (a 2-3 sentence editor's welcome); feature (an object: headline, deck (one-line subtitle), body (3-4 short paragraphs separated by single newline characters), takeaways (3-4 short bullet strings), source (the publication name the feature draws on, or \\\"\\\"), url (the article link copied VERBATIM from the digest, or \\\"\\\")); threats (3-4 items, each {headline, summary (2-3 plain-English sentences), source (publication name or \\\"\\\"), url (link copied verbatim from the digest, or \\\"\\\")}); awareness (4-6 items, each {tip (a short imperative headline), detail (1-2 practical sentences)}); quals (3-4 items, each {name, provider, summary (1-2 sentences on who it suits), url (an official link if known, or \\\"\\\")}); glossary (3-5 items, each {term, definition (one plain-English sentence)}). For every url, only ever copy a link that actually appears in the supplied digest — never invent one; leave it \\\"\\\" if unsure. Keep everything engaging, concrete and free of jargon. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Create this edition. Today is ' + ($json.date || '') + '. Base it on this news digest where useful:\\n\\n' + ($json.digest || '')) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI Analyst (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.4, \"num_predict\": 3500 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are the editor of a monthly staff security-awareness magazine for a general (non-technical) workforce. Using the supplied news digest (and your own knowledge where the digest is thin), produce a SINGLE valid JSON object for this edition. Keys: title (a short, punchy edition title); weekOf (the edition label, e.g. a month and year); intro (a 2-3 sentence editor's welcome); feature (an object: headline, deck (one-line subtitle), body (3-4 short paragraphs separated by single newline characters), takeaways (3-4 short bullet strings), source (the publication name the feature draws on, or \\\"\\\"), url (the article link copied VERBATIM from the digest, or \\\"\\\")); threats (3-4 items, each {headline, summary (2-3 plain-English sentences), source (publication name or \\\"\\\"), url (link copied verbatim from the digest, or \\\"\\\")}); awareness (4-6 items, each {tip (a short imperative headline), detail (1-2 practical sentences)}); quals (3-4 items, each {name, provider, summary (1-2 sentences on who it suits), url (an official link if known, or \\\"\\\")}); glossary (3-5 items, each {term, definition (one plain-English sentence)}). For every url, only ever copy a link that actually appears in the supplied digest — never invent one; leave it \\\"\\\" if unsure. Keep everything engaging, concrete and free of jargon. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Create this edition. Today is ' + ($json.date || '') + '. Base it on this news digest where useful:\\n\\n' + ($json.digest || '')) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "magprep",
      "name": "Prep Magazine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse the analyst's JSON magazine and build the cover-image prompt.\nconst j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;            // Ollama\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text; // Claude\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nif (!data || typeof data !== 'object') {\n  data = { title: 'Security Awareness Digest', weekOf: '', intro: 'This edition could not be generated in full; please re-run.', feature: null, threats: [], awareness: [], quals: [], glossary: [] };\n}\nconst date = (($('Aggregate Sources').first() || {}).json || {}).date || new Date().toISOString().slice(0, 10);\nconst title = data.title || 'Security Awareness Digest';\nconst coverPrompt = 'Wide cinematic, semi-realistic editorial cover illustration for a premium corporate SECURITY-AWARENESS magazine titled \"' + title + '\". Bright modern office, diverse professionals, calm and trustworthy mood; soft natural window light; teal and deep-navy colour grade; strong empty space on the left third for a title overlay. No text, no words, no letters, no logos, no watermark, no charts, no screenshots.';\nreturn [{ json: { data: data, title: title, date: date, coverPrompt: coverPrompt } }];\n"
      }
    },
    {
      "id": "cover",
      "name": "Generate Cover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Generate the magazine cover image via the shared image provider (graceful:\n// empty string => the renderer falls back to a branded gradient cover).\nconst j = $json || {};\nlet cover = '';\nconst key = $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY;\nconst wantImages = (($env.LEARNING_HUB_COVER_IMAGE || $env.CYBER_SECTION_IMAGES || 'true').toString().toLowerCase() !== 'false');\nif (wantImages && key && j.coverPrompt) {\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: ($env.OPENAI_BASE_URL || 'https://api.openai.com/v1') + '/images/generations',\n      headers: { Authorization: 'Bearer ' + key, 'Content-Type': 'application/json' },\n      body: { model: ($env.IMAGE_MODEL || 'gpt-image-1'), prompt: j.coverPrompt, size: ($env.IMAGE_SIZE || '1024x1536'), n: 1 },\n      json: true, timeout: 180000\n    });\n    const b64 = resp && resp.data && resp.data[0] && resp.data[0].b64_json;\n    if (b64) cover = 'data:image/png;base64,' + b64;\n  } catch (e) { cover = ''; }\n}\nreturn [{ json: Object.assign({}, j, { cover: cover }) }];\n"
      }
    },
    {
      "id": "magrender",
      "name": "Render Magazine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Render the staff security-awareness magazine as one premium, print-ready A4 HTML\n// (cover + editorial + feature + threats + human-firewall + skills + glossary).\n// Magazine-grade layout: full-bleed cover with an \"Inside this issue\" panel (so it\n// looks intentional even with no cover image), strong section headers, a two-column\n// feature with pull-quote and drop-cap, and tidy card grids. Gotenberg -> PDF.\n// Returns the parsed magazine data alongside the HTML so the course can use it.\nconst j = $json || {};\nconst data = j.data || {};\nconst date = j.date || new Date().toISOString().slice(0, 10);\nconst title = j.title || data.title || 'Security Awareness Digest';\nconst weekOf = data.weekOf || '';\nconst cover = j.cover || '';\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nfunction paras(s){ return String(s==null?'':s).split(/\\n+/).map(function(p){return p.trim();}).filter(Boolean).map(function(p){return '<p>'+esc(p)+'</p>';}).join(''); }\nconst A = function(x){ return Array.isArray(x)?x:[]; };\nfunction firstSentence(s){ var m=String(s||'').match(/^[\\s\\S]*?[.!?](\\s|$)/); return (m?m[0]:String(s||'')).trim(); }\n\nconst f = data.feature || {};\nconst threats = A(data.threats), aw = A(data.awareness), quals = A(data.quals), gloss = A(data.glossary);\n\n// Jarvis sign-off avatar: prefer the shared branding file (as the other magazines\n// do), else an inline SVG so it always renders.\nlet _fs = null; try { _fs = require('fs'); } catch (e) {}\nfunction avatarUri(){ if (_fs) { var t = [['/config/branding/jarvis-avatar.png','image/png'],['/config/branding/jarvis-avatar.jpg','image/jpeg'],['/config/branding/jarvis-avatar.jpeg','image/jpeg'],['/config/branding/jarvis-avatar.svg','image/svg+xml']]; for (var i=0;i<t.length;i++){ try { return 'data:' + t[i][1] + ';base64,' + _fs.readFileSync(t[i][0]).toString('base64'); } catch(e){} } } return ''; }\nconst JARVIS_SVG = '<svg class=\"av\" viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\"><defs><linearGradient id=\"jg\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\"><stop offset=\"0\" stop-color=\"#0E7C86\"/><stop offset=\"1\" stop-color=\"#0A1A2F\"/></linearGradient></defs><circle cx=\"32\" cy=\"32\" r=\"32\" fill=\"url(#jg)\"/><rect x=\"19\" y=\"21\" width=\"26\" height=\"22\" rx=\"7\" fill=\"#fff\"/><circle cx=\"27\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><circle cx=\"37\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><rect x=\"27\" y=\"38\" width=\"10\" height=\"2.4\" rx=\"1.2\" fill=\"#0E7C86\"/><rect x=\"30.7\" y=\"14\" width=\"2.6\" height=\"6\" rx=\"1.3\" fill=\"#9fe4d8\"/><circle cx=\"32\" cy=\"13\" r=\"2.4\" fill=\"#E7C76A\"/><path d=\"M23 47h18l-3 4.5H26z\" fill=\"#9fe4d8\"/></svg>';\nconst IMG_ICON = '<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#3b5b8c\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><rect x=\"3\" y=\"4\" width=\"18\" height=\"16\" rx=\"2\"/><circle cx=\"8.5\" cy=\"9.5\" r=\"1.6\"/><path d=\"M21 15l-5-5L5 21\"/></svg>';\n// Image placeholder: a generated image if present, else a blue placeholder box.\nfunction imgph(src, cls, label){ if (src) { return '<div class=\"' + cls + '\" style=\"background-image:url(' + src + ');background-size:cover;background-position:center;border-radius:10px\"></div>'; } return '<div class=\"imgph ' + cls + '\"><span class=\"lab\">' + IMG_ICON + (label || 'Image') + '</span></div>'; }\n\nconst CSS = \"\"\n+\"@page{size:A4;margin:16mm 15mm 17mm} @page cover{margin:0} *{box-sizing:border-box}\"\n+\"body{margin:0;font-family:Georgia,'Times New Roman',serif;color:#16202b;line-height:1.5;font-size:11.5pt}\"\n+\".s-sans{font-family:-apple-system,'Segoe UI',Roboto,Arial,sans-serif}\"\n// cover\n+\".cover{page:cover;position:relative;width:210mm;height:297mm;overflow:hidden;background:#0A1A2F;color:#fff;break-after:page}\"\n+\".cover .bg{position:absolute;inset:0;background-size:cover;background-position:center;z-index:0}\"\n+\".cover .bg.ph{background:radial-gradient(120% 80% at 78% 12%,#13507a 0,#0A1A2F 55%),linear-gradient(160deg,#0A1A2F,#0E2233 60%,#0E7C86 140%)}\"\n+\".cover .wm{position:absolute;right:-60mm;top:18mm;width:180mm;height:180mm;opacity:.06;z-index:0}\"\n+\".cover .grad{position:absolute;inset:0;background:linear-gradient(180deg,rgba(8,18,28,.15),rgba(8,18,28,.75));z-index:1}\"\n+\".cover .inner{position:absolute;inset:0;z-index:2;display:flex;flex-direction:column;justify-content:space-between;padding:18mm}\"\n+\".cover .brandbar{display:flex;justify-content:space-between;align-items:center;font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:10pt;letter-spacing:2px;text-transform:uppercase;font-weight:700;color:#9fe4d8}\"\n+\".cover .masthead{max-width:172mm}\"\n+\".cover .kick{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:11pt;letter-spacing:5px;text-transform:uppercase;color:#E7C76A;font-weight:800}\"\n+\".cover h1{font-size:40pt;line-height:1.04;margin:8px 0 0;font-weight:700}\"\n+\".cover .edition{font-family:-apple-system,Arial,sans-serif;font-size:11pt;color:#cfe0e6;letter-spacing:1px;margin-top:8px}\"\n+\".cover .stand{font-size:13pt;color:#eaf2f5;font-style:italic;margin-top:12px;max-width:150mm}\"\n+\".cover .toc{margin-top:16mm;border-top:2px solid rgba(201,162,75,.6);padding-top:10px}\"\n+\".cover .toc .tl{font-family:-apple-system,Arial,sans-serif;font-size:9pt;letter-spacing:3px;text-transform:uppercase;color:#E7C76A;font-weight:800;margin-bottom:8px}\"\n+\".cover .toc ul{list-style:none;margin:0;padding:0;column-count:2;column-gap:12mm}\"\n+\".cover .toc li{font-family:-apple-system,Arial,sans-serif;font-size:11pt;color:#eaf2f5;padding:4px 0 4px 16px;position:relative;break-inside:avoid}\"\n+\".cover .toc li:before{content:'';position:absolute;left:0;top:8px;width:8px;height:8px;background:#C9A24B;transform:rotate(45deg)}\"\n// section header — coloured band (accent set inline per section)\n+\".sec{margin:0 0 8mm;break-inside:avoid;page-break-inside:avoid}\"\n+\".eyebrow{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:9pt;letter-spacing:3px;text-transform:uppercase;font-weight:800}\"\n+\".band{border-left:5px solid #0E7C86;border-radius:8px;padding:9px 16px;margin:0 0 12px;break-inside:avoid;break-after:avoid;page-break-inside:avoid;page-break-after:avoid}\"\n+\".band h2{font-size:20pt;color:#0A1A2F;margin:1px 0 0;font-weight:700;line-height:1.12}\"\n+\"p{margin:0 0 8px}\"\n+\".lead{margin:0 0 8px;text-align:justify}\"\n+\".lead::first-letter{-webkit-initial-letter:3 3;initial-letter:3 3;color:#0E7C86;font-weight:700;font-family:Georgia,serif;margin-right:8px}\"\n+\".cols{column-count:2;column-gap:9mm}\"\n+\".cols p{margin:0 0 8px;text-align:justify}\"\n// feature\n+\".feature{break-inside:auto;page-break-inside:auto}\"\n+\".feature .fhead{font-size:25pt;color:#0A1A2F;font-weight:700;line-height:1.08;margin:0 0 2px}\"\n+\".feature .deck{font-style:italic;color:#5A6472;font-size:13pt;margin:0 0 10px}\"\n+\".pull{font-size:16pt;font-style:italic;color:#0E7C86;line-height:1.35;border-left:4px solid #C9A24B;padding:4px 0 4px 16px;margin:4px 0 12px;break-inside:avoid}\"\n+\".take{background:#F4F6F9;border:1px solid #E2E6EC;border-left:4px solid #0E7C86;border-radius:10px;padding:12px 16px;margin-top:10px;break-inside:avoid}\"\n+\".take .th{font-family:-apple-system,Arial,sans-serif;font-size:9pt;letter-spacing:2px;text-transform:uppercase;color:#0A1A2F;font-weight:800;margin-bottom:6px}\"\n+\".take ul{margin:0;padding-left:18px}.take li{font-size:11pt;margin:5px 0}\"\n// card grids — CSS table so cells in a row are EQUAL height (clean, cross-engine)\n+\".cardtable{width:100%;border-collapse:separate;border-spacing:11px;table-layout:fixed}\"\n+\".cardtable tr{break-inside:avoid;page-break-inside:avoid}\"\n+\".cardtable td{width:50%;vertical-align:top}\"\n+\".cardtable td.empty{border:0;background:transparent}\"\n+\".cell{border:1px solid #E2E6EC;border-radius:10px;padding:12px 14px;background:#fff}\"\n+\".cell.tcell{border-left:4px solid #B02525}\"\n+\".cell h3{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:12pt;color:#0A1A2F;margin:0 0 5px;line-height:1.25}\"\n+\".cell p{font-size:10.5pt;color:#46505c;margin:0;line-height:1.4}\"\n+\".cell.tip{position:relative;padding-left:44px;border-left:4px solid #0E7C86}\"\n+\".cell.tip .n{position:absolute;left:12px;top:13px;width:24px;height:24px;border-radius:50%;background:#0E7C86;color:#fff;font-family:Arial;font-size:11pt;font-weight:800;text-align:center;line-height:24px}\"\n+\".cell.tip h3{font-size:11.5pt;margin:0 0 2px}\"\n+\".qual{border:1px solid #E2E6EC;border-radius:10px;padding:11px 15px;margin:0 0 8px;break-inside:avoid}\"\n+\".qual h3{font-family:-apple-system,Arial,sans-serif;font-size:12.5pt;color:#0A1A2F;margin:0}\"\n+\".qual .prov{font-family:-apple-system,Arial,sans-serif;font-size:8.5pt;letter-spacing:1px;text-transform:uppercase;color:#0E7C86;font-weight:800;margin:2px 0 5px}\"\n+\".qual p{font-size:10.5pt;color:#46505c;margin:0}\"\n+\".gloss{font-size:0}\"\n+\".gterm{display:inline-block;width:48.5%;vertical-align:top;margin:0 3% 8px 0;font-size:10.5pt;color:#46505c;break-inside:avoid;border-bottom:1px solid #eef1f5;padding-bottom:6px}\"\n+\".gterm:nth-child(even){margin-right:0}.gterm b{color:#0A1A2F}\"\n// image placeholders (blue boxes showing where generated images will sit)\n+\".imgph{background:repeating-linear-gradient(135deg,#e2ecfd 0 13px,#d2e0fb 13px 26px);border:1.5px dashed #6b93ec;border-radius:10px;display:flex;align-items:center;justify-content:center;color:#3b5b8c}\"\n+\".imgph .lab{display:inline-flex;align-items:center;gap:7px;font-family:-apple-system,Arial,sans-serif;font-size:9pt;font-weight:700;letter-spacing:1.5px;text-transform:uppercase}.imgph svg{width:17px;height:17px}\"\n+\".feat-hero{width:100%;height:48mm;margin:0 0 12px}\"\n+\".thumb{height:20mm;margin:0 0 9px}\"\n// Jarvis sign-off\n+\".signoff{display:flex;align-items:center;justify-content:center;gap:14px;margin:2mm 0 8mm;padding-top:14px;border-top:2px solid #0E7C86;break-inside:avoid;page-break-inside:avoid}\"\n+\".signoff .av,.signoff img{width:56px;height:56px;border-radius:50%;border:2px solid #0E7C86;flex:0 0 auto}\"\n+\".signoff .nm{font-family:Georgia,serif;font-size:14pt;color:#0A1A2F;font-weight:700}\"\n+\".signoff .rl{font-family:-apple-system,Arial,sans-serif;font-size:8.5pt;letter-spacing:2px;text-transform:uppercase;color:#0E7C86;font-weight:800;margin-top:2px}\"\n// references\n+\".refs ol{margin:0;padding:0;list-style:none;column-count:2;column-gap:9mm}\"\n+\".refs li{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:9pt;color:#46505c;margin:0 0 8px;break-inside:avoid;line-height:1.35}\"\n+\".refs .rn{color:#0E7C86;font-weight:800}\"\n+\".refs li b{color:#0A1A2F}.refs a{color:#0E7C86;word-break:break-all;text-decoration:none}\";\n\nconst wm = '<svg class=\"wm\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#9fe4d8\" stroke-width=\"0.6\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\n\n// ---- cover ----\nconst toc = [];\nif (f && f.headline) toc.push('Feature &middot; ' + esc(f.headline));\nif (threats.length) toc.push('Emerging Threats');\nif (aw.length) toc.push('The Human Firewall &mdash; ' + aw.length + ' habits');\nif (quals.length) toc.push('Skills &amp; Qualifications');\nif (gloss.length) toc.push('Jargon Buster');\n\nlet html = '<!doctype html><html><head><meta charset=\"utf-8\"><style>' + CSS + '</style></head><body>';\nhtml += '<section class=\"cover\">'\n + (cover ? ('<div class=\"bg\" style=\"background-image:url(' + cover + ')\"></div>') : '<div class=\"bg ph\"></div>')\n + wm + '<div class=\"grad\"></div>'\n + '<div class=\"inner\">'\n + '<div class=\"brandbar\"><span>Security Awareness</span><span>Learning Hub</span></div>'\n + '<div class=\"masthead\"><div class=\"kick\">Staff Awareness Magazine</div>'\n + '<h1>' + esc(title) + '</h1>'\n + '<div class=\"edition\">' + esc(weekOf || date) + ' Edition</div>'\n + (data.intro ? ('<div class=\"stand\">' + esc(firstSentence(data.intro)) + '</div>') : '')\n + '</div>'\n + (toc.length ? ('<div class=\"toc\"><div class=\"tl\">Inside this issue</div><ul>' + toc.map(function(t){return '<li>' + t + '</li>';}).join('') + '</ul></div>') : '<div></div>')\n + '</div></section>';\n\n// per-section accent [border/eyebrow colour, light tint background]\nconst AC = { ed:['#0E7C86','rgba(14,124,134,.08)'], feat:['#B8860B','rgba(201,162,75,.14)'], threat:['#B02525','rgba(176,37,37,.07)'], fire:['#0E7C86','rgba(14,124,134,.08)'], skill:['#0A1A2F','rgba(10,26,47,.06)'], gloss:['#46607a','rgba(70,96,122,.09)'] };\nfunction header(eyebrow, t, key){ var a = AC[key] || AC.ed; return '<div class=\"band\" style=\"border-left-color:' + a[0] + ';background:' + a[1] + '\"><div class=\"eyebrow\" style=\"color:' + a[0] + '\">' + esc(eyebrow) + '</div><h2>' + esc(t) + '</h2></div>'; }\n// lead paragraph (drop cap, full width) + remaining paragraphs in two columns.\nfunction body2col(text){ var ps = String(text||'').split(/\\n+/).map(function(s){return s.trim();}).filter(Boolean); if(!ps.length) return ''; var lead = '<p class=\"lead\">' + esc(ps[0]) + '</p>'; var rest = ps.slice(1).map(function(p){return '<p>' + esc(p) + '</p>';}).join(''); return lead + (rest ? ('<div class=\"cols\">' + rest + '</div>') : ''); }\n// two-up card grid via a CSS table so cells in each row are equal height.\nfunction cardTable(items, cellClass){ var rows = ''; for (var i = 0; i < items.length; i += 2){ var a = '<td class=\"' + cellClass + '\">' + items[i] + '</td>'; var b = (i + 1 < items.length) ? ('<td class=\"' + cellClass + '\">' + items[i + 1] + '</td>') : '<td class=\"empty\"></td>'; rows += '<tr>' + a + b + '</tr>'; } return '<table class=\"cardtable\">' + rows + '</table>'; }\n\n// editorial\nif (data.intro) {\n  html += '<section class=\"sec\">' + header('From the editor', 'Welcome to this edition', 'ed')\n    + body2col(data.intro) + '</section>';\n}\n// feature\nif (f && (f.headline || f.body)) {\n  const pull = (A(f.takeaways)[0]) || f.deck || '';\n  html += '<section class=\"sec feature\">' + header('Feature', f.headline || 'In focus', 'feat')\n    + imgph(f.image, 'feat-hero', 'Feature image')\n    + (f.deck ? ('<div class=\"deck\">' + esc(f.deck) + '</div>') : '')\n    + (pull ? ('<div class=\"pull\">&ldquo;' + esc(pull) + '&rdquo;</div>') : '')\n    + body2col(f.body || '')\n    + (A(f.takeaways).length ? ('<div class=\"take\"><div class=\"th\">Key takeaways</div><ul>' + A(f.takeaways).map(function(t){return '<li>' + esc(t) + '</li>';}).join('') + '</ul></div>') : '')\n    + '</section>';\n}\n// threats\nif (threats.length) {\n  html += '<section class=\"sec\">' + header('Threat radar', 'Emerging Threats', 'threat')\n    + cardTable(threats.map(function(t){return imgph(t.image, 'thumb', '') + '<h3>' + esc(t.headline||'') + '</h3><p>' + esc(t.summary||'') + '</p>';}), 'cell tcell') + '</section>';\n}\n// human firewall\nif (aw.length) {\n  html += '<section class=\"sec\">' + header('Practical habits', 'The Human Firewall', 'fire')\n    + cardTable(aw.map(function(a,i){return '<span class=\"n\">' + (i+1) + '</span><h3>' + esc(a.tip||'') + '</h3><p>' + esc(a.detail||'') + '</p>';}), 'cell tip') + '</section>';\n}\n// skills\nif (quals.length) {\n  html += '<section class=\"sec\">' + header('Grow your skills', 'Skills & Qualifications', 'skill')\n    + quals.map(function(q){return '<div class=\"qual\"><h3>' + esc(q.name||'') + '</h3><div class=\"prov\">' + esc(q.provider||'') + '</div><p>' + esc(q.summary||'') + '</p></div>';}).join('') + '</section>';\n}\n// glossary\nif (gloss.length) {\n  html += '<section class=\"sec\">' + header('Plain English', 'Jargon Buster', 'gloss')\n    + '<div class=\"gloss\">' + gloss.map(function(g){return '<div class=\"gterm\"><b>' + esc(g.term||'') + '</b> &mdash; ' + esc(g.definition||'') + '</div>';}).join('') + '</div></section>';\n}\n// closing sign-off (Jarvis AI avatar) — as per the other magazines\nconst AV = avatarUri();\nhtml += '<div class=\"signoff\">' + (AV ? ('<img src=\"' + AV + '\"/>') : JARVIS_SVG) + '<div class=\"sg\"><div class=\"nm\">Jarvis</div><div class=\"rl\">Your AI Awareness Editor</div></div></div>';\n// references / further reading (links to the source articles)\nconst refs = [];\nif (f && f.url) refs.push({ s: f.source || f.headline || 'Feature', u: f.url });\nthreats.forEach(function(t){ if (t && t.url) refs.push({ s: t.source || t.headline || 'Threat report', u: t.url }); });\nquals.forEach(function(q){ if (q && q.url) refs.push({ s: q.provider || q.name || 'Course', u: q.url }); });\nif (refs.length) {\n  html += '<section class=\"sec refs\">' + header('Sources', 'References & Further Reading', 'gloss')\n    + '<ol>' + refs.map(function(r, i){ return '<li><span class=\"rn\">' + (i+1) + '.</span> <b>' + esc(r.s) + '</b><br><a href=\"' + esc(r.u) + '\">' + esc(r.u) + '</a></li>'; }).join('') + '</ol></section>';\n}\nhtml += '</body></html>';\n\nreturn [{ json: { data: data, html: html, date: date, title: title, weekOf: weekOf, fileSafe: 'learning-hub-' + date } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Wrap the rendered magazine HTML as an index.html binary for Gotenberg.\nconst meta = $('Render Magazine').first().json;\nconst buf = Buffer.from(meta.html || '<html></html>', 'utf8');\nconst bin = await this.helpers.prepareBinaryData(buf, 'index.html', 'text/html');\nreturn [{ json: { date: meta.date, fileSafe: meta.fileSafe }, binary: { data: bin } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2680,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "preferCssPageSize",
              "value": "true"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "magwrite",
      "name": "Write Magazine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Persist the magazine: PDF (from Gotenberg) + structured JSON archive.\n// (No standalone .html artifact — the PDF is the deliverable.)\n// Carries the parsed magazine data forward so the course can be grounded in it.\nconst fs = require('fs');\nconst meta = $('Render Magazine').first().json;\nconst dir = '/reports/learning-hub';\nconst archive = '/reports/archive/learning-hub';\nconst base = meta.fileSafe; // learning-hub-<date>\ntry { fs.mkdirSync(dir, { recursive: true }); } catch (e) {}\ntry { fs.mkdirSync(archive, { recursive: true }); } catch (e) {}\nlet pdfPath = '';\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  if (buf && buf.length) { fs.writeFileSync(dir + '/' + base + '.pdf', buf); fs.writeFileSync(archive + '/' + base + '.pdf', buf); pdfPath = dir + '/' + base + '.pdf'; }\n} catch (e) { pdfPath = ''; }\nlet jsonOk = false;\ntry { fs.writeFileSync(archive + '/' + base + '.json', JSON.stringify({ title: meta.title, weekOf: meta.weekOf, date: meta.date, data: meta.data }, null, 2)); jsonOk = true; } catch (e) {}\n// Fail loudly (red node) rather than silently green if the output dir is not writable.\nif (!jsonOk) throw new Error('Learning Hub: could not write to ' + dir + '. Make /reports writable by the n8n container, e.g. `chmod -R a+rwX reports` on the host.');\nreturn [{ json: {\n  ok: true,\n  date: meta.date,\n  title: meta.title,\n  weekOf: meta.weekOf,\n  data: meta.data,\n  magazinePdf: pdfPath || (dir + '/' + base + '.pdf'),\n  magazineHtml: '',\n  fileSafe: base\n} }];\n"
      }
    },
    {
      "id": "coursesrc",
      "name": "Build Course Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Build the e-learning \"source\" grounding text + course metadata from the magazine.\n// Output is fed to the module's e-learning workflow (Execute Workflow) and reused\n// by Register Publication. Keeps the course strictly about this edition's content.\nconst m = $json || {};\nconst data = m.data || {};\nconst date = m.date || new Date().toISOString().slice(0, 10);\nconst A = function (x) { return Array.isArray(x) ? x : []; };\nfunction line(s) { return String(s == null ? '' : s).replace(/\\s+/g, ' ').trim(); }\nconst parts = [];\nparts.push('MAGAZINE TITLE: ' + (m.title || data.title || 'Security Awareness Digest'));\nif (data.intro) parts.push('EDITORIAL: ' + line(data.intro));\nconst f = data.feature;\nif (f && (f.headline || f.body)) {\n  parts.push('FEATURE: ' + line(f.headline || '') + (f.deck ? (' — ' + line(f.deck)) : ''));\n  if (f.body) parts.push(line(f.body));\n  if (A(f.takeaways).length) parts.push('Key takeaways: ' + A(f.takeaways).map(line).join('; '));\n}\nif (A(data.threats).length) parts.push('EMERGING THREATS: ' + A(data.threats).map(function (t) { return line(t.headline) + ' — ' + line(t.summary); }).join(' | '));\nif (A(data.awareness).length) parts.push('AWARENESS TIPS: ' + A(data.awareness).map(function (a) { return line(a.tip) + ': ' + line(a.detail); }).join(' | '));\nif (A(data.quals).length) parts.push('SKILLS & QUALIFICATIONS: ' + A(data.quals).map(function (q) { return line(q.name) + ' (' + line(q.provider) + '): ' + line(q.summary); }).join(' | '));\nif (A(data.glossary).length) parts.push('GLOSSARY: ' + A(data.glossary).map(function (g) { return line(g.term) + ' = ' + line(g.definition); }).join(' | '));\nconst source = parts.join('\\n');\nconst title = (m.title || data.title || 'Security Awareness Digest') + ' — Awareness Course';\nconst pm = parseInt(($env.LEARNING_HUB_PASS_MARK || '80'), 10);\nreturn [{ json: {\n  source: source,\n  title: title,\n  passMark: isNaN(pm) ? 80 : pm,\n  format: 'HTML',\n  illustrate: (($env.ELEARNING_SECTION_IMAGES || 'true').toString().toLowerCase() !== 'false'),\n  publicationId: 'learning-hub-' + date,\n  courseId: 'course-learning-hub-' + date,\n  releaseDate: date\n} }];\n"
      }
    },
    {
      "id": "runel",
      "name": "Run E-learning",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3340,
        280
      ],
      "parameters": {
        "source": "database",
        "workflowId": "jarvisLhElearn1"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "register",
      "name": "Register Publication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Upsert the publication record the dashboard reads. Links the magazine + the\n// derived course, with the release date and 30-day completion window.\nconst fs = require('fs');\nconst dir = '/reports/learning-hub';\nconst file = dir + '/publications.json';\nconst src = ($('Build Course Source').first() || {}).json || {};\nconst mag = ($('Write Magazine').first() || {}).json || {};\nconst course = $json || {};\ntry { fs.mkdirSync(dir, { recursive: true }); } catch (e) {}\nlet store = { updated: '', publications: [] };\ntry { const cur = JSON.parse(fs.readFileSync(file, 'utf8')); if (cur && Array.isArray(cur.publications)) store = cur; } catch (e) {}\nconst entry = {\n  id: src.publicationId || ('learning-hub-' + (src.releaseDate || '')),\n  title: mag.title || src.title || 'Security Awareness Digest',\n  kind: 'magazine',\n  releaseDate: src.releaseDate || mag.date || new Date().toISOString().slice(0, 10),\n  deadlineDays: 30,\n  magazine: { pdf: mag.magazinePdf || '', html: mag.magazineHtml || '' },\n  course: { id: src.courseId || '', html: course.html || course.file || '', title: src.title || '', passMark: src.passMark || 80 }\n};\nstore.publications = store.publications.filter(function (p) { return p && p.id !== entry.id; });\nstore.publications.unshift(entry);\nstore.publications.sort(function (a, b) { return String(b.releaseDate).localeCompare(String(a.releaseDate)); });\nstore.updated = new Date().toISOString();\ntry { fs.writeFileSync(file, JSON.stringify(store, null, 2)); } catch (e) {}\nreturn [{ json: { ok: true, publication: entry, total: store.publications.length, file: file } }];\n"
      }
    }
  ],
  "connections": {
    "Monthly Schedule": {
      "main": [
        [
          {
            "node": "Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enabled?": {
      "main": [
        [
          {
            "node": "Load Sources",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run Now": {
      "main": [
        [
          {
            "node": "Load Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Command": {
      "main": [
        [
          {
            "node": "Load Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Sources": {
      "main": [
        [
          {
            "node": "Fetch Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sources": {
      "main": [
        [
          {
            "node": "Aggregate Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Sources": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI Analyst (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Analyst (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyst (Claude)": {
      "main": [
        [
          {
            "node": "Prep Magazine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Magazine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyst (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Magazine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Magazine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Magazine": {
      "main": [
        [
          {
            "node": "Generate Cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover": {
      "main": [
        [
          {
            "node": "Render Magazine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Magazine": {
      "main": [
        [
          {
            "node": "PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write Magazine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Magazine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Magazine": {
      "main": [
        [
          {
            "node": "Build Course Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Course Source": {
      "main": [
        [
          {
            "node": "Run E-learning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run E-learning": {
      "main": [
        [
          {
            "node": "Register Publication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
