modules/energy-intelligence/workflows/energy-intelligence.json
{
  "id": "jarvisEnergyInt1",
  "name": "Jarvis · Energy Intelligence Brief",
  "meta": {
    "jarvisModule": "energy-intelligence",
    "jarvisVersion": "2.7.0",
    "intelligenceProduct": true,
    "description": "Daily UAE/ADNOC-focused energy intelligence. Splits config/energy-sources.txt into feeds, fetches them, aggregates real articles, analyses with local Ollama, renders HTML and writes report + archive via fs. Cover image is an optional side branch (Image Provider Abstraction). Every external step has a failure path.",
    "prompts": [
      "energy-intelligence.analyst",
      "intelligence.cover-image",
      "system.jarvis-core"
    ],
    "envVars": [
      "ENERGY_BRIEF_ENABLED",
      "ENERGY_BRIEF_SCHEDULE_CRON",
      "OLLAMA_BASE_URL",
      "OLLAMA_DEFAULT_MODEL",
      "EMAIL_TO",
      "IMAGE_PROVIDER"
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "errorWorkflow": "Jarvis · Error Handler"
  },
  "nodes": [
    {
      "id": "schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "={{ $env.ENERGY_BRIEF_SCHEDULE_CRON || '30 6 * * *' }}"
            }
          ]
        }
      }
    },
    {
      "id": "gate",
      "name": "Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.ENERGY_BRIEF_ENABLED || 'true' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "split",
      "name": "Load & Split Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nlet lines = [];\ntry { lines = fs.readFileSync('/config/energy-sources.txt','utf8').split(/\\r?\\n/); } catch (e) {}\nconst urls = lines.map(function(l){ return l.trim(); }).filter(function(l){ return l && l.charAt(0) !== '#'; });\nif (!urls.length) { return [{ json: { url: '' } }]; }\nreturn urls.map(function(u){ return { json: { url: u } }; });"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "fetch",
      "name": "Fetch Energy Sources",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        840,
        240
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Runs once per feed URL. Non-RSS or unreachable sources are skipped, not fatal."
    },
    {
      "id": "aggregate",
      "name": "Aggregate Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        240
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst arts = items.map(function(i){ return i.json; }).filter(function(a){ return a && (a.title || a.contentSnippet || a.content); });\nconst companies = [\n  ['ADNOC', /adnoc|borouge|ta.?ziz|upper zakum|\\bxrg\\b/i],\n  ['Saudi Aramco', /aramco/i],\n  ['QatarEnergy', /qatarenergy|qatar energy/i],\n  ['Kuwait Petroleum', /kuwait petroleum|\\bkpc\\b|kuwait oil/i],\n  ['TAQA / Masdar / Mubadala', /\\btaqa\\b|masdar|mubadala/i],\n  ['Shell', /\\bshell\\b/i],\n  ['BP', /\\bbp\\b/i],\n  ['Chevron', /chevron/i],\n  ['ExxonMobil', /exxon/i],\n  ['TotalEnergies', /totalenergies|total energies/i]\n];\nfunction detect(a){ var s=((a.title||'')+' '+(a.contentSnippet||a.content||'')).toString(); for(var i=0;i<companies.length;i++){ if(companies[i][1].test(s)) return companies[i][0]; } return 'Other'; }\nfunction getImg(a){ try { if(a.enclosure && a.enclosure.url) return a.enclosure.url; var mc=a['media:content']||a.mediaContent; if(mc){ if(Array.isArray(mc)) mc=mc[0]; if(mc){ if(mc.url) return mc.url; if(mc['$'] && mc['$'].url) return mc['$'].url; } } var mt=a['media:thumbnail']||a.mediaThumbnail; if(mt){ if(Array.isArray(mt)) mt=mt[0]; if(mt){ if(mt.url) return mt.url; if(mt['$'] && mt['$'].url) return mt['$'].url; } } var c=(a.content||a['content:encoded']||'').toString(); var m=c.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i); if(m) return m[1]; } catch(e){} return ''; }\nfunction fmt(a){ var t=(a.title||'').toString(); var s=(a.contentSnippet||a.content||'').toString().replace(/\\s+/g,' ').slice(0,200); var u=(a.link||a.url||'').toString(); var im=getImg(a); return '- ' + t + ' — ' + s + ' (' + u + ')' + (im?(' IMG='+im):''); }\nvar buckets={};\narts.forEach(function(a){ var k=detect(a); (buckets[k]=buckets[k]||[]).push(a); });\nvar order=Object.keys(buckets);\nvar perCompany=4; var lines=[];\nfor(var r=0;r<perCompany;r++){ for(var c=0;c<order.length;c++){ var arr=buckets[order[c]]; if(arr[r]){ lines.push('['+order[c]+'] '+fmt(arr[r])); } } }\nvar text = lines.length ? lines.join('\\n') : 'No source articles were retrieved this period.';\nvar previous='';\ntry {\n  var fs=require('fs'); var dir='/reports/archive/energy-intelligence';\n  var today=new Date().toISOString().slice(0,10);\n  var files=fs.readdirSync(dir).filter(function(fn){ return /energy-intelligence-\\d{4}-\\d{2}-\\d{2}\\.json$/.test(fn) && fn.indexOf(today)===-1; }).sort();\n  if(files.length){\n    var prev=JSON.parse(fs.readFileSync(dir+'/'+files[files.length-1],'utf8'));\n    var ple=[];\n    ['noc','ioc'].forEach(function(sec){ (prev[sec]||[]).forEach(function(row){ ple.push('- '+(row.company||'')+': '+((row.development||'').toString().slice(0,160))); }); });\n    previous='From '+files[files.length-1].replace('energy-intelligence-','').replace('.json','')+':\\n'+ple.join('\\n');\n  }\n} catch(e){ previous=''; }\nreturn [{ json: { articles: text, count: arts.length, date: new Date().toISOString().slice(0,10), previous: previous } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "analyst-ollama",
      "name": "AI Analyst (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.2, \"num_predict\": 2400, \"num_ctx\": 8192 },\n  \"messages\": [\n    {\"role\":\"system\",\"content\":\"You are a senior energy-sector intelligence analyst at a top consultancy, producing a weekly regional energy summary for executives covering Middle East national oil companies (NOCs) and supermajor international oil companies (IOCs). Use ONLY facts found in the provided digests; never invent companies, names, numbers, deals or quotes. Write in a precise, engaging, magazine-quality editorial voice suitable for a premium intelligence publication. Output a SINGLE valid JSON object and nothing else (no markdown, no preamble, no code fences). Keys: weekOf (string); intro (a 3-4 sentence editorial overview summarising the week's key findings); weekOverWeek (a short string, 1-2 sentences, summarising the most important changes since the previous edition; empty string if no previous edition is provided); noc (array; item keys company, development, theme, signals, risk, watch); ioc (same item shape); movers (array up to 8 with keys company, individual, previous, current, date, why); featured (array of the 3-5 most interesting and important stories this week as short magazine write-ups; each item has keys headline, story which is 3-4 engaging sentences, source which is the article URL or outlet name, and image which is the IMG= URL for that story from the digest if present (else an empty string); ensure the biggest ADNOC developments feature prominently); bonus (object with keys title and body of 3 short paragraphs). ALWAYS include a row for EVERY one of these companies, even if quiet: NOC rows must cover ADNOC, Saudi Aramco, QatarEnergy and Kuwait Petroleum (KPC); IOC rows must cover Shell, BP, Chevron, ExxonMobil and TotalEnergies. If a company has no material news in the digest, still include its row with development 'No material developments this week.', theme 'Quiet week', signals 'Not specified', risk 'Low - no notable activity.' and watch 'Not specified.'. The news digest is labelled by company in square brackets; use those labels to attribute developments correctly. risk must begin with Low, Medium or High then a short rationale. For movers, use the LEADERSHIP/BOARD CHANGES DIGEST and include every appointment, resignation, promotion or board change; when a mover's name, previous role, new role or date is not stated, set that field to 'Not specified'. If a PREVIOUS EDITION SUMMARY is provided, make the brief week-over-week aware: populate weekOverWeek with the key changes since then and reflect momentum versus last edition in signals where relevant. Output ONLY the JSON object.\"},\n    {\"role\":\"user\",\"content\": {{ JSON.stringify('NEWS DIGEST for ' + ($json.date||'') + ' (' + ($json.count||0) + ' items):\\n' + ($json.articles||'') + '\\n\\nLEADERSHIP/BOARD CHANGES DIGEST (' + ($json.moversCount||0) + ' items):\\n' + ($json.moversDigest||'None retrieved.') + '\\n\\nPREVIOUS EDITION SUMMARY:\\n' + ($json.previous||'No previous edition available.')) }} }\n  ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "cover-prompt",
      "name": "Build Cover Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet md = '';\nif (j.message && j.message.content) { md = j.message.content; }\nelse if (j.content && j.content[0] && j.content[0].text) { md = j.content[0].text; }\nelse if (typeof j.markdown === 'string') { md = j.markdown; }\nmd = md || '';\nconst top = md.split(/\\n/).filter(function(l){ return /adnoc|energy|oil|gas|lng|masdar|taqa/i.test(l); }).slice(0,4).join('; ') || 'UAE and ADNOC energy sector developments';\nconst style = 'Premium editorial intelligence-report cover. Deep navy (#0A1A2F) background with refined gold (#C9A24B) accents. Abstract professional energy motifs. NO text, NO logos, NO faces.';\nreturn [{ json: { markdown: md || 'No data available for this period.', date: new Date().toISOString().slice(0,10), coverPrompt: style + ' Visual theme inspired by: ' + top } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "cover-image",
      "name": "Generate Cover (Image Provider)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL || 'https://api.openai.com/v1' }}/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.IMAGE_MODEL || 'gpt-image-1' }}\",\n  \"prompt\": {{ JSON.stringify($json.coverPrompt) }},\n  \"size\": \"{{ $env.IMAGE_SIZE || '1536x1024' }}\",\n  \"n\": 1\n}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Optional cover via Image Provider Abstraction. Dead-end side branch: failure (e.g. no API key) never affects the brief."
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "let raw = ($json && $json.markdown) || '';\nlet data = null;\ntry { data = JSON.parse(raw); } catch (e) {\n  try { var m = raw.match(/\\{[\\s\\S]*\\}/); if (m) { data = JSON.parse(m[0]); } } catch (e2) { data = null; }\n}\nconst date = ($json && $json.date) || new Date().toISOString().slice(0,10);\nconst fs = require('fs');\nfunction imgDataUri(base){\n  var tries = [['/config/branding/'+base+'.png','image/png'], ['/config/branding/'+base+'.jpg','image/jpeg'], ['/config/branding/'+base+'.jpeg','image/jpeg']];\n  for (var i=0;i<tries.length;i++){ try { var b = fs.readFileSync(tries[i][0]); return 'data:'+tries[i][1]+';base64,'+b.toString('base64'); } catch (e) {} }\n  return '';\n}\n// Build logo map from config/branding/logos/<key>.(png|jpg)\nvar logoMap = {};\ntry {\n  var files = fs.readdirSync('/config/branding/logos');\n  files.forEach(function(fn){\n    var mt = fn.match(/^(.+)\\.(png|jpe?g)$/i);\n    if (!mt) return;\n    var key = mt[1].toLowerCase();\n    var mime = /png$/i.test(fn) ? 'image/png' : 'image/jpeg';\n    try { logoMap[key] = 'data:'+mime+';base64,'+fs.readFileSync('/config/branding/logos/'+fn).toString('base64'); } catch (e) {}\n  });\n} catch (e) {}\nfunction logoFor(company){\n  var c = (company||'').toLowerCase().replace(/[^a-z0-9]/g,'');\n  var keys = Object.keys(logoMap);\n  for (var i=0;i<keys.length;i++){ if (c.indexOf(keys[i]) !== -1) return logoMap[keys[i]]; }\n  return '';\n}\nconst coverSrc = imgDataUri('cover');\nconst bannerSrc = imgDataUri('banner');\nconst avatarSrc = imgDataUri('jarvis-avatar');\nlet heroImg=''; try { var hb=$('Generate Cover (Image Provider)').first().json.data[0].b64_json; if(hb){ heroImg='<img src=\"data:image/png;base64,'+hb+'\" style=\"width:100%;display:block\"/>'; } } catch(e){ heroImg=''; }\nfunction ord(n){ var s=['th','st','nd','rd'], v=n%100; return n + (s[(v-20)%10] || s[v] || s[0]); }\nfunction prettyDate(d){ try { var p=(d||'').split('-'); var dt=new Date(Number(p[0]),Number(p[1])-1,Number(p[2])); var M=['January','February','March','April','May','June','July','August','September','October','November','December']; return M[dt.getMonth()]+' '+ord(dt.getDate())+' '+dt.getFullYear(); } catch(e){ return d; } }\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g, function(c){ return ({ '&':'&amp;', '<':'&lt;', '>':'&gt;' })[c]; }); }\nfunction riskColor(r){ r=(r||'').toString().toLowerCase(); if(r.indexOf('high')===0) return '#B02525'; if(r.indexOf('med')===0) return '#B8860B'; if(r.indexOf('low')===0) return '#1E8E5A'; return '#5A6472'; }\nfunction companyCell(company){\n  var l = logoFor(company);\n  var img = l ? ('<img src=\"'+l+'\" style=\"height:22px;width:auto;vertical-align:middle;margin-right:6px\"/>') : '';\n  return '<td style=\"padding:8px;font-weight:600;white-space:nowrap\">'+img+esc(company)+'</td>';\n}\nfunction devCards(rows){\n  if(!rows || !rows.length) return '<p style=\"color:#5A6472\">No data available for this period.</p>';\n  return rows.map(function(r){\n    var l = (typeof logoFor==='function') ? logoFor(r.company) : '';\n    var img = l ? ('<img src=\"'+l+'\" style=\"height:26px;width:auto;vertical-align:middle;margin-right:8px\"/>') : '';\n    return '<div style=\"border:1px solid #E2E6EC;border-left:4px solid #2E9BE6;border-radius:6px;padding:12px 14px;margin:12px 0;page-break-inside:avoid\">'\n      + '<div style=\"font-family:Georgia,serif;font-size:16px;color:#0A1A2F;font-weight:700;margin-bottom:6px\">'+img+esc(r.company)+'</div>'\n      + '<p style=\"margin:5px 0;font-size:14px;line-height:1.5\"><strong>Key Development:</strong> '+esc(r.development)+'</p>'\n      + '<p style=\"margin:5px 0;font-size:14px;line-height:1.5\"><strong>Strategic Theme:</strong> '+esc(r.theme)+'</p>'\n      + '<p style=\"margin:5px 0;font-size:14px;line-height:1.5\"><strong>What It Signals:</strong> '+esc(r.signals)+'</p>'\n      + '<p style=\"margin:5px 0;font-size:14px;line-height:1.5\"><strong>Market Impact / Risk:</strong> <span style=\"color:'+riskColor(r.risk)+';font-weight:600\">'+esc(r.risk)+'</span></p>'\n      + '<p style=\"margin:5px 0;font-size:14px;line-height:1.5\"><strong>Watch Point:</strong> '+esc(r.watch)+'</p>'\n      + '</div>';\n  }).join('');\n}\nfunction devTable(rows){\n  if(!rows || !rows.length) return '<p style=\"color:#5A6472\">No data available for this period.</p>';\n  var th = '<tr style=\"background:#0A1A2F;color:#FFFFFF\">' + ['Company','Key Development','Strategic Theme','What It Signals','Market Impact / Risk','Watch Point'].map(function(h){ return '<th style=\"padding:8px;text-align:left;font-size:12px\">'+h+'</th>'; }).join('') + '</tr>';\n  var trs = rows.map(function(r){ return '<tr style=\"border-bottom:1px solid #E2E6EC;vertical-align:top\">' +\n    companyCell(r.company) +\n    '<td style=\"padding:8px\">'+esc(r.development)+'</td>' +\n    '<td style=\"padding:8px\">'+esc(r.theme)+'</td>' +\n    '<td style=\"padding:8px\">'+esc(r.signals)+'</td>' +\n    '<td style=\"padding:8px;color:'+riskColor(r.risk)+';font-weight:600\">'+esc(r.risk)+'</td>' +\n    '<td style=\"padding:8px;font-style:italic\">'+esc(r.watch)+'</td></tr>'; }).join('');\n  return '<table style=\"border-collapse:collapse;width:100%;font-size:13px;margin:8px 0\">'+th+trs+'</table>';\n}\nfunction moversTable(rows){\n  if(!rows || !rows.length) return '<p style=\"color:#5A6472\">No notable leadership changes this period.</p>';\n  var th = '<tr style=\"background:#0A1A2F;color:#FFFFFF\">' + ['Company','Individual','Previous role','New role','Effective','Why it matters'].map(function(h){ return '<th style=\"padding:8px;text-align:left;font-size:12px\">'+h+'</th>'; }).join('') + '</tr>';\n  var trs = rows.map(function(r){ return '<tr style=\"border-bottom:1px solid #E2E6EC;vertical-align:top\">' +\n    companyCell(r.company) +\n    '<td style=\"padding:8px\">'+esc(r.individual)+'</td>' +\n    '<td style=\"padding:8px\">'+esc(r.previous)+'</td>' +\n    '<td style=\"padding:8px\">'+esc(r.current)+'</td>' +\n    '<td style=\"padding:8px\">'+esc(r.date)+'</td>' +\n    '<td style=\"padding:8px;font-style:italic\">'+esc(r.why)+'</td></tr>'; }).join('');\n  return '<table style=\"border-collapse:collapse;width:100%;font-size:13px;margin:8px 0\">'+th+trs+'</table>';\n}\nfunction h2(t){ return '<h2 style=\"color:#0A1A2F;border-left:4px solid #2E9BE6;padding-left:10px;font-family:Georgia,serif;font-size:18px;margin-top:28px;border-bottom:1px solid #E2E6EC;padding-bottom:6px\">'+t+'</h2>'; }\nfunction leadPara(t){ t=(t||'').toString(); if(!t) return ''; var f=esc(t.charAt(0)); var rest=esc(t.slice(1)); return '<p style=\"font-size:15.5px;line-height:1.7;color:#11151c\"><span style=\"float:left;font-family:Georgia,serif;font-size:48px;line-height:40px;padding:2px 10px 0 0;color:#2E9BE6;font-weight:700\">'+f+'</span>'+rest+'</p>'; }\nfunction features(rows){ if(!rows||!rows.length) return ''; return rows.map(function(s){ var src=(s.source||'').toString(); var im=(s.image||'').toString(); var imgTag=/^https?:\\/\\//.test(im)?('<img src=\"'+im+'\" style=\"width:100%;max-height:240px;object-fit:cover;border-radius:4px;margin:2px 0 8px\"/>'):''; var link=/^https?:\\/\\//.test(src)?('<a href=\"'+src+'\" style=\"color:#2E9BE6;text-decoration:none;font-size:13px\">Read the source &rsaquo;</a>'):(src?('<span style=\"color:#5A6472;font-size:13px\">Source: '+esc(src)+'</span>'):''); return '<div style=\"border-left:4px solid #2E9BE6;padding:4px 0 8px 14px;margin:16px 0;page-break-inside:avoid\">'+imgTag+'<div style=\"font-family:Georgia,serif;font-size:19px;font-weight:700;color:#0A1A2F;margin-bottom:5px\">'+esc(s.headline)+'</div><p style=\"font-size:14.5px;line-height:1.65;margin:4px 0\">'+esc(s.story)+'</p>'+link+'</div>'; }).join(''); }\nlet body;\nif (data) {\n  var bonus = data.bonus || {};\n  body = leadPara(data.intro) + (data.weekOverWeek ? ('<div style=\"background:#EAF4FC;border-left:4px solid #2E9BE6;padding:10px 12px;margin:12px 0;font-size:14px\"><strong>What changed since last edition:</strong> '+esc(data.weekOverWeek)+'</div>') : '') +\n    ((data.featured && data.featured.length) ? (h2('Featured Stories') + features(data.featured)) : '') + h2('This week — Middle East NOCs') + devCards(data.noc) +\n    h2('This week — Supermajor IOCs') + devCards(data.ioc) +\n    h2('Movers &amp; Shakers') + moversTable(data.movers) +\n    h2('Bonus Read' + (bonus.title ? (': ' + esc(bonus.title)) : '')) +\n    '<div style=\"font-size:14px;line-height:1.6\">'+esc(bonus.body||'').replace(/\\n/g,'<br/>')+'</div>';\n} else {\n  body = '<div style=\"padding:12px;background:#FDECEC;border:1px solid #B02525;color:#7a1a1a;border-radius:4px\">The analyst did not return structured data this run. Raw output below.</div><pre style=\"white-space:pre-wrap;font-family:inherit\">'+esc(raw)+'</pre>';\n}\nconst weekOf = (data && data.weekOf) ? data.weekOf : date;\nconst frontCover = coverSrc ? ('<div style=\"position:relative;height:100vh;page-break-after:always;overflow:hidden\">' + '<img src=\"'+coverSrc+'\" style=\"width:100%;height:100%;object-fit:cover;display:block\"/>' + '<div style=\"position:absolute;top:26px;right:30px;color:#FFFFFF;font-family:Georgia,serif;font-size:22px;font-weight:700;text-shadow:0 1px 5px rgba(0,0,0,0.7)\">'+esc(prettyDate(date))+'</div>' + '</div>') : '';\nconst masthead = bannerSrc ? ('<img src=\"'+bannerSrc+'\" style=\"width:100%;display:block\"/>') : ('<div style=\"background:#0A1A2F;color:#FFFFFF;padding:18px;font-family:Georgia,serif;font-size:20px\">JARVIS INTELLIGENCE — Weekly Energy Intelligence Brief</div>');\nconst signoff = avatarSrc ? ('<div style=\"text-align:center;padding:20px;border-top:3px solid #2E9BE6;margin-top:16px\"><img src=\"'+avatarSrc+'\" style=\"width:104px;height:104px;border-radius:50%;border:2px solid #2E9BE6\"/><div style=\"font-family:Georgia,serif;color:#0A1A2F;margin-top:8px;font-size:14px\">Jarvis — AI News Reporter</div></div>') : '';\nconst html = '<!doctype html><meta charset=\"utf-8\"><title>Energy Intelligence Brief — '+esc(weekOf)+'</title>' +\n  '<div style=\"font-family:-apple-system,Segoe UI,Arial,sans-serif;color:#11151c;max-width:980px;margin:0 auto\">' +\n  frontCover + masthead +\n  '<div style=\"background:#05101F;color:#cdd5e0;padding:6px 18px;font-size:13px\">'+esc(weekOf)+' &nbsp;·&nbsp; Confidential</div>' + heroImg +\n  '<div style=\"padding:28px\">'+body+'</div>' +\n  signoff + '</div>';\nreturn [{ json: { date: date, html: html, markdown: raw } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "persist",
      "name": "Write Report + Archive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst date = $json.date;\nconst html = $json.html;\nconst md = $json.markdown || '';\nconst dirs = ['/reports/energy-intelligence', '/reports/archive/energy-intelligence'];\nfor (var k = 0; k < dirs.length; k++) {\n  try { fs.mkdirSync(dirs[k], { recursive: true }); fs.writeFileSync(dirs[k] + '/energy-intelligence-' + date + '.html', html); } catch (e) {}\n}\ntry { fs.writeFileSync('/reports/archive/energy-intelligence/energy-intelligence-' + date + '.json', md); } catch (e) {}\ntry { fs.writeFileSync('/logs/last-run-success.txt', new Date().toISOString() + ' energy-intelligence'); } catch (e) {}\nreturn [{ json: $json }];"
      },
      "onError": "continueErrorOutput",
      "notes": "Writes via fs (NODE_FUNCTION_ALLOW_BUILTIN=fs) to avoid the Read/Write File node's binary requirement."
    },
    {
      "id": "email",
      "name": "Email Brief (provider-abstracted)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2600,
        420
      ],
      "parameters": {
        "fromEmail": "={{ $env.EMAIL_FROM }}",
        "toEmail": "={{ $env.EMAIL_TO }}",
        "subject": "=Energy Intelligence Brief — {{ $('Render HTML').first().json.date }}",
        "html": "={{ $('Render HTML').first().json.html }}",
        "options": {
          "attachments": "data"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Email provider selected via EMAIL_PROVIDER; fails gracefully if SMTP not configured."
    },
    {
      "id": "reduced",
      "name": "Reduced Coverage Notice",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        460
      ],
      "parameters": {},
      "notes": "Failure path: emit a reduced-coverage notice + log instead of producing nothing."
    },
    {
      "id": "use-claude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1090,
        240
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "analyst-claude",
      "name": "AI Analyst (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        140
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-sonnet-4-6' }}\",\n  \"max_tokens\": 6000,\n  \"system\": \"You are a senior energy-sector intelligence analyst at a top consultancy, producing a weekly regional energy summary for executives covering Middle East national oil companies (NOCs) and supermajor international oil companies (IOCs). Use ONLY facts found in the provided digests; never invent companies, names, numbers, deals or quotes. Write in a precise, engaging, magazine-quality editorial voice suitable for a premium intelligence publication. Output a SINGLE valid JSON object and nothing else (no markdown, no preamble, no code fences). Keys: weekOf (string); intro (a 3-4 sentence editorial overview summarising the week's key findings); weekOverWeek (a short string, 1-2 sentences, summarising the most important changes since the previous edition; empty string if no previous edition is provided); noc (array; item keys company, development, theme, signals, risk, watch); ioc (same item shape); movers (array up to 8 with keys company, individual, previous, current, date, why); featured (array of the 3-5 most interesting and important stories this week as short magazine write-ups; each item has keys headline, story which is 3-4 engaging sentences, source which is the article URL or outlet name, and image which is the IMG= URL for that story from the digest if present (else an empty string); ensure the biggest ADNOC developments feature prominently); bonus (object with keys title and body of 3 short paragraphs). ALWAYS include a row for EVERY one of these companies, even if quiet: NOC rows must cover ADNOC, Saudi Aramco, QatarEnergy and Kuwait Petroleum (KPC); IOC rows must cover Shell, BP, Chevron, ExxonMobil and TotalEnergies. If a company has no material news in the digest, still include its row with development 'No material developments this week.', theme 'Quiet week', signals 'Not specified', risk 'Low - no notable activity.' and watch 'Not specified.'. The news digest is labelled by company in square brackets; use those labels to attribute developments correctly. risk must begin with Low, Medium or High then a short rationale. For movers, use the LEADERSHIP/BOARD CHANGES DIGEST and include every appointment, resignation, promotion or board change; when a mover's name, previous role, new role or date is not stated, set that field to 'Not specified'. If a PREVIOUS EDITION SUMMARY is provided, make the brief week-over-week aware: populate weekOverWeek with the key changes since then and reflect momentum versus last edition in signals where relevant. Output ONLY the JSON object.\",\n  \"messages\": [\n    {\"role\":\"user\",\"content\": {{ JSON.stringify('NEWS DIGEST for ' + ($json.date||'') + ' (' + ($json.count||0) + ' items):\\n' + ($json.articles||'') + '\\n\\nLEADERSHIP/BOARD CHANGES DIGEST (' + ($json.moversCount||0) + ' items):\\n' + ($json.moversDigest||'None retrieved.') + '\\n\\nPREVIOUS EDITION SUMMARY:\\n' + ($json.previous||'No previous edition available.')) }} }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Anthropic Claude path (AI_PROVIDER=claude). Higher-quality analysis. Requires ANTHROPIC_API_KEY."
    },
    {
      "id": "split-movers",
      "name": "Load Movers Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        460
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nlet lines = [];\ntry { lines = fs.readFileSync('/config/energy-movers-sources.txt','utf8').split(/\\r?\\n/); } catch (e) {}\nconst urls = lines.map(function(l){ return l.trim(); }).filter(function(l){ return l && l.charAt(0) !== '#'; });\nif (!urls.length) { return [{ json: { url: '' } }]; }\nreturn urls.map(function(u){ return { json: { url: u } }; });"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "fetch-movers",
      "name": "Fetch Movers",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        840,
        460
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "agg-movers",
      "name": "Aggregate Movers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        460
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst arts = items.map(function(i){ return i.json; }).filter(function(a){ return a && (a.title || a.contentSnippet || a.content); });\nconst lines = arts.slice(0,18).map(function(a){\n  var t = (a.title||'').toString();\n  var s = (a.contentSnippet||a.content||'').toString().replace(/\\s+/g,' ').slice(0,220);\n  var u = (a.link||a.url||'').toString();\n  return '- ' + t + ' — ' + s + ' (' + u + ')';\n});\nconst text = lines.length ? lines.join('\\n') : 'No leadership-change articles retrieved.';\nreturn [{ json: { moversDigest: text, moversCount: arts.length } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "merge-sources",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1090,
        360
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      }
    },
    {
      "id": "html-to-file",
      "name": "Build PDF Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const date = $json.date;\nconst html = $json.html;\nconst footer = '<!doctype html><html><head><meta charset=\"utf-8\"></head><body style=\"margin:0;padding:0\">'\n + '<div style=\"font-size:9px;color:#5A6472;font-family:Arial,Helvetica,sans-serif;width:100%;box-sizing:border-box;padding:0 14mm;display:flex;justify-content:space-between;align-items:center\">'\n + '<span>JARVIS INTELLIGENCE &nbsp;&middot;&nbsp; AI-generated &mdash; always verify findings</span>'\n + '<span>Page <span class=\"pageNumber\"></span> of <span class=\"totalPages\"></span></span>'\n + '</div></body></html>';\nreturn [{ json: { date: date },\n  binary: {\n    data:   { data: Buffer.from(html,'utf8').toString('base64'),   mimeType: 'text/html', fileName: 'index.html' },\n    footer: { data: Buffer.from(footer,'utf8').toString('base64'), mimeType: 'text/html', fileName: 'footer.html' }\n  } }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "gotenberg",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "footer"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0.6"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "HTML -> PDF via Gotenberg (headless Chromium). Failure path: PDF skipped; HTML archive already written."
    },
    {
      "id": "write-pdf",
      "name": "Write PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2380,
        420
      ],
      "parameters": {
        "operation": "write",
        "fileName": "=/reports/energy-intelligence/energy-intelligence-{{ $('Render HTML').first().json.date }}.pdf",
        "dataPropertyName": "data",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "notes": "Saves the branded PDF (binary). Permissions on reports/ allow the container uid to write."
    },
    {
      "id": "archive-pdf",
      "name": "Archive PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2380,
        560
      ],
      "parameters": {
        "operation": "write",
        "fileName": "=/reports/archive/energy-intelligence/energy-intelligence-{{ $('Render HTML').first().json.date }}.pdf",
        "dataPropertyName": "data",
        "options": {}
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enabled?": {
      "main": [
        [
          {
            "node": "Load & Split Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Movers Sources",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Load & Split Sources": {
      "main": [
        [
          {
            "node": "Fetch Energy Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Energy Sources": {
      "main": [
        [
          {
            "node": "Aggregate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Articles": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Cover (Image Provider)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover (Image Provider)": {
      "main": [
        [],
        []
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Write Report + Archive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build PDF Inputs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Report + Archive": {
      "main": [
        []
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI Analyst (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Analyst (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyst (Claude)": {
      "main": [
        [
          {
            "node": "Build Cover Image Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyst (Ollama)": {
      "main": [
        [
          {
            "node": "Build Cover Image Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Movers Sources": {
      "main": [
        [
          {
            "node": "Fetch Movers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reduced Coverage Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Movers": {
      "main": [
        [
          {
            "node": "Aggregate Movers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Movers": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write PDF",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Write PDF": {
      "main": [
        [
          {
            "node": "Archive PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive PDF": {
      "main": [
        [
          {
            "node": "Email Brief (provider-abstracted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Inputs": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}