workflows/awareness/campaign-calendar.json
{
  "id": "jarvisAwCal0001",
  "name": "Jarvis · Awareness — Campaign Calendar",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand 12-month security-awareness CAMPAIGN CALENDAR. Trigger via Telegram (/calendar [year]) or manually (form: year, focus/region, audience, layout). AI plans monthly themes, focus, channels, key dates and activity ideas; recognised security observances (config/awareness/observances.json — e.g. Anti-Ransomware Day 12 May, Data Privacy Day 28 Jan, Cybersecurity Awareness Month) are merged in with correct dates. Render builds a DESIGNED annual planner PDF with a consistent, configurable theme (BRAND_PRIMARY/BRAND_ACCENT/BRAND_GOLD) — configurable layout: \"Year on a page\" (A4 landscape, fixed-height cells so it always fits one page) or \"Month per page\" (A4 portrait, cover + a real day-grid per month) — plus an .ics feed (month themes + observances) written to /reports/awareness/calendar.",
    "envVars": [
      "AI_PROVIDER",
      "CLIENT_NAME",
      "GOTENBERG_URL",
      "BRAND_PRIMARY",
      "BRAND_ACCENT",
      "BRAND_GOLD"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Generate Awareness Campaign Calendar",
        "formDescription": "Choose a year and optional focus, then submit. Produces a 12-month plan (PDF) and a calendar feed (.ics).",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Year",
              "fieldType": "number",
              "requiredField": false,
              "placeholder": "2027"
            },
            {
              "fieldLabel": "Focus / region",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Optional — e.g. finance team, GCC"
            },
            {
              "fieldLabel": "Audience",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "All staff"
                  },
                  {
                    "option": "Finance"
                  },
                  {
                    "option": "Executives"
                  },
                  {
                    "option": "IT & Developers"
                  },
                  {
                    "option": "New joiners"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-calendar-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nconst now = new Date();\nlet yr = parseInt(pick(i['Year'], i.year), 10); if(isNaN(yr)) yr = now.getFullYear();\nlet focus = pick(i['Focus / region'], i['Focus'], i.focus);\nconst txt = pick(i.text).replace(/^\\/calendar\\b/i,'').trim();\nif(!focus && txt && !/^\\d{4}$/.test(txt)) focus = txt;\nconst audience = pick(i['Audience'], i.audience) || 'All staff';\n// Layout: a year-on-a-page planner (default) or a month-per-page calendar.\nlet layout = pick(i['Layout'], i.layout).toLowerCase();\nlayout = /month|per.?page|wall/.test(layout) ? 'month' : 'year';\n\n// --- Curated observances → correct dates per month (Configuration over hard\n// coding): prefer config/awareness/observances.json, else a built-in default.\nconst OBS_DEFAULT = [\n  { name:'Data Privacy Day', type:'fixed', month:1, day:28 },\n  { name:'Safer Internet Day', type:'nth', month:2, weekday:2, n:2 },\n  { name:'World Backup Day', type:'fixed', month:3, day:31 },\n  { name:'Identity Management Day', type:'nth', month:4, weekday:2, n:2 },\n  { name:'World Password Day', type:'nth', month:5, weekday:4, n:1 },\n  { name:'Anti-Ransomware Day', type:'fixed', month:5, day:12 },\n  { name:'Internet Safety Month', type:'month', month:6 },\n  { name:'Cybersecurity Awareness Month', type:'month', month:10 },\n  { name:'Computer Security Day', type:'fixed', month:11, day:30 }\n];\nlet obsList = OBS_DEFAULT;\ntry { const p = require('fs').readFileSync('/config/awareness/observances.json','utf8'); const j = JSON.parse(p); if (j && Array.isArray(j.observances) && j.observances.length) obsList = j.observances; } catch (e) {}\nconst MAB = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst MFULL = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nfunction pad(n){ return (n<10?'0':'')+n; }\nfunction nthWeekday(y, m, wd, n){ var first=new Date(y, m, 1).getDay(); var offset=(wd-first+7)%7; var day=1+offset+(n-1)*7; var dim=new Date(y, m+1, 0).getDate(); return day<=dim?day:null; }\nconst obsByMonth = []; for (var z=0; z<12; z++) obsByMonth.push([]);\nconst obsEvents = [];\nobsList.forEach(function(o){\n  if (!o || !o.name) return; var mi = (parseInt(o.month,10)||1)-1; if (mi<0||mi>11) return;\n  if (o.type==='fixed' && o.day){ obsByMonth[mi].push(o.name+' — '+o.day+' '+MAB[mi]); obsEvents.push({ ymd:String(yr)+pad(mi+1)+pad(o.day), name:o.name }); }\n  else if (o.type==='nth' && o.weekday!=null && o.n){ var dd=nthWeekday(yr, mi, parseInt(o.weekday,10), parseInt(o.n,10)); if (dd){ obsByMonth[mi].push(o.name+' — '+dd+' '+MAB[mi]); obsEvents.push({ ymd:String(yr)+pad(mi+1)+pad(dd), name:o.name }); } }\n  else if (o.type==='month'){ obsByMonth[mi].push(o.name+' — '+MFULL[mi]); }\n});\nconst obsText = obsByMonth.map(function(a,k){ return a.length?(MAB[k]+': '+a.join('; ')):''; }).filter(Boolean).join('  |  ');\n\nreturn [{ json: { year:yr, focus:focus, audience:audience, layout:layout, obsByMonth:obsByMonth, obsEvents:obsEvents, obsText:obsText, topic:('Awareness campaign '+yr), date:now.toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString(), outDir:'calendar', filePrefix:'calendar', fileSafe:('campaign-'+yr) } }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-opus-4-8' }}\",\n  \"max_tokens\": 4000,\n  \"system\": \"You are a security-awareness programme manager. Design a 12-month awareness campaign calendar for the given year and audience. Produce a SINGLE valid JSON object. Keys: year; months (EXACTLY 12 items in calendar order, each {month (full month name), theme (short campaign theme, max 5 words), focus (one sentence on the behaviour/risk targeted), channels (array of 2-4 short delivery channels e.g. poster, email, e-learning, tabletop), keyDates (array of 1-3 short strings; tie to relevant awareness events/observances where sensible), ideas (array of 2-3 short activity ideas)}); takeaways (3-4 short 'lessons learned' one-liners summarising the campaign priorities for the year). Vary the themes across the year to cover the major human-risk areas (phishing, passwords/MFA, social engineering, data handling, remote/travel, ransomware, insider risk, secure AI use, incident reporting). Plain, practical language. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Design a 12-month security-awareness campaign calendar for the year ' + ($json.year||'') + '. Audience: ' + ($json.audience||'All staff') + ($json.focus?('. Focus/region: '+$json.focus):'') + '.' + ($json.obsText?(' Anchor the relevant months around these recognised observances and use their EXACT dates (do not invent other dates): '+$json.obsText):'')) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.5, \"num_predict\": 3500 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are a security-awareness programme manager. Design a 12-month awareness campaign calendar for the given year and audience. Produce a SINGLE valid JSON object. Keys: year; months (EXACTLY 12 items in calendar order, each {month (full month name), theme (short campaign theme, max 5 words), focus (one sentence on the behaviour/risk targeted), channels (array of 2-4 short delivery channels e.g. poster, email, e-learning, tabletop), keyDates (array of 1-3 short strings; tie to relevant awareness events/observances where sensible), ideas (array of 2-3 short activity ideas)}); takeaways (3-4 short 'lessons learned' one-liners summarising the campaign priorities for the year). Vary the themes across the year to cover the major human-risk areas (phishing, passwords/MFA, social engineering, data handling, remote/travel, ransomware, insider risk, secure AI use, incident reporting). Plain, practical language. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Design a 12-month security-awareness campaign calendar for the year ' + ($json.year||'') + '. Audience: ' + ($json.audience||'All staff') + ($json.focus?('. Focus/region: '+$json.focus):'') + '.' + ($json.obsText?(' Anchor the relevant months around these recognised observances and use their EXACT dates (do not invent other dates): '+$json.obsText):'')) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json || {};\nreturn [{ json: Object.assign({}, r, { data: data }) }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Render the annual awareness calendar as a designed PDF planner (plus an .ics\n// feed). Two configurable layouts:\n//   year  — a \"year on a page\" planner (A4 landscape, 12 month cards) — deterministic\n//           fixed-height cells so it ALWAYS fits exactly one page in any engine.\n//   month — a month-per-page wall calendar (A4 portrait, cover + 12 day-grids).\n// Consistent, configurable theme via BRAND_ACCENT (+ BRAND_PRIMARY) so it can be\n// shared across teams with one look. Recognised observances (correct dates) are\n// merged in from the Resolve step.\nvar __jfs=null; try{__jfs=require('fs');}catch(e){}\nfunction jAvatarUri(){ if(!__jfs) return ''; var t=[['/config/branding/jarvis-avatar.png','image/png'],['/config/branding/jarvis-avatar.jpg','image/jpeg'],['/config/branding/jarvis-avatar.jpeg','image/jpeg'],['/config/branding/jarvis-avatar.svg','image/svg+xml']]; for(var i=0;i<t.length;i++){ try{ return 'data:'+t[i][1]+';base64,'+__jfs.readFileSync(t[i][0]).toString('base64'); }catch(e){} } return ''; }\nvar JKIT_SVG='<svg class=\"jav\" viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\"><defs><linearGradient id=\"jkitg\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\"><stop offset=\"0\" stop-color=\"#0E7C86\"/><stop offset=\"1\" stop-color=\"#0A1A2F\"/></linearGradient></defs><circle cx=\"32\" cy=\"32\" r=\"32\" fill=\"url(#jkitg)\"/><rect x=\"19\" y=\"21\" width=\"26\" height=\"22\" rx=\"7\" fill=\"#fff\"/><circle cx=\"27\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><circle cx=\"37\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><rect x=\"27\" y=\"38\" width=\"10\" height=\"2.4\" rx=\"1.2\" fill=\"#0E7C86\"/><rect x=\"30.7\" y=\"14\" width=\"2.6\" height=\"6\" rx=\"1.3\" fill=\"#9fe4d8\"/><circle cx=\"32\" cy=\"13\" r=\"2.4\" fill=\"#E7C76A\"/><path d=\"M23 47h18l-3 4.5H26z\" fill=\"#9fe4d8\"/></svg>';\nvar AV = jAvatarUri(); var AVATAR = AV ? ('<img src=\"'+AV+'\"/>') : JKIT_SVG;\n\nconst r = $json || {};\nconst d = r.data || {};\nconst year = r.year || new Date().getFullYear();\nconst client = (r.client || '').toString();\nconst brand = client ? client : 'Security Awareness';\nconst layout = (r.layout === 'month') ? 'month' : 'year';\n// Consistent, configurable theme. PRIMARY = deep brand colour; ACCENT = highlight.\nfunction hex(v, dflt){ v=String(v||'').trim(); return /^#[0-9a-fA-F]{6}$/.test(v) ? v : dflt; }\nconst PRIMARY = hex($env.BRAND_PRIMARY, '#0A1A2F');\nconst ACCENT  = hex($env.BRAND_ACCENT, '#0E7C86');\nconst GOLD    = hex($env.BRAND_GOLD, '#E7C76A');\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nfunction arr(x){ return Array.isArray(x)?x:(x==null||x===''?[]:[x]); }\nconst MON = ['january','february','march','april','may','june','july','august','september','october','november','december'];\nconst MN = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nfunction midx(name){ var n=String(name||'').toLowerCase().slice(0,3); for(var k=0;k<12;k++){ if(MON[k].slice(0,3)===n) return k; } return -1; }\n\n// Order the AI's months into calendar slots (fall back to positional, fill gaps).\nlet mraw = arr(d.months);\nconst ordered = new Array(12).fill(null);\nmraw.slice(0,12).forEach(function(m,pos){ var mi=midx(m && m.month); if(mi<0) mi=pos; if(mi>=0 && mi<12 && !ordered[mi]) ordered[mi]=m; });\nfor(var g=0;g<12;g++){ if(!ordered[g]) ordered[g]={month:MN[g],theme:'',focus:'',channels:[],keyDates:[],ideas:[]}; }\n\n// Merge recognised observances (correct dates, from Resolve) into each month's key\n// dates — observances first, de-duplicated against any AI-supplied dates.\nconst resolveJson = (function(){ try { return $('Resolve Input').first().json || {}; } catch(e){ return {}; } })();\nconst obsByMonth = resolveJson.obsByMonth || [];\nfor(var q=0;q<12;q++){\n  var obs = arr(obsByMonth[q]); var ai = arr(ordered[q].keyDates);\n  var seen = {}; var merged = [];\n  obs.concat(ai).forEach(function(s){ var nm=String(s).split(/[—-]/)[0].toLowerCase().replace(/[^a-z]/g,''); if(nm && !seen[nm]){ seen[nm]=1; merged.push(s); } });\n  ordered[q].keyDates = merged;\n}\n\nfunction chips(list, max){ var a=arr(list); if(!a.length) return ''; return '<div class=\"chips\">'+a.slice(0,max||4).map(function(c){return '<span class=\"chip\">'+esc(c)+'</span>';}).join('')+'</div>'; }\nfunction bullets(list){ var a=arr(list); if(!a.length) return ''; return '<ul>'+a.slice(0,5).map(function(x){return '<li>'+esc(x)+'</li>';}).join('')+'</ul>'; }\nfunction dayGrid(y, mi){\n  var first=new Date(y, mi, 1).getDay(); var start=(first+6)%7; var days=new Date(y, mi+1, 0).getDate();\n  var weeks=Math.ceil((start+days)/7);\n  var head='<tr>'+['M','T','W','T','F','S','S'].map(function(dn,i){return '<th'+(i>=5?' class=\"we\"':'')+'>'+dn+'</th>';}).join('')+'</tr>';\n  var bodyR='';\n  for(var w=0; w<weeks; w++){ var tds='';\n    for(var dd=0; dd<7; dd++){ var day=w*7+dd-start+1; var we=dd>=5?' we':'';\n      tds += (day<1||day>days) ? '<td class=\"empty'+we+'\"></td>' : '<td class=\"day'+we+'\"><span>'+day+'</span></td>';\n    }\n    bodyR+='<tr>'+tds+'</tr>';\n  }\n  return '<table class=\"cal\"><thead>'+head+'</thead><tbody>'+bodyR+'</tbody></table>';\n}\n\nconst sub = (r.focus ? ('Focus: '+esc(r.focus)+' &middot; ') : '') + 'Audience: '+esc(r.audience||'All staff');\nconst takeaways = arr(d.takeaways).length ? arr(d.takeaways) : arr(d.priorities);\n\nlet html = '';\nif (layout === 'year') {\n  // ---------- YEAR ON A PAGE (A4 landscape) — fixed heights => exactly one page ----------\n  const CSS = \"@page{size:A4 landscape;margin:7mm} *{box-sizing:border-box} html,body{margin:0;height:100%} body{font-family:-apple-system,'Segoe UI',Arial,sans-serif;color:#16202b}\"\n    +\".sheet{height:195mm;display:flex;flex-direction:column}\"\n    +\".top{flex:0 0 auto;display:flex;align-items:center;justify-content:space-between;background:linear-gradient(120deg,\"+PRIMARY+\",\"+ACCENT+\");color:#fff;border-radius:11px;padding:9px 16px}\"\n    +\".top .k{font-size:9pt;letter-spacing:4px;text-transform:uppercase;color:\"+GOLD+\";font-weight:800}\"\n    +\".top h1{margin:2px 0 0;font-size:20pt;font-weight:800}.top .s{font-size:9pt;color:#dbe9ee;margin-top:2px}\"\n    +\".top .yr{display:flex;align-items:center;gap:11px}.top .yr .y{font-family:Georgia,serif;font-size:28pt;font-weight:700;color:#fff}.top .yr img,.top .yr .jav{width:42px;height:42px;border-radius:50%;border:2px solid rgba(255,255,255,.6)}\"\n    +\".pri{flex:0 0 auto;display:flex;gap:8px;align-items:center;height:7mm;overflow:hidden;margin:5px 2px 0;font-size:8pt;color:#46505c;white-space:nowrap}.pri b{color:\"+PRIMARY+\";text-transform:uppercase;letter-spacing:1px;font-size:7.5pt;flex:0 0 auto}\"\n    +\".grid{flex:1 1 auto;display:grid;grid-template-columns:repeat(4,1fr);grid-template-rows:repeat(3,1fr);gap:5px;margin-top:5px;min-height:0}\"\n    +\".mc{border:1px solid #E2E6EC;border-radius:9px;overflow:hidden;background:#fff;display:flex;flex-direction:column;min-height:0}\"\n    +\".mc .mh{flex:0 0 auto;padding:5px 11px;color:#fff;background:\"+ACCENT+\";display:flex;align-items:baseline;justify-content:space-between;gap:6px}\"\n    +\".mc .mh .mn{font-size:12pt;font-weight:800;letter-spacing:.3px}.mc .mh .mt{font-size:8pt;font-weight:700;opacity:.95;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:62%}\"\n    +\".mc .mb{flex:1 1 auto;padding:7px 11px;font-size:8pt;color:#46505c;line-height:1.32;overflow:hidden}\"\n    +\".mc .fc{color:#16202b;font-weight:600;margin:0 0 5px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;max-height:22px}\"\n    +\".chips{display:flex;flex-wrap:wrap;gap:4px;margin:5px 0;max-height:13px;overflow:hidden}.chip{background:#EaF4F3;color:\"+ACCENT+\";border:1px solid #cfe7e4;border-radius:10px;padding:1px 8px;font-size:7pt;font-weight:700;white-space:nowrap}\"\n    +\".kd{margin-top:4px;color:#7a5a10;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;max-height:22px}.kd b{color:#9a6b00}\"\n    +\".foot{flex:0 0 auto;border-top:1px solid #E2E6EC;padding-top:5px;margin-top:5px;color:#8a98a4;font-size:7.5pt;display:flex;justify-content:space-between}\";\n  var cards = ordered.map(function(m, i){\n    var kd = arr(m.keyDates).slice(0,3);\n    return '<div class=\"mc\"><div class=\"mh\"><span class=\"mn\">'+MN[i]+'</span>'+(m.theme?'<span class=\"mt\">'+esc(m.theme)+'</span>':'')+'</div>'\n      +'<div class=\"mb\">'+(m.focus?'<div class=\"fc\">'+esc(m.focus)+'</div>':'')\n      + chips(m.channels, 3)\n      + (kd.length?('<div class=\"kd\"><b>Dates:</b> '+kd.map(function(x){return esc(x);}).join(' · ')+'</div>'):'')\n      +'</div></div>';\n  }).join('');\n  var pri = takeaways.length ? ('<div class=\"pri\"><b>Priorities</b><span>'+takeaways.slice(0,3).map(function(t){return esc(t);}).join('  ·  ')+'</span></div>') : '';\n  html = '<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body><div class=\"sheet\">'\n    +'<div class=\"top\"><div><div class=\"k\">Security Awareness Calendar</div><h1>'+esc(brand)+'</h1><div class=\"s\">'+sub+'</div></div>'\n    +'<div class=\"yr\">'+AVATAR+'<span class=\"y\">'+year+'</span></div></div>'\n    + pri\n    +'<div class=\"grid\">'+cards+'</div>'\n    +'<div class=\"foot\"><span>'+esc(brand)+' · AI-generated — review &amp; adapt before scheduling</span><span>Jarvis · '+year+'</span></div>'\n    +'</div></body></html>';\n} else {\n  // ---------- MONTH PER PAGE (A4 portrait): cover + 12 day-grids ----------\n  const CSS = \"@page{size:A4 portrait;margin:0} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,'Segoe UI',Arial,sans-serif;color:#16202b}\"\n    +\".cover{height:297mm;background:radial-gradient(120% 80% at 80% 0%,\"+ACCENT+\"33 0,\"+PRIMARY+\" 55%),linear-gradient(160deg,\"+PRIMARY+\",\"+ACCENT+\" 165%);color:#fff;padding:28mm 24mm;display:flex;flex-direction:column;justify-content:space-between;break-after:page}\"\n    +\".cover .k{font-size:12pt;letter-spacing:6px;text-transform:uppercase;color:\"+GOLD+\";font-weight:800}\"\n    +\".cover h1{font-size:46pt;line-height:1.03;margin:10px 0 0;font-weight:800}.cover .y{font-family:Georgia,serif;font-size:64pt;font-weight:700;margin-top:6px}\"\n    +\".cover .s{font-size:13pt;color:#cfe0e6;margin-top:10px}\"\n    +\".cover .toc{margin-top:14mm;column-count:2;column-gap:14mm}.cover .toc div{break-inside:avoid;padding:5px 0;border-top:1px solid rgba(255,255,255,.18);font-size:10.5pt;color:#eaf2f5}.cover .toc b{color:\"+GOLD+\"}\"\n    +\".cover .by{display:flex;align-items:center;gap:12px}.cover .by img,.cover .by .jav{width:54px;height:54px;border-radius:50%;border:2px solid rgba(255,255,255,.6)}.cover .by .nm{font-family:Georgia,serif;font-size:13pt;font-weight:700}.cover .by .rl{font-size:8.5pt;letter-spacing:2px;text-transform:uppercase;color:#cfe0e6;font-weight:800}\"\n    +\".mp{height:297mm;padding:16mm 18mm;display:flex;flex-direction:column;break-before:page}\"\n    +\".mp .mh{color:#fff;border-radius:12px;padding:14px 20px;display:flex;align-items:baseline;justify-content:space-between;background:linear-gradient(120deg,\"+ACCENT+\",\"+PRIMARY+\")}\"\n    +\".mp .mh .mn{font-size:26pt;font-weight:800}.mp .mh .mt{font-size:13pt;font-weight:700;opacity:.95;max-width:60%;text-align:right}\"\n    +\".mp .row{display:flex;gap:16px;margin-top:14px;flex:1}\"\n    +\"table.cal{border-collapse:collapse;width:118mm;table-layout:fixed}\"\n    +\"table.cal th{font-size:9pt;color:\"+PRIMARY+\";padding:6px 0;text-transform:uppercase;letter-spacing:1px}table.cal th.we{color:\"+ACCENT+\"}\"\n    +\"table.cal td{border:1px solid #E2E6EC;height:15mm;vertical-align:top}table.cal td.empty{background:#fafbfc;border-color:#eef1f5}table.cal td.we{background:#f5f9f9}table.cal td span{display:block;padding:4px 6px;font-size:10pt;color:#46505c;font-weight:600}\"\n    +\".info{flex:1}.info h3{font-size:9pt;letter-spacing:2px;text-transform:uppercase;color:\"+ACCENT+\";font-weight:800;margin:0 0 5px}.info .fc{font-size:11.5pt;color:#16202b;line-height:1.45;margin:0 0 12px}\"\n    +\".chips{display:flex;flex-wrap:wrap;gap:6px;margin:0 0 12px}.chip{background:#EaF4F3;color:\"+ACCENT+\";border:1px solid #cfe7e4;border-radius:13px;padding:3px 11px;font-size:9pt;font-weight:700}\"\n    +\".info ul{margin:4px 0 12px;padding-left:18px}.info li{font-size:10.5pt;color:#46505c;margin:4px 0;line-height:1.4}\"\n    +\".sign{display:flex;align-items:center;gap:11px;margin-top:auto;padding-top:12px;border-top:2px solid \"+ACCENT+\"}.sign img,.sign .jav{width:42px;height:42px;border-radius:50%;border:2px solid \"+ACCENT+\"}.sign .nm{font-family:Georgia,serif;font-size:13pt;color:\"+PRIMARY+\";font-weight:700}.sign .rl{font-size:8pt;letter-spacing:2px;text-transform:uppercase;color:\"+ACCENT+\";font-weight:800}.sign .pg{margin-left:auto;color:#8a98a4;font-size:9pt}\";\n  var toc = ordered.map(function(m,i){ return '<div><b>'+MN[i].slice(0,3)+'</b> &middot; '+esc(m.theme||'Awareness')+'</div>'; }).join('');\n  var cover = '<section class=\"cover\"><div><div class=\"k\">Security Awareness Calendar</div><h1>'+esc(brand)+'</h1><div class=\"y\">'+year+'</div><div class=\"s\">'+sub+'</div>'\n    +'<div class=\"toc\">'+toc+'</div></div>'\n    +'<div class=\"by\">'+AVATAR+'<div><div class=\"nm\">Jarvis</div><div class=\"rl\">Your AI Awareness Assistant</div></div></div></section>';\n  var pages = ordered.map(function(m,i){\n    return '<section class=\"mp\"><div class=\"mh\"><span class=\"mn\">'+MN[i]+' '+year+'</span>'+(m.theme?'<span class=\"mt\">'+esc(m.theme)+'</span>':'')+'</div>'\n      +'<div class=\"row\"><div>'+dayGrid(year, i)+'</div>'\n      +'<div class=\"info\">'+(m.focus?'<h3>Focus</h3><div class=\"fc\">'+esc(m.focus)+'</div>':'')\n      + (arr(m.channels).length?'<h3>Channels</h3>'+chips(m.channels,6):'')\n      + (arr(m.keyDates).length?'<h3>Key dates</h3>'+bullets(m.keyDates):'')\n      + (arr(m.ideas).length?'<h3>Activity ideas</h3>'+bullets(m.ideas):'')\n      +'</div></div>'\n      +'<div class=\"sign\">'+AVATAR+'<div><div class=\"nm\">Jarvis</div><div class=\"rl\">Awareness Programme</div></div><span class=\"pg\">'+esc(brand)+' · '+(i+1)+' / 12</span></div>'\n      +'</section>';\n  }).join('');\n  html = '<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'+cover+pages+'</body></html>';\n}\n\n// .ics — one all-day VEVENT per month theme + the recognised observances (real dates)\nfunction pad(n){ return (n<10?'0':'')+n; }\nconst stamp = new Date().toISOString().replace(/[-:]/g,'').replace(/\\.\\d+Z$/,'Z');\nlet ics = ['BEGIN:VCALENDAR','VERSION:2.0','PRODID:-//Jarvis//Awareness Calendar//EN','CALSCALE:GREGORIAN','METHOD:PUBLISH'];\nordered.forEach(function(m,mi){ var dt=String(year)+pad(mi+1)+'01'; var dtend=String(year)+pad(mi+1)+'02'; var theme=(m.theme||(MN[mi]+' awareness')); ics.push('BEGIN:VEVENT'); ics.push('UID:jarvis-'+year+'-'+pad(mi+1)+'@awareness'); ics.push('DTSTAMP:'+stamp); ics.push('DTSTART;VALUE=DATE:'+dt); ics.push('DTEND;VALUE=DATE:'+dtend); ics.push('SUMMARY:'+String(theme).replace(/[\\r\\n]+/g,' ')); var desc=[m.focus, (arr(m.channels).length?('Channels: '+arr(m.channels).join(', ')):''), (arr(m.ideas).length?('Ideas: '+arr(m.ideas).join('; ')):'')].filter(Boolean).join(' \\\\n '); if(desc) ics.push('DESCRIPTION:'+desc.replace(/[\\r\\n]+/g,' ')); ics.push('END:VEVENT'); });\n(resolveJson.obsEvents || []).forEach(function(o){ if(!o||!o.ymd) return; var d2=new Date(parseInt(o.ymd.slice(0,4)),parseInt(o.ymd.slice(4,6))-1,parseInt(o.ymd.slice(6,8))+1); var end=String(d2.getFullYear())+pad(d2.getMonth()+1)+pad(d2.getDate()); ics.push('BEGIN:VEVENT'); ics.push('UID:jarvis-obs-'+o.ymd+'@awareness'); ics.push('DTSTAMP:'+stamp); ics.push('DTSTART;VALUE=DATE:'+o.ymd); ics.push('DTEND;VALUE=DATE:'+end); ics.push('SUMMARY:'+String(o.name).replace(/[\\r\\n]+/g,' ')); ics.push('END:VEVENT'); });\nics.push('END:VCALENDAR');\nconst icsStr = ics.join('\\r\\n')+'\\r\\n';\n\nreturn [{ json: { html: html, ics: icsStr, topic: r.topic||('Awareness campaign '+year), date: r.date, fileSafe: r.fileSafe||('campaign-'+year), outDir: 'calendar', filePrefix: 'calendar' } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "Build PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const html = $json.html || '';\nreturn [{ json: { topic:$json.topic, date:$json.date, fileSafe:$json.fileSafe, outDir:$json.outDir, filePrefix:$json.filePrefix },\n  binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType:'text/html', fileName:'index.html' } } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/' + (meta.outDir || 'calendar');\nconst base = (meta.filePrefix || 'calendar') + '-' + (meta.fileSafe || 'item') + '-' + meta.date;\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); } catch (e) {}\ntry { if (buf) fs.writeFileSync(dir + '/' + base + '.pdf', buf); } catch (e) {}\ntry { if (meta.ics) fs.writeFileSync(dir + '/' + base + '.ics', meta.ics); } catch (e) {}\nconst out = { json: { ok: !!buf, pdf: dir + '/' + base + '.pdf', ics: dir + '/' + base + '.ics', topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = base + '.pdf'; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      }
    }
  ],
  "connections": {
    "Open Form": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Build PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write Files",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
