workflows/awareness/campaign-calendar.json
{
  "id": "jarvisAwCal0001",
  "name": "Jarvis · Awareness — Campaign Calendar",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand 12-month security-awareness CAMPAIGN CALENDAR. Trigger via Telegram (/calendar [year]) or manually (form: year, focus/region, audience). AI plans monthly themes, focus, channels, key dates and activity ideas; Render builds a calendar/table PDF AND an .ics feed (one all-day event per month) written to /reports/awareness/calendar. The PDF is returned in chat.",
    "envVars": [
      "AI_PROVIDER",
      "CLIENT_NAME",
      "GOTENBERG_URL"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Generate Awareness Campaign Calendar",
        "formDescription": "Choose a year and optional focus, then submit. Produces a 12-month plan (PDF) and a calendar feed (.ics).",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Year",
              "fieldType": "number",
              "requiredField": false,
              "placeholder": "2027"
            },
            {
              "fieldLabel": "Focus / region",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Optional — e.g. finance team, GCC"
            },
            {
              "fieldLabel": "Audience",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "All staff"
                  },
                  {
                    "option": "Finance"
                  },
                  {
                    "option": "Executives"
                  },
                  {
                    "option": "IT & Developers"
                  },
                  {
                    "option": "New joiners"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-calendar-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nconst now = new Date();\nlet yr = parseInt(pick(i['Year'], i.year), 10); if(isNaN(yr)) yr = now.getFullYear();\nlet focus = pick(i['Focus / region'], i['Focus'], i.focus);\nconst txt = pick(i.text).replace(/^\\/calendar\\b/i,'').trim();\nif(!focus && txt && !/^\\d{4}$/.test(txt)) focus = txt;\nconst audience = pick(i['Audience'], i.audience) || 'All staff';\nreturn [{ json: { year:yr, focus:focus, audience:audience, topic:('Awareness campaign '+yr), date:now.toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString(), outDir:'calendar', filePrefix:'calendar', fileSafe:('campaign-'+yr) } }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-opus-4-8' }}\",\n  \"max_tokens\": 4000,\n  \"system\": \"You are a security-awareness programme manager. Design a 12-month awareness campaign calendar for the given year and audience. Produce a SINGLE valid JSON object. Keys: year; months (EXACTLY 12 items in calendar order, each {month (full month name), theme (short campaign theme, max 5 words), focus (one sentence on the behaviour/risk targeted), channels (array of 2-4 short delivery channels e.g. poster, email, e-learning, tabletop), keyDates (array of 1-3 short strings; tie to relevant awareness events/observances where sensible), ideas (array of 2-3 short activity ideas)}); takeaways (3-4 short 'lessons learned' one-liners summarising the campaign priorities for the year). Vary the themes across the year to cover the major human-risk areas (phishing, passwords/MFA, social engineering, data handling, remote/travel, ransomware, insider risk, secure AI use, incident reporting). Plain, practical language. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Design a 12-month security-awareness campaign calendar for the year ' + ($json.year||'') + '. Audience: ' + ($json.audience||'All staff') + ($json.focus?('. Focus/region: '+$json.focus):'') + '.') }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.5, \"num_predict\": 3500 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are a security-awareness programme manager. Design a 12-month awareness campaign calendar for the given year and audience. Produce a SINGLE valid JSON object. Keys: year; months (EXACTLY 12 items in calendar order, each {month (full month name), theme (short campaign theme, max 5 words), focus (one sentence on the behaviour/risk targeted), channels (array of 2-4 short delivery channels e.g. poster, email, e-learning, tabletop), keyDates (array of 1-3 short strings; tie to relevant awareness events/observances where sensible), ideas (array of 2-3 short activity ideas)}); takeaways (3-4 short 'lessons learned' one-liners summarising the campaign priorities for the year). Vary the themes across the year to cover the major human-risk areas (phishing, passwords/MFA, social engineering, data handling, remote/travel, ransomware, insider risk, secure AI use, incident reporting). Plain, practical language. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Design a 12-month security-awareness campaign calendar for the year ' + ($json.year||'') + '. Audience: ' + ($json.audience||'All staff') + ($json.focus?('. Focus/region: '+$json.focus):'') + '.') }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json || {};\nreturn [{ json: Object.assign({}, r, { data: data }) }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/* --- Jarvis brand kit (shared across awareness PDFs): avatar + takeaways box + sign-off --- */\nvar __jfs=null; try{__jfs=require('fs');}catch(e){}\nfunction jAvatarUri(){ if(!__jfs) return ''; var t=[['/config/branding/jarvis-avatar.png','image/png'],['/config/branding/jarvis-avatar.jpg','image/jpeg'],['/config/branding/jarvis-avatar.jpeg','image/jpeg'],['/config/branding/jarvis-avatar.svg','image/svg+xml']]; for(var i=0;i<t.length;i++){ try{ return 'data:'+t[i][1]+';base64,'+__jfs.readFileSync(t[i][0]).toString('base64'); }catch(e){} } return ''; }\nvar JKIT_SVG='<svg class=\"jav\" viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\"><defs><linearGradient id=\"jkitg\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\"><stop offset=\"0\" stop-color=\"#0E7C86\"/><stop offset=\"1\" stop-color=\"#0A1A2F\"/></linearGradient></defs><circle cx=\"32\" cy=\"32\" r=\"32\" fill=\"url(#jkitg)\"/><rect x=\"19\" y=\"21\" width=\"26\" height=\"22\" rx=\"7\" fill=\"#fff\"/><circle cx=\"27\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><circle cx=\"37\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><rect x=\"27\" y=\"38\" width=\"10\" height=\"2.4\" rx=\"1.2\" fill=\"#0E7C86\"/><rect x=\"30.7\" y=\"14\" width=\"2.6\" height=\"6\" rx=\"1.3\" fill=\"#9fe4d8\"/><circle cx=\"32\" cy=\"13\" r=\"2.4\" fill=\"#E7C76A\"/><path d=\"M23 47h18l-3 4.5H26z\" fill=\"#9fe4d8\"/></svg>';\nvar JKIT_CSS=\".jkit-take{background:#F4F6F9;border:1px solid #E2E6EC;border-left:4px solid #0E7C86;border-radius:10px;padding:14px 18px;margin:22px 0 0;page-break-inside:avoid}.jkit-take .th{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#0A1A2F;font-weight:800;margin:0 0 7px}.jkit-take ul{margin:0;padding-left:18px}.jkit-take li{font-size:13.5px;line-height:1.5;color:#2b3340;margin:5px 0}.jkit-sign{display:flex;align-items:center;gap:12px;margin:20px 0 0;padding-top:14px;border-top:2px solid #0E7C86;page-break-inside:avoid}.jkit-sign img,.jkit-sign .jav{width:46px;height:46px;border-radius:50%;border:2px solid #0E7C86;flex:0 0 auto}.jkit-sign .nm{font-family:Georgia,serif;font-size:15px;color:#0A1A2F;font-weight:700}.jkit-sign .rl{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:10px;letter-spacing:2px;text-transform:uppercase;color:#0E7C86;font-weight:800;margin-top:2px}\";\nfunction jKitEsc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nfunction jTakeBox(takeaways){ var t=(takeaways||[]).filter(Boolean).slice(0,4); if(!t.length) return ''; return '<div class=\"jkit-take\"><div class=\"th\">Key takeaways &middot; Lessons learned</div><ul>'+t.map(function(x){return '<li>'+jKitEsc(x)+'</li>';}).join('')+'</ul></div>'; }\nfunction jSignoff(){ var av=jAvatarUri(); var avatar=av?('<img src=\"'+av+'\"/>'):JKIT_SVG; return '<div class=\"jkit-sign\">'+avatar+'<div><div class=\"nm\">Jarvis</div><div class=\"rl\">Your AI Awareness Assistant</div></div></div>'; }\nfunction jKitBlock(takeaways){ return jTakeBox(takeaways)+jSignoff(); }\n\nconst r = $json || {};\nconst d = r.data || {};\nconst year = r.year || new Date().getFullYear();\nconst client = (r.client || '').toString();\nconst brand = client ? client : 'Security Awareness';\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nfunction arr(x){ return Array.isArray(x)?x:(x==null||x===''?[]:[x]); }\nconst MON = ['january','february','march','april','may','june','july','august','september','october','november','december'];\nlet months = arr(d.months);\nif(!months.length){ months = MON.map(function(m){ return { month:m, theme:'', focus:'', channels:[], keyDates:[], ideas:[] }; }); }\nfunction midx(name){ var n=String(name||'').toLowerCase().slice(0,3); for(var k=0;k<12;k++){ if(MON[k].slice(0,3)===n) return k; } return -1; }\n\nconst CSS = \"@page{size:A4;margin:14mm} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,'Segoe UI',Arial,sans-serif;color:#14202b} \"\n+\".hd{border-bottom:3px solid #0E7C86;padding-bottom:10px;margin-bottom:14px} .hd .k{color:#0E7C86;letter-spacing:3px;font-size:12px;font-weight:800;text-transform:uppercase} \"\n+\".hd h1{margin:4px 0 0;font-size:26px;color:#0E2233} .hd .s{color:#5A6472;font-size:13px;margin-top:4px} \"\n+\"table{width:100%;border-collapse:collapse;font-size:11px} th{background:#0E2233;color:#fff;text-align:left;padding:7px 8px;font-size:11px} \"\n+\"td{border:1px solid #e2e6ec;padding:7px 8px;vertical-align:top;line-height:1.4} tr:nth-child(even) td{background:#f7fafb} \"\n+\".mo{font-weight:800;color:#0E7C86;white-space:nowrap} .th{font-weight:700;color:#0E2233} \"\n+\"ul{margin:0;padding-left:15px} li{margin:2px 0} .foot{margin-top:14px;border-top:1px solid #e2e6ec;padding-top:8px;color:#8a98a4;font-size:10px;display:flex;justify-content:space-between}\"+JKIT_CSS;\nfunction cell(list){ list=arr(list); return list.length?('<ul>'+list.map(function(x){return '<li>'+esc(x)+'</li>';}).join('')+'</ul>'):'—'; }\nlet rows = months.slice(0,12).map(function(m){\n  return '<tr><td class=\"mo\">'+esc(m.month||'')+'</td><td><span class=\"th\">'+esc(m.theme||'')+'</span><br><span style=\"color:#5A6472\">'+esc(m.focus||'')+'</span></td><td>'+cell(m.channels)+'</td><td>'+cell(m.keyDates)+'</td><td>'+cell(m.ideas)+'</td></tr>';\n}).join('');\nconst html = '<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'\n+'<div class=\"hd\"><div class=\"k\">Awareness Campaign Calendar</div><h1>'+esc(brand)+' · '+year+'</h1>'\n+(r.focus?'<div class=\"s\">Focus: '+esc(r.focus)+' · Audience: '+esc(r.audience||'All staff')+'</div>':'<div class=\"s\">Audience: '+esc(r.audience||'All staff')+'</div>')+'</div>'\n+'<table><thead><tr><th>Month</th><th>Theme &amp; focus</th><th>Channels</th><th>Key dates</th><th>Activity ideas</th></tr></thead><tbody>'+rows+'</tbody></table>'\n+jKitBlock(d.takeaways||d.priorities)\n+'<div class=\"foot\"><span>'+esc(brand)+' · AI-generated — review &amp; adapt before scheduling</span><span>'+year+'</span></div></body></html>';\n\n// .ics — one all-day VEVENT per month (launch of the month theme)\nfunction pad(n){ return (n<10?'0':'')+n; }\nconst stamp = new Date().toISOString().replace(/[-:]/g,'').replace(/\\.\\d+Z$/,'Z');\nlet ics = ['BEGIN:VCALENDAR','VERSION:2.0','PRODID:-//Jarvis//Awareness Calendar//EN','CALSCALE:GREGORIAN','METHOD:PUBLISH'];\nmonths.slice(0,12).forEach(function(m,pos){ var mi=midx(m.month); if(mi<0)mi=pos; var dt=String(year)+pad(mi+1)+'01'; var dtend=String(year)+pad(mi+1)+'02'; var theme=(m.theme||('Month '+(mi+1)+' awareness')); ics.push('BEGIN:VEVENT'); ics.push('UID:jarvis-'+year+'-'+pad(mi+1)+'@awareness'); ics.push('DTSTAMP:'+stamp); ics.push('DTSTART;VALUE=DATE:'+dt); ics.push('DTEND;VALUE=DATE:'+dtend); ics.push('SUMMARY:'+String(theme).replace(/[\\r\\n]+/g,' ')); var desc=[m.focus, (arr(m.channels).length?('Channels: '+arr(m.channels).join(', ')):''), (arr(m.ideas).length?('Ideas: '+arr(m.ideas).join('; ')):'')].filter(Boolean).join(' \\\\n '); if(desc) ics.push('DESCRIPTION:'+desc.replace(/[\\r\\n]+/g,' ')); ics.push('END:VEVENT'); });\nics.push('END:VCALENDAR');\nconst icsStr = ics.join('\\r\\n')+'\\r\\n';\n\nreturn [{ json: { html: html, ics: icsStr, topic: r.topic||('Awareness campaign '+year), date: r.date, fileSafe: r.fileSafe||('campaign-'+year), outDir: 'calendar', filePrefix: 'calendar' } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "Build PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const html = $json.html || '';\nreturn [{ json: { topic:$json.topic, date:$json.date, fileSafe:$json.fileSafe, outDir:$json.outDir, filePrefix:$json.filePrefix },\n  binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType:'text/html', fileName:'index.html' } } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/' + (meta.outDir || 'calendar');\nconst base = (meta.filePrefix || 'calendar') + '-' + (meta.fileSafe || 'item') + '-' + meta.date;\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); } catch (e) {}\ntry { if (buf) fs.writeFileSync(dir + '/' + base + '.pdf', buf); } catch (e) {}\ntry { if (meta.ics) fs.writeFileSync(dir + '/' + base + '.ics', meta.ics); } catch (e) {}\nconst out = { json: { ok: !!buf, pdf: dir + '/' + base + '.pdf', ics: dir + '/' + base + '.ics', topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = base + '.pdf'; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      }
    }
  ],
  "connections": {
    "Open Form": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Build PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write Files",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
