workflows/awareness/certificate.json
{
  "id": "jarvisAwCert001",
  "name": "Jarvis · Awareness — Completion Certificate",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand diploma-style completion CERTIFICATE generator (template-driven, no AI). Trigger via Telegram (/certificate <name>) or manually (form: recipient, course, date, optional ID). Render builds a landscape A4 certificate (CLIENT_NAME branding, unique ID); Gotenberg renders the PDF to /reports/awareness/certificates and returns it. Pairs with the quiz / e-learning module.",
    "envVars": [
      "CLIENT_NAME",
      "GOTENBERG_URL"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Issue a Completion Certificate",
        "formDescription": "Enter the recipient and course. A diploma-style PDF certificate is generated.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Recipient name",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "e.g. Jane Doe"
            },
            {
              "fieldLabel": "Course / topic",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "e.g. Phishing Awareness"
            },
            {
              "fieldLabel": "Date",
              "fieldType": "date",
              "requiredField": false
            },
            {
              "fieldLabel": "Certificate ID",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Auto-generated if blank"
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-certificate-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Cert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nconst txt = pick(i.text).replace(/^\\/certificate\\b/i,'').trim();\nconst name = pick(i['Recipient name'], i['Recipient'], i.name, txt) || 'Recipient Name';\nconst course = pick(i['Course / topic'], i['Course'], i.course, i.topic) || 'Cybersecurity Awareness';\nlet date = pick(i['Date'], i.date); if(!date) date = new Date().toISOString().slice(0,10);\nlet id = pick(i['Certificate ID'], i.id); if(!id) id = 'JAW-' + Date.now().toString(36).toUpperCase().slice(-6);\nconst safe = (name+'-'+course).toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,50) || 'certificate';\nreturn [{ json: { name:name, course:course, date:date, certId:id, client:($env.CLIENT_NAME||'').toString(), fileSafe:safe, outDir:'certificates', filePrefix:'certificate' } }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nfunction ord(n){ var s=['th','st','nd','rd'],v=n%100; return n+(s[(v-20)%10]||s[v]||s[0]); }\nfunction pretty(x){ try{ var p=String(x).split('-'); var dt=new Date(+p[0],+p[1]-1,+p[2]); var M=['January','February','March','April','May','June','July','August','September','October','November','December']; return M[dt.getMonth()]+' '+ord(dt.getDate())+' '+dt.getFullYear(); }catch(e){ return x; } }\nconst issuer = j.client ? j.client : 'Security Awareness Team';\nfunction initials(s){ var w=String(s||'').trim().split(/\\s+/).filter(Boolean); var a=(w[0]||'S')[0]+((w[1]||w[0]||'A')[0]||''); return a.toUpperCase().slice(0,2); }\n\n// ---- gold seal / stamp (Chromium-safe; no textPath) ----\nfunction seal(init, topText, botText){\n  const cx=110, cy=104; const spikes=30, R1=96, R2=86; let pts=[];\n  for(let i=0;i<spikes*2;i++){ const r=(i%2===0)?R1:R2; const a=(Math.PI/spikes)*i - Math.PI/2; pts.push((cx+r*Math.cos(a)).toFixed(1)+','+(cy+r*Math.sin(a)).toFixed(1)); }\n  const burst='<polygon points=\"'+pts.join(' ')+'\" fill=\"url(#gold)\" stroke=\"#8A6A22\" stroke-width=\"1\"/>';\n  function laurel(side){ let g=''; const n=8; for(let i=0;i<n;i++){ const t=i/(n-1); const ang=(-150 + t*120)*Math.PI/180; const rad=58; const x=cx + side*(rad*Math.cos(ang)*0.62 + 6); const y=cy + 30 - rad*Math.sin(ang)*0.95; const rot=(side>0?-50:50)+(t*60*side); g+='<ellipse cx=\"'+x.toFixed(1)+'\" cy=\"'+y.toFixed(1)+'\" rx=\"9\" ry=\"3.6\" fill=\"#E3C766\" transform=\"rotate('+rot.toFixed(1)+' '+x.toFixed(1)+' '+y.toFixed(1)+')\"/>'; } return g; }\n  function star(scx,scy,R,r,p2){ let p=[]; for(let i=0;i<p2*2;i++){ const rr=(i%2===0)?R:r; const a=(Math.PI/p2)*i - Math.PI/2; p.push((scx+rr*Math.cos(a)).toFixed(1)+','+(scy+rr*Math.sin(a)).toFixed(1)); } return '<polygon points=\"'+p.join(' ')+'\" fill=\"url(#gold)\" stroke=\"#8A6A22\" stroke-width=\"0.6\"/>'; }\n  return '<svg class=\"seal\" viewBox=\"0 0 220 250\" xmlns=\"http://www.w3.org/2000/svg\">'\n   +'<defs><radialGradient id=\"gold\" cx=\"50%\" cy=\"36%\" r=\"68%\"><stop offset=\"0\" stop-color=\"#F6E6A8\"/><stop offset=\"50%\" stop-color=\"#D9B45A\"/><stop offset=\"100%\" stop-color=\"#A9842F\"/></radialGradient></defs>'\n   +'<path d=\"M83 150 L70 244 L98 222 L110 240 L122 222 L150 244 L137 150 Z\" fill=\"#0E7C86\"/>'\n   +'<path d=\"M83 150 L78 186 L137 186 L137 150 Z\" fill=\"#0a5b63\"/>'\n   +burst\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"80\" fill=\"url(#gold)\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"72\" fill=\"#0E2233\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"72\" fill=\"none\" stroke=\"#E3C766\" stroke-width=\"2\" stroke-dasharray=\"1.5 5\"/>'\n   +'<circle cx=\"'+cx+'\" cy=\"'+cy+'\" r=\"60\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"1\"/>'\n   +laurel(-1)+laurel(1)+star(cx,cy-18,16,7,5)\n   +'<text x=\"'+cx+'\" y=\"'+(cy+14)+'\" text-anchor=\"middle\" font-family=\"Georgia,serif\" font-size=\"20\" font-weight=\"bold\" fill=\"#F6E6A8\" letter-spacing=\"1\">'+esc(init)+'</text>'\n   +'<text x=\"'+cx+'\" y=\"'+(cy+34)+'\" text-anchor=\"middle\" font-family=\"Arial,sans-serif\" font-size=\"8.5\" fill=\"#E3C766\" letter-spacing=\"2\">'+esc(botText)+'</text>'\n   +'<text x=\"'+cx+'\" y=\"'+(cy-44)+'\" text-anchor=\"middle\" font-family=\"Arial,sans-serif\" font-size=\"9\" fill=\"#E3C766\" letter-spacing=\"3\">'+esc(topText)+'</text>'\n   +'</svg>';\n}\nfunction corner(cls){ return '<svg class=\"cn '+cls+'\" viewBox=\"0 0 80 80\"><path d=\"M6 74 C6 36 36 6 74 6\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"2\"/><path d=\"M14 74 C14 42 42 14 74 14\" fill=\"none\" stroke=\"#C9A24B\" stroke-width=\"1\"/><circle cx=\"6\" cy=\"74\" r=\"3.5\" fill=\"#C9A24B\"/></svg>'; }\nconst crest = '<svg class=\"crest\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#0E7C86\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\nconst wm = '<svg class=\"wm\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#0E2233\" stroke-width=\"1\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\n\nconst CSS = \"@page{size:A4 landscape;margin:0} *{box-sizing:border-box} body{margin:0;font-family:Georgia,'Times New Roman',serif;color:#16202b}\"\n+\".cert{width:297mm;height:210mm;position:relative;background:#0E2233;overflow:hidden}\"\n+\".paper{position:absolute;inset:10px;background:radial-gradient(circle at 50% 42%,#ffffff 0%,#fbf8ef 70%,#f4eeda 100%);overflow:hidden}\"\n+\".guil{position:absolute;inset:0;opacity:.5;background-image:repeating-radial-gradient(circle at 50% 42%,rgba(14,124,134,.05) 0 1px,transparent 1px 9px),repeating-linear-gradient(45deg,rgba(201,162,75,.045) 0 1px,transparent 1px 12px),repeating-linear-gradient(-45deg,rgba(201,162,75,.045) 0 1px,transparent 1px 12px)}\"\n+\".wm{position:absolute;left:50%;top:43%;transform:translate(-50%,-50%);width:330px;height:330px;opacity:.05}\"\n+\".gold{position:absolute;inset:26px;border:2px solid #C9A24B;border-radius:3px}.gold:before{content:'';position:absolute;inset:5px;border:1px solid #D9B45A}\"\n+\".cn{position:absolute;width:66px;height:66px}.cn.tl{top:20px;left:20px}.cn.tr{top:20px;right:20px;transform:scaleX(-1)}.cn.bl{bottom:20px;left:20px;transform:scaleY(-1)}.cn.br{bottom:20px;right:20px;transform:scale(-1,-1)}\"\n+\".content{position:absolute;inset:64px 86px 60px;display:flex;flex-direction:column;align-items:center;justify-content:space-between;text-align:center}\"\n+\".crest{width:48px;height:48px}\"\n+\".eyebrow{letter-spacing:8px;font-size:14px;color:#0E7C86;font-weight:700;text-transform:uppercase;font-family:Arial,sans-serif;margin-top:4px}\"\n+\".issuer{font-size:34px;color:#0E2233;font-weight:700;margin-top:3px}\"\n+\".rule{display:flex;align-items:center;gap:12px;color:#C9A24B;margin-top:8px}.rule .ln{width:150px;height:1px;background:linear-gradient(90deg,transparent,#C9A24B)}.rule .ln.r{background:linear-gradient(90deg,#C9A24B,transparent)}.rule .dia{width:8px;height:8px;background:#C9A24B;transform:rotate(45deg)}\"\n+\".present{font-style:italic;color:#5A6472;font-size:16px}\"\n+\".name{font-size:58px;color:#0E2233;line-height:1;margin:4px 0 6px;font-weight:700}\"\n+\".nund{width:380px;height:2px;background:linear-gradient(90deg,transparent,#C9A24B 20%,#C9A24B 80%,transparent);margin-bottom:8px}\"\n+\".forr{font-style:italic;color:#5A6472;font-size:16px}\"\n+\".course{font-size:27px;color:#0E7C86;font-weight:700;margin-top:4px}\"\n+\".ach{font-size:13px;color:#5A6472;margin-top:8px;font-family:Arial,sans-serif}.ach b{color:#0E2233}\"\n+\".footer{width:100%;display:flex;align-items:flex-end;justify-content:space-between}\"\n+\".sig{width:250px;text-align:center}.sig .sline{height:1px;background:#9aa6b2;margin-bottom:6px}.sig .snm{font-style:italic;font-size:19px;color:#0E2233}.sig .slb{font-size:11px;letter-spacing:1px;color:#8a98a4;font-family:Arial,sans-serif;text-transform:uppercase;margin-top:3px}\"\n+\".sealwrap{width:150px;display:flex;justify-content:center}.seal{width:140px;height:160px;filter:drop-shadow(0 6px 10px rgba(0,0,0,.22))}\";\n\nconst ach = 'Awarded on <b>'+esc(pretty(j.date))+'</b>';\nconst html = '<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'\n+'<div class=\"cert\"><div class=\"paper\"><div class=\"guil\"></div>'+wm+'<div class=\"gold\"></div>'\n+corner('tl')+corner('tr')+corner('bl')+corner('br')\n+'<div class=\"content\">'\n+'<div>'+crest+'<div class=\"eyebrow\">Certificate of Completion</div><div class=\"issuer\">'+esc(issuer)+'</div><div class=\"rule\"><span class=\"ln\"></span><span class=\"dia\"></span><span class=\"ln r\"></span></div></div>'\n+'<div><div class=\"present\">This is proudly presented to</div><div class=\"name\">'+esc(j.name)+'</div><div class=\"nund\"></div><div class=\"forr\">for successfully completing</div><div class=\"course\">'+esc(j.course)+'</div><div class=\"ach\">'+ach+'</div></div>'\n+'<div class=\"footer\"><div class=\"sig\"><div class=\"sline\"></div><div class=\"snm\">'+esc(issuer)+'</div><div class=\"slb\">Issued by</div></div>'\n+'<div class=\"sealwrap\">'+seal(initials(issuer),'CERTIFIED','EXCELLENCE')+'</div>'\n+'<div class=\"sig\"><div class=\"sline\"></div><div class=\"snm\">'+esc(pretty(j.date))+'</div><div class=\"slb\">Date of issue</div></div></div>'\n+'</div>'\n+'</div></div></body></html>';\nreturn [{ json: { html: html, topic: j.course, date: j.date, fileSafe: j.fileSafe, outDir: j.outDir, filePrefix: j.filePrefix } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "Build PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const html = $json.html || '';\nreturn [{ json: { topic:$json.topic, date:$json.date, fileSafe:$json.fileSafe, outDir:$json.outDir, filePrefix:$json.filePrefix },\n  binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType:'text/html', fileName:'index.html' } } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "landscape",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/' + (meta.outDir || 'misc');\nconst name = (meta.filePrefix || 'asset') + '-' + (meta.fileSafe || 'item') + '-' + meta.date + '.pdf';\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); if (buf) fs.writeFileSync(dir + '/' + name, buf); } catch (e) {}\nconst out = { json: { ok: !!buf, file: dir + '/' + name, topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = name; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      }
    }
  ],
  "connections": {
    "Open Form": {
      "main": [
        [
          {
            "node": "Resolve Cert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Cert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Cert": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Build PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
