workflows/awareness/comic-book.json
{
  "id": "jarvisAwComic01",
  "name": "Jarvis · Awareness — Comic Book Generator",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand branded COMIC BOOK generator on any topic. Trigger manually (form: topic/brief, title, art style — cartoon/anime/realistic/etc., number of scenes, optional per-scene descriptions, audience) or programmatically (On Command). AI writes a script with locked character & place designs; the workflow generates a reference ANCHOR image per character and place, then renders each panel via the image provider /images/edits conditioned on those anchors (with a /images/generations fallback) so characters, places and style stay CONSISTENT across panels. Render lays out a branded comic page (caption bars + speech bubbles); Gotenberg makes the PDF; a pure-JS ZIP bundles the panel PNGs, anchor images and script. Writes to /reports/awareness/comics. Graceful placeholders if no image key. Anchor and panel images are generated in parallel (COMIC_CONCURRENCY, default 2) with a fail-fast per-call timeout (IMAGE_TIMEOUT, default 90s) at a chosen image quality (form, or COMIC_IMAGE_QUALITY; default medium). Images are written to a temp work dir on disk and only file paths flow through the workflow (never base64), and the rendered HTML is passed to Gotenberg as binary — so n8n execution data stays tiny and the editor/process never choke on inline images.",
    "envVars": [
      "AI_PROVIDER",
      "IMAGE_PROVIDER",
      "IMAGE_MODEL",
      "OPENAI_API_KEY",
      "OPENAI_IMAGE_API_KEY",
      "COMIC_IMAGE_SIZE",
      "COMIC_IMAGE_QUALITY",
      "COMIC_CONCURRENCY",
      "IMAGE_TIMEOUT",
      "COMIC_MAX_PANELS",
      "CLIENT_NAME",
      "GOTENBERG_URL"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Generate a Comic Book",
        "formDescription": "Pick a topic, art style and number of scenes (optionally describe each scene). Creates character & place anchor images, then a branded, consistent comic (PDF + image bundle).",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic / brief",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Any topic, e.g. spotting phishing emails at work"
            },
            {
              "fieldLabel": "Title",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Optional comic title"
            },
            {
              "fieldLabel": "Art style",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Cartoon"
                  },
                  {
                    "option": "Anime / Manga"
                  },
                  {
                    "option": "American comic book"
                  },
                  {
                    "option": "Realistic / cinematic"
                  },
                  {
                    "option": "Watercolour"
                  },
                  {
                    "option": "Noir ink (B&W)"
                  },
                  {
                    "option": "Pixel art"
                  },
                  {
                    "option": "3D (Pixar-style)"
                  },
                  {
                    "option": "Flat vector"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Number of scenes",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  },
                  {
                    "option": "6"
                  },
                  {
                    "option": "8"
                  },
                  {
                    "option": "10"
                  },
                  {
                    "option": "12"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Scene descriptions",
              "fieldType": "textarea",
              "requiredField": false,
              "placeholder": "Optional — one scene per line. Leave blank to let the AI write the story."
            },
            {
              "fieldLabel": "Audience",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "General audience"
                  },
                  {
                    "option": "All staff"
                  },
                  {
                    "option": "Children"
                  },
                  {
                    "option": "Teens"
                  },
                  {
                    "option": "Executives"
                  },
                  {
                    "option": "New joiners"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Image quality",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Balanced (recommended)"
                  },
                  {
                    "option": "Faster (lower quality)"
                  },
                  {
                    "option": "Best quality (slowest)"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-comic-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Comic generator — normalise form / command input.\nconst i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\n// Topic / brief (any subject). Strip a leading /command if invoked programmatically.\nlet topic = pick(i['Topic / brief'], i['Topic'], i.topic, i.query, i.text).replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif(!topic) topic = ($env.DEFAULT_AWARENESS_TOPIC || 'staying safe online');\nconst title = pick(i['Title'], i.title);\nconst style = pick(i['Art style'], i.style) || 'Cartoon';\nconst audience = pick(i['Audience'], i.audience) || 'General audience';\n// Image quality (speed/cost lever): low | medium | high. Blank => art node uses\n// COMIC_IMAGE_QUALITY or its default. \"Faster\"/\"Best\" labels map to low/high.\nlet quality = pick(i['Image quality'], i.quality).toLowerCase();\nif (/fast|low/.test(quality)) quality = 'low';\nelse if (/high|best|max/.test(quality)) quality = 'high';\nelse if (/med|balanc/.test(quality)) quality = 'medium';\nelse quality = '';\n// Scene descriptions: a textarea, one beat per line (optional). If present, the\n// line count drives the panel count.\nlet scenes = [];\nconst rawScenes = pick(i['Scene descriptions'], i.scenes);\nif (Array.isArray(i.scenes)) scenes = i.scenes.map(function(s){return String(s).trim();}).filter(Boolean);\nelse if (rawScenes) scenes = rawScenes.split(/\\r?\\n/).map(function(s){return s.replace(/^\\s*\\d+[).\\-:]\\s*/,'').trim();}).filter(Boolean);\nconst MAXP = parseInt($env.COMIC_MAX_PANELS || '12', 10) || 12;\nlet numScenes = scenes.length ? scenes.length : (parseInt(pick(i['Number of scenes'], i['Scenes'], i.numScenes), 10) || 6);\nif (numScenes < 1) numScenes = 1; if (numScenes > MAXP) numScenes = MAXP;\nif (scenes.length > MAXP) scenes = scenes.slice(0, MAXP);\nreturn [{ json: {\n  topic: topic, title: title, style: style, audience: audience, quality: quality,\n  scenes: scenes, numScenes: numScenes,\n  client: ($env.CLIENT_NAME || '').toString(),\n  date: new Date().toISOString().slice(0,10)\n} }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-opus-4-8' }}\",\n  \"max_tokens\": 8000,\n  \"system\": \"You are a comic-book writer and character designer. For the given topic, audience, art style and panel count (and optional scene beats), produce a SINGLE valid JSON object that will drive image generation, so VISUAL CONSISTENCY is essential. Keys: title (short comic title); logline (one sentence); characters (1-4 items, each {id (a short lowercase slug), name, role, visual (a DETAILED, LOCKED appearance description — approximate age, build, hair, skin tone, exact clothing and colours, and 1-2 distinguishing features; this exact description will be reused for every panel, so make it specific and keep it identical in spirit everywhere)}); places (1-3 items, each {id (slug), name, visual (a detailed, locked description of the setting, lighting and mood)}); panels (an array containing EXACTLY the requested number of panel objects — never fewer; if you cannot fit detail, keep each panel concise but still output the full count, each {scene (the beat), place (a place id), characters (array of character ids present, may be empty), shot (one of: wide, medium, close-up), action (a vivid one-sentence description of what is happening, for an illustrator), caption (optional short narration, <=14 words), dialogue (0-2 items, each {speaker (a character id), text (<=12 words)})}); takeaways (3-4 short, plain-English security-awareness lessons the reader should remember from this story — each one sentence, actionable, written for the audience). Tell a clear, engaging story appropriate to the audience that lands the security-awareness message. Reference only character/place ids that you defined. Do NOT describe any on-image text, captions, speech bubbles, logos or UI — those are added later in layout. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Create a comic. Topic/brief: ' + ($json.topic||'staying safe online') + '. Audience: ' + ($json.audience||'General audience') + '. Art style: ' + ($json.style||'Cartoon') + '. The \"panels\" array MUST contain EXACTLY ' + ($json.numScenes||6) + ' panel objects — never fewer, never more. Count them before replying.' + (($json.scenes && $json.scenes.length) ? (' Use these scene beats in order, one per panel: ' + $json.scenes.map(function(s,k){return (k+1)+') '+s;}).join('  ')) : ' Invent a clear, engaging story.') + ($json.title ? (' Suggested title: ' + $json.title + '.') : '')) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.6, \"num_predict\": 8000 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are a comic-book writer and character designer. For the given topic, audience, art style and panel count (and optional scene beats), produce a SINGLE valid JSON object that will drive image generation, so VISUAL CONSISTENCY is essential. Keys: title (short comic title); logline (one sentence); characters (1-4 items, each {id (a short lowercase slug), name, role, visual (a DETAILED, LOCKED appearance description — approximate age, build, hair, skin tone, exact clothing and colours, and 1-2 distinguishing features; this exact description will be reused for every panel, so make it specific and keep it identical in spirit everywhere)}); places (1-3 items, each {id (slug), name, visual (a detailed, locked description of the setting, lighting and mood)}); panels (an array containing EXACTLY the requested number of panel objects — never fewer; if you cannot fit detail, keep each panel concise but still output the full count, each {scene (the beat), place (a place id), characters (array of character ids present, may be empty), shot (one of: wide, medium, close-up), action (a vivid one-sentence description of what is happening, for an illustrator), caption (optional short narration, <=14 words), dialogue (0-2 items, each {speaker (a character id), text (<=12 words)})}); takeaways (3-4 short, plain-English security-awareness lessons the reader should remember from this story — each one sentence, actionable, written for the audience). Tell a clear, engaging story appropriate to the audience that lands the security-awareness message. Reference only character/place ids that you defined. Do NOT describe any on-image text, captions, speech bubbles, logos or UI — those are added later in layout. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Create a comic. Topic/brief: ' + ($json.topic||'staying safe online') + '. Audience: ' + ($json.audience||'General audience') + '. Art style: ' + ($json.style||'Cartoon') + '. The \"panels\" array MUST contain EXACTLY ' + ($json.numScenes||6) + ' panel objects — never fewer, never more. Count them before replying.' + (($json.scenes && $json.scenes.length) ? (' Use these scene beats in order, one per panel: ' + $json.scenes.map(function(s,k){return (k+1)+') '+s;}).join('  ')) : ' Invent a clear, engaging story.') + ($json.title ? (' Suggested title: ' + $json.title + '.') : '')) }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Comic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse the AI comic script and build style-locked prompts for anchors + panels,\n// plus the per-panel reference list (place + present characters) that drives the\n// /images/edits consistency calls.\nconst j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;               // Ollama\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text; // Claude\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json;\n// The story (title, characters, panels, dialogue, captions, takeaways) MUST come\n// from the AI model — we never fabricate narrative here. If parsing fails or the\n// model returned no panels, fail loudly so the run is re-tried rather than shipping\n// a placeholder comic with invented text.\nif (!data || typeof data !== 'object' || !Array.isArray(data.panels) || !data.panels.length) {\n  throw new Error('Comic: the AI did not return a usable comic script (no panels). ' +\n    'Check the model/API key (CLAUDE_MODEL / AI_PROVIDER) and try again — the story text is written by the model, not the workflow.');\n}\nif (!data.title) data.title = r.title || ('A comic about ' + r.topic);\n\nconst STYLES = {\n  'Cartoon': 'Playful flat 2D cartoon style, bold clean outlines, bright cel shading, simple appealing shapes.',\n  'Anime / Manga': 'Anime/manga style, clean confident line art, expressive faces, cel shading, dynamic composition.',\n  'American comic book': 'Classic American comic-book style, bold inked outlines, dramatic shading and halftones, saturated colour.',\n  'Realistic / cinematic': 'Semi-realistic cinematic illustration, soft realistic lighting, rich detail, filmic colour grade.',\n  'Watercolour': 'Soft watercolour illustration, painterly washes, gentle paper texture, warm palette.',\n  'Noir ink (B&W)': 'High-contrast black-and-white noir ink style, heavy shadows, expressive crosshatching, no colour.',\n  'Pixel art': '16-bit pixel-art style, crisp pixels, limited retro palette, clean dithering.',\n  '3D (Pixar-style)': 'Polished 3D animated-film style, soft global illumination, rounded appealing characters.',\n  'Flat vector': 'Modern flat vector illustration, clean geometric shapes, smooth gradients, minimal detail.'\n};\nconst stylePreamble = (STYLES[r.style] || STYLES['Cartoon']) + ' Keep character designs, colours and the overall art style identical across every image. ';\nconst NEG = ' No text, no words, no letters, no numbers, no speech bubbles, no captions, no logos, no watermark, no UI.';\n// Panels MAY contain speech-bubble text (gpt-image-2 renders it), but not chrome.\nconst NEGP = ' No logos, no watermark, no UI, no border, no caption box, no page numbers, no signature.';\n\nconst chars = Array.isArray(data.characters) ? data.characters : [];\nconst places = Array.isArray(data.places) ? data.places : [];\nconst charById = {}; chars.forEach(function(c){ if(c && c.id) charById[c.id] = c; });\nconst placeById = {}; places.forEach(function(p){ if(p && p.id) placeById[p.id] = p; });\n\nconst anchors = [];\nchars.forEach(function(c){ if(!c) return; anchors.push({ id:'c_'+c.id, kind:'character', name:c.name||c.id,\n  prompt: stylePreamble + 'Full-body character reference sheet of ' + (c.name||c.id) + (c.role?(' ('+c.role+')'):'') + ': ' + (c.visual||'') + '. Neutral standing pose, front view, plain light-grey studio background.' + NEG }); });\nplaces.forEach(function(p){ if(!p) return; anchors.push({ id:'p_'+p.id, kind:'place', name:p.name||p.id,\n  prompt: stylePreamble + 'Establishing wide shot of ' + (p.name||p.id) + ': ' + (p.visual||'') + '. No people present.' + NEG }); });\n\nconst panels = (Array.isArray(data.panels)?data.panels:[]).map(function(p, idx){\n  p = p || {};\n  const present = (Array.isArray(p.characters)?p.characters:[]).map(function(id){ return charById[id]; }).filter(Boolean);\n  const place = placeById[p.place];\n  const refIds = []; if (place) refIds.push('p_'+place.id); present.forEach(function(c){ refIds.push('c_'+c.id); });\n  const who = present.length ? (' Characters present: ' + present.map(function(c){ return (c.name||c.id) + ' — ' + (c.visual||''); }).join('; ') + '.') : '';\n  const where = place ? (' Setting: ' + (place.visual||place.name) + '.') : '';\n  const dlg = (Array.isArray(p.dialogue)?p.dialogue:[]).slice(0,2).map(function(d){ return { speaker: (charById[d.speaker] && charById[d.speaker].name) || d.speaker || '', text: String(d.text||'').trim() }; }).filter(function(d){ return d.text; });\n  // gpt-image-2 can render legible text — bake the dialogue into the panel as\n  // real comic speech bubbles (the layout no longer overlays HTML bubbles).\n  const speech = dlg.length ? (' Add classic comic speech bubbles, each containing EXACTLY this dialogue, spelled correctly and fully legible: ' + dlg.map(function(d){ return (d.speaker?(d.speaker+': '):'') + '\"' + d.text + '\"'; }).join('  ') + '. Place bubbles clear of faces; do not add any other text.') : '';\n  const prompt = stylePreamble + ((p.shot?(p.shot+' shot. '):'')) + (p.action || p.scene || '') + where + who + ' Keep the character designs and setting consistent with these descriptions.' + speech + NEGP;\n  return { index: idx+1, scene: p.scene||'', shot: p.shot||'medium', action: p.action||p.scene||'',\n    caption: p.caption||'', dialogue: dlg,\n    prompt: prompt, refIds: refIds };\n});\n\nconst fileSafe = (String(data.title||r.topic).toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40)) || 'comic';\nconst takeaways = (Array.isArray(data.takeaways)?data.takeaways:[]).map(function(t){ return String(t||'').trim(); }).filter(Boolean).slice(0,4);\n// Custom header/cover banner in the SAME art style, based on the comic's content,\n// so the masthead matches the chosen style instead of a generic gradient. Text-free\n// (the title is overlaid by the layout for legibility).\nconst headerPrompt = stylePreamble + 'Dramatic wide cover-banner key art for a comic titled \"' + (data.title||r.topic) + '\" about ' + r.topic + '. ' + (data.logline||'') + ' Cinematic and eye-catching, capturing the theme and mood; keep the left portion less busy for a title overlay. No text, no words, no letters, no logos, no watermark, no UI.';\nreturn [{ json: {\n  data: data, stylePreamble: stylePreamble, anchors: anchors, panels: panels, headerPrompt: headerPrompt,\n  title: data.title, logline: data.logline||'', brand: (r.client||''), topic: r.topic,\n  style: r.style, audience: r.audience, date: r.date, fileSafe: fileSafe, takeaways: takeaways,\n  quality: r.quality || ''\n} }];\n"
      }
    },
    {
      "id": "art",
      "name": "Generate Art",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Comic art generator — the consistency engine, hardened for n8n stability.\n// 1) Generate a reference (\"anchor\") image per character and per place.\n// 2) Generate each panel via /images/edits conditioned on that panel's anchors\n//    (place + present characters) so designs/style stay consistent; falls back to\n//    /images/generations.\n// CRITICAL: images are written to a temp work dir on disk and only FILE PATHS are\n// returned in JSON — never base64. That keeps n8n execution data tiny (a few KB\n// instead of tens of MB of inline images), which is what was wedging n8n.\nconst fs = require('fs');\nconst H = this.helpers;\nconst j = $json || {};\nconst key = $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY;\nconst base = ($env.OPENAI_BASE_URL || 'https://api.openai.com/v1');\nconst model = ($env.IMAGE_MODEL || 'gpt-image-1');\nconst size = ($env.COMIC_IMAGE_SIZE || '1024x1024');\n// Image quality is the biggest speed/cost lever (gpt-image-1/2: low|medium|high|auto).\nconst QV = { low:1, medium:1, high:1, auto:1 };\nlet quality = String(j.quality || $env.COMIC_IMAGE_QUALITY || 'medium').toLowerCase();\nif (!QV[quality]) quality = 'medium';\n// Parallelism (bounded; default modest to stay light on memory & rate limits).\nlet conc = parseInt($env.COMIC_CONCURRENCY || '2', 10); if (!(conc > 0)) conc = 2; if (conc > 8) conc = 8;\n// Per-call timeout — fail fast instead of hanging for minutes on a stuck call.\nlet timeout = parseInt($env.IMAGE_TIMEOUT || '90000', 10); if (!(timeout > 0)) timeout = 90000;\n// Opt-in /images/edits (multipart) panel consistency; off by default for stability.\nvar useEdits = (($env.COMIC_USE_EDITS||'').toString().toLowerCase()==='true');\n\nconst baseName = (j.fileSafe || 'comic') + '-' + (j.date || new Date().toISOString().slice(0,10));\nconst workDir = '/reports/awareness/comics/.work/' + baseName;\nconst anchorsDir = workDir + '/anchors';\nconst panelsDir = workDir + '/panels';\ntry { fs.mkdirSync(anchorsDir, { recursive: true }); fs.mkdirSync(panelsDir, { recursive: true }); } catch (e) {}\nif (key) { try { fs.writeFileSync(workDir + '/.w', 'ok'); fs.unlinkSync(workDir + '/.w'); } catch (e) { throw new Error('Comic: cannot write images to ' + workDir + '. Make /reports writable by the n8n container (e.g. `chmod -R a+rwX reports` on the host).'); } }\n\n// Run an async fn over items with a fixed concurrency limit; preserves order.\nasync function mapLimit(items, limit, fn){\n  const ret = new Array(items.length); let idx = 0;\n  async function worker(){ while (idx < items.length){ const cur = idx++; ret[cur] = await fn(items[cur], cur); } }\n  const n = Math.max(1, Math.min(limit, items.length));\n  const workers = []; for (let w = 0; w < n; w++) workers.push(worker());\n  await Promise.all(workers);\n  return ret;\n}\nasync function withRetry(fn){\n  let lastErr;\n  for (let attempt = 0; attempt < 2; attempt++){\n    try { return await fn(); }\n    catch (e) { lastErr = e; if (attempt === 0) await new Promise(function(r){ setTimeout(r, 1500); }); }\n  }\n  throw lastErr;\n}\n\nasync function generate(prompt, sz){\n  const resp = await withRetry(function(){ return H.httpRequest({ method:'POST', url: base + '/images/generations',\n    headers: { Authorization: 'Bearer ' + key, 'Content-Type': 'application/json' },\n    body: { model: model, prompt: prompt, size: (sz || size), quality: quality, n: 1 }, json: true, timeout: timeout }); });\n  return resp && resp.data && resp.data[0] && resp.data[0].b64_json;\n}\nasync function edit(prompt, refBuffers){\n  const boundary = '----jarviscomic' + Date.now().toString(16) + Math.random().toString(16).slice(2);\n  const CRLF = '\\r\\n'; const parts = [];\n  function field(name, val){ parts.push(Buffer.from('--' + boundary + CRLF + 'Content-Disposition: form-data; name=\"' + name + '\"' + CRLF + CRLF + String(val) + CRLF, 'utf8')); }\n  function file(name, filename, buf){ parts.push(Buffer.from('--' + boundary + CRLF + 'Content-Disposition: form-data; name=\"' + name + '\"; filename=\"' + filename + '\"' + CRLF + 'Content-Type: image/png' + CRLF + CRLF, 'utf8')); parts.push(buf); parts.push(Buffer.from(CRLF, 'utf8')); }\n  field('model', model); field('prompt', prompt); field('size', size); field('quality', quality); field('n', '1');\n  for (let i = 0; i < refBuffers.length; i++) file('image[]', 'ref' + i + '.png', refBuffers[i]);\n  parts.push(Buffer.from('--' + boundary + '--' + CRLF, 'utf8'));\n  const body = Buffer.concat(parts);\n  const resp = await H.httpRequest({ method:'POST', url: base + '/images/edits',\n    headers: { Authorization: 'Bearer ' + key, 'Content-Type': 'multipart/form-data; boundary=' + boundary },\n    body: body, json: false, timeout: timeout });\n  const parsed = (typeof resp === 'string') ? JSON.parse(resp) : resp;\n  return parsed && parsed.data && parsed.data[0] && parsed.data[0].b64_json;\n}\n\nlet ok = 0, failed = 0;\n\n// 1) Anchor reference images — independent, generated in parallel. Their buffers\n//    are kept in memory (a handful) so panels can condition on them; the PNGs are\n//    also written to disk for the final bundle.\nconst anchorImg = {};               // id -> Buffer (refs for panel edits)\nconst anchorsOut = await mapLimit(j.anchors || [], conc, async function(a){\n  let buf = null;\n  if (key) { try { const b64 = await generate(a.prompt); if (b64) buf = Buffer.from(b64, 'base64'); } catch (e) { buf = null; } }\n  let file = '';\n  if (buf) { file = anchorsDir + '/' + (a.id || 'anchor') + '.png'; try { fs.writeFileSync(file, buf); anchorImg[a.id] = buf; ok++; } catch (e) { file = ''; } }\n  else if (key) failed++;\n  return { id: a.id, name: a.name, kind: a.kind, file: file };\n});\n\n// 1b) Custom header/cover banner in the chosen art style (wide), based on the\n//     comic's title/logline/topic — so the masthead matches the picked style.\nlet headerFile = '';\nif (key && j.headerPrompt) {\n  try { const b64 = await generate(j.headerPrompt, '1536x1024'); if (b64) { headerFile = workDir + '/header.png'; fs.writeFileSync(headerFile, Buffer.from(b64, 'base64')); ok++; } }\n  catch (e) { headerFile = ''; }\n}\n\n// 2) Panels depend on the anchors but not each other → parallel. Write to disk and\n//    return only the path; do NOT keep panel base64 in memory or JSON.\nconst panelsOut = await mapLimit(j.panels || [], conc, async function(p, idx){\n  let buf = null;\n  // Panels use plain /images/generations by default. The /images/edits multipart\n  // upload (a binary Buffer pushed through the n8n task-runner proxy) can silently\n  // crash the runner/process, so it is opt-in via COMIC_USE_EDITS=true. Visual\n  // consistency comes from the detailed per-panel prompt (locked character/place\n  // descriptions). When edits are enabled it falls back to generations on failure.\n  const refs = (p.refIds || []).map(function(id){ return anchorImg[id]; }).filter(Boolean);\n  if (key) {\n    try {\n      let b64 = '';\n      if (useEdits && refs.length) { try { b64 = await edit(p.prompt, refs); } catch (e) { b64 = ''; } }\n      if (!b64) b64 = await generate(p.prompt);\n      if (b64) buf = Buffer.from(b64, 'base64');\n    } catch (e) { buf = null; }\n  }\n  const num = String(p.index || idx + 1).padStart(2, '0');\n  let file = '';\n  if (buf) { file = panelsDir + '/panel-' + num + '.png'; try { fs.writeFileSync(file, buf); ok++; } catch (e) { file = ''; } }\n  else if (key) failed++;\n  // Keep only small layout fields in JSON (drop the long image prompt).\n  return { index: p.index || idx + 1, shot: p.shot, action: p.action, scene: p.scene, caption: p.caption, dialogue: p.dialogue, file: file };\n});\n\n// Fail fast & loud if a key was configured but nothing came back — a red node with\n// a clear cause beats a silent, hours-long run that yields a placeholder-only comic.\nif (key && ok === 0) {\n  throw new Error('Comic: image generation produced 0 images (' + failed + ' attempts failed). '\n    + 'Check OpenAI image access/credits, IMAGE_MODEL=\"' + model + '\", quality=\"' + quality + '\", and network egress from the n8n container. '\n    + 'Run stopped rather than producing a placeholder-only comic.');\n}\n\nreturn [{ json: {\n  title: j.title, logline: j.logline, brand: j.brand, topic: j.topic, style: j.style,\n  audience: j.audience, date: j.date, fileSafe: j.fileSafe, takeaways: j.takeaways || [], data: j.data || {},\n  anchors: anchorsOut, panels: panelsOut, headerFile: headerFile, workDir: workDir,\n  imageQuality: quality, concurrency: conc, generated: ok, failed: failed, hadKey: !!key\n} }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render Comic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Render the branded comic as one print-ready A4 HTML: a Jarvis-branded masthead, a\n// 2-up panel grid with narration caption bars + speech bubbles, a Key-takeaways box\n// (lessons learned, written by the AI) and a Jarvis sign-off. Works with real panel\n// images or graceful placeholders. Gotenberg turns it into the PDF. Shares the brand\n// kit (palette, avatar) with the magazine so everything looks and feels the same.\nconst j = $json || {};\nconst panels = j.panels || [];\nconst title = j.title || 'Comic';\nconst logline = j.logline || '';\nconst brand = (j.brand || '').toString();\nconst topic = (j.topic || '').toString();\nconst style = (j.style || '').toString();\nconst takeaways = (Array.isArray(j.takeaways) ? j.takeaways : []).map(function(t){ return String(t||'').trim(); }).filter(Boolean);\nconst date = j.date || new Date().toISOString().slice(0,10);\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\n\n// Shared brand kit — Jarvis avatar (prefer the branding file, else inline SVG) so the\n// comic masthead/sign-off match the magazine and the Awareness Portal.\nlet _fs = null; try { _fs = require('fs'); } catch (e) {}\nfunction avatarUri(){ if (_fs) { var t = [['/config/branding/jarvis-avatar.png','image/png'],['/config/branding/jarvis-avatar.jpg','image/jpeg'],['/config/branding/jarvis-avatar.jpeg','image/jpeg'],['/config/branding/jarvis-avatar.svg','image/svg+xml']]; for (var i=0;i<t.length;i++){ try { return 'data:' + t[i][1] + ';base64,' + _fs.readFileSync(t[i][0]).toString('base64'); } catch(e){} } } return ''; }\nconst JARVIS_SVG = '<svg class=\"av\" viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\"><defs><linearGradient id=\"jg\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\"><stop offset=\"0\" stop-color=\"#0E7C86\"/><stop offset=\"1\" stop-color=\"#0A1A2F\"/></linearGradient></defs><circle cx=\"32\" cy=\"32\" r=\"32\" fill=\"url(#jg)\"/><rect x=\"19\" y=\"21\" width=\"26\" height=\"22\" rx=\"7\" fill=\"#fff\"/><circle cx=\"27\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><circle cx=\"37\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><rect x=\"27\" y=\"38\" width=\"10\" height=\"2.4\" rx=\"1.2\" fill=\"#0E7C86\"/><rect x=\"30.7\" y=\"14\" width=\"2.6\" height=\"6\" rx=\"1.3\" fill=\"#9fe4d8\"/><circle cx=\"32\" cy=\"13\" r=\"2.4\" fill=\"#E7C76A\"/><path d=\"M23 47h18l-3 4.5H26z\" fill=\"#9fe4d8\"/></svg>';\n// Panel images live on disk (paths from the art node) — read each one lazily and\n// inline it as a data URI only at render time, so images never travel through the\n// node JSON. The resulting HTML is emitted as BINARY (below), not JSON.\nfunction imgFromFile(file){ if (!file || !_fs) return ''; try { return 'data:image/png;base64,' + _fs.readFileSync(file).toString('base64'); } catch (e) { return ''; } }\n\nfunction jbHex(v,d){v=String(v||'').trim();return /^#[0-9a-fA-F]{6}$/.test(v)?v:d;}\nvar JB_PRI=jbHex($env.BRAND_PRIMARY,'#0A1A2F'),JB_ACC=jbHex($env.BRAND_ACCENT,'#0E7C86'),JB_GOLD=jbHex($env.BRAND_GOLD,'#E7C76A');\nconst CSS = \":root{--jb-pri:\"+JB_PRI+\";--jb-acc:\"+JB_ACC+\";--jb-gold:\"+JB_GOLD+\"}@page{size:A4;margin:11mm} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,'Segoe UI',Roboto,Arial,sans-serif;color:#16202b}\"\n+\".comic{width:100%}\"\n// masthead — Jarvis-branded, matches the magazine palette\n+\".mast{position:relative;background:radial-gradient(120% 130% at 88% -10%,#13507a 0,var(--jb-pri) 52%),linear-gradient(135deg,var(--jb-pri),var(--jb-acc) 160%);color:#fff;padding:13mm 15mm 11mm;overflow:hidden;border-radius:12px}\"\n+\".mast .bg{position:absolute;inset:0;background-size:cover;background-position:center;z-index:0}\"\n+\".mast .scrim{position:absolute;inset:0;z-index:1;background:linear-gradient(110deg,rgba(8,16,26,.92) 0%,rgba(8,16,26,.74) 44%,rgba(10,26,47,.40) 100%)}\"\n+\".mast .row{display:flex;align-items:center;gap:13px;position:relative;z-index:2}\"\n+\".mast .av{width:54px;height:54px;border-radius:50%;border:2px solid #9fe4d8;flex:0 0 auto;background:var(--jb-pri)}\"\n+\".mast .av img,.mast .av svg{width:100%;height:100%;border-radius:50%;display:block}\"\n+\".mast .brand{font-size:10pt;letter-spacing:3px;text-transform:uppercase;color:#9fe4d8;font-weight:800}\"\n+\".mast .kick{font-size:9pt;letter-spacing:4px;text-transform:uppercase;color:var(--jb-gold);font-weight:800;margin-top:2px}\"\n+\".mast h1{margin:9px 0 0;font-size:38pt;line-height:1.04;font-weight:800;font-family:Georgia,'Times New Roman',serif;position:relative;z-index:2}\"\n+\".mast .log{margin-top:9px;font-size:13pt;color:#e7eef2;max-width:165mm;font-style:italic;position:relative;z-index:2}\"\n+\".mast .meta{margin-top:11px;display:flex;gap:8px;flex-wrap:wrap;position:relative;z-index:2}\"\n+\".mast .chip{font-family:-apple-system,Arial,sans-serif;font-size:8pt;letter-spacing:1.5px;text-transform:uppercase;font-weight:800;color:#cdeae6;border:1px solid rgba(159,228,216,.45);border-radius:20px;padding:3px 11px}\"\n+\".rule{height:5px;border-radius:3px;margin:7px 0 0;background:linear-gradient(90deg,var(--jb-gold),var(--jb-acc))}\"\n+\".mast .wm{position:absolute;right:-30mm;top:-20mm;width:130mm;height:130mm;opacity:.13;z-index:1}\"\n// panel grid\n+\".grid{padding:7mm 7mm 2mm;font-size:0}\"\n+\".panel{display:inline-block;width:48%;margin:1%;vertical-align:top;border:3px solid var(--jb-pri);border-radius:8px;overflow:hidden;background:#fff;position:relative;page-break-inside:avoid;box-shadow:3px 3px 0 rgba(10,26,47,.85)}\"\n+\".imgwrap{position:relative;width:100%;height:64mm;background:#e9eef3;overflow:hidden}\"\n+\".imgwrap img{width:100%;height:100%;object-fit:cover;display:block}\"\n+\".ph{position:absolute;inset:0;display:flex;align-items:center;justify-content:center;text-align:center;padding:10mm;background:linear-gradient(135deg,var(--jb-pri),var(--jb-acc))}\"\n+\".ph .pt{font-size:11px;line-height:1.4;color:#fff;opacity:.95}.ph .ps{display:block;font-size:9px;letter-spacing:2px;text-transform:uppercase;color:#9fe4d8;margin-bottom:6px;font-weight:800}\"\n+\".cap{position:absolute;left:0;top:0;right:0;background:#FCE9A6;border-bottom:2px solid var(--jb-pri);padding:5px 9px;font-size:11px;font-weight:700;line-height:1.25;font-family:'Comic Sans MS','Comic Neue',Georgia,serif;color:#16202b}\"\n+\".bubbles{position:absolute;left:7px;right:7px;display:flex;flex-direction:column;gap:5px}\"\n+\".bubble{background:#fff;border:2px solid var(--jb-pri);border-radius:12px;padding:4px 9px;font-size:11px;line-height:1.25;max-width:82%;box-shadow:1px 1px 0 var(--jb-pri);font-family:'Comic Sans MS','Comic Neue',Georgia,serif}\"\n+\".bubble.r{align-self:flex-end}.bubble.l{align-self:flex-start}\"\n+\".bubble .sp{display:block;font-size:8.5px;letter-spacing:1px;text-transform:uppercase;color:var(--jb-acc);font-weight:800}\"\n+\".num{position:absolute;right:6px;bottom:6px;background:var(--jb-pri);color:#fff;font-size:10px;font-weight:800;padding:1px 7px;border-radius:9px}\"\n// key takeaways / lessons learned\n+\".take{margin:5mm 8mm 0;background:#F4F6F9;border:1px solid #E2E6EC;border-left:5px solid var(--jb-acc);border-radius:10px;padding:13px 18px;page-break-inside:avoid}\"\n+\".take .th{font-family:-apple-system,Arial,sans-serif;font-size:9pt;letter-spacing:2px;text-transform:uppercase;color:var(--jb-pri);font-weight:800;margin-bottom:7px}\"\n+\".take ul{margin:0;padding-left:20px;font-size:0}.take li{font-size:10.5pt;line-height:1.4;margin:5px 0;color:#46505c}\"\n// Jarvis sign-off\n+\".signoff{display:flex;align-items:center;justify-content:center;gap:13px;margin:6mm 8mm 0;padding-top:13px;border-top:2px solid var(--jb-acc)}\"\n+\".signoff .av,.signoff img{width:50px;height:50px;border-radius:50%;border:2px solid var(--jb-acc);flex:0 0 auto}\"\n+\".signoff .nm{font-family:Georgia,serif;font-size:13pt;color:var(--jb-pri);font-weight:700}\"\n+\".signoff .rl{font-family:-apple-system,Arial,sans-serif;font-size:8pt;letter-spacing:2px;text-transform:uppercase;color:var(--jb-acc);font-weight:800;margin-top:2px}\"\n// footer\n+\".foot{padding:5mm 15mm 9mm;color:#8a98a4;font-size:9pt;display:flex;justify-content:space-between}\";\n\nconst wm = '<svg class=\"wm\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#9fe4d8\" stroke-width=\"0.6\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\nconst AV = avatarUri();\nconst avatar = AV ? ('<img src=\"' + AV + '\" alt=\"Jarvis\"/>') : JARVIS_SVG;\nconst avatarDot = '<span class=\"av\">' + avatar + '</span>';\n\nlet html = '<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body><div class=\"comic\">';\n// masthead — use the custom style-matched header image when available, else the\n// branded gradient + watermark fallback.\nconst headerUri = imgFromFile(j.headerFile);\nconst mastBg = headerUri ? ('<div class=\"bg\" style=\"background-image:url('+headerUri+')\"></div><div class=\"scrim\"></div>') : wm;\nhtml += '<div class=\"mast\">' + mastBg\n  + '<div class=\"row\">' + avatarDot\n  + '<div>' + (brand ? ('<div class=\"brand\">'+esc(brand)+'</div>') : '<div class=\"brand\">Security Awareness</div>')\n  + '<div class=\"kick\">Awareness Comic</div></div></div>'\n  + '<h1>'+esc(title)+'</h1>'\n  + (logline ? ('<div class=\"log\">'+esc(logline)+'</div>') : '')\n  + '<div class=\"meta\">'\n  + (topic ? ('<span class=\"chip\">'+esc(topic)+'</span>') : '')\n  + (style ? ('<span class=\"chip\">'+esc(style)+'</span>') : '')\n  + '<span class=\"chip\">'+esc(panels.length)+' panels</span>'\n  + '</div></div><div class=\"rule\"></div>';\n// panels\nhtml += '<div class=\"grid\">';\npanels.forEach(function(p, idx){\n  const hasCap = !!(p.caption && String(p.caption).trim());\n  let inner;\n  const uri = imgFromFile(p.file);\n  if (uri) inner = '<img src=\"'+uri+'\" alt=\"\">';\n  else inner = '<div class=\"ph\"><div><span class=\"ps\">'+esc(p.shot||'scene')+'</span><span class=\"pt\">'+esc(p.action||p.scene||'')+'</span></div></div>';\n  // Dialogue is rendered as real speech bubbles inside the generated image now, so\n  // only the narration caption bar is overlaid here.\n  html += '<div class=\"panel\"><div class=\"imgwrap\">'+inner\n    + (hasCap?('<div class=\"cap\">'+esc(p.caption)+'</div>'):'')\n    + '<div class=\"num\">'+(idx+1)+'</div>'\n    + '</div></div>';\n});\nhtml += '</div>';\n// key takeaways / lessons learned (AI-written)\nif (takeaways.length) {\n  html += '<div class=\"take\"><div class=\"th\">Key takeaways &middot; Lessons learned</div><ul>'\n    + takeaways.map(function(t){ return '<li>'+esc(t)+'</li>'; }).join('') + '</ul></div>';\n}\n// Jarvis sign-off + footer\nhtml += '<div class=\"signoff\">' + avatar + '<div><div class=\"nm\">Jarvis</div><div class=\"rl\">Your AI Awareness Assistant</div></div></div>';\nhtml += '<div class=\"foot\"><span>'+esc(brand||'Security Awareness')+'</span><span>'+esc(date)+'</span></div>';\nhtml += '</div></body></html>';\n\n// Emit the (large) HTML as BINARY for Gotenberg, not JSON — keeps execution data\n// tiny. The JSON carries only small metadata + on-disk paths for the writer.\nconst bin = await this.helpers.prepareBinaryData(Buffer.from(html, 'utf8'), 'index.html', 'text/html');\nreturn [{\n  json: {\n    title: title, fileSafe: j.fileSafe || 'comic', date: date, brand: brand,\n    topic: j.topic, style: j.style, panels: panels, anchors: j.anchors || [],\n    data: j.data || {}, takeaways: takeaways, workDir: j.workDir || ''\n  },\n  binary: { data: bin }\n}];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "zip",
      "name": "Zip & Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Persist the comic: the branded PDF (from Gotenberg) + a .zip bundle of panel\n// PNGs, character/place anchor images and the script.json. Returns the PDF (or the\n// zip) as the primary binary. Pure-JS store-zip writer (Buffer only).\nconst fs = require('fs');\nconst meta = $('Render Comic').first().json || {};\nconst dir = '/reports/awareness/comics';\nconst base = 'comic-' + (meta.fileSafe || 'comic') + '-' + (meta.date || new Date().toISOString().slice(0,10));\nfunction _crcT(){ var c,t=[]; for(var n=0;n<256;n++){ c=n; for(var k=0;k<8;k++) c=(c&1)?(0xEDB88320^(c>>>1)):(c>>>1); t[n]=c>>>0; } return t; }\nvar CT=_crcT();\nfunction crc32(b){ var c=0xFFFFFFFF; for(var i=0;i<b.length;i++) c=CT[(c^b[i])&0xFF]^(c>>>8); return (c^0xFFFFFFFF)>>>0; }\nfunction zipStore(entries){ var dt=new Date(); var T=((dt.getHours()&31)<<11)|((dt.getMinutes()&63)<<5)|((Math.floor(dt.getSeconds()/2))&31); var D=(((dt.getFullYear()-1980)&127)<<9)|(((dt.getMonth()+1)&15)<<5)|(dt.getDate()&31); var local=[],central=[],off=0; entries.forEach(function(e){ var name=Buffer.from(e.name,'utf8'); var data=Buffer.isBuffer(e.data)?e.data:Buffer.from(String(e.data),'utf8'); var crc=crc32(data); var lh=Buffer.alloc(30); lh.writeUInt32LE(0x04034b50,0);lh.writeUInt16LE(20,4);lh.writeUInt16LE(0,6);lh.writeUInt16LE(0,8);lh.writeUInt16LE(T,10);lh.writeUInt16LE(D,12);lh.writeUInt32LE(crc,14);lh.writeUInt32LE(data.length,18);lh.writeUInt32LE(data.length,22);lh.writeUInt16LE(name.length,26);lh.writeUInt16LE(0,28); local.push(lh,name,data); var ch=Buffer.alloc(46); ch.writeUInt32LE(0x02014b50,0);ch.writeUInt16LE(20,4);ch.writeUInt16LE(20,6);ch.writeUInt16LE(0,8);ch.writeUInt16LE(0,10);ch.writeUInt16LE(T,12);ch.writeUInt16LE(D,14);ch.writeUInt32LE(crc,16);ch.writeUInt32LE(data.length,20);ch.writeUInt32LE(data.length,24);ch.writeUInt16LE(name.length,28);ch.writeUInt16LE(0,30);ch.writeUInt16LE(0,32);ch.writeUInt16LE(0,34);ch.writeUInt16LE(0,36);ch.writeUInt32LE(0,38);ch.writeUInt32LE(off,42); central.push(ch,name); off+=30+name.length+data.length; }); var cd=Buffer.concat(central), body=Buffer.concat(local); var eo=Buffer.alloc(22); eo.writeUInt32LE(0x06054b50,0);eo.writeUInt16LE(0,4);eo.writeUInt16LE(0,6);eo.writeUInt16LE(entries.length,8);eo.writeUInt16LE(entries.length,10);eo.writeUInt32LE(cd.length,12);eo.writeUInt32LE(body.length,16);eo.writeUInt16LE(0,20); return Buffer.concat([body,cd,eo]); }\nfunction uriBuf(u){ if(!u) return null; var i=String(u).indexOf('base64,'); if(i<0) return null; try { return Buffer.from(String(u).slice(i+7),'base64'); } catch(e){ return null; } }\n\ntry { fs.mkdirSync(dir, { recursive: true }); } catch (e) {}\n\nlet pdf = null;\ntry { pdf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) { pdf = null; }\nif (pdf && pdf.length) { try { fs.writeFileSync(dir + '/' + base + '.pdf', pdf); } catch (e) {} }\n\n// Panel/anchor images are on disk (paths from the art node) — read them here for\n// the bundle so no base64 ever flows through the workflow JSON.\nfunction readImg(file){ if (!file) return null; try { return fs.readFileSync(file); } catch (e) { return null; } }\nconst entries = [];\nif (pdf && pdf.length) entries.push({ name: 'comic.pdf', data: pdf });\n(meta.panels || []).forEach(function(p, idx){ var b = readImg(p.file); if (b) entries.push({ name: 'panels/panel-' + String(p.index||idx+1).padStart(2,'0') + '.png', data: b }); });\n(meta.anchors || []).forEach(function(a){ var b = readImg(a.file); if (b) entries.push({ name: 'anchors/' + (a.id||'anchor') + '.png', data: b }); });\nentries.push({ name: 'script.json', data: JSON.stringify(meta.data || {}, null, 2) });\n\nlet zip = null, zipOnDisk = false;\ntry { zip = zipStore(entries); fs.writeFileSync(dir + '/' + base + '.zip', zip); zipOnDisk = true; } catch (e) { zip = null; }\n\n// Fail loudly (red node) rather than silently green if nothing could be written.\nconst pdfOnDisk = !!(pdf && pdf.length && fs.existsSync(dir + '/' + base + '.pdf'));\nif (!pdfOnDisk && !zipOnDisk) throw new Error('Comic: could not write to ' + dir + '. Make /reports writable by the n8n container, e.g. `chmod -R a+rwX reports` on the host.');\n\n// Clean up the temp work dir of generated images now they're bundled (guard: only\n// remove paths under the comics/.work area).\nif (meta.workDir && meta.workDir.indexOf('/.work/') >= 0) { try { fs.rmSync(meta.workDir, { recursive: true, force: true }); } catch (e) {} }\n\nlet primary = pdf && pdf.length ? pdf : zip;\nlet primaryName = pdf && pdf.length ? (base + '.pdf') : (base + '.zip');\nlet mime = pdf && pdf.length ? 'application/pdf' : 'application/zip';\nconst out = { json: { ok: !!primary, dir: dir, pdf: (pdf&&pdf.length)?(dir+'/'+base+'.pdf'):'', zip: zip?(dir+'/'+base+'.zip'):'', panels: (meta.panels||[]).length, topic: meta.topic, title: meta.title } };\nif (primary) { const bin = await this.helpers.prepareBinaryData(primary, primaryName, mime); out.binary = { data: bin }; }\nreturn [out];\n"
      }
    }
  ],
  "connections": {
    "Open Form": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Comic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Comic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Comic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Comic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Comic": {
      "main": [
        [
          {
            "node": "Generate Art",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Art": {
      "main": [
        [
          {
            "node": "Render Comic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Comic": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Zip & Write",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}