workflows/awareness/elearning.json
{
  "id": "jarvisAwElearn01",
  "name": "Jarvis · Awareness — E-learning Module",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand interactive security-awareness E-LEARNING module. Trigger via Telegram (/elearning <topic>) or manually (form: topic, audience, pass mark, format, section images). AI writes a structured micro-course with a per-section illustrator \"scene\"; Generate Section Images renders one cinematic office image per section via the image provider (embedded as data URIs, graceful gradient fallback). Render builds one self-contained interactive lesson HTML (section hero images, nav, progress bar, scored knowledge check) that is SCORM-aware (feature-detects an LMS API and reports cmi.core.lesson_status + score). Writes an .html lesson and/or a SCORM 1.2 .zip (built by a pure-JS store writer) to /reports/awareness/elearning. Files-only; generic branding (CLIENT_NAME optional). No Gotenberg — interactive HTML, not PDF.",
    "envVars": [
      "AI_PROVIDER",
      "IMAGE_PROVIDER",
      "OPENAI_API_KEY",
      "IMAGE_MODEL",
      "ELEARNING_SECTION_IMAGES",
      "CLIENT_NAME",
      "DEFAULT_AWARENESS_TOPIC"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Generate Awareness E-learning Module",
        "formDescription": "Pick a topic and options, then submit. Produces an interactive HTML lesson and/or a SCORM package.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Phishing"
                  },
                  {
                    "option": "Spear phishing & whaling"
                  },
                  {
                    "option": "Business email compromise (BEC)"
                  },
                  {
                    "option": "Passwords & passphrases"
                  },
                  {
                    "option": "Multi-factor authentication (MFA)"
                  },
                  {
                    "option": "Social engineering"
                  },
                  {
                    "option": "Vishing (voice phishing)"
                  },
                  {
                    "option": "Smishing (SMS phishing)"
                  },
                  {
                    "option": "QR-code phishing (quishing)"
                  },
                  {
                    "option": "Safe remote & home working"
                  },
                  {
                    "option": "Travel security"
                  },
                  {
                    "option": "Removable media & USB"
                  },
                  {
                    "option": "Public Wi-Fi"
                  },
                  {
                    "option": "Data classification & handling"
                  },
                  {
                    "option": "Insider risk"
                  },
                  {
                    "option": "Ransomware"
                  },
                  {
                    "option": "Reporting incidents"
                  },
                  {
                    "option": "Deepfakes & AI-enabled fraud"
                  },
                  {
                    "option": "Generative-AI safe use"
                  },
                  {
                    "option": "Custom (type below)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Custom topic",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Used if set / if Topic = Custom"
            },
            {
              "fieldLabel": "Audience",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "All staff"
                  },
                  {
                    "option": "Finance"
                  },
                  {
                    "option": "Executives"
                  },
                  {
                    "option": "IT & Developers"
                  },
                  {
                    "option": "New joiners"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Pass mark (%)",
              "fieldType": "number",
              "requiredField": false,
              "placeholder": "80"
            },
            {
              "fieldLabel": "Format",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Both (HTML + SCORM)"
                  },
                  {
                    "option": "Interactive HTML only"
                  },
                  {
                    "option": "SCORM package only"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Section images",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes — illustrate each section with AI images"
                  },
                  {
                    "option": "No — faster, no images"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-elearning-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nlet custom = pick(i['Custom topic']); let drop = pick(i['Topic'], i.topic); if(/^custom/i.test(drop)) drop='';\nlet t = pick(custom, drop, i.query, i.text); t = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif(!t) t = ($env.DEFAULT_AWARENESS_TOPIC || 'phishing');\nconst fmt = pick(i['Format'], i.format).toLowerCase();\nlet format='Both'; if(fmt.indexOf('scorm')>=0 && fmt.indexOf('html')<0) format='SCORM'; else if(fmt.indexOf('html')>=0 && fmt.indexOf('scorm')<0) format='HTML';\nconst pm = parseInt(pick(i['Pass mark (%)'], i['Pass mark'], i.passMark),10);\nconst imgSel = pick(i['Section images'], i.illustrate);\nlet illustrate; if(imgSel) illustrate = !/^(no|false|off|0)/i.test(imgSel); else illustrate = (($env.ELEARNING_SECTION_IMAGES||'true').toString().toLowerCase()!=='false');\nreturn [{ json: { topic:t, audience:(pick(i['Audience'],i.audience)||'All staff'), passMark:(isNaN(pm)?80:pm), format:format, illustrate:illustrate, date:new Date().toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString() } }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-sonnet-4-6' }}\",\n  \"max_tokens\": 4000,\n  \"system\": \"You are an instructional designer creating a short interactive security-awareness e-learning module. For the given topic and audience produce a SINGLE valid JSON object. Keys: title; intro (2-3 sentences on why this matters to the learner and the organisation); sections (4-6 items, each {heading, body (2-4 short paragraphs separated by single newline characters), keyPoints (2-4 short bullet strings), scene (ONE vivid sentence describing a realistic modern-office scene that visually illustrates this section, written for an illustrator: describe the people, setting and action; do NOT mention any on-screen text, screens of text, or logos)}); questions (4-6 knowledge-check items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}). Plain, engaging, non-technical language tailored to the audience. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Create an interactive e-learning module on the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Knowledge-check pass mark: ' + ($json.passMark||80) + '%.') }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.5, \"num_predict\": 3500 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are an instructional designer creating a short interactive security-awareness e-learning module. For the given topic and audience produce a SINGLE valid JSON object. Keys: title; intro (2-3 sentences on why this matters to the learner and the organisation); sections (4-6 items, each {heading, body (2-4 short paragraphs separated by single newline characters), keyPoints (2-4 short bullet strings), scene (ONE vivid sentence describing a realistic modern-office scene that visually illustrates this section, written for an illustrator: describe the people, setting and action; do NOT mention any on-screen text, screens of text, or logos)}); questions (4-6 knowledge-check items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}). Plain, engaging, non-technical language tailored to the audience. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Create an interactive e-learning module on the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Knowledge-check pass mark: ' + ($json.passMark||80) + '%.') }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json;\nconst STYLE = 'Cinematic, semi-realistic editorial illustration set in a bright modern corporate office. Polished, professional and calm mood; soft natural window light with a warm key light; teal and deep-navy colour grade; shallow depth of field; clean wide composition with generous empty space near the top. Diverse professional people in business-casual attire, natural expressions. ';\nconst NEG = ' No text, no words, no letters, no numbers, no logos, no signage, no watermark, no user-interface screenshots, no charts.';\nconst sections = (data && data.sections) || [];\nconst imagePrompts = sections.map(function(s){ var scene = (s && (s.scene || s.heading)) || ('a workplace scene about ' + (r.topic||'security awareness')); return STYLE + 'Scene: ' + scene + '.' + NEG; });\nreturn [{ json: { data:data, topic:r.topic, audience:r.audience, passMark:r.passMark, format:r.format, illustrate:r.illustrate, imagePrompts:imagePrompts, date:r.date, client:r.client } }];\n"
      }
    },
    {
      "id": "images",
      "name": "Generate Section Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nconst prompts = j.imagePrompts || [];\nlet images = prompts.map(function(){ return ''; });\nconst key = $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY;\nif (j.illustrate && key && prompts.length) {\n  const base = ($env.OPENAI_BASE_URL || 'https://api.openai.com/v1');\n  const model = ($env.IMAGE_MODEL || 'gpt-image-1');\n  const size = ($env.ELEARNING_IMAGE_SIZE || '1536x1024');\n  for (let k = 0; k < prompts.length; k++) {\n    try {\n      const resp = await this.helpers.httpRequest({ method:'POST', url: base + '/images/generations',\n        headers: { Authorization: 'Bearer ' + key, 'Content-Type': 'application/json' },\n        body: { model: model, prompt: prompts[k], size: size, n: 1 }, json: true, timeout: 180000 });\n      const b64 = resp && resp.data && resp.data[0] && resp.data[0].b64_json;\n      if (b64) images[k] = 'data:image/png;base64,' + b64;\n    } catch (e) {}\n  }\n}\nreturn [{ json: Object.assign({}, j, { images: images }) }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const d = $json.data || {};\nconst topic = $json.topic || 'Security Awareness';\nconst date = $json.date || new Date().toISOString().slice(0,10);\nconst client = ($json.client || '').toString();\nconst passMark = Number($json.passMark) || 80;\nconst format = $json.format || 'Both';\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nconst title = d.title || (topic + ' — Awareness Module');\nconst brand = client ? client : 'Security Awareness';\nconst payload = { title:title, brand:brand, intro:(d.intro||''), sections:(d.sections||[]), questions:(d.questions||[]), passMark:passMark, images:(Array.isArray($json.images)?$json.images:[]) };\nconst dataJson = JSON.stringify(payload).replace(/</g,'\\\\u003c');\n\nconst CSS = \"*{box-sizing:border-box} body{margin:0;font-family:-apple-system,'Segoe UI',Arial,sans-serif;color:#14202b;background:#eef2f6} .wrap{max-width:820px;margin:0 auto;background:#fff;min-height:100vh;box-shadow:0 0 40px rgba(0,0,0,.06)} .top{background:linear-gradient(135deg,#0E2233,#0E7C86);color:#fff;padding:22px 32px} .top .b{font-size:12px;letter-spacing:2px;text-transform:uppercase;color:#9fe4d8;font-weight:800} .top h1{margin:6px 0 0;font-size:24px} .prog{height:6px;background:#dde6ec} .prog span{display:block;height:6px;background:#0E7C86;transition:width .3s} .pane{padding:30px 34px;min-height:360px} h2{font-family:Georgia,serif;color:#0E2233;font-size:22px;margin:0 0 14px} p{font-size:15px;line-height:1.65;color:#2b3340} .kp{background:#F1F7F8;border-left:4px solid #0E7C86;border-radius:6px;padding:12px 16px;margin:14px 0} .kp li{font-size:14px;line-height:1.5;margin:5px 0} .q{margin:0 0 18px} .q .qt{font-weight:700;color:#0E2233;margin-bottom:8px} .opt{display:block;border:1px solid #dde6ec;border-radius:8px;padding:11px 14px;margin:7px 0;cursor:pointer;font-size:14px} .opt:hover{border-color:#0E7C86} .opt input{margin-right:10px} .nav{display:flex;justify-content:space-between;padding:18px 34px;border-top:1px solid #eef2f6} .btn{background:#0E7C86;color:#fff;border:0;border-radius:8px;padding:11px 22px;font-size:15px;font-weight:700;cursor:pointer} .btn.alt{background:#fff;color:#0E7C86;border:1px solid #0E7C86} .btn[disabled]{opacity:.4;cursor:default} .res{text-align:center;padding:40px} .res .big{font-size:54px;font-weight:800} .res .pass{color:#1E8E5A} .res .fail{color:#B02525} .pill{display:inline-block;padding:4px 12px;border-radius:14px;font-size:12px;font-weight:800;letter-spacing:.5px} .pill.pass{background:#E4F6EC;color:#1E8E5A} .pill.fail{background:#FDECEC;color:#B02525} .foot{padding:14px 34px;color:#8a98a4;font-size:11px;border-top:1px solid #eef2f6} .scene{width:100%;height:240px;border-radius:12px;margin:0 0 20px;background:#0E2233;background-size:cover;background-position:center;box-shadow:0 12px 28px rgba(14,34,51,.22)} .scene.ph{background:linear-gradient(135deg,#0E2233 0%,#0E7C86 100%)}\";\n\nconst APP = \"(function(){var data=DATA;var passMark=data.passMark||80;var total=(data.sections||[]).length;var app=document.getElementById('pane');var navEl=document.getElementById('nav');var prog=document.getElementById('progfill');var idx=-1;function esc(s){return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return {'&':'&amp;','<':'&lt;','>':'&gt;'}[c];});}function setProg(step){var pct=Math.round(((step+1)/(total+2))*100);prog.style.width=pct+'%';}function btn(label,fn,alt,disabled){var b=document.createElement('button');b.className='btn'+(alt?' alt':'');b.textContent=label;if(disabled)b.disabled=true;else b.onclick=fn;return b;}function nav(left,right){navEl.innerHTML='';navEl.appendChild(left||document.createElement('span'));navEl.appendChild(right||document.createElement('span'));}function intro(){idx=-1;setProg(-1);app.innerHTML='<h2>'+esc(data.title)+'</h2><p>'+esc(data.intro)+'</p><p style=\\\"color:#8a98a4;font-size:13px\\\">'+total+' short sections, then a quick knowledge check. Pass mark '+passMark+'%.</p>';nav(null,btn('Start \\\\u2192',function(){go(0);}));}function section(i){idx=i;setProg(i);var s=data.sections[i]||{};var body=(s.body||'').split(/\\\\n+/).map(function(p){return '<p>'+esc(p)+'</p>';}).join('');var kp=(s.keyPoints&&s.keyPoints.length)?('<div class=\\\"kp\\\"><b>Key points</b><ul>'+s.keyPoints.map(function(k){return '<li>'+esc(k)+'</li>';}).join('')+'</ul></div>'):'';var im=(data.images&&data.images[i])||'';var hero='<div class=\\\"scene'+(im?'':' ph')+'\\\"'+(im?(' style=\\\"background-image:url('+im+')\\\"'):'')+'></div>';app.innerHTML=hero+'<h2>'+esc(s.heading||('Section '+(i+1)))+'</h2>'+body+kp;nav(btn('\\\\u2190 Back',function(){go(i-1<0?-1:i-1);},true),btn(i+1<total?'Next \\\\u2192':'Knowledge check \\\\u2192',function(){go(i+1);}));}function quiz(){idx=total;setProg(total);var qs=data.questions||[];var html='<h2>Knowledge check</h2>';qs.forEach(function(q,qi){html+='<div class=\\\"q\\\"><div class=\\\"qt\\\">'+(qi+1)+'. '+esc(q.q)+'</div>';(q.options||[]).forEach(function(o,oi){html+='<label class=\\\"opt\\\"><input type=\\\"radio\\\" name=\\\"q'+qi+'\\\" value=\\\"'+oi+'\\\">'+esc(o)+'</label>';});html+='</div>';});app.innerHTML=html;nav(btn('\\\\u2190 Back',function(){go(total-1);},true),btn('Submit',grade));}function grade(){var qs=data.questions||[];var correct=0;qs.forEach(function(q,qi){var sel=document.querySelector('input[name=q'+qi+']:checked');if(sel&&Number(sel.value)===Number(q.answer))correct++;});var score=qs.length?Math.round((correct/qs.length)*100):0;var passed=score>=passMark;results(score,passed,correct,qs.length);scormReport(score,passed);}function results(score,passed,correct,n){idx=total+1;setProg(total+1);app.innerHTML='<div class=\\\"res\\\"><div class=\\\"big '+(passed?'pass':'fail')+'\\\">'+score+'%</div><div class=\\\"pill '+(passed?'pass':'fail')+'\\\">'+(passed?'PASSED':'NOT YET PASSED')+'</div><p>You answered '+correct+' of '+n+' correctly.</p></div>';nav(btn('Review answers',function(){review();},true),passed?null:btn('Try again',function(){quiz();}));}function review(){var qs=data.questions||[];var html='<h2>Answers</h2>';qs.forEach(function(q,qi){var ans=(q.options||[])[q.answer];html+='<div class=\\\"q\\\"><div class=\\\"qt\\\">'+(qi+1)+'. '+esc(q.q)+'</div><div class=\\\"kp\\\"><b>Correct:</b> '+esc(ans)+'<br><span style=\\\"font-size:13px;color:#5A6472\\\">'+esc(q.why||'')+'</span></div></div>';});app.innerHTML=html;nav(btn('\\\\u2190 Results',function(){go(total);},true),null);}function go(i){if(i<0)return intro();if(i<total)return section(i);if(i===total)return quiz();}function findAPI(win){var n=0;while(win&&win.API==null&&win.parent&&win.parent!=win&&n<12){win=win.parent;n++;}return (win&&win.API)||null;}var API=null;try{API=findAPI(window);if(!API&&window.top!==window)API=findAPI(window.top);}catch(e){}if(API){try{API.LMSInitialize('');API.LMSSetValue('cmi.core.lesson_status','incomplete');API.LMSCommit('');}catch(e){}}function scormReport(score,passed){if(!API)return;try{API.LMSSetValue('cmi.core.score.raw',String(score));API.LMSSetValue('cmi.core.score.min','0');API.LMSSetValue('cmi.core.score.max','100');API.LMSSetValue('cmi.core.lesson_status',passed?'passed':'failed');API.LMSCommit('');API.LMSFinish('');}catch(e){}}go(-1);})();\";\n\nconst html = '<!doctype html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>'+esc(title)+'</title><style>'+CSS+'</style></head><body><div class=\"wrap\"><div class=\"top\"><div class=\"b\">'+esc(brand)+'</div><h1>'+esc(title)+'</h1></div><div class=\"prog\"><span id=\"progfill\" style=\"width:0%\"></span></div><div class=\"pane\" id=\"pane\"></div><div class=\"nav\" id=\"nav\"></div><div class=\"foot\">AI-generated learning content &mdash; review before publishing. · '+esc(date)+'</div></div><script>var DATA='+dataJson+';\\n'+APP+'</script></body></html>';\n\nconst fileSafe = topic.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40) || 'module';\nconst idf = 'JARVIS_'+fileSafe.replace(/-/g,'_').toUpperCase();\nconst manifest = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>\\n'\n+'<manifest identifier=\"'+idf+'\" version=\"1.2\" xmlns=\"http://www.imsproject.org/xsd/imscp_rootv1p1p2\" xmlns:adlcp=\"http://www.adlnet.org/xsd/adlcp_rootv1p2\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.imsproject.org/xsd/imscp_rootv1p1p2 imscp_rootv1p1p2.xsd http://www.adlnet.org/xsd/adlcp_rootv1p2 adlcp_rootv1p2.xsd\">\\n'\n+'  <metadata><schema>ADL SCORM</schema><schemaversion>1.2</schemaversion></metadata>\\n'\n+'  <organizations default=\"ORG\"><organization identifier=\"ORG\"><title>'+esc(title)+'</title>\\n'\n+'    <item identifier=\"ITEM1\" identifierref=\"RES1\"><title>'+esc(title)+'</title></item>\\n'\n+'  </organization></organizations>\\n'\n+'  <resources><resource identifier=\"RES1\" type=\"webcontent\" adlcp:scormtype=\"sco\" href=\"index.html\"><file href=\"index.html\"/></resource></resources>\\n'\n+'</manifest>\\n';\n\nreturn [{ json: { lessonHtml: html, manifest: manifest, topic: topic, date: date, fileSafe: fileSafe, format: format } }];\n"
      }
    },
    {
      "id": "write",
      "name": "Package & Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/elearning';\nconst base = (meta.fileSafe || 'module') + '-' + meta.date;\nfunction _crcT(){ var c,t=[]; for(var n=0;n<256;n++){ c=n; for(var k=0;k<8;k++) c=(c&1)?(0xEDB88320^(c>>>1)):(c>>>1); t[n]=c>>>0; } return t; }\nvar CT=_crcT();\nfunction crc32(b){ var c=0xFFFFFFFF; for(var i=0;i<b.length;i++) c=CT[(c^b[i])&0xFF]^(c>>>8); return (c^0xFFFFFFFF)>>>0; }\nfunction zipStore(entries){ var dt=new Date(); var T=((dt.getHours()&31)<<11)|((dt.getMinutes()&63)<<5)|((Math.floor(dt.getSeconds()/2))&31); var D=(((dt.getFullYear()-1980)&127)<<9)|(((dt.getMonth()+1)&15)<<5)|(dt.getDate()&31); var local=[],central=[],off=0; entries.forEach(function(e){ var name=Buffer.from(e.name,'utf8'); var data=Buffer.isBuffer(e.data)?e.data:Buffer.from(String(e.data),'utf8'); var crc=crc32(data); var lh=Buffer.alloc(30); lh.writeUInt32LE(0x04034b50,0);lh.writeUInt16LE(20,4);lh.writeUInt16LE(0,6);lh.writeUInt16LE(0,8);lh.writeUInt16LE(T,10);lh.writeUInt16LE(D,12);lh.writeUInt32LE(crc,14);lh.writeUInt32LE(data.length,18);lh.writeUInt32LE(data.length,22);lh.writeUInt16LE(name.length,26);lh.writeUInt16LE(0,28); local.push(lh,name,data); var ch=Buffer.alloc(46); ch.writeUInt32LE(0x02014b50,0);ch.writeUInt16LE(20,4);ch.writeUInt16LE(20,6);ch.writeUInt16LE(0,8);ch.writeUInt16LE(0,10);ch.writeUInt16LE(T,12);ch.writeUInt16LE(D,14);ch.writeUInt32LE(crc,16);ch.writeUInt32LE(data.length,20);ch.writeUInt32LE(data.length,24);ch.writeUInt16LE(name.length,28);ch.writeUInt16LE(0,30);ch.writeUInt16LE(0,32);ch.writeUInt16LE(0,34);ch.writeUInt16LE(0,36);ch.writeUInt32LE(0,38);ch.writeUInt32LE(off,42); central.push(ch,name); off+=30+name.length+data.length; }); var cd=Buffer.concat(central), body=Buffer.concat(local); var eo=Buffer.alloc(22); eo.writeUInt32LE(0x06054b50,0);eo.writeUInt16LE(0,4);eo.writeUInt16LE(0,6);eo.writeUInt16LE(entries.length,8);eo.writeUInt16LE(entries.length,10);eo.writeUInt32LE(cd.length,12);eo.writeUInt32LE(body.length,16);eo.writeUInt16LE(0,20); return Buffer.concat([body,cd,eo]); }\ntry { fs.mkdirSync(dir,{recursive:true}); } catch(e){}\nlet primary=null, primaryName='', mime='text/html';\nif (meta.format !== 'SCORM') { try { fs.writeFileSync(dir+'/'+base+'.html', meta.lessonHtml); } catch(e){} }\nif (meta.format !== 'HTML') { try { var zip=zipStore([{name:'imsmanifest.xml',data:meta.manifest},{name:'index.html',data:meta.lessonHtml}]); fs.writeFileSync(dir+'/'+base+'-scorm.zip', zip); primary=zip; primaryName=base+'-scorm.zip'; mime='application/zip'; } catch(e){} }\nif (!primary) { primary=Buffer.from(meta.lessonHtml,'utf8'); primaryName=base+'.html'; mime='text/html'; }\nconst bin = await this.helpers.prepareBinaryData(primary, primaryName, mime);\nreturn [{ json: { ok:true, dir:dir, file:dir+'/'+primaryName, topic:meta.topic, format:meta.format }, binary:{ data: bin } }];\n"
      }
    }
  ],
  "connections": {
    "Open Form": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Generate Section Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Section Images": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Package & Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
