workflows/awareness/elearning.json
{
  "id": "jarvisAwElearn01",
  "name": "Jarvis · Awareness — E-learning Module",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand interactive security-awareness E-LEARNING module. Trigger via Telegram (/elearning <topic>) or manually (form: topic, audience, pass mark, format, section images). AI writes a structured micro-course with a per-section illustrator \"scene\"; Generate Section Images renders one cinematic office image per section via the image provider (embedded as data URIs, graceful gradient fallback). Render builds one self-contained interactive lesson HTML (section hero images, nav, progress bar, scored knowledge check) that is SCORM-aware (feature-detects an LMS API and reports cmi.core.lesson_status + score). Writes an .html lesson and/or a SCORM 1.2 .zip (built by a pure-JS store writer) to /reports/awareness/elearning. Files-only; generic branding (CLIENT_NAME optional). No Gotenberg — interactive HTML, not PDF.",
    "envVars": [
      "AI_PROVIDER",
      "IMAGE_PROVIDER",
      "OPENAI_API_KEY",
      "IMAGE_MODEL",
      "ELEARNING_SECTION_IMAGES",
      "CLIENT_NAME",
      "DEFAULT_AWARENESS_TOPIC"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Generate Awareness E-learning Module",
        "formDescription": "Pick a topic and options, then submit. Produces an interactive HTML lesson and/or a SCORM package.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Phishing"
                  },
                  {
                    "option": "Spear phishing & whaling"
                  },
                  {
                    "option": "Business email compromise (BEC)"
                  },
                  {
                    "option": "Passwords & passphrases"
                  },
                  {
                    "option": "Multi-factor authentication (MFA)"
                  },
                  {
                    "option": "Social engineering"
                  },
                  {
                    "option": "Vishing (voice phishing)"
                  },
                  {
                    "option": "Smishing (SMS phishing)"
                  },
                  {
                    "option": "QR-code phishing (quishing)"
                  },
                  {
                    "option": "Safe remote & home working"
                  },
                  {
                    "option": "Travel security"
                  },
                  {
                    "option": "Removable media & USB"
                  },
                  {
                    "option": "Public Wi-Fi"
                  },
                  {
                    "option": "Data classification & handling"
                  },
                  {
                    "option": "Insider risk"
                  },
                  {
                    "option": "Ransomware"
                  },
                  {
                    "option": "Reporting incidents"
                  },
                  {
                    "option": "Deepfakes & AI-enabled fraud"
                  },
                  {
                    "option": "Generative-AI safe use"
                  },
                  {
                    "option": "Custom (type below)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Custom topic",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Used if set / if Topic = Custom"
            },
            {
              "fieldLabel": "Audience",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "All staff"
                  },
                  {
                    "option": "Finance"
                  },
                  {
                    "option": "Executives"
                  },
                  {
                    "option": "IT & Developers"
                  },
                  {
                    "option": "New joiners"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Pass mark (%)",
              "fieldType": "number",
              "requiredField": false,
              "placeholder": "80"
            },
            {
              "fieldLabel": "Format",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Both (HTML + SCORM)"
                  },
                  {
                    "option": "Interactive HTML only"
                  },
                  {
                    "option": "SCORM package only"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Section images",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes — illustrate each section with AI images"
                  },
                  {
                    "option": "No — faster, no images"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-elearning-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nlet custom = pick(i['Custom topic']); let drop = pick(i['Topic'], i.topic); if(/^custom/i.test(drop)) drop='';\nlet t = pick(custom, drop, i.query, i.text); t = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif(!t) t = ($env.DEFAULT_AWARENESS_TOPIC || 'phishing');\nconst fmt = pick(i['Format'], i.format).toLowerCase();\nlet format='Both'; if(fmt.indexOf('scorm')>=0 && fmt.indexOf('html')<0) format='SCORM'; else if(fmt.indexOf('html')>=0 && fmt.indexOf('scorm')<0) format='HTML';\nconst pm = parseInt(pick(i['Pass mark (%)'], i['Pass mark'], i.passMark),10);\nconst imgSel = pick(i['Section images'], i.illustrate);\nlet illustrate; if(imgSel) illustrate = !/^(no|false|off|0)/i.test(imgSel); else illustrate = (($env.ELEARNING_SECTION_IMAGES||'true').toString().toLowerCase()!=='false');\nreturn [{ json: { topic:t, audience:(pick(i['Audience'],i.audience)||'All staff'), passMark:(isNaN(pm)?80:pm), format:format, illustrate:illustrate, date:new Date().toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString() } }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-sonnet-4-6' }}\",\n  \"max_tokens\": 4000,\n  \"system\": \"You are an instructional designer creating a short interactive security-awareness e-learning module. For the given topic and audience produce a SINGLE valid JSON object. Keys: title; intro (2-3 sentences on why this matters to the learner and the organisation); sections (4-6 items, each {heading, body (2-4 short paragraphs separated by single newline characters), keyPoints (2-4 short bullet strings), scene (ONE vivid sentence describing a realistic modern-office scene that visually illustrates this section, written for an illustrator: describe the people, setting and action; do NOT mention any on-screen text, screens of text, or logos)}); questions (4-6 knowledge-check items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}). Plain, engaging, non-technical language tailored to the audience. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Create an interactive e-learning module on the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Knowledge-check pass mark: ' + ($json.passMark||80) + '%.') }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.5, \"num_predict\": 3500 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are an instructional designer creating a short interactive security-awareness e-learning module. For the given topic and audience produce a SINGLE valid JSON object. Keys: title; intro (2-3 sentences on why this matters to the learner and the organisation); sections (4-6 items, each {heading, body (2-4 short paragraphs separated by single newline characters), keyPoints (2-4 short bullet strings), scene (ONE vivid sentence describing a realistic modern-office scene that visually illustrates this section, written for an illustrator: describe the people, setting and action; do NOT mention any on-screen text, screens of text, or logos)}); questions (4-6 knowledge-check items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}). Plain, engaging, non-technical language tailored to the audience. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Create an interactive e-learning module on the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Knowledge-check pass mark: ' + ($json.passMark||80) + '%.') }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json;\nconst STYLE = 'Cinematic, semi-realistic editorial illustration set in a bright modern corporate office. Polished, professional and calm mood; soft natural window light with a warm key light; teal and deep-navy colour grade; shallow depth of field; clean wide composition with generous empty space near the top. Diverse professional people in business-casual attire, natural expressions. ';\nconst NEG = ' No text, no words, no letters, no numbers, no logos, no signage, no watermark, no user-interface screenshots, no charts.';\nconst sections = (data && data.sections) || [];\nconst imagePrompts = sections.map(function(s){ var scene = (s && (s.scene || s.heading)) || ('a workplace scene about ' + (r.topic||'security awareness')); return STYLE + 'Scene: ' + scene + '.' + NEG; });\nconst coverPrompt = 'Wide cinematic hero cover image for a premium corporate security-awareness course about ' + (r.topic||'security awareness') + '. ' + STYLE + 'Establishing wide shot of a modern office that conveys trust, focus and vigilance; dramatic but professional lighting; strong empty space on the left for a title.' + NEG;\nreturn [{ json: { data:data, topic:r.topic, audience:r.audience, passMark:r.passMark, format:r.format, illustrate:r.illustrate, imagePrompts:imagePrompts, coverPrompt:coverPrompt, date:r.date, client:r.client } }];\n"
      }
    },
    {
      "id": "images",
      "name": "Generate Section Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nconst sectionPrompts = j.imagePrompts || [];\nconst coverPrompt = j.coverPrompt || '';\nlet sections = sectionPrompts.map(function(){ return ''; });\nlet cover = '';\nconst key = $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY;\nif (j.illustrate && key) {\n  const H = this.helpers;\n  const base = ($env.OPENAI_BASE_URL || 'https://api.openai.com/v1');\n  const model = ($env.IMAGE_MODEL || 'gpt-image-1');\n  const size = ($env.ELEARNING_IMAGE_SIZE || '1536x1024');\n  const gen = async function(p){\n    try {\n      const resp = await H.httpRequest({ method:'POST', url: base + '/images/generations',\n        headers: { Authorization: 'Bearer ' + key, 'Content-Type': 'application/json' },\n        body: { model: model, prompt: p, size: size, n: 1 }, json: true, timeout: 180000 });\n      const b64 = resp && resp.data && resp.data[0] && resp.data[0].b64_json;\n      return b64 ? ('data:image/png;base64,' + b64) : '';\n    } catch (e) { return ''; }\n  };\n  if (coverPrompt) cover = await gen(coverPrompt);\n  for (let k = 0; k < sectionPrompts.length; k++) { sections[k] = await gen(sectionPrompts[k]); }\n}\nreturn [{ json: Object.assign({}, j, { images: { cover: cover, sections: sections } }) }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// E-learning renderer — 16:9 enterprise lesson player with cover, name entry,\n// section heroes (Ken Burns), animated SVG accents, animated score ring, and a\n// bedded-in completion certificate (client-side, print/save-as-PDF). SCORM-aware.\nconst d = $json.data || {};\nconst topic = $json.topic || 'Security Awareness';\nconst date = $json.date || new Date().toISOString().slice(0,10);\nconst client = ($json.client || '').toString();\nconst passMark = Number($json.passMark) || 80;\nconst format = $json.format || 'Both';\nconst images = ($json.images && typeof $json.images === 'object' && !Array.isArray($json.images))\n  ? { cover: ($json.images.cover||''), sections: ($json.images.sections||[]) }\n  : { cover:'', sections:(Array.isArray($json.images)?$json.images:[]) };\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nconst title = d.title || (topic + ' — Awareness Module');\nconst brand = client ? client : 'Security Awareness';\n\n// --- animated SVG icon set (stroke = brand teal; .pz group is animated in CSS) ---\nfunction ic(inner){ return '<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#0E7C86\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><g class=\"pz\">'+inner+'</g></svg>'; }\nconst ICONS = {\n  shield: ic('<path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/>'),\n  lock:   ic('<rect x=\"5\" y=\"11\" width=\"14\" height=\"9\" rx=\"2\"/><path d=\"M8 11V8a4 4 0 0 1 8 0v3\"/>'),\n  mail:   ic('<rect x=\"3\" y=\"5\" width=\"18\" height=\"14\" rx=\"2\"/><path d=\"M3 7l9 6 9-6\"/>'),\n  eye:    ic('<path d=\"M2 12s4-7 10-7 10 7 10 7-4 7-10 7S2 12 2 12z\"/><circle cx=\"12\" cy=\"12\" r=\"3\"/>'),\n  alert:  ic('<path d=\"M12 3l9 16H3z\"/><path d=\"M12 10v4\"/><circle cx=\"12\" cy=\"16.7\" r=\"0.6\" fill=\"#0E7C86\" stroke=\"none\"/>'),\n  key:    ic('<circle cx=\"8\" cy=\"12\" r=\"4\"/><path d=\"M12 12h9M18 12v4M21 12v3\"/>'),\n  phone:  ic('<path d=\"M6 3h4l2 5-3 2a11 11 0 0 0 5 5l2-3 5 2v4a2 2 0 0 1-2 2A17 17 0 0 1 4 6a2 2 0 0 1 2-3z\"/>'),\n  id:     ic('<rect x=\"3\" y=\"5\" width=\"18\" height=\"14\" rx=\"2\"/><circle cx=\"9\" cy=\"11\" r=\"2\"/><path d=\"M14 10h4M14 13h4M6 16h8\"/>'),\n  check:  ic('<path d=\"M5 13l4 4 10-10\"/>')\n};\nfunction pickIcon(h){ h=(h||'').toLowerCase();\n  if(/phish|email|mail|bec|message|invoice/.test(h)) return 'mail';\n  if(/password|mfa|auth|credential|key|login/.test(h)) return 'key';\n  if(/call|phone|vish|voice/.test(h)) return 'phone';\n  if(/pretext|imperson|identity|profile/.test(h)) return 'id';\n  if(/spot|sign|watch|red flag|detect|recognis|recogniz/.test(h)) return 'eye';\n  if(/report|incident|respond|attack|suspect|breach|fraud/.test(h)) return 'alert';\n  if(/lock|secure|encrypt|device|protect|data/.test(h)) return 'lock';\n  return 'shield';\n}\nconst sections = (d.sections||[]).map(function(s){ var o=Object.assign({}, s); o.iconKey=pickIcon((s.heading||'')+' '+(s.scene||'')); return o; });\n\nconst payload = { title:title, brand:brand, intro:(d.intro||''), sections:sections,\n  questions:(d.questions||[]), passMark:passMark, images:images, icons:ICONS, certPrefix:'JAW' };\nconst dataJson = JSON.stringify(payload).replace(/</g,'\\\\u003c');\n\nconst CSS = `*{box-sizing:border-box} html,body{margin:0;height:100%} body{font-family:-apple-system,'Segoe UI',Arial,sans-serif;background:#0a141d;color:#14202b;display:flex;align-items:center;justify-content:center;overflow:hidden}\n.stage{position:relative;width:min(100vw,177.78vh);height:min(56.25vw,100vh);background:#fff;display:flex;flex-direction:column;overflow:hidden;box-shadow:0 24px 70px rgba(0,0,0,.55)}\n.top{display:flex;align-items:center;gap:13px;background:linear-gradient(135deg,#0E2233,#0E7C86);color:#fff;padding:13px 26px;flex:0 0 auto}\n.top .logo{width:30px;height:30px;flex:0 0 auto}\n.top .tt{line-height:1.1}\n.top .b{font-size:10px;letter-spacing:2px;text-transform:uppercase;color:#9fe4d8;font-weight:800}\n.top h1{margin:2px 0 0;font-size:17px;font-weight:700}\n.top .crumbs{margin-left:auto;font-size:11px;color:#bfe6df;letter-spacing:1px}\n.prog{height:5px;background:rgba(255,255,255,.16);flex:0 0 auto}.prog span{display:block;height:5px;background:linear-gradient(90deg,#5FD0C0,#0E7C86);width:0;transition:width .55s ease}\n.pane{flex:1 1 auto;position:relative;overflow:hidden;opacity:0}\n.pane.in{animation:fadeup .5s ease forwards}\n@keyframes fadeup{from{opacity:0;transform:translateY(16px)}to{opacity:1;transform:none}}\n.pane.center{display:flex;align-items:center;justify-content:center;text-align:center;padding:22px}\n.nav{flex:0 0 auto;display:flex;justify-content:space-between;align-items:center;padding:13px 26px;border-top:1px solid #eef2f6;background:#fff}\n.btn{background:#0E7C86;color:#fff;border:0;border-radius:10px;padding:12px 24px;font-size:15px;font-weight:700;cursor:pointer;transition:transform .15s,box-shadow .15s;box-shadow:0 6px 16px rgba(14,124,134,.28)}\n.btn:hover{transform:translateY(-2px);box-shadow:0 10px 22px rgba(14,124,134,.36)}\n.btn.alt{background:#fff;color:#0E7C86;border:1px solid #cfe3e3;box-shadow:none}\n.btn[disabled]{opacity:.35;cursor:default;transform:none;box-shadow:none}\n.kick{color:#0E7C86;letter-spacing:2px;font-size:12px;font-weight:800;text-transform:uppercase}\nh2{font-family:Georgia,serif;color:#0E2233;font-size:26px;margin:8px 0 14px;line-height:1.15}\np{font-size:15px;line-height:1.62;color:#2b3340;margin:0 0 12px}\nsvg .pz{transform-origin:center;transform-box:fill-box;animation:pz 2.6s ease-in-out infinite}\n@keyframes pz{0%,100%{transform:scale(1)}50%{transform:scale(1.12)}}\n.two{display:flex;height:100%}\n.two .left{position:relative;flex:0 0 44%;overflow:hidden;background:#0E2233}\n.two .right{flex:1 1 auto;padding:28px 36px;overflow:hidden;display:flex;flex-direction:column}\n.hero{position:absolute;inset:0;overflow:hidden}\n.hero .kb{position:absolute;inset:-5%;background-size:cover;background-position:center;animation:kb 20s ease-in-out infinite alternate}\n.hero .kb.ph{background:linear-gradient(135deg,#0E2233,#0E7C86)}\n@keyframes kb{from{transform:scale(1) translate(0,0)}to{transform:scale(1.12) translate(-1.5%,-1%)}}\n.right .scroll{overflow:auto;padding-right:8px}\n.meta{margin-top:auto;color:#8a98a4;font-size:12px;padding-top:12px}\n.kp{background:#F1F7F8;border-left:4px solid #0E7C86;border-radius:8px;padding:12px 16px;margin:12px 0}\n.kp .kph{font-weight:800;color:#0E2233;font-size:13px;display:flex;align-items:center;gap:8px;margin-bottom:6px}\n.kp .kph svg{width:18px;height:18px}\n.kp ul{margin:0;padding-left:18px}.kp li{font-size:14px;line-height:1.5;margin:5px 0}\n.badge{position:absolute;left:18px;bottom:18px;width:56px;height:56px;background:rgba(255,255,255,.94);border-radius:15px;display:flex;align-items:center;justify-content:center;box-shadow:0 10px 24px rgba(0,0,0,.28)}\n.badge svg{width:32px;height:32px}\n.cover{position:absolute;inset:0;color:#fff}\n.cover .cbg{position:absolute;inset:0;background-size:cover;background-position:center;animation:kb 24s ease-in-out infinite alternate}\n.cover .cbg.ph{background:linear-gradient(135deg,#0E2233,#0E7C86)}\n.cover .cgrad{position:absolute;inset:0;background:linear-gradient(90deg,rgba(8,18,28,.93),rgba(8,18,28,.55) 55%,rgba(8,18,28,.18))}\n.cover .cinner{position:absolute;left:7%;right:28%;top:50%;transform:translateY(-50%)}\n.ckick{letter-spacing:3px;font-size:13px;font-weight:800;text-transform:uppercase;color:#7fe0d2;animation:fadeup .6s .1s both}\n.ctitle{font-size:44px;line-height:1.05;margin:12px 0 14px;font-weight:800;animation:fadeup .6s .25s both}\n.csub{font-size:16px;line-height:1.5;color:#dcebf0;animation:fadeup .6s .4s both}\n.cact{margin-top:22px;animation:fadeup .6s .55s both}\n.namewrap{max-width:520px}\n.nicon{width:64px;height:64px;margin:0 auto 8px}.nicon svg{width:64px;height:64px}\n.ninput{width:100%;padding:14px 16px;font-size:16px;border:1px solid #cfe0e0;border-radius:10px;margin-top:14px;outline:none;font-family:inherit}\n.ninput:focus{border-color:#0E7C86;box-shadow:0 0 0 3px rgba(14,124,134,.15)}\n.nerr{color:#B02525;font-size:13px;margin-top:8px;min-height:16px}\n.quiz,.review{padding:26px 38px;overflow:auto;height:100%;width:100%;text-align:left}\n.q{margin:0 0 16px}.q .qt{font-weight:700;color:#0E2233;margin-bottom:8px;font-size:15px}\n.opt{display:flex;align-items:center;gap:10px;border:1px solid #dde6ec;border-radius:10px;padding:11px 14px;margin:7px 0;cursor:pointer;font-size:14px;transition:border-color .15s,background .15s}\n.opt:hover{border-color:#0E7C86;background:#f7fbfb}.opt input{accent-color:#0E7C86}\n.ans{background:#F1F7F8;border-left:4px solid #1E8E5A;border-radius:8px;padding:10px 14px;font-size:14px}.ans span{color:#5A6472;font-size:13px}\n.ring{position:relative;width:160px;height:160px;margin:0 auto 14px}\n.ring svg{width:160px;height:160px;transform:rotate(-90deg)}\n.ring .rbg{fill:none;stroke:#e7eef0;stroke-width:10}\n.ring .rfg{fill:none;stroke-width:10;stroke-linecap:round}\n.ring .rfg.p{stroke:#1E8E5A}.ring .rfg.f{stroke:#B02525}\n.ring .rscore{position:absolute;inset:0;display:flex;align-items:center;justify-content:center;font-size:38px;font-weight:800;color:#0E2233}\n.pill{display:inline-block;padding:5px 14px;border-radius:14px;font-size:12px;font-weight:800;letter-spacing:.5px}\n.pill.pass{background:#E4F6EC;color:#1E8E5A}.pill.fail{background:#FDECEC;color:#B02525}\n.certscreen{width:100%}\n.cert{margin:12px auto 0;width:80%;max-width:720px;aspect-ratio:1.414/1;background:#fff;color:#14202b;animation:pop .5s ease both}\n@keyframes pop{from{opacity:0;transform:scale(.96)}to{opacity:1;transform:none}}\n.cframe{height:100%;border:3px solid #0E7C86;border-radius:8px;position:relative;padding:4.5% 7%;text-align:center;font-family:Georgia,serif}\n.cframe:before{content:'';position:absolute;inset:10px;border:1px solid #C9A24B;border-radius:5px}\n.ckick2{position:relative;letter-spacing:5px;font-size:12px;color:#0E7C86;font-weight:700;text-transform:uppercase;font-family:Arial}\n.cissuer{position:relative;font-size:28px;color:#0E2233;font-weight:700;margin:3px 0}\n.cpres{position:relative;font-style:italic;color:#5A6472;font-size:13px}\n.cname{position:relative;font-size:32px;color:#0E2233;margin:12px 0 5px;border-bottom:2px solid #C9A24B;display:inline-block;padding:0 24px 5px}\n.cfor{position:relative;font-style:italic;color:#5A6472;font-size:13px}\n.ccourse{position:relative;font-size:19px;color:#0E7C86;font-weight:700;margin:7px 0}\n.crow{position:relative;display:flex;justify-content:space-between;align-items:flex-end;margin-top:5%;padding:0 3%}\n.csig,.cscore2{font-size:12px;color:#0E2233;font-family:Arial}.csig span,.cscore2 span{color:#8a98a4;font-size:10px}\n.cid{position:absolute;left:0;right:0;bottom:3.5%;font-size:10px;color:#9aa6b2;font-family:Arial;letter-spacing:1px}\n.foot{position:absolute;right:10px;bottom:6px;color:rgba(255,255,255,.6);font-size:10px}\n@media print{\n body{display:block;background:#fff;overflow:visible}\n .stage{box-shadow:none;width:auto;height:auto;display:block}\n .top,.prog,.nav,.certscreen>h2,.certscreen>.kick{display:none!important}\n .pane{opacity:1!important;overflow:visible;animation:none}\n #certArea{position:fixed;inset:0}\n .cert{width:100%;height:100%;aspect-ratio:auto;margin:0;animation:none}\n @page{size:A4 landscape;margin:8mm}\n}`;\n\nconst APP = `(function(){\nvar D=DATA;var pass=D.passMark||80;var secs=D.sections||[];var total=secs.length;\nvar imgs=D.images||{cover:'',sections:[]};var ICONS=D.icons||{};\nvar learner='';var lastScore=0;var lastPassed=false;var _cid=null;\nvar pane=document.getElementById('pane');var navEl=document.getElementById('nav');\nvar prog=document.getElementById('progfill');var crumbs=document.getElementById('crumbs');\nfunction esc(s){return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return {'&':'&amp;','<':'&lt;','>':'&gt;'}[c];});}\nfunction findAPI(w){var n=0;while(w&&w.API==null&&w.parent&&w.parent!=w&&n<12){w=w.parent;n++;}return (w&&w.API)||null;}\nvar API=null;try{API=findAPI(window);if(!API&&window.top!==window)API=findAPI(window.top);}catch(e){}\nif(API){try{API.LMSInitialize('');API.LMSSetValue('cmi.core.lesson_status','incomplete');API.LMSCommit('');}catch(e){}}\nfunction scormName(){if(!API)return '';try{var n=API.LMSGetValue('cmi.core.student_name')||'';if(n.indexOf(',')>-1){var p=n.split(',');return (p[1]+' '+p[0]).replace(/\\\\s+/g,' ').trim();}return n;}catch(e){return '';}}\nfunction scormReport(score,passed){if(!API)return;try{API.LMSSetValue('cmi.core.score.raw',String(score));API.LMSSetValue('cmi.core.score.min','0');API.LMSSetValue('cmi.core.score.max','100');API.LMSSetValue('cmi.core.lesson_status',passed?'passed':'failed');API.LMSCommit('');}catch(e){}}\nfunction scormFinish(){if(!API)return;try{API.LMSFinish('');}catch(e){}}\nfunction paint(html,cls){pane.className='pane '+(cls||'');pane.innerHTML=html;void pane.offsetWidth;pane.classList.add('in');}\nfunction btn(label,fn,alt){var b=document.createElement('button');b.className='btn'+(alt?' alt':'');b.innerHTML=label;if(fn)b.onclick=fn;else b.disabled=true;return b;}\nfunction sp(){return document.createElement('span');}\nfunction setNav(L,R){navEl.innerHTML='';navEl.appendChild(L||sp());navEl.appendChild(R||sp());}\nvar steps=['intro'];for(var i=0;i<total;i++)steps.push('s'+i);steps.push('quiz');\nfunction setProg(key){var ix=steps.indexOf(key);var pct=ix<0?0:Math.round(((ix+1)/steps.length)*100);prog.style.width=pct+'%';if(crumbs)crumbs.textContent=ix>=0?('Step '+(ix+1)+' of '+steps.length):'';}\nfunction hero(src){return '<div class=\"hero\">'+(src?('<div class=\"kb\" style=\"background-image:url('+src+')\"></div>'):'<div class=\"kb ph\"></div>')+'</div>';}\nfunction iconFor(i){var k=(secs[i]&&secs[i].iconKey)||'shield';return ICONS[k]||ICONS.shield||'';}\nfunction fmtDate(d){var M=['January','February','March','April','May','June','July','August','September','October','November','December'];var n=d.getDate();var s=['th','st','nd','rd'],v=n%100;var ord=n+(s[(v-20)%10]||s[v]||s[0]);return M[d.getMonth()]+' '+ord+' '+d.getFullYear();}\nfunction cover(){setProg('');pane.className='pane';navEl.innerHTML='';var bg=imgs.cover||(imgs.sections&&imgs.sections[0])||'';\n pane.innerHTML='<div class=\"cover\">'+(bg?('<div class=\"cbg\" style=\"background-image:url('+bg+')\"></div>'):'<div class=\"cbg ph\"></div>')+'<div class=\"cgrad\"></div><div class=\"cinner\"><div class=\"ckick\">'+esc(D.brand)+' &middot; Security Awareness</div><h1 class=\"ctitle\">'+esc(D.title)+'</h1><p class=\"csub\">'+esc(D.intro)+'</p><div class=\"cact\"></div></div></div>';\n void pane.offsetWidth;pane.classList.add('in');pane.querySelector('.cact').appendChild(btn('Begin &rarr;',showName));}\nfunction showName(){setProg('');var pre=learner||scormName();\n paint('<div class=\"namewrap\"><div class=\"nicon\">'+(ICONS.id||ICONS.shield||'')+'</div><h2>Before we begin</h2><p>Enter your name as it should appear on your certificate of completion.</p><input id=\"nm\" class=\"ninput\" type=\"text\" placeholder=\"Your full name\" value=\"'+esc(pre)+'\"><div class=\"nerr\" id=\"nerr\"></div></div>','center');\n var R=btn('Start course &rarr;',function(){var v=(document.getElementById('nm').value||'').trim();if(!v){document.getElementById('nerr').textContent='Please enter your name to continue.';return;}learner=v;showIntro();});\n setNav(btn('&larr; Back',cover,true),R);\n setTimeout(function(){var el=document.getElementById('nm');if(el){el.focus();el.addEventListener('keydown',function(e){if(e.key==='Enter')R.click();});}},60);}\nfunction showIntro(){setProg('intro');var bg=imgs.cover||(imgs.sections&&imgs.sections[0])||'';\n paint('<div class=\"two\"><div class=\"left\">'+hero(bg)+'</div><div class=\"right\"><div class=\"kick\">Introduction</div><h2>'+esc(D.title)+'</h2><div class=\"scroll\"><p>'+esc(D.intro)+'</p></div><div class=\"meta\">'+total+' sections &middot; knowledge check &middot; pass mark '+pass+'%</div></div></div>');\n setNav(btn('&larr; Name',showName,true),btn('Start &rarr;',function(){showSection(0);}));}\nfunction showSection(i){if(i<0)return showIntro();if(i>=total)return showQuiz();setProg('s'+i);var s=secs[i]||{};\n var body=(s.body||'').split(/\\\\n+/).map(function(p){return '<p>'+esc(p)+'</p>';}).join('');\n var kp=(s.keyPoints&&s.keyPoints.length)?('<div class=\"kp\"><div class=\"kph\">'+(ICONS.check||'')+'Key points</div><ul>'+s.keyPoints.map(function(k){return '<li>'+esc(k)+'</li>';}).join('')+'</ul></div>'):'';\n var src=(imgs.sections&&imgs.sections[i])||'';\n paint('<div class=\"two\"><div class=\"left\">'+hero(src)+'<div class=\"badge\">'+iconFor(i)+'</div></div><div class=\"right\"><div class=\"kick\">Section '+(i+1)+' / '+total+'</div><h2>'+esc(s.heading||('Section '+(i+1)))+'</h2><div class=\"scroll\">'+body+kp+'</div></div></div>');\n setNav(btn('&larr; Back',function(){showSection(i-1);},true),btn(i+1<total?'Next &rarr;':'Knowledge check &rarr;',function(){showSection(i+1);}));}\nfunction showQuiz(){setProg('quiz');var qs=D.questions||[];var h='<div class=\"quiz\"><div class=\"kick\">Knowledge check</div><h2>Test your understanding</h2>';\n qs.forEach(function(q,qi){h+='<div class=\"q\"><div class=\"qt\">'+(qi+1)+'. '+esc(q.q)+'</div>';(q.options||[]).forEach(function(o,oi){h+='<label class=\"opt\"><input type=\"radio\" name=\"q'+qi+'\" value=\"'+oi+'\"><span>'+esc(o)+'</span></label>';});h+='</div>';});\n h+='</div>';paint(h);setNav(btn('&larr; Back',function(){showSection(total-1);},true),btn('Submit answers &rarr;',grade));}\nfunction grade(){var qs=D.questions||[];var c=0;qs.forEach(function(q,qi){var s=document.querySelector('input[name=q'+qi+']:checked');if(s&&Number(s.value)===Number(q.answer))c++;});var score=qs.length?Math.round((c/qs.length)*100):0;lastScore=score;lastPassed=score>=pass;scormReport(score,lastPassed);showResults(c,qs.length);}\nfunction showResults(correct,n){setProg('quiz');var passed=lastPassed;var score=lastScore;\n paint('<div class=\"results\"><div class=\"ring\"><svg viewBox=\"0 0 120 120\"><circle class=\"rbg\" cx=\"60\" cy=\"60\" r=\"52\"/><circle class=\"rfg '+(passed?'p':'f')+'\" cx=\"60\" cy=\"60\" r=\"52\"/></svg><div class=\"rscore\">'+score+'%</div></div><div class=\"pill '+(passed?'pass':'fail')+'\">'+(passed?'PASSED':'NOT YET PASSED')+'</div><p>You answered '+correct+' of '+n+' correctly.</p></div>','center');\n var fg=pane.querySelector('.rfg');if(fg){var C=2*Math.PI*52;fg.style.strokeDasharray=C;fg.style.strokeDashoffset=C;void fg.offsetWidth;fg.style.transition='stroke-dashoffset 1.1s ease';fg.style.strokeDashoffset=C*(1-score/100);}\n setNav(btn('Review answers',showReview,true),passed?btn('Get certificate &rarr;',showCert):btn('Try again',showQuiz));}\nfunction showReview(){var qs=D.questions||[];var h='<div class=\"review\"><div class=\"kick\">Review</div><h2>Answers &amp; explanations</h2>';\n qs.forEach(function(q,qi){var a=(q.options||[])[q.answer];h+='<div class=\"q\"><div class=\"qt\">'+(qi+1)+'. '+esc(q.q)+'</div><div class=\"ans\"><b>Correct:</b> '+esc(a)+'<br><span>'+esc(q.why||'')+'</span></div></div>';});\n h+='</div>';paint(h);setNav(btn('&larr; Results',function(){showResults(0,(D.questions||[]).length);},true),lastPassed?btn('Get certificate &rarr;',showCert):null);}\nfunction certId(){var t=Date.now().toString(36).toUpperCase();var r=Math.random().toString(36).slice(2,5).toUpperCase();return (D.certPrefix||'JAW')+'-'+t.slice(-5)+r;}\nfunction showCert(){setProg('quiz');if(!_cid)_cid=certId();var issuer=D.brand||'Security Awareness Team';var dd=fmtDate(new Date());\n var cert='<div id=\"certArea\"><div class=\"cert\"><div class=\"cframe\"><div class=\"ckick2\">Certificate of Completion</div><div class=\"cissuer\">'+esc(issuer)+'</div><div class=\"cpres\">This is proudly presented to</div><div class=\"cname\">'+esc(learner||'Learner')+'</div><div class=\"cfor\">for successfully completing</div><div class=\"ccourse\">'+esc(D.title)+'</div><div class=\"crow\"><div class=\"csig\">'+esc(dd)+'<br><span>Date</span></div><div class=\"cscore2\">'+lastScore+'%<br><span>Result</span></div><div class=\"csig\">'+esc(issuer)+'<br><span>Issued by</span></div></div><div class=\"cid\">Certificate ID: '+_cid+' &middot; AI-generated &mdash; verify before formal issuing</div></div></div></div>';\n paint('<div class=\"certscreen\"><div class=\"kick\">Congratulations'+(learner?(', '+esc(learner)):'')+'!</div><h2>You have earned your certificate</h2>'+cert+'</div>','center');\n setNav(btn('&#128424; Print / Save as PDF',function(){window.print();}),btn('Finish',function(){scormFinish();}));}\ncover();\n})();`;\n\nconst logo = '<svg class=\"logo\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 3l7 3v5c0 4.5-3 7.6-7 9-4-1.4-7-4.5-7-9V6z\"/><path d=\"M9 12l2 2 4-4\"/></svg>';\nconst html = `<!doctype html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>${esc(title)}</title><style>${CSS}</style></head><body><div class=\"stage\"><div class=\"top\">${logo}<div class=\"tt\"><div class=\"b\">${esc(brand)}</div><h1>${esc(title)}</h1></div><div class=\"crumbs\" id=\"crumbs\"></div></div><div class=\"prog\"><span id=\"progfill\"></span></div><div class=\"pane\" id=\"pane\"></div><div class=\"nav\" id=\"nav\"></div><div class=\"foot\">AI-generated &middot; ${esc(date)}</div></div><script>var DATA=${dataJson};\n${APP}</script></body></html>`;\n\nconst fileSafe = topic.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40) || 'module';\nconst idf = 'JARVIS_'+fileSafe.replace(/-/g,'_').toUpperCase();\nconst manifest = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>\\n'\n+'<manifest identifier=\"'+idf+'\" version=\"1.2\" xmlns=\"http://www.imsproject.org/xsd/imscp_rootv1p1p2\" xmlns:adlcp=\"http://www.adlnet.org/xsd/adlcp_rootv1p2\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.imsproject.org/xsd/imscp_rootv1p1p2 imscp_rootv1p1p2.xsd http://www.adlnet.org/xsd/adlcp_rootv1p2 adlcp_rootv1p2.xsd\">\\n'\n+'  <metadata><schema>ADL SCORM</schema><schemaversion>1.2</schemaversion></metadata>\\n'\n+'  <organizations default=\"ORG\"><organization identifier=\"ORG\"><title>'+esc(title)+'</title>\\n'\n+'    <item identifier=\"ITEM1\" identifierref=\"RES1\"><title>'+esc(title)+'</title></item>\\n'\n+'  </organization></organizations>\\n'\n+'  <resources><resource identifier=\"RES1\" type=\"webcontent\" adlcp:scormtype=\"sco\" href=\"index.html\"><file href=\"index.html\"/></resource></resources>\\n'\n+'</manifest>\\n';\n\nreturn [{ json: { lessonHtml: html, manifest: manifest, topic: topic, date: date, fileSafe: fileSafe, format: format } }];\n"
      }
    },
    {
      "id": "write",
      "name": "Package & Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/elearning';\nconst base = (meta.fileSafe || 'module') + '-' + meta.date;\nfunction _crcT(){ var c,t=[]; for(var n=0;n<256;n++){ c=n; for(var k=0;k<8;k++) c=(c&1)?(0xEDB88320^(c>>>1)):(c>>>1); t[n]=c>>>0; } return t; }\nvar CT=_crcT();\nfunction crc32(b){ var c=0xFFFFFFFF; for(var i=0;i<b.length;i++) c=CT[(c^b[i])&0xFF]^(c>>>8); return (c^0xFFFFFFFF)>>>0; }\nfunction zipStore(entries){ var dt=new Date(); var T=((dt.getHours()&31)<<11)|((dt.getMinutes()&63)<<5)|((Math.floor(dt.getSeconds()/2))&31); var D=(((dt.getFullYear()-1980)&127)<<9)|(((dt.getMonth()+1)&15)<<5)|(dt.getDate()&31); var local=[],central=[],off=0; entries.forEach(function(e){ var name=Buffer.from(e.name,'utf8'); var data=Buffer.isBuffer(e.data)?e.data:Buffer.from(String(e.data),'utf8'); var crc=crc32(data); var lh=Buffer.alloc(30); lh.writeUInt32LE(0x04034b50,0);lh.writeUInt16LE(20,4);lh.writeUInt16LE(0,6);lh.writeUInt16LE(0,8);lh.writeUInt16LE(T,10);lh.writeUInt16LE(D,12);lh.writeUInt32LE(crc,14);lh.writeUInt32LE(data.length,18);lh.writeUInt32LE(data.length,22);lh.writeUInt16LE(name.length,26);lh.writeUInt16LE(0,28); local.push(lh,name,data); var ch=Buffer.alloc(46); ch.writeUInt32LE(0x02014b50,0);ch.writeUInt16LE(20,4);ch.writeUInt16LE(20,6);ch.writeUInt16LE(0,8);ch.writeUInt16LE(0,10);ch.writeUInt16LE(T,12);ch.writeUInt16LE(D,14);ch.writeUInt32LE(crc,16);ch.writeUInt32LE(data.length,20);ch.writeUInt32LE(data.length,24);ch.writeUInt16LE(name.length,28);ch.writeUInt16LE(0,30);ch.writeUInt16LE(0,32);ch.writeUInt16LE(0,34);ch.writeUInt16LE(0,36);ch.writeUInt32LE(0,38);ch.writeUInt32LE(off,42); central.push(ch,name); off+=30+name.length+data.length; }); var cd=Buffer.concat(central), body=Buffer.concat(local); var eo=Buffer.alloc(22); eo.writeUInt32LE(0x06054b50,0);eo.writeUInt16LE(0,4);eo.writeUInt16LE(0,6);eo.writeUInt16LE(entries.length,8);eo.writeUInt16LE(entries.length,10);eo.writeUInt32LE(cd.length,12);eo.writeUInt32LE(body.length,16);eo.writeUInt16LE(0,20); return Buffer.concat([body,cd,eo]); }\ntry { fs.mkdirSync(dir,{recursive:true}); } catch(e){}\nlet primary=null, primaryName='', mime='text/html';\nif (meta.format !== 'SCORM') { try { fs.writeFileSync(dir+'/'+base+'.html', meta.lessonHtml); } catch(e){} }\nif (meta.format !== 'HTML') { try { var zip=zipStore([{name:'imsmanifest.xml',data:meta.manifest},{name:'index.html',data:meta.lessonHtml}]); fs.writeFileSync(dir+'/'+base+'-scorm.zip', zip); primary=zip; primaryName=base+'-scorm.zip'; mime='application/zip'; } catch(e){} }\nif (!primary) { primary=Buffer.from(meta.lessonHtml,'utf8'); primaryName=base+'.html'; mime='text/html'; }\nconst bin = await this.helpers.prepareBinaryData(primary, primaryName, mime);\nreturn [{ json: { ok:true, dir:dir, file:dir+'/'+primaryName, topic:meta.topic, format:meta.format }, binary:{ data: bin } }];\n"
      }
    }
  ],
  "connections": {
    "Open Form": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Generate Section Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Section Images": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Package & Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
