workflows/awareness/kpi-report.json
{
  "id": "jarvisAwKpi0001",
  "name": "Jarvis · Awareness — KPI Report",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "Client-facing security-awareness KPI report (phishing-sim trend, training completion, by-department) rendered from config/awareness/kpi-input.json to /reports/awareness/kpi. Trigger via /kpi or manually.",
    "envVars": [
      "CLIENT_NAME",
      "GOTENBERG_URL"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        220,
        220
      ],
      "parameters": {
        "formTitle": "Generate KPI Report",
        "formDescription": "Metrics come from config/awareness/kpi-input.json. You may override the period and client label below.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Period",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "e.g. Q2 2026"
            },
            {
              "fieldLabel": "Client",
              "fieldType": "text",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-kpi-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        360
      ],
      "parameters": {}
    },
    {
      "id": "load",
      "name": "Load KPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        290
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nlet d = {};\ntry { d = JSON.parse(fs.readFileSync('/config/awareness/kpi-input.json','utf8')); }\ncatch (e) { try { d = JSON.parse(fs.readFileSync('/config/awareness/kpi-input.example.json','utf8')); } catch (e2) { d = {}; } }\nconst _i=$input.first()?($input.first().json||{}):{};\nconst _period=(_i['Period']||'').toString().trim(); if(_period) d.period=_period;\nconst _client=(_i['Client']||'').toString().trim();\nreturn [{ json: { data: d, date: new Date().toISOString().slice(0,10), client: (_client || d.client || $env.CLIENT_NAME || '').toString() } }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        290
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/* Jarvis brand kit v2 — env-driven theme (BRAND_PRIMARY/ACCENT/GOLD) + masthead + takeaways + sign-off */\nvar __jfs=null; try{__jfs=require('fs');}catch(e){}\nfunction jbHex(v,d){ v=String(v||'').trim(); return /^#[0-9a-fA-F]{6}$/.test(v)?v:d; }\nvar JB_PRI=jbHex($env.BRAND_PRIMARY,'#0A1A2F'), JB_ACC=jbHex($env.BRAND_ACCENT,'#0E7C86'), JB_GOLD=jbHex($env.BRAND_GOLD,'#E7C76A');\nfunction jbAvatarUri(){ if(!__jfs) return ''; var t=[['/config/branding/jarvis-avatar.png','image/png'],['/config/branding/jarvis-avatar.jpg','image/jpeg'],['/config/branding/jarvis-avatar.jpeg','image/jpeg'],['/config/branding/jarvis-avatar.svg','image/svg+xml']]; for(var i=0;i<t.length;i++){ try{ return 'data:'+t[i][1]+';base64,'+__jfs.readFileSync(t[i][0]).toString('base64'); }catch(e){} } return ''; }\nvar JB_SVG='<svg class=\"jav\" viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\"><defs><linearGradient id=\"jbg\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\"><stop offset=\"0\" stop-color=\"#0E7C86\"/><stop offset=\"1\" stop-color=\"#0A1A2F\"/></linearGradient></defs><circle cx=\"32\" cy=\"32\" r=\"32\" fill=\"url(#jbg)\"/><rect x=\"19\" y=\"21\" width=\"26\" height=\"22\" rx=\"7\" fill=\"#fff\"/><circle cx=\"27\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><circle cx=\"37\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><rect x=\"27\" y=\"38\" width=\"10\" height=\"2.4\" rx=\"1.2\" fill=\"#0E7C86\"/><rect x=\"30.7\" y=\"14\" width=\"2.6\" height=\"6\" rx=\"1.3\" fill=\"#9fe4d8\"/><circle cx=\"32\" cy=\"13\" r=\"2.4\" fill=\"#E7C76A\"/><path d=\"M23 47h18l-3 4.5H26z\" fill=\"#9fe4d8\"/></svg>';\nfunction jbEsc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nvar JB_AV=jbAvatarUri(), JB_AVATAR=JB_AV?('<img src=\"'+JB_AV+'\"/>'):JB_SVG;\n// CSS injected into every render's <style>: :root theme vars + masthead + takeaways + sign-off.\nvar JB_CSS=\":root{--jb-pri:\"+JB_PRI+\";--jb-acc:\"+JB_ACC+\";--jb-gold:\"+JB_GOLD+\"}\"\n+\".jbmast{background:linear-gradient(120deg,var(--jb-pri),var(--jb-acc));color:#fff;border-radius:12px;padding:15px 20px;display:flex;align-items:center;justify-content:space-between;gap:14px;margin:0 0 16px}\"\n+\".jbmast .jbk{font-size:10px;letter-spacing:3px;text-transform:uppercase;color:var(--jb-gold);font-weight:800}\"\n+\".jbmast h1{font-family:Georgia,serif;font-size:25px;margin:4px 0 0;font-weight:800;line-height:1.12;color:#fff}\"\n+\".jbmast .jbs{font-size:12px;color:#dbe9ee;margin-top:5px}\"\n+\".jbmast .jbav img,.jbmast .jbav .jav{width:46px;height:46px;border-radius:50%;border:2px solid #9fe4d8;flex:0 0 auto;background:var(--jb-pri)}\"\n+\".jkit-take{background:#F4F6F9;border:1px solid #E2E6EC;border-left:4px solid var(--jb-acc);border-radius:10px;padding:14px 18px;margin:22px 0 0;page-break-inside:avoid}.jkit-take .th{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;color:var(--jb-pri);font-weight:800;margin:0 0 7px}.jkit-take ul{margin:0;padding-left:18px}.jkit-take li{font-size:13.5px;line-height:1.5;color:#2b3340;margin:5px 0}\"\n+\".jkit-sign{display:flex;align-items:center;gap:12px;margin:20px 0 0;padding-top:14px;border-top:2px solid var(--jb-acc);page-break-inside:avoid}.jkit-sign img,.jkit-sign .jav{width:46px;height:46px;border-radius:50%;border:2px solid var(--jb-acc);flex:0 0 auto}.jkit-sign .nm{font-family:Georgia,serif;font-size:15px;color:var(--jb-pri);font-weight:700}.jkit-sign .rl{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:10px;letter-spacing:2px;text-transform:uppercase;color:var(--jb-acc);font-weight:800;margin-top:2px}\";\nfunction jbMast(kicker,title,sub){ return '<div class=\"jbmast\"><div><div class=\"jbk\">'+jbEsc(kicker)+'</div><h1>'+title+'</h1>'+(sub?'<div class=\"jbs\">'+sub+'</div>':'')+'</div><span class=\"jbav\">'+JB_AVATAR+'</span></div>'; }\nfunction jTakeBox(takeaways){ var t=(takeaways||[]).filter(Boolean).slice(0,4); if(!t.length) return ''; return '<div class=\"jkit-take\"><div class=\"th\">Key takeaways &middot; Lessons learned</div><ul>'+t.map(function(x){return '<li>'+jbEsc(x)+'</li>';}).join('')+'</ul></div>'; }\nfunction jSignoff(){ return '<div class=\"jkit-sign\">'+JB_AVATAR+'<div><div class=\"nm\">Jarvis</div><div class=\"rl\">Your AI Awareness Assistant</div></div></div>'; }\nfunction jKitBlock(takeaways){ return jTakeBox(takeaways)+jSignoff(); }\n/* back-compat aliases for renders that referenced the v1 prelude */\nvar JKIT_CSS=JB_CSS, JKIT_SVG=JB_SVG; function jKitEsc(s){ return jbEsc(s); }\n\nconst d=$json.data||{}; const date=$json.date||''; const client=($json.client||'').toString();\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nconst byline=client?('Prepared for '+client):'Security Awareness';\nfunction bar(label,val,color){ var v=Number(val); if(isNaN(v))v=0; var w=Math.max(0,Math.min(100,v)); return '<div class=\"brow\"><span class=\"bl\">'+esc(label)+'</span><span class=\"bt\"><span class=\"bf\" style=\"width:'+w+'%;background:'+color+'\"></span></span><span class=\"bv\">'+esc(val)+'%</span></div>'; }\nconst ps=(d.phishingSimulation&&d.phishingSimulation.campaigns)||[];\nconst tr=d.training||{};\nconst dep=d.byDepartment||[];\nvar phish=ps.map(function(c){ return bar(esc(c.month)+' · click rate', c.clickRate, '#C0392B')+bar(esc(c.month)+' · report rate', c.reportRate, '#1E8E5A'); }).join('');\nvar deptRows=dep.map(function(x){ return '<tr><td class=\"rl\">'+esc(x.name)+'</td><td>'+bar('click', x.clickRate, '#C0392B')+'</td><td>'+bar('done', x.completionRate, 'var(--jb-acc)')+'</td></tr>'; }).join('');\nvar EXTRA=\" .brow{margin:7px 0;font-size:0;white-space:nowrap} .bl{display:inline-block;width:168px;font-size:12.5px;color:#2b3340;vertical-align:middle} .bt{display:inline-block;width:300px;height:14px;background:#EEF1F5;border-radius:7px;overflow:hidden;margin:0 10px;vertical-align:middle} .bf{display:block;height:14px;border-radius:7px} .bv{display:inline-block;width:50px;text-align:right;font-size:12.5px;font-weight:700;color:var(--jb-pri);vertical-align:middle} table.r{width:100%;border-collapse:collapse;margin:6px 0} table.r td{border-bottom:1px solid #EEF1F5;padding:8px 10px;font-size:12.5px;vertical-align:middle} table.r td.rl{font-weight:700;color:var(--jb-pri);width:24%} table.r .bl{width:34px} table.r .bt{width:150px} table.r .brow{margin:0} .big{margin:8px 0;font-size:0} .stat{display:inline-block;width:32%;border:1px solid #E2E6EC;border-radius:8px;padding:14px;vertical-align:top;margin-right:1%} .stat .n{font-family:Georgia,serif;font-size:30px;font-weight:700;color:var(--jb-acc)} .stat .l{font-size:11px;letter-spacing:.5px;color:#5A6472;text-transform:uppercase}\";\nvar CSS=\"@page{size:A4;margin:16mm 15mm 18mm} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,\\\"Segoe UI\\\",Arial,sans-serif;color:#11151c} .pg{page-break-after:always} .pg:last-child{page-break-after:auto} .kick{color:var(--jb-acc);letter-spacing:2px;font-weight:800;font-size:12px;text-transform:uppercase} h1.t{font-family:Georgia,serif;font-size:30px;color:var(--jb-pri);margin:6px 0 4px} .sub{color:#5A6472;font-size:13px;margin:0 0 18px} h2{font-family:Georgia,serif;font-size:19px;color:var(--jb-pri);margin:20px 0 10px;border-bottom:2px solid var(--jb-acc);padding-bottom:6px} p{font-size:14px;line-height:1.6;color:#2b3340} .foot{position:fixed;bottom:8mm;left:15mm;right:15mm;color:#9aa6b2;font-size:11px;border-top:1px solid #E2E6EC;padding-top:8px;display:flex;justify-content:space-between} .card{border:1px solid #E2E6EC;border-radius:8px;padding:14px 16px;margin:12px 0;page-break-inside:avoid} .card h3{margin:0 0 8px;font-family:Georgia,serif;font-size:16px;color:var(--jb-pri)} .pill{display:inline-block;background:#E6F4F1;color:var(--jb-acc);font-weight:800;font-size:11px;padding:3px 10px;border-radius:12px;letter-spacing:.5px}\"+EXTRA+JKIT_CSS;\n// Lessons learned: use supplied takeaways, else derive simple insights from the metrics.\nvar kpiTake = Array.isArray(d.takeaways) ? d.takeaways.slice() : [];\nif(!kpiTake.length){\n  if(ps.length){ var first=ps[0], last=ps[ps.length-1]; if(first&&last&&first.clickRate!=null&&last.clickRate!=null){ var delta=Number(first.clickRate)-Number(last.clickRate); kpiTake.push('Phishing click rate '+(delta>=0?'fell':'rose')+' from '+first.clickRate+'% to '+last.clickRate+'% over the period.'); } if(last&&last.reportRate!=null){ kpiTake.push('Latest phishing report rate is '+last.reportRate+'% — keep encouraging reporting.'); } }\n  if(tr.completionRate!=null){ kpiTake.push('Training completion is at '+tr.completionRate+'%'+(Number(tr.completionRate)<90?' — chase the outstanding staff to reach 90%+.':' — strong coverage, maintain momentum.')); }\n  if(d.notes) kpiTake.push(String(d.notes));\n}\nvar body='<div class=\"pg\">'+jbMast('Awareness Metrics', 'Security Awareness KPI Report', esc(d.period||'')+(client?(' · '+esc(client)):''))+''\n +'<div class=\"big\"><div class=\"stat\"><div class=\"n\">'+esc((tr.completionRate!=null?tr.completionRate+'%':'—'))+'</div><div class=\"l\">Training completion</div></div><div class=\"stat\"><div class=\"n\">'+esc(ps.length?(ps[ps.length-1].clickRate+'%'):'—')+'</div><div class=\"l\">Latest phishing click rate</div></div><div class=\"stat\"><div class=\"n\">'+esc(ps.length?(ps[ps.length-1].reportRate+'%'):'—')+'</div><div class=\"l\">Latest report rate</div></div></div>'\n +'<h2>Phishing simulation trend</h2>'+(phish||'<p>No simulation data supplied.</p>')\n +'<h2>Training completion</h2>'+bar('Completion', tr.completionRate, 'var(--jb-acc)')+'<p style=\"font-size:12px;color:#5A6472\">'+esc((tr.completed!=null?tr.completed:'—')+' of '+(tr.assigned!=null?tr.assigned:'—')+' staff completed.')+'</p>'\n +'<h2>By department</h2><table class=\"r\">'+deptRows+'</table>'\n +(d.notes?'<p style=\"font-size:12px;color:#5A6472;margin-top:14px\">'+esc(d.notes)+'</p>':'')\n +jKitBlock(kpiTake)\n +'<div class=\"foot\"><span>'+esc(byline)+' · figures supplied by the awareness team</span><span>'+esc(date)+'</span></div></div>';\nconst html='<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'+body+'</body></html>';\nreturn [{ json:{ html:html, topic:'kpi', date:date, fileSafe:(d.period||'report').toString().toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,''), outDir:'kpi', filePrefix:'kpi' } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "Build PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        290
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const html = $json.html || '';\nreturn [{ json: { topic:$json.topic, date:$json.date, fileSafe:$json.fileSafe, outDir:$json.outDir, filePrefix:$json.filePrefix },\n  binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType:'text/html', fileName:'index.html' } } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        290
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        290
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/' + (meta.outDir || 'misc');\nconst name = (meta.filePrefix || 'asset') + '-' + (meta.fileSafe || 'item') + '-' + meta.date + '.pdf';\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); if (buf) fs.writeFileSync(dir + '/' + name, buf); } catch (e) {}\nconst out = { json: { ok: !!buf, file: dir + '/' + name, topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = name; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "On Command": {
      "main": [
        [
          {
            "node": "Load KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load KPI": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Build PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Open Form": {
      "main": [
        [
          {
            "node": "Load KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}