workflows/awareness/poster-explainer.json
{
  "id": "jarvisAwPoster01",
  "name": "Jarvis · Awareness — Poster & Explainer",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand security-awareness POSTER + one-page EXPLAINER generator. Trigger via Telegram (/poster <topic>, /explainer <topic>) or manually. AI writes the content, an AI image forms the poster backdrop, Gotenberg renders a 2-page PDF (poster + explainer) saved to /reports/awareness/posters and returned as a document. Files-only deliverable; generic branding (CLIENT_NAME optional).",
    "envVars": [
      "AI_PROVIDER",
      "IMAGE_PROVIDER",
      "CLIENT_NAME",
      "GOTENBERG_URL"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Generate Awareness Poster & Explainer",
        "formDescription": "Pick a topic and options, then submit. Leave blank to use the default.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Phishing"
                  },
                  {
                    "option": "Spear phishing & whaling"
                  },
                  {
                    "option": "Business email compromise (BEC)"
                  },
                  {
                    "option": "Passwords & passphrases"
                  },
                  {
                    "option": "Multi-factor authentication (MFA)"
                  },
                  {
                    "option": "Social engineering"
                  },
                  {
                    "option": "Vishing (voice phishing)"
                  },
                  {
                    "option": "Smishing (SMS phishing)"
                  },
                  {
                    "option": "QR-code phishing (quishing)"
                  },
                  {
                    "option": "Safe remote & home working"
                  },
                  {
                    "option": "Travel security"
                  },
                  {
                    "option": "Removable media & USB"
                  },
                  {
                    "option": "Public Wi-Fi"
                  },
                  {
                    "option": "Data classification & handling"
                  },
                  {
                    "option": "Insider risk"
                  },
                  {
                    "option": "Ransomware"
                  },
                  {
                    "option": "Reporting incidents"
                  },
                  {
                    "option": "Deepfakes & AI-enabled fraud"
                  },
                  {
                    "option": "Generative-AI safe use"
                  },
                  {
                    "option": "Custom (type below)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Custom topic",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Used if set / if Topic = Custom"
            },
            {
              "fieldLabel": "Audience",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "All staff"
                  },
                  {
                    "option": "Finance"
                  },
                  {
                    "option": "Executives"
                  },
                  {
                    "option": "IT & Developers"
                  },
                  {
                    "option": "New joiners"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Tone",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Friendly"
                  },
                  {
                    "option": "Formal"
                  },
                  {
                    "option": "Punchy"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-poster-explainer-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nlet custom = pick(i['Custom topic'], i.customTopic);\nlet drop = pick(i['Topic'], i.topic); if(/^custom/i.test(drop)) drop='';\nlet t = pick(custom, drop, i.query, i.text);\nt = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif (!t) t = ($env.DEFAULT_AWARENESS_TOPIC || 'phishing');\nreturn [{ json: { topic:t, audience:(pick(i['Audience'],i.audience)||'All staff'), tone:(pick(i['Tone'],i.tone)||'Friendly'), questions:pick(i['Questions'],i.questions), difficulty:pick(i['Difficulty'],i.difficulty), duration:pick(i['Duration'],i.duration), level:pick(i['Audience level'],i.level), numTips:pick(i['Number of tips'],i.numTips), date:new Date().toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString() } }];"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-sonnet-4-6' }}\",\n  \"max_tokens\": 2000,\n  \"system\": \"You are a security-awareness content designer. For the given topic, produce a SINGLE valid JSON object for an awareness POSTER and a one-page EXPLAINER aimed at general, non-technical staff. Keys: topic; poster {headline (max 6 words, punchy), tagline (one short line), points (3-5 short imperative do/dont bullets, max ~8 words each)}; explainer {title, intro (2 sentences), why (2 sentences on why it matters to the organisation and the individual), redFlags (4-6 short warning signs), dos (4-6 short good practices), donts (3-5 short things to avoid)}. Use plain, encouraging, action-oriented language; no jargon, no fear-mongering. Tailor the language, examples and difficulty to the stated Audience and Tone, and honour any stated number of questions, difficulty, duration, seniority or number of tips. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Create awareness poster and explainer content for the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Tone: ' + ($json.tone||'Friendly') + ($json.questions?('. Number of questions: '+$json.questions):'') + ($json.difficulty?('. Difficulty: '+$json.difficulty):'') + ($json.duration?('. Duration: '+$json.duration):'') + ($json.level?('. Audience seniority: '+$json.level):'') + ($json.numTips?('. Number of tips: '+$json.numTips):'')) }} } ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.5, \"num_predict\": 1600 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are a security-awareness content designer. For the given topic, produce a SINGLE valid JSON object for an awareness POSTER and a one-page EXPLAINER aimed at general, non-technical staff. Keys: topic; poster {headline (max 6 words, punchy), tagline (one short line), points (3-5 short imperative do/dont bullets, max ~8 words each)}; explainer {title, intro (2 sentences), why (2 sentences on why it matters to the organisation and the individual), redFlags (4-6 short warning signs), dos (4-6 short good practices), donts (3-5 short things to avoid)}. Use plain, encouraging, action-oriented language; no jargon, no fear-mongering. Tailor the language, examples and difficulty to the stated Audience and Tone, and honour any stated number of questions, difficulty, duration, seniority or number of tips. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Create awareness poster and explainer content for the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Tone: ' + ($json.tone||'Friendly') + ($json.questions?('. Number of questions: '+$json.questions):'') + ($json.difficulty?('. Difficulty: '+$json.difficulty):'') + ($json.duration?('. Duration: '+$json.duration):'') + ($json.level?('. Audience seniority: '+$json.level):'') + ($json.numTips?('. Number of tips: '+$json.numTips):'')) }} } ]\n}",
        "options": {
          "timeout": 300000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json;\nconst imagePrompt = 'Clean professional security-awareness poster background illustration about ' + r.topic +\n '. Modern flat vector style, calm corporate deep-blue and teal palette, abstract security icons (shield, padlock, envelope, fish-hook), plenty of empty space in the upper area for a headline. NO text, NO words, NO letters, NO logos, NO faces, NO watermark.';\nreturn [{ json: { data: data, topic: r.topic, date: r.date, client: r.client, imagePrompt: imagePrompt, markdown: raw } }];\n"
      }
    },
    {
      "id": "genimg",
      "name": "Generate Poster Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL || 'https://api.openai.com/v1' }}/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.IMAGE_MODEL || 'gpt-image-1' }}\",\n  \"prompt\": {{ JSON.stringify($json.imagePrompt) }},\n  \"size\": \"{{ $env.IMAGE_SIZE || '1024x1536' }}\",\n  \"n\": 1\n}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Optional poster backdrop. Failure (no key) falls back to a branding/gradient background."
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const d = $json.data || {};\nconst topic = $json.topic || 'Security Awareness';\nconst date = $json.date || new Date().toISOString().slice(0,10);\nconst client = ($json.client || '').toString();\nconst fs = require('fs');\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nfunction ord(n){ var s=['th','st','nd','rd'],v=n%100; return n+(s[(v-20)%10]||s[v]||s[0]); }\nfunction pretty(x){ try{ var p=x.split('-'); var dt=new Date(+p[0],+p[1]-1,+p[2]); var M=['January','February','March','April','May','June','July','August','September','October','November','December']; return M[dt.getMonth()]+' '+ord(dt.getDate())+' '+dt.getFullYear(); }catch(e){ return x; } }\nfunction fileUri(b){ var t=[['/config/branding/'+b+'.png','image/png'],['/config/branding/'+b+'.jpg','image/jpeg']]; for(var i=0;i<t.length;i++){ try{ return 'data:'+t[i][1]+';base64,'+fs.readFileSync(t[i][0]).toString('base64'); }catch(e){} } return ''; }\nlet img=''; try { var b64=$('Generate Poster Image').first().json.data[0].b64_json; if(b64) img='data:image/png;base64,'+b64; } catch(e){ img=''; }\nif(!img) img = fileUri('awareness-poster') || fileUri('cover') || '';\nconst poster = d.poster || {};\nconst ex = d.explainer || {};\nconst byline = client ? ('Prepared for ' + client) : 'Security Awareness';\nconst points = (poster.points||[]).slice(0,5);\nfunction li(x){ return '<li>'+esc(x)+'</li>'; }\nconst CSS = '@page{margin:0} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,\"Segoe UI\",Arial,sans-serif} '\n + '.poster{height:100vh;page-break-after:always;position:relative;background:#0E2233;overflow:hidden;color:#fff} '\n + '.poster .bg{position:absolute;top:0;left:0;right:0;bottom:0;background-size:cover;background-position:center} '\n + '.poster .ov{position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(135deg,rgba(8,20,32,.93),rgba(8,20,32,.5) 58%,rgba(8,20,32,.2))} '\n + '.poster .pc{position:absolute;left:54px;right:54px;top:66px} '\n + '.poster .kick{color:#5FD0C0;letter-spacing:3px;font-weight:800;font-size:14px;text-transform:uppercase} '\n + '.poster h1{font-size:56px;line-height:1.03;margin:14px 0 12px;font-weight:800} '\n + '.poster .tag{font-size:20px;color:#CDE7F0;max-width:74%;line-height:1.4} '\n + '.poster ul{position:absolute;left:54px;right:54px;bottom:118px;list-style:none;padding:0;margin:0} '\n + '.poster li{font-size:21px;line-height:1.45;padding:11px 0 11px 40px;border-top:1px solid rgba(255,255,255,.16);position:relative} '\n + '.poster li:before{content:\"\\\\2713\";position:absolute;left:4px;top:11px;color:#5FD0C0;font-weight:800} '\n + '.poster .foot{position:absolute;left:54px;right:54px;bottom:50px;color:#9fb6c2;font-size:14px;letter-spacing:1px;border-top:2px solid #5FD0C0;padding-top:12px;display:flex;justify-content:space-between} '\n + '.ex{padding:46px 54px;color:#11151c} '\n + '.ex .kick{color:#0E7C86;letter-spacing:2px;font-weight:800;font-size:12px;text-transform:uppercase} '\n + '.ex h2{font-family:Georgia,serif;font-size:30px;color:#0E2233;margin:6px 0 14px;border-bottom:3px solid #0E7C86;padding-bottom:10px} '\n + '.ex p{font-size:15px;line-height:1.62;color:#2b3340;margin:0 0 10px} '\n + '.ex h3{font-size:13px;letter-spacing:1.5px;text-transform:uppercase;color:#0E2233;margin:20px 0 8px} '\n + '.ex .cols{display:flex;gap:26px} .ex .col{flex:1} '\n + '.ex ul{margin:6px 0;padding-left:20px} .ex li{font-size:14px;line-height:1.55;margin:6px 0;color:#2b3340} '\n + '.ex .rf li{color:#8a1f1f} .ex .do li{color:#1E6B3A} '\n + '.ex .foot{margin-top:28px;border-top:1px solid #E2E6EC;padding-top:12px;color:#5A6472;font-size:12px;display:flex;justify-content:space-between} ';\nconst posterHtml = '<div class=\"poster\">'\n + (img?'<div class=\"bg\" style=\"background-image:url('+img+')\"></div>':'')\n + '<div class=\"ov\"></div>'\n + '<div class=\"pc\"><div class=\"kick\">Security Awareness</div><h1>'+esc(poster.headline||topic)+'</h1>'+(poster.tagline?'<div class=\"tag\">'+esc(poster.tagline)+'</div>':'')+'</div>'\n + (points.length?('<ul>'+points.map(li).join('')+'</ul>'):'')\n + '<div class=\"foot\"><span>'+esc(byline)+'</span><span>'+esc(pretty(date))+'</span></div></div>';\nfunction list(arr,cls){ if(!arr||!arr.length)return''; return '<ul class=\"'+cls+'\">'+arr.map(li).join('')+'</ul>'; }\nconst exHtml = '<div class=\"ex\"><div class=\"kick\">Explainer</div><h2>'+esc(ex.title||('Understanding '+topic))+'</h2>'\n + (ex.intro?'<p>'+esc(ex.intro)+'</p>':'')\n + (ex.why?'<h3>Why it matters</h3><p>'+esc(ex.why)+'</p>':'')\n + (ex.redFlags&&ex.redFlags.length?'<h3>Red flags to watch for</h3>'+list(ex.redFlags,'rf'):'')\n + '<div class=\"cols\"><div class=\"col\"><h3>Do</h3>'+list(ex.dos,'do')+'</div><div class=\"col\"><h3>Don’t</h3>'+list(ex.donts,'rf')+'</div></div>'\n + '<div class=\"foot\"><span>'+esc(byline)+' · AI-generated — review before distribution</span><span>'+esc(pretty(date))+'</span></div></div>';\nconst html = '<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'+posterHtml+exHtml+'</body></html>';\nconst fileSafe = topic.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40) || 'asset';\nreturn [{ json: { html: html, topic: topic, date: date, fileSafe: fileSafe } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "Build PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const html = $json.html || '';\nreturn [{ json: { topic: $json.topic, date: $json.date, fileSafe: $json.fileSafe },\n  binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType: 'text/html', fileName: 'index.html' } } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/posters';\nconst name = 'poster-' + (meta.fileSafe || 'asset') + '-' + meta.date + '.pdf';\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); if (buf) fs.writeFileSync(dir + '/' + name, buf); } catch (e) {}\nconst out = { json: { ok: !!buf, file: dir + '/' + name, topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = name; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Generate Poster Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Poster Image": {
      "main": [
        [],
        []
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Build PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Open Form": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
