workflows/awareness/quiz-pack.json
{
  "id": "jarvisAwQuiz001",
  "name": "Jarvis · Awareness — Quiz & Spot-the-Phish",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand awareness QUIZ + Spot-the-phish pack (participant + facilitator answer key) as a PDF saved to /reports/awareness/quiz. Trigger via /quiz <topic> or manually.",
    "envVars": [
      "AI_PROVIDER",
      "CLIENT_NAME",
      "GOTENBERG_URL"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Generate Awareness Quiz & Spot-the-Phish",
        "formDescription": "Pick a topic and options, then submit. Leave blank to use the default.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Phishing"
                  },
                  {
                    "option": "Spear phishing & whaling"
                  },
                  {
                    "option": "Business email compromise (BEC)"
                  },
                  {
                    "option": "Passwords & passphrases"
                  },
                  {
                    "option": "Multi-factor authentication (MFA)"
                  },
                  {
                    "option": "Social engineering"
                  },
                  {
                    "option": "Vishing (voice phishing)"
                  },
                  {
                    "option": "Smishing (SMS phishing)"
                  },
                  {
                    "option": "QR-code phishing (quishing)"
                  },
                  {
                    "option": "Safe remote & home working"
                  },
                  {
                    "option": "Travel security"
                  },
                  {
                    "option": "Removable media & USB"
                  },
                  {
                    "option": "Public Wi-Fi"
                  },
                  {
                    "option": "Data classification & handling"
                  },
                  {
                    "option": "Insider risk"
                  },
                  {
                    "option": "Ransomware"
                  },
                  {
                    "option": "Reporting incidents"
                  },
                  {
                    "option": "Deepfakes & AI-enabled fraud"
                  },
                  {
                    "option": "Generative-AI safe use"
                  },
                  {
                    "option": "Custom (type below)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Custom topic",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Used if set / if Topic = Custom"
            },
            {
              "fieldLabel": "Audience",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "All staff"
                  },
                  {
                    "option": "Finance"
                  },
                  {
                    "option": "Executives"
                  },
                  {
                    "option": "IT & Developers"
                  },
                  {
                    "option": "New joiners"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Tone",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Friendly"
                  },
                  {
                    "option": "Formal"
                  },
                  {
                    "option": "Punchy"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Questions",
              "fieldType": "number",
              "requiredField": false
            },
            {
              "fieldLabel": "Difficulty",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Foundational"
                  },
                  {
                    "option": "Intermediate"
                  },
                  {
                    "option": "Advanced"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-quiz-pack-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nlet custom = pick(i['Custom topic'], i.customTopic);\nlet drop = pick(i['Topic'], i.topic); if(/^custom/i.test(drop)) drop='';\nlet t = pick(custom, drop, i.query, i.text);\nt = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif (!t) t = ($env.DEFAULT_AWARENESS_TOPIC || 'phishing');\nreturn [{ json: { topic:t, audience:(pick(i['Audience'],i.audience)||'All staff'), tone:(pick(i['Tone'],i.tone)||'Friendly'), questions:pick(i['Questions'],i.questions), difficulty:pick(i['Difficulty'],i.difficulty), duration:pick(i['Duration'],i.duration), level:pick(i['Audience level'],i.level), numTips:pick(i['Number of tips'],i.numTips), date:new Date().toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString() } }];"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-opus-4-8' }}\",\n  \"max_tokens\": 3000,\n  \"system\": \"You are a security-awareness trainer. For the given topic produce a SINGLE valid JSON object for a short awareness QUIZ plus a 'Spot the phish' exercise, for general non-technical staff. Keys: topic; intro (one sentence); questions (6-8 items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}); spotThePhish {scenario (one sentence), email {from, subject, lines (array of 3-5 short body lines)}, redFlags (3-5 short strings naming the give-aways in THIS email), verdict (one sentence)}; takeaways (3-4 short 'lessons learned' one-liners summarising what the learner should remember). Engaging, plain language. Tailor the language, examples and difficulty to the stated Audience and Tone, and honour any stated number of questions, difficulty, duration, seniority or number of tips. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Create an awareness quiz and spot-the-phish exercise for the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Tone: ' + ($json.tone||'Friendly') + ($json.questions?('. Number of questions: '+$json.questions):'') + ($json.difficulty?('. Difficulty: '+$json.difficulty):'') + ($json.duration?('. Duration: '+$json.duration):'') + ($json.level?('. Audience seniority: '+$json.level):'') + ($json.numTips?('. Number of tips: '+$json.numTips):'')) }} } ]\n}",
        "options": {
          "timeout": 180000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.5, \"num_predict\": 2200 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are a security-awareness trainer. For the given topic produce a SINGLE valid JSON object for a short awareness QUIZ plus a 'Spot the phish' exercise, for general non-technical staff. Keys: topic; intro (one sentence); questions (6-8 items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}); spotThePhish {scenario (one sentence), email {from, subject, lines (array of 3-5 short body lines)}, redFlags (3-5 short strings naming the give-aways in THIS email), verdict (one sentence)}; takeaways (3-4 short 'lessons learned' one-liners summarising what the learner should remember). Engaging, plain language. Tailor the language, examples and difficulty to the stated Audience and Tone, and honour any stated number of questions, difficulty, duration, seniority or number of tips. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Create an awareness quiz and spot-the-phish exercise for the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Tone: ' + ($json.tone||'Friendly') + ($json.questions?('. Number of questions: '+$json.questions):'') + ($json.difficulty?('. Difficulty: '+$json.difficulty):'') + ($json.duration?('. Duration: '+$json.duration):'') + ($json.level?('. Audience seniority: '+$json.level):'') + ($json.numTips?('. Number of tips: '+$json.numTips):'')) }} } ]\n}",
        "options": {
          "timeout": 300000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json;\nreturn [{ json: { data: data, topic: r.topic, date: r.date, client: r.client, markdown: raw } }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/* Jarvis brand kit v2 — env-driven theme (BRAND_PRIMARY/ACCENT/GOLD) + masthead + takeaways + sign-off */\nvar __jfs=null; try{__jfs=require('fs');}catch(e){}\nfunction jbHex(v,d){ v=String(v||'').trim(); return /^#[0-9a-fA-F]{6}$/.test(v)?v:d; }\nvar JB_PRI=jbHex($env.BRAND_PRIMARY,'#0A1A2F'), JB_ACC=jbHex($env.BRAND_ACCENT,'#0E7C86'), JB_GOLD=jbHex($env.BRAND_GOLD,'#E7C76A');\nfunction jbAvatarUri(){ if(!__jfs) return ''; var t=[['/config/branding/jarvis-avatar.png','image/png'],['/config/branding/jarvis-avatar.jpg','image/jpeg'],['/config/branding/jarvis-avatar.jpeg','image/jpeg'],['/config/branding/jarvis-avatar.svg','image/svg+xml']]; for(var i=0;i<t.length;i++){ try{ return 'data:'+t[i][1]+';base64,'+__jfs.readFileSync(t[i][0]).toString('base64'); }catch(e){} } return ''; }\nvar JB_SVG='<svg class=\"jav\" viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\"><defs><linearGradient id=\"jbg\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\"><stop offset=\"0\" stop-color=\"#0E7C86\"/><stop offset=\"1\" stop-color=\"#0A1A2F\"/></linearGradient></defs><circle cx=\"32\" cy=\"32\" r=\"32\" fill=\"url(#jbg)\"/><rect x=\"19\" y=\"21\" width=\"26\" height=\"22\" rx=\"7\" fill=\"#fff\"/><circle cx=\"27\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><circle cx=\"37\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><rect x=\"27\" y=\"38\" width=\"10\" height=\"2.4\" rx=\"1.2\" fill=\"#0E7C86\"/><rect x=\"30.7\" y=\"14\" width=\"2.6\" height=\"6\" rx=\"1.3\" fill=\"#9fe4d8\"/><circle cx=\"32\" cy=\"13\" r=\"2.4\" fill=\"#E7C76A\"/><path d=\"M23 47h18l-3 4.5H26z\" fill=\"#9fe4d8\"/></svg>';\nfunction jbEsc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nvar JB_AV=jbAvatarUri(), JB_AVATAR=JB_AV?('<img src=\"'+JB_AV+'\"/>'):JB_SVG;\n// CSS injected into every render's <style>: :root theme vars + masthead + takeaways + sign-off.\nvar JB_CSS=\":root{--jb-pri:\"+JB_PRI+\";--jb-acc:\"+JB_ACC+\";--jb-gold:\"+JB_GOLD+\"}\"\n+\".jbmast{background:linear-gradient(120deg,var(--jb-pri),var(--jb-acc));color:#fff;border-radius:12px;padding:15px 20px;display:flex;align-items:center;justify-content:space-between;gap:14px;margin:0 0 16px}\"\n+\".jbmast .jbk{font-size:10px;letter-spacing:3px;text-transform:uppercase;color:var(--jb-gold);font-weight:800}\"\n+\".jbmast h1{font-family:Georgia,serif;font-size:25px;margin:4px 0 0;font-weight:800;line-height:1.12;color:#fff}\"\n+\".jbmast .jbs{font-size:12px;color:#dbe9ee;margin-top:5px}\"\n+\".jbmast .jbav img,.jbmast .jbav .jav{width:46px;height:46px;border-radius:50%;border:2px solid #9fe4d8;flex:0 0 auto;background:var(--jb-pri)}\"\n+\".jkit-take{background:#F4F6F9;border:1px solid #E2E6EC;border-left:4px solid var(--jb-acc);border-radius:10px;padding:14px 18px;margin:22px 0 0;page-break-inside:avoid}.jkit-take .th{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;color:var(--jb-pri);font-weight:800;margin:0 0 7px}.jkit-take ul{margin:0;padding-left:18px}.jkit-take li{font-size:13.5px;line-height:1.5;color:#2b3340;margin:5px 0}\"\n+\".jkit-sign{display:flex;align-items:center;gap:12px;margin:20px 0 0;padding-top:14px;border-top:2px solid var(--jb-acc);page-break-inside:avoid}.jkit-sign img,.jkit-sign .jav{width:46px;height:46px;border-radius:50%;border:2px solid var(--jb-acc);flex:0 0 auto}.jkit-sign .nm{font-family:Georgia,serif;font-size:15px;color:var(--jb-pri);font-weight:700}.jkit-sign .rl{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:10px;letter-spacing:2px;text-transform:uppercase;color:var(--jb-acc);font-weight:800;margin-top:2px}\";\nfunction jbMast(kicker,title,sub){ return '<div class=\"jbmast\"><div><div class=\"jbk\">'+jbEsc(kicker)+'</div><h1>'+title+'</h1>'+(sub?'<div class=\"jbs\">'+sub+'</div>':'')+'</div><span class=\"jbav\">'+JB_AVATAR+'</span></div>'; }\nfunction jTakeBox(takeaways){ var t=(takeaways||[]).filter(Boolean).slice(0,4); if(!t.length) return ''; return '<div class=\"jkit-take\"><div class=\"th\">Key takeaways &middot; Lessons learned</div><ul>'+t.map(function(x){return '<li>'+jbEsc(x)+'</li>';}).join('')+'</ul></div>'; }\nfunction jSignoff(){ return '<div class=\"jkit-sign\">'+JB_AVATAR+'<div><div class=\"nm\">Jarvis</div><div class=\"rl\">Your AI Awareness Assistant</div></div></div>'; }\nfunction jKitBlock(takeaways){ return jTakeBox(takeaways)+jSignoff(); }\n/* back-compat aliases for renders that referenced the v1 prelude */\nvar JKIT_CSS=JB_CSS, JKIT_SVG=JB_SVG; function jKitEsc(s){ return jbEsc(s); }\n\nconst d=$json.data||{}; const topic=$json.topic||'Security'; const date=$json.date||''; const client=($json.client||'').toString();\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nconst byline = client? ('Prepared for '+client) : 'Security Awareness';\nconst Q=(d.questions||[]); const sp=d.spotThePhish||{}; const em=sp.email||{};\nconst letters=['A','B','C','D'];\nfunction optList(q,showAns){ return '<ol class=\"opts\">'+(q.options||[]).map(function(o,i){ var hit=(showAns && q.answer===i); return '<li'+(hit?' class=\"hit\"':'')+'>'+esc(o)+(hit?' &#10003;':'')+'</li>'; }).join('')+'</ol>'; }\nvar emailCard='<div class=\"email\"><div class=\"eh\"><b>From:</b> '+esc(em.from||'')+'<br><b>Subject:</b> '+esc(em.subject||'')+'</div><div class=\"eb\">'+((em.lines||[]).map(function(l){return '<p>'+esc(l)+'</p>';}).join(''))+'</div></div>';\nvar partQ=Q.map(function(q,i){ return '<div class=\"q\"><div class=\"qn\">'+(i+1)+'. '+esc(q.q)+'</div>'+optList(q,false)+'</div>'; }).join('');\nvar factQ=Q.map(function(q,i){ return '<div class=\"q\"><div class=\"qn\">'+(i+1)+'. '+esc(q.q)+'</div><div class=\"ans\">Answer: '+(letters[q.answer]||'?')+' &mdash; '+esc((q.options||[])[q.answer]||'')+'</div><div class=\"why\">'+esc(q.why||'')+'</div></div>'; }).join('');\nvar EXTRA=\".opts{list-style:upper-alpha;margin:6px 0 0;padding-left:24px} .opts li{font-size:13.5px;line-height:1.5;margin:3px 0} .opts li.hit{color:#1E6B3A;font-weight:700} .q{margin:0 0 14px;page-break-inside:avoid} .qn{font-weight:700;font-size:14px;color:var(--jb-pri)} .ans{font-size:13px;color:#1E6B3A;font-weight:700;margin-top:4px} .why{font-size:12.5px;color:#5A6472} .email{border:1px solid #E2E6EC;border-radius:8px;overflow:hidden;margin:8px 0} .email .eh{background:#F3F6F8;padding:10px 14px;font-size:13px;color:#2b3340} .email .eb{padding:10px 14px} .email .eb p{margin:0 0 6px;font-size:13.5px} .rf{margin:8px 0;padding-left:20px} .rf li{font-size:13px;color:#8a1f1f;margin:4px 0}\";\nvar CSS=\"@page{size:A4;margin:16mm 15mm 18mm} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,\\\"Segoe UI\\\",Arial,sans-serif;color:#11151c} .pg{page-break-after:always} .pg:last-child{page-break-after:auto} .kick{color:var(--jb-acc);letter-spacing:2px;font-weight:800;font-size:12px;text-transform:uppercase} h1.t{font-family:Georgia,serif;font-size:30px;color:var(--jb-pri);margin:6px 0 4px} .sub{color:#5A6472;font-size:13px;margin:0 0 18px} h2{font-family:Georgia,serif;font-size:19px;color:var(--jb-pri);margin:20px 0 10px;border-bottom:2px solid var(--jb-acc);padding-bottom:6px} p{font-size:14px;line-height:1.6;color:#2b3340} .foot{position:fixed;bottom:8mm;left:15mm;right:15mm;color:#9aa6b2;font-size:11px;border-top:1px solid #E2E6EC;padding-top:8px;display:flex;justify-content:space-between} .card{border:1px solid #E2E6EC;border-radius:8px;padding:14px 16px;margin:12px 0;page-break-inside:avoid} .card h3{margin:0 0 8px;font-family:Georgia,serif;font-size:16px;color:var(--jb-pri)} .pill{display:inline-block;background:#E6F4F1;color:var(--jb-acc);font-weight:800;font-size:11px;padding:3px 10px;border-radius:12px;letter-spacing:.5px}\"+EXTRA+JKIT_CSS;\nvar participant='<div class=\"pg\">'+jbMast('Awareness Quiz · Participant', esc(topic)+' — Quick Quiz', esc(d.intro||'Test your knowledge.'))+''+partQ+'<h2>Spot the Phish</h2><p>'+esc(sp.scenario||'Review the email below. How many warning signs can you spot?')+'</p>'+emailCard+'<div class=\"foot\"><span>'+esc(byline)+'</span><span>'+esc(date)+'</span></div></div>';\nvar facilitator='<div class=\"pg\">'+jbMast('Awareness Quiz · Facilitator key', 'Answer Key', esc(topic))+''+factQ+'<h2>Spot the Phish — Debrief</h2><p><b>Red flags:</b></p><ul class=\"rf\">'+((sp.redFlags||[]).map(function(r){return '<li>'+esc(r)+'</li>';}).join(''))+'</ul><p><b>Verdict:</b> '+esc(sp.verdict||'')+'</p>'+jKitBlock(d.takeaways)+'<div class=\"foot\"><span>'+esc(byline)+' · AI-generated — review before use</span><span>'+esc(date)+'</span></div></div>';\nconst html='<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'+participant+facilitator+'</body></html>';\nconst fileSafe=topic.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40)||'quiz';\nreturn [{ json:{ html:html, topic:topic, date:date, fileSafe:fileSafe, outDir:'quiz', filePrefix:'quiz' } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "Build PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const html = $json.html || '';\nreturn [{ json: { topic:$json.topic, date:$json.date, fileSafe:$json.fileSafe, outDir:$json.outDir, filePrefix:$json.filePrefix },\n  binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType:'text/html', fileName:'index.html' } } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/' + (meta.outDir || 'misc');\nconst name = (meta.filePrefix || 'asset') + '-' + (meta.fileSafe || 'item') + '-' + meta.date + '.pdf';\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); if (buf) fs.writeFileSync(dir + '/' + name, buf); } catch (e) {}\nconst out = { json: { ok: !!buf, file: dir + '/' + name, topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = name; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Build PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Open Form": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}