workflows/awareness/quiz-pack.json
{
  "id": "jarvisAwQuiz001",
  "name": "Jarvis · Awareness — Quiz & Spot-the-Phish",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand awareness QUIZ + Spot-the-phish pack (participant + facilitator answer key) as a PDF saved to /reports/awareness/quiz. Trigger via /quiz <topic> or manually.",
    "envVars": [
      "AI_PROVIDER",
      "CLIENT_NAME",
      "GOTENBERG_URL"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {}
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nlet t = (i.topic || i.query || i.text || '').toString().trim();\nt = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif (!t) t = 'phishing';\nreturn [{ json: { topic: t, date: new Date().toISOString().slice(0,10), client: ($env.CLIENT_NAME || '').toString() } }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-sonnet-4-6' }}\",\n  \"max_tokens\": 3000,\n  \"system\": \"You are a security-awareness trainer. For the given topic produce a SINGLE valid JSON object for a short awareness QUIZ plus a 'Spot the phish' exercise, for general non-technical staff. Keys: topic; intro (one sentence); questions (6-8 items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}); spotThePhish {scenario (one sentence), email {from, subject, lines (array of 3-5 short body lines)}, redFlags (3-5 short strings naming the give-aways in THIS email), verdict (one sentence)}. Engaging, plain language. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Create an awareness quiz and spot-the-phish exercise for the topic: ' + ($json.topic || 'phishing')) }} } ]\n}",
        "options": {
          "timeout": 180000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.5, \"num_predict\": 2200 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are a security-awareness trainer. For the given topic produce a SINGLE valid JSON object for a short awareness QUIZ plus a 'Spot the phish' exercise, for general non-technical staff. Keys: topic; intro (one sentence); questions (6-8 items, each {q, options (array of exactly 4 short strings), answer (0-based index of the correct option), why (one-sentence explanation)}); spotThePhish {scenario (one sentence), email {from, subject, lines (array of 3-5 short body lines)}, redFlags (3-5 short strings naming the give-aways in THIS email), verdict (one sentence)}. Engaging, plain language. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Create an awareness quiz and spot-the-phish exercise for the topic: ' + ($json.topic || 'phishing')) }} } ]\n}",
        "options": {
          "timeout": 300000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json;\nreturn [{ json: { data: data, topic: r.topic, date: r.date, client: r.client, markdown: raw } }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const d=$json.data||{}; const topic=$json.topic||'Security'; const date=$json.date||''; const client=($json.client||'').toString();\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nconst byline = client? ('Prepared for '+client) : 'Security Awareness';\nconst Q=(d.questions||[]); const sp=d.spotThePhish||{}; const em=sp.email||{};\nconst letters=['A','B','C','D'];\nfunction optList(q,showAns){ return '<ol class=\"opts\">'+(q.options||[]).map(function(o,i){ var hit=(showAns && q.answer===i); return '<li'+(hit?' class=\"hit\"':'')+'>'+esc(o)+(hit?' &#10003;':'')+'</li>'; }).join('')+'</ol>'; }\nvar emailCard='<div class=\"email\"><div class=\"eh\"><b>From:</b> '+esc(em.from||'')+'<br><b>Subject:</b> '+esc(em.subject||'')+'</div><div class=\"eb\">'+((em.lines||[]).map(function(l){return '<p>'+esc(l)+'</p>';}).join(''))+'</div></div>';\nvar partQ=Q.map(function(q,i){ return '<div class=\"q\"><div class=\"qn\">'+(i+1)+'. '+esc(q.q)+'</div>'+optList(q,false)+'</div>'; }).join('');\nvar factQ=Q.map(function(q,i){ return '<div class=\"q\"><div class=\"qn\">'+(i+1)+'. '+esc(q.q)+'</div><div class=\"ans\">Answer: '+(letters[q.answer]||'?')+' &mdash; '+esc((q.options||[])[q.answer]||'')+'</div><div class=\"why\">'+esc(q.why||'')+'</div></div>'; }).join('');\nvar EXTRA=\".opts{list-style:upper-alpha;margin:6px 0 0;padding-left:24px} .opts li{font-size:13.5px;line-height:1.5;margin:3px 0} .opts li.hit{color:#1E6B3A;font-weight:700} .q{margin:0 0 14px;page-break-inside:avoid} .qn{font-weight:700;font-size:14px;color:#0E2233} .ans{font-size:13px;color:#1E6B3A;font-weight:700;margin-top:4px} .why{font-size:12.5px;color:#5A6472} .email{border:1px solid #E2E6EC;border-radius:8px;overflow:hidden;margin:8px 0} .email .eh{background:#F3F6F8;padding:10px 14px;font-size:13px;color:#2b3340} .email .eb{padding:10px 14px} .email .eb p{margin:0 0 6px;font-size:13.5px} .rf{margin:8px 0;padding-left:20px} .rf li{font-size:13px;color:#8a1f1f;margin:4px 0}\";\nvar CSS=\"@page{margin:0} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,\\\"Segoe UI\\\",Arial,sans-serif;color:#11151c} .pg{padding:44px 52px;page-break-after:always} .pg:last-child{page-break-after:auto} .kick{color:#0E7C86;letter-spacing:2px;font-weight:800;font-size:12px;text-transform:uppercase} h1.t{font-family:Georgia,serif;font-size:30px;color:#0E2233;margin:6px 0 4px} .sub{color:#5A6472;font-size:13px;margin:0 0 18px} h2{font-family:Georgia,serif;font-size:19px;color:#0E2233;margin:20px 0 10px;border-bottom:2px solid #0E7C86;padding-bottom:6px} p{font-size:14px;line-height:1.6;color:#2b3340} .foot{position:fixed;bottom:22px;left:52px;right:52px;color:#9aa6b2;font-size:11px;border-top:1px solid #E2E6EC;padding-top:8px;display:flex;justify-content:space-between} .card{border:1px solid #E2E6EC;border-radius:8px;padding:14px 16px;margin:12px 0;page-break-inside:avoid} .card h3{margin:0 0 8px;font-family:Georgia,serif;font-size:16px;color:#0E2233} .pill{display:inline-block;background:#E6F4F1;color:#0E7C86;font-weight:800;font-size:11px;padding:3px 10px;border-radius:12px;letter-spacing:.5px}\"+EXTRA;\nvar participant='<div class=\"pg\"><div class=\"kick\">Awareness Quiz · Participant</div><h1 class=\"t\">'+esc(topic)+' — Quick Quiz</h1><div class=\"sub\">'+esc(d.intro||'Test your knowledge.')+'</div>'+partQ+'<h2>Spot the Phish</h2><p>'+esc(sp.scenario||'Review the email below. How many warning signs can you spot?')+'</p>'+emailCard+'<div class=\"foot\"><span>'+esc(byline)+'</span><span>'+esc(date)+'</span></div></div>';\nvar facilitator='<div class=\"pg\"><div class=\"kick\">Awareness Quiz · Facilitator key</div><h1 class=\"t\">Answer Key</h1><div class=\"sub\">'+esc(topic)+'</div>'+factQ+'<h2>Spot the Phish — Debrief</h2><p><b>Red flags:</b></p><ul class=\"rf\">'+((sp.redFlags||[]).map(function(r){return '<li>'+esc(r)+'</li>';}).join(''))+'</ul><p><b>Verdict:</b> '+esc(sp.verdict||'')+'</p><div class=\"foot\"><span>'+esc(byline)+' · AI-generated — review before use</span><span>'+esc(date)+'</span></div></div>';\nconst html='<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'+participant+facilitator+'</body></html>';\nconst fileSafe=topic.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40)||'quiz';\nreturn [{ json:{ html:html, topic:topic, date:date, fileSafe:fileSafe, outDir:'quiz', filePrefix:'quiz' } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "Build PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const html = $json.html || '';\nreturn [{ json: { topic:$json.topic, date:$json.date, fileSafe:$json.fileSafe, outDir:$json.outDir, filePrefix:$json.filePrefix },\n  binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType:'text/html', fileName:'index.html' } } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/' + (meta.outDir || 'misc');\nconst name = (meta.filePrefix || 'asset') + '-' + (meta.fileSafe || 'item') + '-' + meta.date + '.pdf';\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); if (buf) fs.writeFileSync(dir + '/' + name, buf); } catch (e) {}\nconst out = { json: { ok: !!buf, file: dir + '/' + name, topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = name; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Run Manually": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Build PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
