workflows/awareness/tabletop-pack.json
{
  "id": "jarvisAwTable01",
  "name": "Jarvis · Awareness — Tabletop Exercise",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand cyber tabletop exercise pack (scenario, roles, timed injects, debrief, facilitator notes) as a PDF saved to /reports/awareness/tabletop. Trigger via /tabletop <scenario> or manually.",
    "envVars": [
      "AI_PROVIDER",
      "CLIENT_NAME",
      "GOTENBERG_URL"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {}
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nlet t = (i.topic || i.query || i.text || '').toString().trim();\nt = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif (!t) t = 'phishing';\nreturn [{ json: { topic: t, date: new Date().toISOString().slice(0,10), client: ($env.CLIENT_NAME || '').toString() } }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-sonnet-4-6' }}\",\n  \"max_tokens\": 3000,\n  \"system\": \"You are a cyber crisis-exercise facilitator. For the given scenario or topic produce a SINGLE valid JSON object for a ~45-minute tabletop exercise aimed at a general management audience. Keys: title; scenario (2-3 sentence situation); objectives (3-4 short strings); roles (3-5 items {role, brief}); injects (4-6 items {time (e.g. \\\"T+10 min\\\"), inject (what new information arrives), prompt (the decision/question put to the room)}); debrief (4-6 short questions); facilitatorNotes (3-5 short practical tips). Plain language, realistic, non-technical. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Create a 45-minute tabletop exercise for the scenario: ' + ($json.topic || 'phishing')) }} } ]\n}",
        "options": {
          "timeout": 180000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.5, \"num_predict\": 2200 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are a cyber crisis-exercise facilitator. For the given scenario or topic produce a SINGLE valid JSON object for a ~45-minute tabletop exercise aimed at a general management audience. Keys: title; scenario (2-3 sentence situation); objectives (3-4 short strings); roles (3-5 items {role, brief}); injects (4-6 items {time (e.g. \\\"T+10 min\\\"), inject (what new information arrives), prompt (the decision/question put to the room)}); debrief (4-6 short questions); facilitatorNotes (3-5 short practical tips). Plain language, realistic, non-technical. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Create a 45-minute tabletop exercise for the scenario: ' + ($json.topic || 'phishing')) }} } ]\n}",
        "options": {
          "timeout": 300000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json;\nreturn [{ json: { data: data, topic: r.topic, date: r.date, client: r.client, markdown: raw } }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const d=$json.data||{}; const topic=$json.topic||'Incident'; const date=$json.date||''; const client=($json.client||'').toString();\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nconst byline=client?('Prepared for '+client):'Security Awareness';\nfunction ul(a){ return '<ul>'+((a||[]).map(function(x){return '<li>'+esc(x)+'</li>';}).join(''))+'</ul>'; }\nvar roles=((d.roles||[]).map(function(r){return '<tr><td class=\"rl\">'+esc(r.role)+'</td><td>'+esc(r.brief)+'</td></tr>';}).join(''));\nvar injects=((d.injects||[]).map(function(x,i){return '<div class=\"card\"><span class=\"pill\">'+esc(x.time||('Inject '+(i+1)))+'</span><p style=\"margin:8px 0 6px\"><b>'+esc(x.inject)+'</b></p><p style=\"margin:0;color:#0E7C86\"><b>Discuss:</b> '+esc(x.prompt)+'</p></div>';}).join(''));\nvar EXTRA=\" table.r{width:100%;border-collapse:collapse;margin:6px 0} table.r td{border:1px solid #E2E6EC;padding:8px 10px;font-size:13px;vertical-align:top} table.r td.rl{font-weight:700;color:#0E2233;width:30%} ul{margin:6px 0;padding-left:20px} li{font-size:13.5px;line-height:1.55;margin:5px 0;color:#2b3340}\";\nvar CSS=\"@page{margin:0} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,\\\"Segoe UI\\\",Arial,sans-serif;color:#11151c} .pg{padding:44px 52px;page-break-after:always} .pg:last-child{page-break-after:auto} .kick{color:#0E7C86;letter-spacing:2px;font-weight:800;font-size:12px;text-transform:uppercase} h1.t{font-family:Georgia,serif;font-size:30px;color:#0E2233;margin:6px 0 4px} .sub{color:#5A6472;font-size:13px;margin:0 0 18px} h2{font-family:Georgia,serif;font-size:19px;color:#0E2233;margin:20px 0 10px;border-bottom:2px solid #0E7C86;padding-bottom:6px} p{font-size:14px;line-height:1.6;color:#2b3340} .foot{position:fixed;bottom:22px;left:52px;right:52px;color:#9aa6b2;font-size:11px;border-top:1px solid #E2E6EC;padding-top:8px;display:flex;justify-content:space-between} .card{border:1px solid #E2E6EC;border-radius:8px;padding:14px 16px;margin:12px 0;page-break-inside:avoid} .card h3{margin:0 0 8px;font-family:Georgia,serif;font-size:16px;color:#0E2233} .pill{display:inline-block;background:#E6F4F1;color:#0E7C86;font-weight:800;font-size:11px;padding:3px 10px;border-radius:12px;letter-spacing:.5px}\"+EXTRA;\nvar body='<div class=\"pg\"><div class=\"kick\">Tabletop Exercise</div><h1 class=\"t\">'+esc(d.title||(topic+' — Tabletop Exercise'))+'</h1><div class=\"sub\">Facilitator pack · ~45 minutes</div>'\n +'<h2>Scenario</h2><p>'+esc(d.scenario||'')+'</p>'\n +'<h2>Objectives</h2>'+ul(d.objectives)\n +'<h2>Roles</h2><table class=\"r\">'+roles+'</table>'\n +'<h2>Injects</h2>'+injects\n +'<h2>Debrief questions</h2>'+ul(d.debrief)\n +'<h2>Facilitator notes</h2>'+ul(d.facilitatorNotes)\n +'<div class=\"foot\"><span>'+esc(byline)+' · AI-generated — review before use</span><span>'+esc(date)+'</span></div></div>';\nconst html='<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'+body+'</body></html>';\nconst fileSafe=topic.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40)||'tabletop';\nreturn [{ json:{ html:html, topic:topic, date:date, fileSafe:fileSafe, outDir:'tabletop', filePrefix:'tabletop' } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "Build PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const html = $json.html || '';\nreturn [{ json: { topic:$json.topic, date:$json.date, fileSafe:$json.fileSafe, outDir:$json.outDir, filePrefix:$json.filePrefix },\n  binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType:'text/html', fileName:'index.html' } } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/' + (meta.outDir || 'misc');\nconst name = (meta.filePrefix || 'asset') + '-' + (meta.fileSafe || 'item') + '-' + meta.date + '.pdf';\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); if (buf) fs.writeFileSync(dir + '/' + name, buf); } catch (e) {}\nconst out = { json: { ok: !!buf, file: dir + '/' + name, topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = name; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Run Manually": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Build PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
