workflows/awareness/tabletop-pack.json
{
  "id": "jarvisAwTable01",
  "name": "Jarvis · Awareness — Tabletop Exercise",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand cyber tabletop exercise pack (scenario, roles, timed injects, debrief, facilitator notes) as a PDF saved to /reports/awareness/tabletop. Trigger via /tabletop <scenario> or manually.",
    "envVars": [
      "AI_PROVIDER",
      "CLIENT_NAME",
      "GOTENBERG_URL"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Generate Tabletop Exercise",
        "formDescription": "Pick a topic and options, then submit. Leave blank to use the default.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Phishing"
                  },
                  {
                    "option": "Spear phishing & whaling"
                  },
                  {
                    "option": "Business email compromise (BEC)"
                  },
                  {
                    "option": "Passwords & passphrases"
                  },
                  {
                    "option": "Multi-factor authentication (MFA)"
                  },
                  {
                    "option": "Social engineering"
                  },
                  {
                    "option": "Vishing (voice phishing)"
                  },
                  {
                    "option": "Smishing (SMS phishing)"
                  },
                  {
                    "option": "QR-code phishing (quishing)"
                  },
                  {
                    "option": "Safe remote & home working"
                  },
                  {
                    "option": "Travel security"
                  },
                  {
                    "option": "Removable media & USB"
                  },
                  {
                    "option": "Public Wi-Fi"
                  },
                  {
                    "option": "Data classification & handling"
                  },
                  {
                    "option": "Insider risk"
                  },
                  {
                    "option": "Ransomware"
                  },
                  {
                    "option": "Reporting incidents"
                  },
                  {
                    "option": "Deepfakes & AI-enabled fraud"
                  },
                  {
                    "option": "Generative-AI safe use"
                  },
                  {
                    "option": "Custom (type below)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Custom topic",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Used if set / if Topic = Custom"
            },
            {
              "fieldLabel": "Audience",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "All staff"
                  },
                  {
                    "option": "Finance"
                  },
                  {
                    "option": "Executives"
                  },
                  {
                    "option": "IT & Developers"
                  },
                  {
                    "option": "New joiners"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Tone",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Friendly"
                  },
                  {
                    "option": "Formal"
                  },
                  {
                    "option": "Punchy"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Duration",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "30 minutes"
                  },
                  {
                    "option": "45 minutes"
                  },
                  {
                    "option": "60 minutes"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Audience level",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "All staff"
                  },
                  {
                    "option": "Management"
                  },
                  {
                    "option": "Board"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-tabletop-pack-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nlet custom = pick(i['Custom topic'], i.customTopic);\nlet drop = pick(i['Topic'], i.topic); if(/^custom/i.test(drop)) drop='';\nlet t = pick(custom, drop, i.query, i.text);\nt = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif (!t) t = ($env.DEFAULT_AWARENESS_TOPIC || 'phishing');\nreturn [{ json: { topic:t, audience:(pick(i['Audience'],i.audience)||'All staff'), tone:(pick(i['Tone'],i.tone)||'Friendly'), questions:pick(i['Questions'],i.questions), difficulty:pick(i['Difficulty'],i.difficulty), duration:pick(i['Duration'],i.duration), level:pick(i['Audience level'],i.level), numTips:pick(i['Number of tips'],i.numTips), date:new Date().toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString() } }];"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-opus-4-8' }}\",\n  \"max_tokens\": 3000,\n  \"system\": \"You are a cyber crisis-exercise facilitator. For the given scenario or topic produce a SINGLE valid JSON object for a ~45-minute tabletop exercise aimed at a general management audience. Keys: title; scenario (2-3 sentence situation); objectives (3-4 short strings); roles (3-5 items {role, brief}); injects (4-6 items {time (e.g. \\\"T+10 min\\\"), inject (what new information arrives), prompt (the decision/question put to the room)}); debrief (4-6 short questions); facilitatorNotes (3-5 short practical tips); takeaways (3-4 short 'lessons learned' one-liners summarising the key points for participants). Plain language, realistic, non-technical. Tailor the language, examples and difficulty to the stated Audience and Tone, and honour any stated number of questions, difficulty, duration, seniority or number of tips. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Create a 45-minute tabletop exercise for the scenario: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Tone: ' + ($json.tone||'Friendly') + ($json.questions?('. Number of questions: '+$json.questions):'') + ($json.difficulty?('. Difficulty: '+$json.difficulty):'') + ($json.duration?('. Duration: '+$json.duration):'') + ($json.level?('. Audience seniority: '+$json.level):'') + ($json.numTips?('. Number of tips: '+$json.numTips):'')) }} } ]\n}",
        "options": {
          "timeout": 180000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.5, \"num_predict\": 2200 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are a cyber crisis-exercise facilitator. For the given scenario or topic produce a SINGLE valid JSON object for a ~45-minute tabletop exercise aimed at a general management audience. Keys: title; scenario (2-3 sentence situation); objectives (3-4 short strings); roles (3-5 items {role, brief}); injects (4-6 items {time (e.g. \\\"T+10 min\\\"), inject (what new information arrives), prompt (the decision/question put to the room)}); debrief (4-6 short questions); facilitatorNotes (3-5 short practical tips); takeaways (3-4 short 'lessons learned' one-liners summarising the key points for participants). Plain language, realistic, non-technical. Tailor the language, examples and difficulty to the stated Audience and Tone, and honour any stated number of questions, difficulty, duration, seniority or number of tips. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Create a 45-minute tabletop exercise for the scenario: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Tone: ' + ($json.tone||'Friendly') + ($json.questions?('. Number of questions: '+$json.questions):'') + ($json.difficulty?('. Difficulty: '+$json.difficulty):'') + ($json.duration?('. Duration: '+$json.duration):'') + ($json.level?('. Audience seniority: '+$json.level):'') + ($json.numTips?('. Number of tips: '+$json.numTips):'')) }} } ]\n}",
        "options": {
          "timeout": 300000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json;\nreturn [{ json: { data: data, topic: r.topic, date: r.date, client: r.client, markdown: raw } }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/* --- Jarvis brand kit (shared across awareness PDFs): avatar + takeaways box + sign-off --- */\nvar __jfs=null; try{__jfs=require('fs');}catch(e){}\nfunction jAvatarUri(){ if(!__jfs) return ''; var t=[['/config/branding/jarvis-avatar.png','image/png'],['/config/branding/jarvis-avatar.jpg','image/jpeg'],['/config/branding/jarvis-avatar.jpeg','image/jpeg'],['/config/branding/jarvis-avatar.svg','image/svg+xml']]; for(var i=0;i<t.length;i++){ try{ return 'data:'+t[i][1]+';base64,'+__jfs.readFileSync(t[i][0]).toString('base64'); }catch(e){} } return ''; }\nvar JKIT_SVG='<svg class=\"jav\" viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\"><defs><linearGradient id=\"jkitg\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\"><stop offset=\"0\" stop-color=\"#0E7C86\"/><stop offset=\"1\" stop-color=\"#0A1A2F\"/></linearGradient></defs><circle cx=\"32\" cy=\"32\" r=\"32\" fill=\"url(#jkitg)\"/><rect x=\"19\" y=\"21\" width=\"26\" height=\"22\" rx=\"7\" fill=\"#fff\"/><circle cx=\"27\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><circle cx=\"37\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><rect x=\"27\" y=\"38\" width=\"10\" height=\"2.4\" rx=\"1.2\" fill=\"#0E7C86\"/><rect x=\"30.7\" y=\"14\" width=\"2.6\" height=\"6\" rx=\"1.3\" fill=\"#9fe4d8\"/><circle cx=\"32\" cy=\"13\" r=\"2.4\" fill=\"#E7C76A\"/><path d=\"M23 47h18l-3 4.5H26z\" fill=\"#9fe4d8\"/></svg>';\nvar JKIT_CSS=\".jkit-take{background:#F4F6F9;border:1px solid #E2E6EC;border-left:4px solid #0E7C86;border-radius:10px;padding:14px 18px;margin:22px 0 0;page-break-inside:avoid}.jkit-take .th{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#0A1A2F;font-weight:800;margin:0 0 7px}.jkit-take ul{margin:0;padding-left:18px}.jkit-take li{font-size:13.5px;line-height:1.5;color:#2b3340;margin:5px 0}.jkit-sign{display:flex;align-items:center;gap:12px;margin:20px 0 0;padding-top:14px;border-top:2px solid #0E7C86;page-break-inside:avoid}.jkit-sign img,.jkit-sign .jav{width:46px;height:46px;border-radius:50%;border:2px solid #0E7C86;flex:0 0 auto}.jkit-sign .nm{font-family:Georgia,serif;font-size:15px;color:#0A1A2F;font-weight:700}.jkit-sign .rl{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:10px;letter-spacing:2px;text-transform:uppercase;color:#0E7C86;font-weight:800;margin-top:2px}\";\nfunction jKitEsc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nfunction jTakeBox(takeaways){ var t=(takeaways||[]).filter(Boolean).slice(0,4); if(!t.length) return ''; return '<div class=\"jkit-take\"><div class=\"th\">Key takeaways &middot; Lessons learned</div><ul>'+t.map(function(x){return '<li>'+jKitEsc(x)+'</li>';}).join('')+'</ul></div>'; }\nfunction jSignoff(){ var av=jAvatarUri(); var avatar=av?('<img src=\"'+av+'\"/>'):JKIT_SVG; return '<div class=\"jkit-sign\">'+avatar+'<div><div class=\"nm\">Jarvis</div><div class=\"rl\">Your AI Awareness Assistant</div></div></div>'; }\nfunction jKitBlock(takeaways){ return jTakeBox(takeaways)+jSignoff(); }\n\nconst d=$json.data||{}; const topic=$json.topic||'Incident'; const date=$json.date||''; const client=($json.client||'').toString();\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\n// Hero image arrives as an on-disk path (Generate Image) — inline only at render time.\nfunction imgSrc(p){ if(!p) return ''; var s=String(p); if(s.indexOf('data:')===0) return s; if(__jfs){ try{ return 'data:image/png;base64,'+__jfs.readFileSync(s).toString('base64'); }catch(e){} } return ''; }\nconst hero = imgSrc($json.imageFile);\nconst byline=client?('Prepared for '+client):'Security Awareness';\nconst AV = jAvatarUri(); const AVATAR = AV?('<img src=\"'+AV+'\"/>'):JKIT_SVG;\nfunction ul(a){ return '<ul>'+((a||[]).map(function(x){return '<li>'+esc(x)+'</li>';}).join(''))+'</ul>'; }\nvar roles=((d.roles||[]).map(function(r){return '<tr><td class=\"rl\">'+esc(r.role)+'</td><td>'+esc(r.brief)+'</td></tr>';}).join(''));\nvar injects=((d.injects||[]).map(function(x,i){return '<div class=\"card\"><span class=\"pill\">'+esc(x.time||('Inject '+(i+1)))+'</span><p style=\"margin:8px 0 6px\"><b>'+esc(x.inject)+'</b></p><p style=\"margin:0;color:#0E7C86\"><b>Discuss:</b> '+esc(x.prompt)+'</p></div>';}).join(''));\n\n// Footer lives in the @page bottom margin (reserved below), so content never runs\n// under it — fixes the previous overlap from a fixed footer with margin:0 pages.\nvar CSS=\"@page{size:A4;margin:16mm 15mm 18mm} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,\\\"Segoe UI\\\",Arial,sans-serif;color:#11151c}\"\n+\".band{background:linear-gradient(120deg,#0A1A2F,#0E7C86);color:#fff;border-radius:12px;padding:16px 20px;display:flex;align-items:center;justify-content:space-between;gap:14px}\"\n+\".band .kick{font-size:11px;letter-spacing:3px;text-transform:uppercase;color:#E7C76A;font-weight:800}\"\n+\".band h1{font-family:Georgia,serif;font-size:25px;margin:4px 0 0;font-weight:800;line-height:1.1}\"\n+\".band .sub{font-size:11.5px;color:#cfe0e6;margin-top:5px}\"\n+\".band .av img,.band .av .jav{width:46px;height:46px;border-radius:50%;border:2px solid #9fe4d8;flex:0 0 auto}\"\n+\".hero{width:100%;height:62mm;object-fit:cover;border-radius:12px;margin:14px 0 4px;display:block;border:1px solid #E2E6EC}\"\n+\"h2{font-family:Georgia,serif;font-size:18px;color:#0E2233;margin:20px 0 9px;border-bottom:2px solid #0E7C86;padding-bottom:6px;page-break-after:avoid}\"\n+\"p{font-size:13.5px;line-height:1.6;color:#2b3340} .lead{font-size:14.5px;color:#1E2A33}\"\n+\".foot{position:fixed;left:15mm;right:15mm;bottom:8mm;color:#9aa6b2;font-size:10px;border-top:1px solid #E2E6EC;padding-top:6px;display:flex;justify-content:space-between}\"\n+\".card{border:1px solid #E2E6EC;border-left:4px solid #0E7C86;border-radius:8px;padding:12px 15px;margin:10px 0;page-break-inside:avoid}\"\n+\".pill{display:inline-block;background:#E6F4F1;color:#0E7C86;font-weight:800;font-size:11px;padding:3px 10px;border-radius:12px;letter-spacing:.5px}\"\n+\"table.r{width:100%;border-collapse:collapse;margin:6px 0} table.r td{border:1px solid #E2E6EC;padding:8px 10px;font-size:13px;vertical-align:top} table.r tr{page-break-inside:avoid} table.r td.rl{font-weight:700;color:#0E2233;width:30%}\"\n+\"ul{margin:6px 0;padding-left:20px} li{font-size:13.5px;line-height:1.55;margin:5px 0;color:#2b3340}\"\n+\".sec{page-break-inside:avoid}\"+JKIT_CSS;\n\nvar body=''\n +'<div class=\"band\"><div><div class=\"kick\">Tabletop Exercise · Facilitator pack</div><h1>'+esc(d.title||(topic+' — Tabletop Exercise'))+'</h1><div class=\"sub\">'+esc(byline)+' · ~45 minutes</div></div><span class=\"av\">'+AVATAR+'</span></div>'\n +(hero?('<img class=\"hero\" src=\"'+hero+'\" alt=\"\">'):'')\n +'<div class=\"sec\"><h2>Scenario</h2><p class=\"lead\">'+esc(d.scenario||'')+'</p></div>'\n +'<div class=\"sec\"><h2>Objectives</h2>'+ul(d.objectives)+'</div>'\n +'<div class=\"sec\"><h2>Roles</h2><table class=\"r\">'+roles+'</table></div>'\n +'<h2>Injects</h2>'+injects\n +'<div class=\"sec\"><h2>Debrief questions</h2>'+ul(d.debrief)+'</div>'\n +'<div class=\"sec\"><h2>Facilitator notes</h2>'+ul(d.facilitatorNotes)+'</div>'\n +jKitBlock(d.takeaways||d.keyLessons)\n +'<div class=\"foot\"><span>'+esc(byline)+' · AI-generated — review before use</span><span>'+esc(date)+'</span></div>';\nconst html='<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'+body+'</body></html>';\n// Hero is baked into the HTML now — clean the temp work dir (guard: /.work/).\nif ($json.workDir && String($json.workDir).indexOf('/.work/')>=0 && __jfs) { try { __jfs.rmSync($json.workDir,{recursive:true,force:true}); } catch(e){} }\nconst fileSafe=topic.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40)||'tabletop';\nreturn [{ json:{ html:html, topic:topic, date:date, fileSafe:fileSafe, outDir:'tabletop', filePrefix:'tabletop' } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "Build PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const html = $json.html || '';\nreturn [{ json: { topic:$json.topic, date:$json.date, fileSafe:$json.fileSafe, outDir:$json.outDir, filePrefix:$json.filePrefix },\n  binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType:'text/html', fileName:'index.html' } } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/' + (meta.outDir || 'misc');\nconst name = (meta.filePrefix || 'asset') + '-' + (meta.fileSafe || 'item') + '-' + meta.date + '.pdf';\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); if (buf) fs.writeFileSync(dir + '/' + name, buf); } catch (e) {}\nconst out = { json: { ok: !!buf, file: dir + '/' + name, topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = name; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "ttimg",
      "name": "Generate Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Generate ONE header image for the tabletop pack with the shared image provider\n// (gpt-image-2). Written to a temp work dir on disk; only the file path is returned\n// in JSON (never base64). Graceful: on any failure the render simply omits the hero.\nconst fs = require('fs');\nconst H = this.helpers;\nconst j = $json || {};\nconst d = j.data || {};\nconst topic = j.topic || 'incident response';\nconst key = $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY;\nconst want = (($env.TABLETOP_IMAGE || $env.CYBER_SECTION_IMAGES || 'true').toString().toLowerCase() !== 'false');\nconst baseu = ($env.OPENAI_BASE_URL || 'https://api.openai.com/v1');\nconst model = ($env.IMAGE_MODEL || 'gpt-image-1');\nconst QV = { low:1, medium:1, high:1, auto:1 };\nlet quality = String($env.TABLETOP_IMAGE_QUALITY || $env.COMIC_IMAGE_QUALITY || 'medium').toLowerCase(); if (!QV[quality]) quality = 'medium';\nlet timeout = parseInt($env.IMAGE_TIMEOUT || '120000', 10); if (!(timeout > 0)) timeout = 120000;\n\nconst baseName = (topic.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40) || 'tabletop') + '-' + (j.date || new Date().toISOString().slice(0,10));\nconst workDir = '/reports/awareness/tabletop/.work/' + baseName;\ntry { fs.mkdirSync(workDir, { recursive: true }); } catch (e) {}\n\nconst prompt = 'Cinematic, semi-realistic editorial illustration for a corporate cyber crisis-management TABLETOP EXERCISE about ' + topic + '. '\n  + (d.scenario ? ('Scene: ' + String(d.scenario).slice(0, 300) + '. ') : '')\n  + 'A calm, focused incident-response / war-room atmosphere, diverse professionals around a table with screens, modern office, dramatic but professional lighting, teal and deep-navy colour grade, wide 16:9 composition. '\n  + 'No text, no words, no letters, no logos, no watermark, no charts, no UI.';\n\nlet imageFile = '';\nif (want && key) {\n  try {\n    const resp = await H.httpRequest({ method: 'POST', url: baseu + '/images/generations',\n      headers: { Authorization: 'Bearer ' + key, 'Content-Type': 'application/json' },\n      body: { model: model, prompt: prompt, size: '1536x1024', quality: quality, n: 1 }, json: true, timeout: timeout });\n    const b64 = resp && resp.data && resp.data[0] && resp.data[0].b64_json;\n    if (b64) { imageFile = workDir + '/header.png'; fs.writeFileSync(imageFile, Buffer.from(b64, 'base64')); }\n  } catch (e) { imageFile = ''; }\n}\n\nreturn [{ json: Object.assign({}, j, { imageFile: imageFile, workDir: workDir }) }];\n"
      }
    }
  ],
  "connections": {
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Build PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Open Form": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}