workflows/awareness/teachable-moment.json
{
  "id": "jarvisAwTeach01",
  "name": "Jarvis · Awareness — Teachable Moment",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "News-triggered internal \"teachable moment\" one-pager: picks the week's most significant breach from public feeds and writes a what/why/what-to-do staff note as a PDF to /reports/awareness/teachable. Weekly schedule, /teachable, or manual.",
    "envVars": [
      "AI_PROVIDER",
      "CLIENT_NAME",
      "GOTENBERG_URL",
      "TEACHABLE_SCHEDULE_CRON"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Generate Teachable Moment",
        "formDescription": "Optional: bias the pick toward a focus (e.g. healthcare, ransomware). Leave blank for the week’s most significant breach.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Focus (optional)",
              "fieldType": "text",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-teachable-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "sched",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        520
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "={{ $env.TEACHABLE_SCHEDULE_CRON || '0 8 * * 3' }}"
            }
          ]
        }
      }
    },
    {
      "id": "loadsrc",
      "name": "Load Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const urls = [\n 'https://news.google.com/rss/search?q=(%22data+breach%22+OR+ransomware+OR+%22cyber+attack%22+OR+hacked)+when:3d&hl=en-US&gl=US&ceid=US:en',\n 'https://www.bleepingcomputer.com/feed/'\n];\nconst _i=$input.first()?($input.first().json||{}):{}; const _focus=(_i['Focus (optional)']||_i['Focus']||_i.focus||'').toString().trim();\nreturn urls.map(function(u){ return { json: { url: u, focus: _focus } }; });\n"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "fetch",
      "name": "Fetch Breaches",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        660,
        360
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "agg",
      "name": "Aggregate Breaches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst arts = items.map(function(i){ return i.json; }).filter(function(a){ return a && (a.title || a.contentSnippet || a.content); });\nfunction img(a){ try{ if(a.enclosure&&a.enclosure.url) return a.enclosure.url; var c=(a.content||a['content:encoded']||'').toString(); var m=c.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i); if(m) return m[1]; }catch(e){} return ''; }\nconst lines = arts.slice(0,20).map(function(a){ var t=(a.title||'').toString(); var s=(a.contentSnippet||a.content||'').toString().replace(/\\s+/g,' ').slice(0,200); var u=(a.link||a.url||'').toString(); var im=img(a); return '- '+t+' — '+s+' ('+u+')'+(im?(' IMG='+im):''); });\nconst digest = lines.length ? lines.join('\\n') : 'No breach items retrieved.';\nlet focus=''; try{ focus=($('Load Sources').first().json.focus||'').toString(); }catch(e){}\nreturn [{ json: { digest: digest, count: arts.length, focus: focus, date: new Date().toISOString().slice(0,10), client: ($env.CLIENT_NAME||'').toString() } }];\n"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-opus-4-8' }}\",\n  \"max_tokens\": 1800,\n  \"system\": \"You are an internal security-communications writer. From the news digest, choose the SINGLE most significant breach or incident that is most relevant for staff awareness, and write a one-page internal 'teachable moment'. Output a SINGLE valid JSON object: {headline; what (2-3 sentences on what happened); why (2-3 sentences on why it matters to our staff and organisation); actions (4-6 short, concrete things staff should do); takeaways (3-4 short 'lessons learned' one-liners summarising what staff should remember); source (outlet name); url (verbatim link from the digest)}. Use ONLY facts present in the digest; do not invent details. Plain, calm, non-technical language. If a preferred focus is provided, prefer a breach relevant to it. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('BREACH NEWS DIGEST (' + ($json.count||0) + ' items):\\n' + ($json.digest||'') + ($json.focus?('\\n\\nPreferred focus (optional): '+$json.focus):'')) }} } ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.4, \"num_predict\": 1400 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are an internal security-communications writer. From the news digest, choose the SINGLE most significant breach or incident that is most relevant for staff awareness, and write a one-page internal 'teachable moment'. Output a SINGLE valid JSON object: {headline; what (2-3 sentences on what happened); why (2-3 sentences on why it matters to our staff and organisation); actions (4-6 short, concrete things staff should do); takeaways (3-4 short 'lessons learned' one-liners summarising what staff should remember); source (outlet name); url (verbatim link from the digest)}. Use ONLY facts present in the digest; do not invent details. Plain, calm, non-technical language. If a preferred focus is provided, prefer a breach relevant to it. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('BREACH NEWS DIGEST (' + ($json.count||0) + ' items):\\n' + ($json.digest||'') + ($json.focus?('\\n\\nPreferred focus (optional): '+$json.focus):'')) }} } ]\n}",
        "options": {
          "timeout": 300000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst a = $('Aggregate Breaches').first().json;\nreturn [{ json: { data: data, date: a.date, client: a.client, markdown: raw } }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/* Jarvis brand kit v2 — env-driven theme (BRAND_PRIMARY/ACCENT/GOLD) + masthead + takeaways + sign-off */\nvar __jfs=null; try{__jfs=require('fs');}catch(e){}\nfunction jbHex(v,d){ v=String(v||'').trim(); return /^#[0-9a-fA-F]{6}$/.test(v)?v:d; }\nvar JB_PRI=jbHex($env.BRAND_PRIMARY,'#0A1A2F'), JB_ACC=jbHex($env.BRAND_ACCENT,'#0E7C86'), JB_GOLD=jbHex($env.BRAND_GOLD,'#E7C76A');\nfunction jbAvatarUri(){ if(!__jfs) return ''; var t=[['/config/branding/jarvis-avatar.png','image/png'],['/config/branding/jarvis-avatar.jpg','image/jpeg'],['/config/branding/jarvis-avatar.jpeg','image/jpeg'],['/config/branding/jarvis-avatar.svg','image/svg+xml']]; for(var i=0;i<t.length;i++){ try{ return 'data:'+t[i][1]+';base64,'+__jfs.readFileSync(t[i][0]).toString('base64'); }catch(e){} } return ''; }\nvar JB_SVG='<svg class=\"jav\" viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\"><defs><linearGradient id=\"jbg\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\"><stop offset=\"0\" stop-color=\"#0E7C86\"/><stop offset=\"1\" stop-color=\"#0A1A2F\"/></linearGradient></defs><circle cx=\"32\" cy=\"32\" r=\"32\" fill=\"url(#jbg)\"/><rect x=\"19\" y=\"21\" width=\"26\" height=\"22\" rx=\"7\" fill=\"#fff\"/><circle cx=\"27\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><circle cx=\"37\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><rect x=\"27\" y=\"38\" width=\"10\" height=\"2.4\" rx=\"1.2\" fill=\"#0E7C86\"/><rect x=\"30.7\" y=\"14\" width=\"2.6\" height=\"6\" rx=\"1.3\" fill=\"#9fe4d8\"/><circle cx=\"32\" cy=\"13\" r=\"2.4\" fill=\"#E7C76A\"/><path d=\"M23 47h18l-3 4.5H26z\" fill=\"#9fe4d8\"/></svg>';\nfunction jbEsc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nvar JB_AV=jbAvatarUri(), JB_AVATAR=JB_AV?('<img src=\"'+JB_AV+'\"/>'):JB_SVG;\n// CSS injected into every render's <style>: :root theme vars + masthead + takeaways + sign-off.\nvar JB_CSS=\":root{--jb-pri:\"+JB_PRI+\";--jb-acc:\"+JB_ACC+\";--jb-gold:\"+JB_GOLD+\"}\"\n+\".jbmast{background:linear-gradient(120deg,var(--jb-pri),var(--jb-acc));color:#fff;border-radius:12px;padding:15px 20px;display:flex;align-items:center;justify-content:space-between;gap:14px;margin:0 0 16px}\"\n+\".jbmast .jbk{font-size:10px;letter-spacing:3px;text-transform:uppercase;color:var(--jb-gold);font-weight:800}\"\n+\".jbmast h1{font-family:Georgia,serif;font-size:25px;margin:4px 0 0;font-weight:800;line-height:1.12;color:#fff}\"\n+\".jbmast .jbs{font-size:12px;color:#dbe9ee;margin-top:5px}\"\n+\".jbmast .jbav img,.jbmast .jbav .jav{width:46px;height:46px;border-radius:50%;border:2px solid #9fe4d8;flex:0 0 auto;background:var(--jb-pri)}\"\n+\".jkit-take{background:#F4F6F9;border:1px solid #E2E6EC;border-left:4px solid var(--jb-acc);border-radius:10px;padding:14px 18px;margin:22px 0 0;page-break-inside:avoid}.jkit-take .th{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;color:var(--jb-pri);font-weight:800;margin:0 0 7px}.jkit-take ul{margin:0;padding-left:18px}.jkit-take li{font-size:13.5px;line-height:1.5;color:#2b3340;margin:5px 0}\"\n+\".jkit-sign{display:flex;align-items:center;gap:12px;margin:20px 0 0;padding-top:14px;border-top:2px solid var(--jb-acc);page-break-inside:avoid}.jkit-sign img,.jkit-sign .jav{width:46px;height:46px;border-radius:50%;border:2px solid var(--jb-acc);flex:0 0 auto}.jkit-sign .nm{font-family:Georgia,serif;font-size:15px;color:var(--jb-pri);font-weight:700}.jkit-sign .rl{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:10px;letter-spacing:2px;text-transform:uppercase;color:var(--jb-acc);font-weight:800;margin-top:2px}\";\nfunction jbMast(kicker,title,sub){ return '<div class=\"jbmast\"><div><div class=\"jbk\">'+jbEsc(kicker)+'</div><h1>'+title+'</h1>'+(sub?'<div class=\"jbs\">'+sub+'</div>':'')+'</div><span class=\"jbav\">'+JB_AVATAR+'</span></div>'; }\nfunction jTakeBox(takeaways){ var t=(takeaways||[]).filter(Boolean).slice(0,4); if(!t.length) return ''; return '<div class=\"jkit-take\"><div class=\"th\">Key takeaways &middot; Lessons learned</div><ul>'+t.map(function(x){return '<li>'+jbEsc(x)+'</li>';}).join('')+'</ul></div>'; }\nfunction jSignoff(){ return '<div class=\"jkit-sign\">'+JB_AVATAR+'<div><div class=\"nm\">Jarvis</div><div class=\"rl\">Your AI Awareness Assistant</div></div></div>'; }\nfunction jKitBlock(takeaways){ return jTakeBox(takeaways)+jSignoff(); }\n/* back-compat aliases for renders that referenced the v1 prelude */\nvar JKIT_CSS=JB_CSS, JKIT_SVG=JB_SVG; function jKitEsc(s){ return jbEsc(s); }\n\nconst d=$json.data||{}; const date=$json.date||''; const client=($json.client||'').toString();\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nconst byline=client?('Prepared for '+client):'Security Awareness';\nconst u=(d.url||'').toString();\nconst src=/^https?:\\/\\//.test(u)?('<a href=\"'+u+'\">'+esc(d.source||'Read the source')+' &rsaquo;</a>'):(d.source?esc(d.source):'');\nvar actions=((d.actions||[]).map(function(a){return '<li>'+esc(a)+'</li>';}).join(''));\nvar EXTRA=\" .lead2{font-size:15px;line-height:1.65;color:#2b3340} ul.act{margin:6px 0;padding-left:20px} ul.act li{font-size:14px;line-height:1.55;margin:7px 0;color:#1E2A33} .box{background:#F4F8F8;border-left:4px solid var(--jb-acc);border-radius:6px;padding:14px 16px;margin:14px 0} a{color:var(--jb-acc);text-decoration:none;font-weight:700}\";\nvar CSS=\"@page{size:A4;margin:16mm 15mm 18mm} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,\\\"Segoe UI\\\",Arial,sans-serif;color:#11151c} .pg{page-break-after:always} .pg:last-child{page-break-after:auto} .kick{color:var(--jb-acc);letter-spacing:2px;font-weight:800;font-size:12px;text-transform:uppercase} h1.t{font-family:Georgia,serif;font-size:30px;color:var(--jb-pri);margin:6px 0 4px} .sub{color:#5A6472;font-size:13px;margin:0 0 18px} h2{font-family:Georgia,serif;font-size:19px;color:var(--jb-pri);margin:20px 0 10px;border-bottom:2px solid var(--jb-acc);padding-bottom:6px} p{font-size:14px;line-height:1.6;color:#2b3340} .foot{position:fixed;bottom:8mm;left:15mm;right:15mm;color:#9aa6b2;font-size:11px;border-top:1px solid #E2E6EC;padding-top:8px;display:flex;justify-content:space-between} .card{border:1px solid #E2E6EC;border-radius:8px;padding:14px 16px;margin:12px 0;page-break-inside:avoid} .card h3{margin:0 0 8px;font-family:Georgia,serif;font-size:16px;color:var(--jb-pri)} .pill{display:inline-block;background:#E6F4F1;color:var(--jb-acc);font-weight:800;font-size:11px;padding:3px 10px;border-radius:12px;letter-spacing:.5px}\"+EXTRA+JKIT_CSS;\nvar body='<div class=\"pg\">'+jbMast('Teachable Moment · Security Alert', esc(d.headline||'This week in cyber'), 'Internal awareness note · '+esc(date))+''\n +'<h2>What happened</h2><p class=\"lead2\">'+esc(d.what||'')+'</p>'\n +'<h2>Why it matters to us</h2><p class=\"lead2\">'+esc(d.why||'')+'</p>'\n +'<div class=\"box\"><b>What you should do</b><ul class=\"act\">'+actions+'</ul></div>'\n +(src?'<p style=\"font-size:12.5px;color:#5A6472\">Source: '+src+'</p>':'')\n +jKitBlock(d.takeaways||d.actions)\n +'<div class=\"foot\"><span>'+esc(byline)+' · AI-generated — review before distribution</span><span>'+esc(date)+'</span></div></div>';\nconst html='<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'+body+'</body></html>';\nconst fileSafe=(d.headline||'alert').toString().toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40)||'alert';\nreturn [{ json:{ html:html, topic:(d.headline||'alert'), date:date, fileSafe:fileSafe, outDir:'teachable', filePrefix:'teachable' } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "Build PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const html = $json.html || '';\nreturn [{ json: { topic:$json.topic, date:$json.date, fileSafe:$json.fileSafe, outDir:$json.outDir, filePrefix:$json.filePrefix },\n  binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType:'text/html', fileName:'index.html' } } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/' + (meta.outDir || 'misc');\nconst name = (meta.filePrefix || 'asset') + '-' + (meta.fileSafe || 'item') + '-' + meta.date + '.pdf';\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); if (buf) fs.writeFileSync(dir + '/' + name, buf); } catch (e) {}\nconst out = { json: { ok: !!buf, file: dir + '/' + name, topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = name; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "On Command": {
      "main": [
        [
          {
            "node": "Load Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Load Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Sources": {
      "main": [
        [
          {
            "node": "Fetch Breaches",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Breaches": {
      "main": [
        [
          {
            "node": "Aggregate Breaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Breaches": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Build PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Open Form": {
      "main": [
        [
          {
            "node": "Load Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}