workflows/awareness/video-script.json
{
  "id": "jarvisAwVideo01",
  "name": "Jarvis · Awareness — Video Script & Storyboard",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand security-awareness VIDEO SCRIPT & STORYBOARD. Trigger via Telegram (/videoscript <topic>) or manually (form: topic, audience, length). AI writes a hook, ordered scenes (visual, voiceover, on-screen caption, timing) and a call to action; Render builds a storyboard PDF (scene cards) via Gotenberg to /reports/awareness/video. Script/storyboard only — not a rendered video.",
    "envVars": [
      "AI_PROVIDER",
      "CLIENT_NAME",
      "GOTENBERG_URL",
      "DEFAULT_AWARENESS_TOPIC"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Generate Awareness Video Script & Storyboard",
        "formDescription": "Pick a topic, audience and length, then submit. Produces a script + storyboard PDF.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Phishing"
                  },
                  {
                    "option": "Spear phishing & whaling"
                  },
                  {
                    "option": "Business email compromise (BEC)"
                  },
                  {
                    "option": "Passwords & passphrases"
                  },
                  {
                    "option": "Multi-factor authentication (MFA)"
                  },
                  {
                    "option": "Social engineering"
                  },
                  {
                    "option": "Vishing (voice phishing)"
                  },
                  {
                    "option": "Smishing (SMS phishing)"
                  },
                  {
                    "option": "QR-code phishing (quishing)"
                  },
                  {
                    "option": "Safe remote & home working"
                  },
                  {
                    "option": "Travel security"
                  },
                  {
                    "option": "Removable media & USB"
                  },
                  {
                    "option": "Public Wi-Fi"
                  },
                  {
                    "option": "Data classification & handling"
                  },
                  {
                    "option": "Insider risk"
                  },
                  {
                    "option": "Ransomware"
                  },
                  {
                    "option": "Reporting incidents"
                  },
                  {
                    "option": "Deepfakes & AI-enabled fraud"
                  },
                  {
                    "option": "Generative-AI safe use"
                  },
                  {
                    "option": "Custom (type below)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Custom topic",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Used if set / if Topic = Custom"
            },
            {
              "fieldLabel": "Audience",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "All staff"
                  },
                  {
                    "option": "Finance"
                  },
                  {
                    "option": "Executives"
                  },
                  {
                    "option": "IT & Developers"
                  },
                  {
                    "option": "New joiners"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Length (seconds)",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "60"
                  },
                  {
                    "option": "90"
                  },
                  {
                    "option": "120"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-video-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nlet custom = pick(i['Custom topic']); let drop = pick(i['Topic'], i.topic); if(/^custom/i.test(drop)) drop='';\nlet t = pick(custom, drop, i.query, i.text); t = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif(!t) t = ($env.DEFAULT_AWARENESS_TOPIC || 'phishing');\nlet len = parseInt(pick(i['Length (seconds)'], i['Length'], i.length), 10); if(isNaN(len)) len = 90;\nreturn [{ json: { topic:t, audience:(pick(i['Audience'],i.audience)||'All staff'), length:len, date:new Date().toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString(), outDir:'video', filePrefix:'storyboard', fileSafe:(t.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40)||'video') } }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-sonnet-4-6' }}\",\n  \"max_tokens\": 3000,\n  \"system\": \"You are a scriptwriter for short security-awareness videos. For the given topic, audience and target length (seconds) write a SINGLE valid JSON object for a script and storyboard. Keys: title; hook (one punchy opening line, max ~12 words); scenes (4-7 items in order, each {visual (one sentence describing what is on screen), voiceover (1-2 short narration sentences), onScreen (short on-screen caption/text, max ~8 words), seconds (approx duration as a number)}); cta (one closing call-to-action line). The total of the scene seconds should be close to the target length. Plain, engaging, non-technical language tailored to the audience; one clear behaviour change. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Write a short security-awareness video script and storyboard on the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Target length: ' + ($json.length||90) + ' seconds.') }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.5, \"num_predict\": 2500 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are a scriptwriter for short security-awareness videos. For the given topic, audience and target length (seconds) write a SINGLE valid JSON object for a script and storyboard. Keys: title; hook (one punchy opening line, max ~12 words); scenes (4-7 items in order, each {visual (one sentence describing what is on screen), voiceover (1-2 short narration sentences), onScreen (short on-screen caption/text, max ~8 words), seconds (approx duration as a number)}); cta (one closing call-to-action line). The total of the scene seconds should be close to the target length. Plain, engaging, non-technical language tailored to the audience; one clear behaviour change. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Write a short security-awareness video script and storyboard on the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Target length: ' + ($json.length||90) + ' seconds.') }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json || {};\nreturn [{ json: Object.assign({}, r, { data: data }) }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const r = $json || {};\nconst d = r.data || {};\nconst topic = r.topic || 'Security Awareness';\nconst client = (r.client || '').toString();\nconst brand = client ? client : 'Security Awareness';\nconst length = r.length || 90;\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nfunction arr(x){ return Array.isArray(x)?x:(x==null||x===''?[]:[x]); }\nconst title = d.title || (topic + ' — Awareness Video');\nconst scenes = arr(d.scenes);\nconst CSS = \"@page{size:A4;margin:14mm} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,'Segoe UI',Arial,sans-serif;color:#14202b} \"\n+\".hd{border-bottom:3px solid #0E7C86;padding-bottom:10px;margin-bottom:14px} .hd .k{color:#0E7C86;letter-spacing:3px;font-size:12px;font-weight:800;text-transform:uppercase} \"\n+\".hd h1{margin:4px 0 0;font-size:25px;color:#0E2233} .hd .s{color:#5A6472;font-size:13px;margin-top:4px} \"\n+\".hook{background:#F1F7F8;border-left:4px solid #0E7C86;border-radius:6px;padding:12px 16px;margin:0 0 16px;font-size:15px;font-style:italic;color:#0E2233} \"\n+\".sc{display:flex;gap:14px;border:1px solid #e2e6ec;border-radius:8px;padding:12px 14px;margin:0 0 12px;page-break-inside:avoid} \"\n+\".sc .frame{flex:0 0 150px;height:90px;background:linear-gradient(135deg,#0E2233,#0E7C86);border-radius:6px;color:#fff;display:flex;align-items:flex-end;padding:8px;font-size:11px;line-height:1.3} \"\n+\".sc .body{flex:1} .sc .n{font-weight:800;color:#0E7C86;font-size:12px} .sc .vo{font-size:14px;line-height:1.5;color:#2b3340;margin:4px 0} \"\n+\".sc .os{display:inline-block;background:#0E2233;color:#fff;border-radius:4px;padding:3px 8px;font-size:11px;margin-top:4px} .sc .t{float:right;color:#8a98a4;font-size:11px} \"\n+\".cta{margin-top:8px;background:#0E2233;color:#fff;border-radius:8px;padding:14px 16px;font-size:15px;font-weight:700} \"\n+\".foot{margin-top:14px;border-top:1px solid #e2e6ec;padding-top:8px;color:#8a98a4;font-size:10px;display:flex;justify-content:space-between}\";\nlet cards = scenes.map(function(s,k){\n  return '<div class=\"sc\"><div class=\"frame\">'+esc(s.visual||('Scene '+(k+1)))+'</div><div class=\"body\">'\n    +'<div class=\"n\">SCENE '+(k+1)+(s.seconds?'<span class=\"t\">~'+esc(s.seconds)+'s</span>':'')+'</div>'\n    +'<div class=\"vo\"><b>VO:</b> '+esc(s.voiceover||'')+'</div>'\n    +(s.onScreen?'<span class=\"os\">'+esc(s.onScreen)+'</span>':'')+'</div></div>';\n}).join('');\nconst html = '<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'\n+'<div class=\"hd\"><div class=\"k\">Video Script &amp; Storyboard</div><h1>'+esc(title)+'</h1>'\n+'<div class=\"s\">'+esc(brand)+' · Audience: '+esc(r.audience||'All staff')+' · Target length: '+length+'s · '+scenes.length+' scenes</div></div>'\n+(d.hook?'<div class=\"hook\">“'+esc(d.hook)+'”</div>':'')\n+cards\n+(d.cta?'<div class=\"cta\">Call to action: '+esc(d.cta)+'</div>':'')\n+'<div class=\"foot\"><span>'+esc(brand)+' · AI-generated script — review before production</span><span>'+esc(r.date)+'</span></div></body></html>';\nreturn [{ json: { html: html, topic: topic, date: r.date, fileSafe: r.fileSafe, outDir: 'video', filePrefix: 'storyboard' } }];\n"
      }
    },
    {
      "id": "pdfin",
      "name": "Build PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const html = $json.html || '';\nreturn [{ json: { topic:$json.topic, date:$json.date, fileSafe:$json.fileSafe, outDir:$json.outDir, filePrefix:$json.filePrefix },\n  binary: { data: { data: Buffer.from(html,'utf8').toString('base64'), mimeType:'text/html', fileName:'index.html' } } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/' + (meta.outDir || 'misc');\nconst name = (meta.filePrefix || 'asset') + '-' + (meta.fileSafe || 'item') + '-' + meta.date + '.pdf';\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); if (buf) fs.writeFileSync(dir + '/' + name, buf); } catch (e) {}\nconst out = { json: { ok: !!buf, file: dir + '/' + name, topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = name; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      }
    }
  ],
  "connections": {
    "Open Form": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Build PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Input": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
