workflows/awareness/video-script.json
{
  "id": "jarvisAwVideo01",
  "name": "Jarvis · Awareness — Video Script & Storyboard",
  "meta": {
    "jarvisModule": "awareness-toolkit",
    "jarvisVersion": "1.0.0",
    "awarenessTool": true,
    "description": "On-demand security-awareness VIDEO SCRIPT & STORYBOARD. Trigger via Telegram (/videoscript <topic>) or manually (form: topic, audience, length). AI writes a hook, ordered scenes (visual, voiceover, on-screen caption, timing) and a call to action; Generate Frames creates a real storyboard frame image per scene via the image provider (gpt-image-2) written to a temp work dir on disk (file paths only flow through the JSON), and Render builds a storyboard PDF (scene cards with the generated frames) via Gotenberg to /reports/awareness/video. Script/storyboard only — not a rendered video.",
    "envVars": [
      "AI_PROVIDER",
      "IMAGE_PROVIDER",
      "OPENAI_API_KEY",
      "IMAGE_MODEL",
      "VIDEO_FRAME_IMAGES",
      "VIDEO_IMAGE_QUALITY",
      "IMAGE_CONCURRENCY",
      "IMAGE_TIMEOUT",
      "CLIENT_NAME",
      "GOTENBERG_URL",
      "DEFAULT_AWARENESS_TOPIC"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "man",
      "name": "Open Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "formTitle": "Generate Awareness Video Script & Storyboard",
        "formDescription": "Pick a topic, audience and length, then submit. Produces a script + storyboard PDF.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Phishing"
                  },
                  {
                    "option": "Spear phishing & whaling"
                  },
                  {
                    "option": "Business email compromise (BEC)"
                  },
                  {
                    "option": "Passwords & passphrases"
                  },
                  {
                    "option": "Multi-factor authentication (MFA)"
                  },
                  {
                    "option": "Social engineering"
                  },
                  {
                    "option": "Vishing (voice phishing)"
                  },
                  {
                    "option": "Smishing (SMS phishing)"
                  },
                  {
                    "option": "QR-code phishing (quishing)"
                  },
                  {
                    "option": "Safe remote & home working"
                  },
                  {
                    "option": "Travel security"
                  },
                  {
                    "option": "Removable media & USB"
                  },
                  {
                    "option": "Public Wi-Fi"
                  },
                  {
                    "option": "Data classification & handling"
                  },
                  {
                    "option": "Insider risk"
                  },
                  {
                    "option": "Ransomware"
                  },
                  {
                    "option": "Reporting incidents"
                  },
                  {
                    "option": "Deepfakes & AI-enabled fraud"
                  },
                  {
                    "option": "Generative-AI safe use"
                  },
                  {
                    "option": "Custom (type below)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Custom topic",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Used if set / if Topic = Custom"
            },
            {
              "fieldLabel": "Audience",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "All staff"
                  },
                  {
                    "option": "Finance"
                  },
                  {
                    "option": "Executives"
                  },
                  {
                    "option": "IT & Developers"
                  },
                  {
                    "option": "New joiners"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Length (seconds)",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "60"
                  },
                  {
                    "option": "90"
                  },
                  {
                    "option": "120"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "webhookId": "aw-video-form"
    },
    {
      "id": "ewt",
      "name": "On Command",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        360
      ],
      "parameters": {}
    },
    {
      "id": "resolve",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const i = $input.first() ? ($input.first().json || {}) : {};\nfunction pick(){ for(var k=0;k<arguments.length;k++){ var v=arguments[k]; if(v!=null && String(v).trim()!=='') return String(v).trim(); } return ''; }\nlet custom = pick(i['Custom topic']); let drop = pick(i['Topic'], i.topic); if(/^custom/i.test(drop)) drop='';\nlet t = pick(custom, drop, i.query, i.text); t = t.replace(/^\\/[a-zA-Z]+\\b/, '').trim();\nif(!t) t = ($env.DEFAULT_AWARENESS_TOPIC || 'phishing');\nlet len = parseInt(pick(i['Length (seconds)'], i['Length'], i.length), 10); if(isNaN(len)) len = 90;\nreturn [{ json: { topic:t, audience:(pick(i['Audience'],i.audience)||'All staff'), length:len, date:new Date().toISOString().slice(0,10), client:($env.CLIENT_NAME||'').toString(), outDir:'video', filePrefix:'storyboard', fileSafe:(t.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,40)||'video') } }];\n"
      }
    },
    {
      "id": "useclaude",
      "name": "Use Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $env.AI_PROVIDER || 'ollama' }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "aiclaude",
      "name": "AI (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_BASE_URL || 'https://api.anthropic.com' }}/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.CLAUDE_MODEL || 'claude-opus-4-8' }}\",\n  \"max_tokens\": 3000,\n  \"system\": \"You are a scriptwriter for short security-awareness videos. For the given topic, audience and target length (seconds) write a SINGLE valid JSON object for a script and storyboard. Keys: title; hook (one punchy opening line, max ~12 words); scenes (4-7 items in order, each {visual (one sentence describing what is on screen), voiceover (1-2 short narration sentences), onScreen (short on-screen caption/text, max ~8 words), seconds (approx duration as a number)}); cta (one closing call-to-action line); takeaways (3-4 short 'lessons learned' one-liners summarising what the viewer should remember). The total of the scene seconds should be close to the target length. Plain, engaging, non-technical language tailored to the audience; one clear behaviour change. Do NOT use markdown code fences. Output ONLY the JSON object.\",\n  \"messages\": [ {\"role\":\"user\",\"content\": {{ JSON.stringify('Write a short security-awareness video script and storyboard on the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Target length: ' + ($json.length||90) + ' seconds.') }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "aiollama",
      "name": "AI (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"keep_alive\": \"10m\",\n  \"options\": { \"temperature\": 0.5, \"num_predict\": 2500 },\n  \"messages\": [ {\"role\":\"system\",\"content\":\"You are a scriptwriter for short security-awareness videos. For the given topic, audience and target length (seconds) write a SINGLE valid JSON object for a script and storyboard. Keys: title; hook (one punchy opening line, max ~12 words); scenes (4-7 items in order, each {visual (one sentence describing what is on screen), voiceover (1-2 short narration sentences), onScreen (short on-screen caption/text, max ~8 words), seconds (approx duration as a number)}); cta (one closing call-to-action line); takeaways (3-4 short 'lessons learned' one-liners summarising what the viewer should remember). The total of the scene seconds should be close to the target length. Plain, engaging, non-technical language tailored to the audience; one clear behaviour change. Do NOT use markdown code fences. Output ONLY the JSON object.\"}, {\"role\":\"user\",\"content\": {{ JSON.stringify('Write a short security-awareness video script and storyboard on the topic: ' + ($json.topic || 'phishing') + '. Audience: ' + ($json.audience||'All staff') + '. Target length: ' + ($json.length||90) + ' seconds.') }} } ]\n}",
        "options": {
          "timeout": 600000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "prep",
      "name": "Prep Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $json || {};\nlet raw = '';\nif (j.message && j.message.content) raw = j.message.content;\nelse if (j.content && j.content[0] && j.content[0].text) raw = j.content[0].text;\nlet data = null;\ntry { data = JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```$/i,'')); }\ncatch (e) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) data = JSON.parse(m[0]); } catch (e2) { data = null; } }\nconst r = $('Resolve Input').first().json || {};\nreturn [{ json: Object.assign({}, r, { data: data }) }];\n"
      }
    },
    {
      "id": "frames",
      "name": "Generate Frames",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Generate one storyboard FRAME image per scene with the shared image provider\n// (gpt-image-2). Images are written to a temp work dir on disk and only file paths\n// are set on each scene — never base64 — so n8n execution data stays tiny (same\n// hardened pattern as the comic/magazine). Graceful: scenes whose image fails keep\n// the styled gradient frame.\nconst fs = require('fs');\nconst H = this.helpers;\nconst r = $json || {};\nconst d = r.data || {};\nconst A = function (x) { return Array.isArray(x) ? x : []; };\nconst scenes = A(d.scenes);\nconst key = $env.OPENAI_IMAGE_API_KEY || $env.OPENAI_API_KEY;\nconst want = (($env.VIDEO_FRAME_IMAGES || $env.CYBER_SECTION_IMAGES || 'true').toString().toLowerCase() !== 'false');\nconst baseu = ($env.OPENAI_BASE_URL || 'https://api.openai.com/v1');\nconst model = ($env.IMAGE_MODEL || 'gpt-image-1');\nconst QV = { low:1, medium:1, high:1, auto:1 };\nlet quality = String($env.VIDEO_IMAGE_QUALITY || $env.COMIC_IMAGE_QUALITY || 'medium').toLowerCase(); if (!QV[quality]) quality = 'medium';\nlet conc = parseInt($env.IMAGE_CONCURRENCY || '3', 10); if (!(conc > 0)) conc = 3; if (conc > 8) conc = 8;\nlet timeout = parseInt($env.IMAGE_TIMEOUT || '120000', 10); if (!(timeout > 0)) timeout = 120000;\n\nconst baseName = (r.fileSafe || 'storyboard') + '-' + (r.date || new Date().toISOString().slice(0, 10));\nconst workDir = '/reports/awareness/video/.work/' + baseName;\ntry { fs.mkdirSync(workDir, { recursive: true }); } catch (e) {}\n\nconst STYLE = 'Cinematic film still for a corporate security-awareness video: semi-realistic, modern office setting, diverse professionals, soft natural light, teal and deep-navy colour grade, 16:9 composition. ';\nconst NEG = ' No text, no words, no letters, no subtitles, no captions, no logos, no watermark, no UI.';\n\nasync function mapLimit(items, limit, fn) {\n  const ret = new Array(items.length); let idx = 0;\n  async function worker() { while (idx < items.length) { const cur = idx++; ret[cur] = await fn(items[cur], cur); } }\n  const n = Math.max(1, Math.min(limit, items.length));\n  const workers = []; for (let w = 0; w < n; w++) workers.push(worker());\n  await Promise.all(workers);\n  return ret;\n}\nasync function gen(prompt) {\n  const resp = await H.httpRequest({ method: 'POST', url: baseu + '/images/generations',\n    headers: { Authorization: 'Bearer ' + key, 'Content-Type': 'application/json' },\n    body: { model: model, prompt: prompt, size: '1536x1024', quality: quality, n: 1 }, json: true, timeout: timeout });\n  return resp && resp.data && resp.data[0] && resp.data[0].b64_json;\n}\n\nlet ok = 0, failed = 0;\nif (want && key && scenes.length) {\n  const res = await mapLimit(scenes, conc, async function (s, k) {\n    let file = '';\n    try {\n      const b64 = await gen(STYLE + (s.visual || ('Scene ' + (k + 1) + ' about ' + (r.topic || 'security awareness'))) + NEG);\n      if (b64) { file = workDir + '/scene-' + String(k + 1).padStart(2, '0') + '.png'; fs.writeFileSync(file, Buffer.from(b64, 'base64')); ok++; }\n      else failed++;\n    } catch (e) { failed++; }\n    return { k: k, file: file };\n  });\n  res.forEach(function (x) { if (x.file && scenes[x.k]) scenes[x.k].image = x.file; });\n}\n\nreturn [{ json: Object.assign({}, r, { data: d, workDir: workDir, imagesGenerated: ok, imagesFailed: failed }) }];\n"
      }
    },
    {
      "id": "render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "function jbHex(v,d){v=String(v||'').trim();return /^#[0-9a-fA-F]{6}$/.test(v)?v:d;}\nvar JB_PRI=jbHex($env.BRAND_PRIMARY,'#0A1A2F'),JB_ACC=jbHex($env.BRAND_ACCENT,'#0E7C86'),JB_GOLD=jbHex($env.BRAND_GOLD,'#E7C76A');\nvar JB_ROOT=\":root{--jb-pri:\"+JB_PRI+\";--jb-acc:\"+JB_ACC+\";--jb-gold:\"+JB_GOLD+\"}\";\n/* --- Jarvis brand kit (shared across awareness PDFs): avatar + takeaways box + sign-off --- */\nvar __jfs=null; try{__jfs=require('fs');}catch(e){}\nfunction jAvatarUri(){ if(!__jfs) return ''; var t=[['/config/branding/jarvis-avatar.png','image/png'],['/config/branding/jarvis-avatar.jpg','image/jpeg'],['/config/branding/jarvis-avatar.jpeg','image/jpeg'],['/config/branding/jarvis-avatar.svg','image/svg+xml']]; for(var i=0;i<t.length;i++){ try{ return 'data:'+t[i][1]+';base64,'+__jfs.readFileSync(t[i][0]).toString('base64'); }catch(e){} } return ''; }\nvar JKIT_SVG='<svg class=\"jav\" viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\"><defs><linearGradient id=\"jkitg\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\"><stop offset=\"0\" stop-color=\"#0E7C86\"/><stop offset=\"1\" stop-color=\"#0A1A2F\"/></linearGradient></defs><circle cx=\"32\" cy=\"32\" r=\"32\" fill=\"url(#jkitg)\"/><rect x=\"19\" y=\"21\" width=\"26\" height=\"22\" rx=\"7\" fill=\"#fff\"/><circle cx=\"27\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><circle cx=\"37\" cy=\"32\" r=\"3.2\" fill=\"#0E7C86\"/><rect x=\"27\" y=\"38\" width=\"10\" height=\"2.4\" rx=\"1.2\" fill=\"#0E7C86\"/><rect x=\"30.7\" y=\"14\" width=\"2.6\" height=\"6\" rx=\"1.3\" fill=\"#9fe4d8\"/><circle cx=\"32\" cy=\"13\" r=\"2.4\" fill=\"#E7C76A\"/><path d=\"M23 47h18l-3 4.5H26z\" fill=\"#9fe4d8\"/></svg>';\nvar JKIT_CSS=\".jkit-take{background:#F4F6F9;border:1px solid #E2E6EC;border-left:4px solid var(--jb-acc);border-radius:10px;padding:14px 18px;margin:22px 0 0;page-break-inside:avoid}.jkit-take .th{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;color:var(--jb-pri);font-weight:800;margin:0 0 7px}.jkit-take ul{margin:0;padding-left:18px}.jkit-take li{font-size:13.5px;line-height:1.5;color:#2b3340;margin:5px 0}.jkit-sign{display:flex;align-items:center;gap:12px;margin:20px 0 0;padding-top:14px;border-top:2px solid var(--jb-acc);page-break-inside:avoid}.jkit-sign img,.jkit-sign .jav{width:46px;height:46px;border-radius:50%;border:2px solid var(--jb-acc);flex:0 0 auto}.jkit-sign .nm{font-family:Georgia,serif;font-size:15px;color:var(--jb-pri);font-weight:700}.jkit-sign .rl{font-family:-apple-system,'Segoe UI',Arial,sans-serif;font-size:10px;letter-spacing:2px;text-transform:uppercase;color:var(--jb-acc);font-weight:800;margin-top:2px}\";\nfunction jKitEsc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nfunction jTakeBox(takeaways){ var t=(takeaways||[]).filter(Boolean).slice(0,4); if(!t.length) return ''; return '<div class=\"jkit-take\"><div class=\"th\">Key takeaways &middot; Lessons learned</div><ul>'+t.map(function(x){return '<li>'+jKitEsc(x)+'</li>';}).join('')+'</ul></div>'; }\nfunction jSignoff(){ var av=jAvatarUri(); var avatar=av?('<img src=\"'+av+'\"/>'):JKIT_SVG; return '<div class=\"jkit-sign\">'+avatar+'<div><div class=\"nm\">Jarvis</div><div class=\"rl\">Your AI Awareness Assistant</div></div></div>'; }\nfunction jKitBlock(takeaways){ return jTakeBox(takeaways)+jSignoff(); }\n\nconst r = $json || {};\nconst d = r.data || {};\nconst topic = r.topic || 'Security Awareness';\nconst client = (r.client || '').toString();\nconst brand = client ? client : 'Security Awareness';\nconst length = r.length || 90;\nfunction esc(s){ return (s==null?'':String(s)).replace(/[&<>]/g,function(c){return({'&':'&amp;','<':'&lt;','>':'&gt;'})[c];}); }\nfunction arr(x){ return Array.isArray(x)?x:(x==null||x===''?[]:[x]); }\nconst title = d.title || (topic + ' — Awareness Video');\nconst scenes = arr(d.scenes);\n// Scene frames arrive as on-disk file paths (from Generate Frames) — read each one\n// lazily and inline it only at render time, so images never travel through node JSON.\nfunction imgSrc(p){ if(!p) return ''; var s=String(p); if(s.indexOf('data:')===0) return s; if(__jfs){ try{ return 'data:image/png;base64,'+__jfs.readFileSync(s).toString('base64'); }catch(e){} } return ''; }\nconst CSS = JB_ROOT+\"@page{size:A4;margin:14mm} *{box-sizing:border-box} body{margin:0;font-family:-apple-system,'Segoe UI',Arial,sans-serif;color:#14202b} \"\n+\".hd{border-bottom:3px solid var(--jb-acc);padding-bottom:10px;margin-bottom:14px} .hd .k{color:var(--jb-acc);letter-spacing:3px;font-size:12px;font-weight:800;text-transform:uppercase} \"\n+\".hd h1{margin:4px 0 0;font-size:25px;color:var(--jb-pri)} .hd .s{color:#5A6472;font-size:13px;margin-top:4px} \"\n+\".hook{background:#F1F7F8;border-left:4px solid var(--jb-acc);border-radius:6px;padding:12px 16px;margin:0 0 16px;font-size:15px;font-style:italic;color:var(--jb-pri)} \"\n+\".sc{display:flex;gap:14px;border:1px solid #e2e6ec;border-radius:8px;padding:12px 14px;margin:0 0 12px;page-break-inside:avoid} \"\n+\".sc .frame{flex:0 0 200px;height:112px;border-radius:6px;overflow:hidden;background:var(--jb-pri);background-size:cover;background-position:center;border:1px solid var(--jb-pri)} \"\n+\".sc .frame.ph{background:linear-gradient(135deg,var(--jb-pri),var(--jb-acc));color:#fff;display:flex;align-items:flex-end;padding:8px;font-size:11px;line-height:1.3} \"\n+\".sc .body{flex:1} .sc .n{font-weight:800;color:var(--jb-acc);font-size:12px} .sc .vo{font-size:14px;line-height:1.5;color:#2b3340;margin:4px 0} \"\n+\".sc .os{display:inline-block;background:var(--jb-pri);color:#fff;border-radius:4px;padding:3px 8px;font-size:11px;margin-top:4px} .sc .t{float:right;color:#8a98a4;font-size:11px} \"\n+\".cta{margin-top:8px;background:var(--jb-pri);color:#fff;border-radius:8px;padding:14px 16px;font-size:15px;font-weight:700} \"\n+\".foot{margin-top:14px;border-top:1px solid #e2e6ec;padding-top:8px;color:#8a98a4;font-size:10px;display:flex;justify-content:space-between}\"+JKIT_CSS;\nlet cards = scenes.map(function(s,k){\n  var uri = imgSrc(s.image);\n  var frame = uri ? ('<div class=\"frame\" style=\"background-image:url('+uri+')\"></div>') : ('<div class=\"frame ph\">'+esc(s.visual||('Scene '+(k+1)))+'</div>');\n  return '<div class=\"sc\">'+frame+'<div class=\"body\">'\n    +'<div class=\"n\">SCENE '+(k+1)+(s.seconds?'<span class=\"t\">~'+esc(s.seconds)+'s</span>':'')+'</div>'\n    +'<div class=\"vo\"><b>VO:</b> '+esc(s.voiceover||'')+'</div>'\n    +(s.onScreen?'<span class=\"os\">'+esc(s.onScreen)+'</span>':'')+'</div></div>';\n}).join('');\nconst html = '<!doctype html><html><head><meta charset=\"utf-8\"><style>'+CSS+'</style></head><body>'\n+'<div class=\"hd\"><div class=\"k\">Video Script &amp; Storyboard</div><h1>'+esc(title)+'</h1>'\n+'<div class=\"s\">'+esc(brand)+' · Audience: '+esc(r.audience||'All staff')+' · Target length: '+length+'s · '+scenes.length+' scenes</div></div>'\n+(d.hook?'<div class=\"hook\">“'+esc(d.hook)+'”</div>':'')\n+cards\n+(d.cta?'<div class=\"cta\">Call to action: '+esc(d.cta)+'</div>':'')\n+jKitBlock(d.takeaways||d.keyMessages)\n+'<div class=\"foot\"><span>'+esc(brand)+' · AI-generated script — review before production</span><span>'+esc(r.date)+'</span></div></body></html>';\n// Frames are now baked into the HTML — remove the temp work dir (guard: /.work/).\nif (r.workDir && r.workDir.indexOf('/.work/') >= 0 && __jfs) { try { __jfs.rmSync(r.workDir, { recursive: true, force: true }); } catch (e) {} }\n// Emit the HTML as BINARY for Gotenberg (keeps execution data tiny); small JSON.\nconst _bin = await this.helpers.prepareBinaryData(Buffer.from(html, 'utf8'), 'index.html', 'text/html');\nreturn [{ json: { topic: topic, date: r.date, fileSafe: r.fileSafe, outDir: 'video', filePrefix: 'storyboard' }, binary: { data: _bin } }];\n"
      }
    },
    {
      "id": "goten",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTENBERG_URL || 'http://jarvis-gotenberg:3000' }}/forms/chromium/convert/html",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "write",
      "name": "Write File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        280
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst meta = $('Render HTML').first().json;\nconst dir = '/reports/awareness/' + (meta.outDir || 'misc');\nconst name = (meta.filePrefix || 'asset') + '-' + (meta.fileSafe || 'item') + '-' + meta.date + '.pdf';\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) {}\ntry { fs.mkdirSync(dir, { recursive: true }); if (buf) fs.writeFileSync(dir + '/' + name, buf); } catch (e) {}\nconst out = { json: { ok: !!buf, file: dir + '/' + name, topic: meta.topic } };\ntry { const b = $input.first().binary; if (b && b.data) { b.data.fileName = name; out.binary = { data: b.data }; } } catch (e) {}\nreturn [out];\n"
      }
    }
  ],
  "connections": {
    "Open Form": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Command": {
      "main": [
        [
          {
            "node": "Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          {
            "node": "Use Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Claude?": {
      "main": [
        [
          {
            "node": "AI (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Claude)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI (Ollama)": {
      "main": [
        [
          {
            "node": "Prep Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep Content": {
      "main": [
        [
          {
            "node": "Generate Frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Frames": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}