modules/_template/workflows/example.json
{
  "name": "Jarvis · _template (placeholder)",
  "meta": {
    "jarvisModule": "_template",
    "jarvisVersion": "1.0.0",
    "status": "scaffold",
    "description": "PLACEHOLDER workflow for the module template. Structurally valid (nodes array + connections object + failure path) so workflow-validate.sh passes. Replace with the real capability.",
    "prompts": ["template.example"],
    "envVars": ["TEMPLATE_FEATURE_ENABLED"]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "errorWorkflow": "Jarvis · Error Handler"
  },
  "nodes": [
    {
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {},
      "notes": "Placeholder entry point. Replace with the real trigger (Telegram command, schedule, webhook)."
    },
    {
      "id": "build-request",
      "name": "Build Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "prompt", "type": "string", "value": "template.example" },
            { "name": "input", "type": "string", "value": "={{ $json.input || '' }}" }
          ]
        }
      },
      "notes": "Loads the prompt id and user input. Prompt body is resolved from prompts/registry.json — not embedded here."
    },
    {
      "id": "call-ai",
      "name": "AI (provider-abstracted)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://jarvis-ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_DEFAULT_MODEL || 'llama3.1:8b' }}\",\n  \"stream\": false,\n  \"messages\": [{\"role\":\"user\",\"content\": {{ JSON.stringify($json.input) }} }]\n}",
        "options": { "timeout": 60000 }
      },
      "onError": "continueErrorOutput",
      "notes": "External call. Routes through the AI provider abstraction; failure path wired below."
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 220],
      "parameters": {},
      "notes": "Placeholder success branch."
    },
    {
      "id": "fail-notice",
      "name": "Failure Notice",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 420],
      "parameters": {},
      "notes": "Failure path: AI unavailable -> degrade gracefully (Error Handling)."
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Build Request", "type": "main", "index": 0 }]] },
    "Build Request": { "main": [[{ "node": "AI (provider-abstracted)", "type": "main", "index": 0 }]] },
    "AI (provider-abstracted)": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }],
        [{ "node": "Failure Notice", "type": "main", "index": 0 }]
      ]
    }
  }
}
